
	<div class="ft_link">
		<div class="inner">
			<div class="ft_logo">
				<img src="image/common/ft_logo.png" alt="">
			</div>
			<a href="tos.html">이용약관</a>
			<a href="privacypolicy.html">개인정보처리방침</a>
			<div class="right">
			   	<a href="#" target="_blank">홈페이지</a>
			   	<a href="#" target="_blank">리커버리</a>
			</div>
		</div>
	</div>
	<div class="ft_box">
		<div class="inner">
			<div class="txt_box">
				<p>상호명 : ㈜신성씨앤에스 | 대표 : 전성우 | 사업자등록번호 119-86-18434 | 주소 : 08389 서울시 구로구 디지털로 272 한신 IT타워 5F </p>
					<p>Tel : 02-867-3007 | Fax : 02-867-2328 | E-mail : sklee@sinsungcns.com</p>
				<p class="copy">Copyright ⓒ SINSUNGCNS CORP. All rights reserved</p>
			</div>
		</div>
	</div>

