<header>

	<div class="inner">
		<h1 class="logo">
			<a href="index.html"><img src="image/common/logo.png" alt="신성 srm"></a>
		</h1>
		<ul class="user">
			<li><span>홍길동</span>님</li>
			<li><a href="user.html"><i></i></a></li>
			<li><a href="cart.html"><i><span>2</span></i></a></li>
			<li><button class="login_box">로그아웃</button></li>
		</ul>
	</div>
</header>

<div class="gnb">
	<div class="inner">
		<div class="total_menu"> <a href="#"></a></div>
		<div class="b2b_prd_menu">
			<div class="b2b_inner">
				<ul class="depth01">
					<li>
						<p class="depth01_tit">데스크탑/서버</p>
						<ul class="depth02">
							<li>
								<a href="javascript:;">노트북</a>
								<ul class="depth03">
									<li><a href="product.html">3차 카테고리</a></li>
									<li><a href="product.html">3차 카테고리</a></li>
									<li><a href="product.html">3차 카테고리</a></li>
									<li><a href="product.html">3차 카테고리</a></li>
									<li><a href="product.html">3차 카테고리</a></li>
									<li><a href="product.html">3차 카테고리</a></li>
									<li><a href="product.html">3차 카테고리</a></li>
									<li><a href="product.html">3차 카테고리</a></li>
									<li><a href="product.html">3차 카테고리</a></li>
									<li><a href="product.html">3차 카테고리</a></li>
									<li><a href="product.html">3차 카테고리</a></li>
									<li><a href="product.html">3차 카테고리</a></li>
								</ul>
							</li>
							<li><a href="product.html">데스크탑</a></li>
							<li><a href="product.html">모니터</a></li>
							<li><a href="product.html">서버</a></li>
							<li><a href="product.html">워크스테이션</a></li>
							<li><a href="product.html">TV/디스플레이</a></li>
							<li><a href="product.html">프린터/복합기</a></li>
							<li><a href="product.html">네트워크</a></li>
						</ul>
					</li>
					<li>
						<p class="depth01_tit">디스플레이/TV</p>
						<ul class="depth02">
							<li>
								<a href="#">백업솔루션</a>
								<ul class="depth03">
									<li><a href="product.html">3차 카테고리</a></li>
									<li><a href="product.html">3차 카테고리</a></li>
									<li><a href="product.html">3차 카테고리</a></li>
									<li><a href="product.html">3차 카테고리</a></li>
									<li><a href="product.html">3차 카테고리</a></li>
									<li><a href="product.html">3차 카테고리</a></li>
								</ul>
							</li>
							<li><a href="product.html">NAS 스토리지</a></li>
							<li><a href="product.html">화상회의 장비</a></li>
							<li><a href="product.html">케어팩 서비스</a></li>
						</ul>
					</li>
					<li>
						<p class="depth01_tit">화상회의</p>
						<ul class="depth02">
							<li>
								<a href="#">SSD</a>
								<ul class="depth03">
									<li><a href="product.html">3차 카테고리</a></li>
									<li><a href="product.html">3차 카테고리</a></li>
									<li><a href="product.html">3차 카테고리</a></li>
									<li><a href="product.html">3차 카테고리</a></li>
									<li><a href="product.html">3차 카테고리</a></li>
									<li><a href="product.html">3차 카테고리</a></li>
								</ul>
							</li>
							<li><a href="product.html">토너</a></li>
							<li><a href="product.html">전산소모품</a></li>
						</ul>
					</li><li>
						<p class="depth01_tit">복합기/프린터</p>
						<ul class="depth02">
							<li>
								<a href="#">SSD</a>
								<ul class="depth03">
									<li><a href="product.html">3차 카테고리</a></li>
									<li><a href="product.html">3차 카테고리</a></li>
									<li><a href="product.html">3차 카테고리</a></li>
									<li><a href="product.html">3차 카테고리</a></li>
									<li><a href="product.html">3차 카테고리</a></li>
									<li><a href="product.html">3차 카테고리</a></li>
								</ul>
							</li>
							<li><a href="product.html">토너</a></li>
							<li><a href="product.html">전산소모품</a></li>
						</ul>
					</li><li>
						<p class="depth01_tit">네트워크</p>
						<ul class="depth02">
							<li>
								<a href="#">SSD</a>
								<ul class="depth03">
									<li><a href="product.html">3차 카테고리</a></li>
									<li><a href="product.html">3차 카테고리</a></li>
									<li><a href="product.html">3차 카테고리</a></li>
									<li><a href="product.html">3차 카테고리</a></li>
									<li><a href="product.html">3차 카테고리</a></li>
									<li><a href="product.html">3차 카테고리</a></li>
								</ul>
							</li>
							<li><a href="product.html">토너</a></li>
							<li><a href="product.html">전산소모품</a></li>
						</ul>
					</li><li>
						<p class="depth01_tit">태블릿/모바일</p>
						<ul class="depth02">
							<li>
								<a href="#">SSD</a>
								<ul class="depth03">
									<li><a href="product.html">3차 카테고리</a></li>
									<li><a href="product.html">3차 카테고리</a></li>
									<li><a href="product.html">3차 카테고리</a></li>
									<li><a href="product.html">3차 카테고리</a></li>
									<li><a href="product.html">3차 카테고리</a></li>
									<li><a href="product.html">3차 카테고리</a></li>
								</ul>
							</li>
							<li><a href="product.html">토너</a></li>
							<li><a href="product.html">전산소모품</a></li>
						</ul>
					</li><li>
						<p class="depth01_tit">부품/소프트웨어</p>
						<ul class="depth02">
							<li>
								<a href="#">SSD</a>
								<ul class="depth03">
									<li><a href="product.html">3차 카테고리</a></li>
									<li><a href="product.html">3차 카테고리</a></li>
									<li><a href="product.html">3차 카테고리</a></li>
									<li><a href="product.html">3차 카테고리</a></li>
									<li><a href="product.html">3차 카테고리</a></li>
									<li><a href="product.html">3차 카테고리</a></li>
								</ul>
							</li>
							<li><a href="product.html">토너</a></li>
							<li><a href="product.html">전산소모품</a></li>
						</ul>
					</li><li>
						<p class="depth01_tit">가전</p>
						<ul class="depth02">
							<li>
								<a href="#">SSD</a>
								<ul class="depth03">
									<li><a href="product.html">3차 카테고리</a></li>
									<li><a href="product.html">3차 카테고리</a></li>
									<li><a href="product.html">3차 카테고리</a></li>
									<li><a href="product.html">3차 카테고리</a></li>
									<li><a href="product.html">3차 카테고리</a></li>
									<li><a href="product.html">3차 카테고리</a></li>
								</ul>
							</li>
							<li><a href="product.html">토너</a></li>
							<li><a href="product.html">전산소모품</a></li>
						</ul>
					</li>
				</ul>
				<div class="brand">
					<ul>
						<li><img src="image/common/brand_logo01.png" alt="NAVER" /></li>
						<li><img src="image/common/brand_logo02.png" alt="Daum" /></li>
						<li><img src="image/common/brand_logo02.png" alt="kakao" /></li>
						<li><img src="image/common/brand_logo04.png" alt="Melon" /></li>
						<li><img src="image/common/brand_logo05.png" alt="genie" /></li>
						<li><img src="image/common/brand_logo01.png" alt="NAVER" /></li>
						<li><img src="image/common/brand_logo02.png" alt="Daum" /></li>
						<li><img src="image/common/brand_logo02.png" alt="kakao" /></li>
						<li><img src="image/common/brand_logo04.png" alt="Melon" /></li>
						<li><img src="image/common/brand_logo05.png" alt="genie" /></li>
						<li><img src="image/common/brand_logo01.png" alt="NAVER" /></li>
						<li><img src="image/common/brand_logo02.png" alt="Daum" /></li>
						<li><img src="image/common/brand_logo02.png" alt="kakao" /></li>
						<li><img src="image/common/brand_logo04.png" alt="Melon" /></li>
						<li><img src="image/common/brand_logo05.png" alt="genie" /></li>
					</ul>
				</div>
			</div>
		</div>



		<ul class="nav">
			<li><a href="product.html"><i></i>B2B 제품</a></li>
			<li><a href="order_list.html"><i><span>N</span></i>구매전자결재</a></li>
			<li><a href="order_list2.html"><i></i>주문배송조회</a></li>
			<li><a href="estimate_list.html"><i></i>견적요청</a></li>
			<li><a href="ask_list.html"><i></i>문의하기</a></li>
<!--			하위회원일시 시리얼관리 숨김-->
			<li><a href="serial.html"><i></i>시리얼 관리</a></li> 
<!--			하위회원일시 시리얼관리 숨김-->
			<li><a href="it.html"><i></i>IT 자료실</a></li>
			<li><a href="info.html"><i></i>공지사항</a></li>
		</ul>
	</div>
</div>
