
<link href="module.css" rel="stylesheet" type="text/css" />

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />


        <ul class="join">
        	<li class="ml0"><a href="join_1.html">1. 약관동의</a></li>
            <li><a href="join_2.html">2. 정보입력</a></li>
            <li><a href="join_3.html" class="on">3. 가입완료</a></li>
        </ul>
        
        
        <p class="join_point">회원가입을 진심으로 <span>축하드립니다!!</span></p>
        <div class="btn_center">
        	<button class="btn_red_MR">확인</button>
        	<button class="btn_gray_MR">업체등록</button>
        </div>
        
      
       