
<link href="module.css" rel="stylesheet" type="text/css" />

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

        <ul class="join">
        	<li class="ml0"><a href="join_1.html">1. 약관동의</a></li>
            <li><a href="join_2.html" class="on">2. 정보입력</a></li>
            <li><a href="join_3.html">3. 가입완료</a></li>
        </ul>
        
        <table class="mypage">
        <colgroup>
            <col width="30%"/><col />
        </colgroup>
        <tbody>
    	<tr>
        	<th>이메일(ID)</th>
            <td><input type="text" id="email" /> </td>            
        </tr>
        <tr>
        	<th>비밀번호</th>
            <td><input type="password" id="userPw" />영문, 숫자 조합 8자 이상 입력해주세요.</td>            
        </tr>
        <tr>
        	<th>비밀번호 확인</th>
            <td><input type="password" id="userPw_re" /> </td>            
        </tr>
        <tr>
        	<th>이름</th>
            <td><input type="text" id="userName" /> </td>            
        </tr>
        <tr>
        	<th>핸드폰</th>
            <td>
            	<input type="text" id="tel_01" /> 
                <button class="btn_brown_S">인증하기</button>
            </td>            
        </tr>
       <tr>
        	<th>주소</th>
            <td>
            	<input type="text" id="address_1"/>
                <button class="btn_gray_S">우편번호찾기</button>
                <input type="text" id="address_3"/>
            </td>            
        </tr>
        <tr>
        	<th>이메일수신동의</th>
            <td>
            <input type="radio" name="email_agree" id="agree_1" checked="checked"/>수신동의
            <input type="radio" name="email_agree" id="agree_2"/>수신거부
            </td>            
        </tr>
        <tr>
        	<th>SMS 수신동의</th>
            <td>
            	<input type="radio" name="sns_agree" id="agree_3" checked="checked"/>수신동의 
                <input type="radio" name="sns_agree" id="agree_4"/>수신거부
            </td>            
        </tr>
    </tbody>
    </table>
    
    <div class="btn_center">
    	<button class="btn_red_MR">확인</button>
        <button class="btn_gray_MR">취소</button>
    </div>
