
<link href="module.css" rel="stylesheet" type="text/css" />

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

            <!-- 프로필 -->
            <div class="profile_m">           
            
           <ul class="join">
                <li class="ml0"><a href="join_1.html" class="on">1. 약관동의</a></li>
                <li><a href="join_2.html">2. 정보입력</a></li>
                <li><a href="join_3.html">3. 가입완료</a></li>
            </ul>
            
            <p class="join_tit">이용약관</p>
            <textarea id="terms_1" cols="100" rows="5">
            </textarea>
            <div class="t_right"><input type="checkbox" id="join_agree_1" />회원이용약관 내용에 동의합니다.</div>
            
            <p class="join_tit">개인정보취급방침</p>
            <textarea  id="terms_2" cols="100" rows="5">
            </textarea>
            <div class="t_right"><input type="checkbox" id="join_agree_2" />개인정보취급방침에 동의합니다.</div>
            
            <div class="btn_center clear">
                <button class="btn_red_MR">확인</button>
                <button class="btn_gray_MR">취소</button>
            </div>
            
            </div>
            <!-- 프로필 -->