@charset "utf-8"; 
/* CSS Document */

/********************************************************************************************************/
/*link*/
a			{padding:0; margin:0;line-height:14px;}
a:active 	{color: #444444; text-decoration: none;}
a:link 		{color: #444444; text-decoration: none;}
a:visited 	{color: #444444; text-decoration: none;}
a:hover 	{color: #ff6600; text-decoration: none;}
/********************************************************************************************************/

input {
	font-size:9pt; color: #666;
	padding:0px; margin:0px; 
	height: 22px;	*height: auto; line-height:28px; 
	border:1px solid #ccc;
	vertical-align:top;
}
button{
	font-size: 8pt; color: #444;
	border:none; 
	cursor:pointer;_cursor:hand;
	background-color:transparent;
	overflow:visible !important; /*ie6,7 padding bug hack*/
	vertical-align:top;
	margin:0; padding:0;
}
table {border-collapse:collapse; table-layout:fixed;}
div, ul{ 
	margin:0; padding:0;
	font-size:9pt; color:#333;
}
button{ border:none; }
.ml0{ margin-left:0 !important; }
.t_right{ text-align:right; }
.btn_center{ text-align:center; padding:10px 0;}

/**    회원가입    **************************************/	
	
.join{
	display:inline-block;
	width:100%;
	margin-top:10px;
}

.join li{
	list-style:none; 
	float:left;
	width:32%; 
	margin-left:2%;}

.join li a{ 
	width:100%;
	display:inline-block; 
	border:#d8d8d8 1px solid;
	height:28px;
	line-height:28px;
	text-align:center;
	color:#666; font-weight:600;
	font-size:14px;
}	


.join li a:focus, 
.join li a:hover,
.join li a.on{ 
	border:none !important; 
	background:#a58062;
	color:#fff;
	height:30px;
	line-height:30px;
}	


.join_tit{
	font-size:14px;
	font-weight:600;
	color:#666;
	margin:25px 0 5px 0;
	
}
.join_point{ 
	font-size:20px;
	text-align:center;
	color:#f9715a; 
	padding: 40px 0;
}
.join_point span{
	font-size:30px;
	display:block;
	color:#ee5c43;
}

#terms_1, #terms_2{
	width:100%;
	height:116px;
	border:#d8d8d8 1px solid;
}
#join_agree_1, #join_agree_2{ vertical-align:middle; margin-right:3px; }
	
	

/** 정보입력 *********************************************/

.mypage	{ width:100%; border-top:#bfbfbf 1px solid; margin-top:10px;}
.mypage th, .mypage td{
	font-size:12px; color:#666;
	font-weight:600;
	padding-left:15px;
	text-align:left;
	padding-top:9px; padding-bottom:9px;
}
.mypage th{
	background:#f2f2f2;
}
.mypage tr{
	border-bottom:#d8d8d8 1px solid;
}

#userPw {
  display: block;
  margin-bottom: 5px;
}
#address_1{width:50%; }
#address_3	{ 
	margin-top:10px;
}
#tel_01	{ width:62%;}
#email, #userPw, #userPw_re, #userName, #address_3{ width:98%;}
#agree_2, #agree_4{
	margin-left:10px;
	vertical-align:middle;
}
/** 버튼 *********************************************/

.btn_red_MR,.btn_gray_MR, .btn_brown_S, .btn_gray_S{
	color:#fff;
	font-weight:600;
	text-align:center;	
}
.btn_red_MR,.btn_gray_MR{
	font-size:16px;
	padding: 8px 20px;
	border-radius:4px;
}
.btn_brown_S, .btn_gray_S{
	padding: 6px 10px;
}


.btn_red_MR		{ background:#ee5c43; }
.btn_gray_MR	{ background:#444444; }
.btn_brown_S	{ background:#a58062; }
.btn_gray_S		{ background:#969696; }

