
<link href="module.css" rel="stylesheet" type="text/css" />

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

        <table class="mypage">
        <colgroup>
            <col width="30%"/><col />
        </colgroup>
    <tbody>
    	<tr>
        	<th>이메일(ID)</th>
            <td>kkkkkk@kkk.com</td>            
        </tr>
        <tr>
        	<th>비밀번호</th>
            <td>**********</td>            
        </tr>
        <tr>
        	<th>이름</th>
            <td>홍길동</td>            
        </tr>
        <tr>
        	<th>핸드폰</th>
            <td>010-0000-0000</td>            
        </tr>
        <tr>
        	<th>주소</th>
            <td>서울특별시 00구 00동 000-000 </td>            
        </tr>
        <tr>
        	<th>이메일수신동의</th>
            <td>동의합니다</td>            
        </tr>
        <tr>
        	<th>SMS 수신동의</th>
            <td>동의합니다</td>            
        </tr>
    </tbody>
    </table>
    
    <div class="btn_center">
    	<a href="mypage_revise.html"><button class="btn_red_MR">수정</button></a>
        <a href="#"><button class="btn_gray_MR">확인</button></a>
    </div>
