@charset "euc-kr";


/* =========================================
	관리자용 CSS
	2009/6/28 작성:이덕권
==========================================
	펑션에 포함되어 모듈에 적용되는 함수

* {font-size: 10pt;font-family: "돋움";}
a:link		{ color:#330000; text-decoration:none } 
a:visited	{ color:#330000; text-decoration:none } 
a:hover		{ color:#330000; text-decoration:none } 
a:active	{ color:#330000; text-decoration:none } 

TABLE { 

}

*/


TABLE.basic { 
	
	border-collapse:collapse; 
	border:1px #CCCCCC solid;
}


/*TR{}*/
TR.basic{
	color:#000000;
	background-color:#CCCCCC;
	font-weight: bold;
}



/*TD{}*/
TD.basic{	
	padding-top:2;
	padding-left:10;
	padding-right:10;
	padding-bottom:2;	
	
}


/*
input{
	border:1px solid gray;
	text-align:
}
select{
	border:1px solid gray;
	height:20;
}*/
input.btn{
	border:1px solid gray;background-color:#DEEEFE;
	width:100;
	height:30;
	font-weight: bold;
	text-indent:0px;
	color:#666666;
}
