
/* 스크롤 지정 */
body, textarea { 
    scrollbar-3dlight-color:#CECFCE; 
	scrollbar-arrow-color:#A5A2A5;
	scrollbar-base-color:#F8F8F8;
	scrollbar-darkshadow-color:#FFFFFF;
	scrollbar-face-color:#F8F8F8;
	scrollbar-highlight-color:#FFFFFF;
	scrollbar-shadow-color:#CECFCE;
}


/* 패딩 마진 지정 */
body {
	margin:0px;
	padding:0px;
}

form, div, span, pre, xmp { 
	margin:0px; 
	padding:0px; 
}


/* 링크 지정 */
a:link		{ color:#666666; text-decoration:none } 
a:visited	{ color:#666666; text-decoration:none } 
a:hover		{ color:#666666; text-decoration:none } 
a:active	{ color:#666666; text-decoration:none } 


/* 폰트 지정 */
body, td { 
	font-family:돋움; 
	font-size:12px;
	color:#666666;
	line-height: 18px; 
}
form, input, textarea, select, option { 
	font-family:돋움; 
	font-size:12px;
	color:#333333; 
}
div, span, pre, xmp {
	font-family:돋움;
	font-size:12px;
	letter-spacing:-1pt;
}

.text01 { 
	font-family:돋움; 
	font-size:11px;
	color:#333333;
}

.text02 { 
	font-family:굴림; 
	font-size:14px;
	color:#000000;
	font-weight: bold;
}


.input1 { font-family:"돋움"; font-size:12px; 
          background-color:#FFFFF7; BORDER-LEFT: 1px #dddddd solid; 
		  BORDER-right: 1px #dddddd solid; BORDER-top: 1px #dddddd solid;  
		  BORDER-BOTTOM: 1px #dddddd  solid; COLOR: #666666; width:100; height:20;
}
.input2 { border:0px solid #CCCCCC;}

.select{ font-family:"돋움"; font-size:12px; 
          background-color:#ffffff; width:112; 
}




/* 배경 지정 */
body {
	background-color:#FFFFFF;
}


/* 이미지 지정 */
img { border:0px; }


/* 폼 요소 지정 */
form { 

}

input, textarea { 
	    font-family:"돋움"; font-size:12px; 
          background-color:#ffffff; BORDER-LEFT: 1px #dddddd solid; 
		  BORDER-right: 1px #dddddd solid; BORDER-top: 1px #dddddd solid;  
		  BORDER-BOTTOM: 1px #dddddd  solid; COLOR: #666666 ; 
}






table.main { border-width:0 1px; border-style:solid; border-color:#E4E4E4; }

