@charset "utf-8";
/* CSS Document */

.board_view_image td { text-align:left; padding:20px;}
.board_view_image td .image { text-align:center; }
.board_view_image td p { text-align:left; font-size:14px; }

.board_view_coment { font-family: "Nanum Gothic"; font-size:14px; color:#666666;  margin-bottom:10px; border-bottom:1px dotted #adadad; }
.board_view_coment td { padding:10px 0; }
.board_view_coment .con { font-size:13px; }

.board_view_cWrite { font-family: "Nanum Gothic"; font-size:14px; color:#666666; }
.board_view_cWrite td:first-child { padding-bottom:10px; }
.board_view_cWrite td input[type=button] { background:#434343; border:none; font-weight:600; color:#ffffff; cursor:pointer; }
.board_view_cWrite .subject { color:666666; font-weight:600; padding-right:10px; }

.board_modify_table { font-size:14px; color:#666666; }
.board_modify_table td input[type=text] { padding-left:8px; height:26px; line-height:26px; font-family:"나눔고딕",Nanum Gothic, "돋움", dotum, tahoma, san-serif; font-size:12px; color:#666; padding:0px; margin:0px;  border:1px solid #ccc;  vertical-align:middle; }

.board_rewrite_table { font-family: "Nanum Gothic"; font-size:14px; color:#666666;  margin-bottom:10px; border-bottom:1px dotted #adadad; }
.board_rewrite_table td:first-child { padding-bottom:10px; }
.board_rewrite_table td input[type=button] { background:#434343; border:none; font-weight:600; color:#ffffff; cursor:pointer; }
