<div class="inner">
	<h1 class="logo">
		<a href="index.asp">SINSUNG CNS</a>
	</h1>
	<div class="gnb_nav">
		<ul class="gnb">
			<li class="gnb01">
				<a href="product_list.asp">제품구매</a>
				<div class="bg_blue">
					<ul class="lnb">
						<li class="lnb_b2b">
							<a href="product_list.asp">B2B 제품</a>
							<div class="b2b_prd_menu">
								<div class="b2b_inner">
									<ul class="depth01">
										<li>
											<p class="depth01_tit">하드웨어</p>
											<ul class="depth02">
												<li>
													<a href="javascript:;">노트북</a>
													<ul class="depth03">
														<li><a href="product_list.asp">3차 카테고리</a></li>
														<li><a href="product_list.asp">3차 카테고리</a></li>
														<li><a href="product_list.asp">3차 카테고리</a></li>
														<li><a href="product_list.asp">3차 카테고리</a></li>
														<li><a href="product_list.asp">3차 카테고리</a></li>
														<li><a href="product_list.asp">3차 카테고리</a></li>
														<li><a href="product_list.asp">3차 카테고리</a></li>
														<li><a href="product_list.asp">3차 카테고리</a></li>
														<li><a href="product_list.asp">3차 카테고리</a></li>
														<li><a href="product_list.asp">3차 카테고리</a></li>
														<li><a href="product_list.asp">3차 카테고리</a></li>
														<li><a href="product_list.asp">3차 카테고리</a></li>
													</ul>
												</li>
												<li><a href="product_list.asp">데스크탑</a></li>
												<li><a href="product_list.asp">모니터</a></li>
												<li><a href="product_list.asp">서버</a></li>
												<li><a href="product_list.asp">워크스테이션</a></li>
												<li><a href="product_list.asp">TV/디스플레이</a></li>
												<li><a href="product_list.asp">프린터/복합기</a></li>
												<li><a href="product_list.asp">네트워크</a></li>
											</ul>
										</li>
										<li>
											<p class="depth01_tit">소프트웨어</p>
											<ul class="depth02">
												<li>
													<a href="#">백업솔루션</a>
													<ul class="depth03">
														<li><a href="product_list.asp">3차 카테고리</a></li>
														<li><a href="product_list.asp">3차 카테고리</a></li>
														<li><a href="product_list.asp">3차 카테고리</a></li>
														<li><a href="product_list.asp">3차 카테고리</a></li>
														<li><a href="product_list.asp">3차 카테고리</a></li>
														<li><a href="product_list.asp">3차 카테고리</a></li>
													</ul>
												</li>
												<li><a href="product_list.asp">NAS 스토리지</a></li>
												<li><a href="product_list.asp">화상회의 장비</a></li>
												<li><a href="product_list.asp">케어팩 서비스</a></li>
											</ul>
										</li>
										<li>
											<p class="depth01_tit">전산소모품</p>
											<ul class="depth02">
												<li>
													<a href="#">SSD</a>
													<ul class="depth03">
														<li><a href="product_list.asp">3차 카테고리</a></li>
														<li><a href="product_list.asp">3차 카테고리</a></li>
														<li><a href="product_list.asp">3차 카테고리</a></li>
														<li><a href="product_list.asp">3차 카테고리</a></li>
														<li><a href="product_list.asp">3차 카테고리</a></li>
														<li><a href="product_list.asp">3차 카테고리</a></li>
													</ul>
												</li>
												<li><a href="product_list.asp">토너</a></li>
												<li><a href="product_list.asp">전산소모품</a></li>
											</ul>
										</li>
									</ul>
									<div class="brand">
										<ul>
											<li><img src="images/common/brand_logo01.png" alt="NAVER" /></li>
											<li><img src="images/common/brand_logo02.png" alt="Daum" /></li>
											<li><img src="images/common/brand_logo02.png" alt="kakao" /></li>
											<li><img src="images/common/brand_logo04.png" alt="Melon" /></li>
											<li><img src="images/common/brand_logo05.png" alt="genie" /></li>
											<li><img src="images/common/brand_logo01.png" alt="NAVER" /></li>
											<li><img src="images/common/brand_logo02.png" alt="Daum" /></li>
											<li><img src="images/common/brand_logo02.png" alt="kakao" /></li>
											<li><img src="images/common/brand_logo04.png" alt="Melon" /></li>
											<li><img src="images/common/brand_logo05.png" alt="genie" /></li>
											<li><img src="images/common/brand_logo01.png" alt="NAVER" /></li>
											<li><img src="images/common/brand_logo02.png" alt="Daum" /></li>
											<li><img src="images/common/brand_logo02.png" alt="kakao" /></li>
											<li><img src="images/common/brand_logo04.png" alt="Melon" /></li>
											<li><img src="images/common/brand_logo05.png" alt="genie" /></li>
										</ul>
									</div>
								</div>
							</div>
						</li>
						<li><a href="#.asp">IT 자료실</a></li>
						<li><a href="#.asp">공지사항</a></li>
					</ul>
				</div>
			</li>
			<li class="gnb02">
				<a href="recovery.asp">솔루션</a>
				<div class="bg_blue">
					<ul class="lnb">
						<li><a href="recovery.asp">신성 리커버리</a></li>
						<li><a href="backup.asp">백업 및 복구</a></li>
						<li><a href="sever.asp">서버이중화</a></li>
						<li><a href="virtual.asp">가상화</a></li>
						<li><a href="document.asp">문서중앙화</a></li>
					</ul>
				</div>
			</li>
			<li class="gnb03">
				<a href="conference.asp">화상회의</a>
				<div class="bg_blue">
					<ul class="lnb">
						<li><a href="conference.asp">화상 회의 H/W 솔루션</a></li>
						<li><a href="cf_sw.asp">화상 회의 S/W</a></li>
					</ul>
				</div>
			</li>
			<li class="gnb04">
				<a href="drivers7.asp">고객서비스</a>
				<div class="bg_blue">
					<ul class="lnb">
						<li><a href="drivers7.asp">신성케어 7drivers</a></li>
						<li><a href="service.asp">맞춤형 세팅 서비스</a></li>
						<li><a href="it_data2.asp">기술자료설치매뉴얼</a></li>
						<li><a href="talk.asp">카톡1:1서비스</a></li>
						<li><a href="onlineReceive.asp">기술지원 문의</a></li>
						<li><a href="demo.asp">데모장비 신청 및 테스트 의뢰</a></li>
					</ul>
				</div>
			</li>
			<li class="gnb05">
				<a href="business.asp">우리의 경험</a>
				<div class="bg_blue">
					<ul class="lnb">
						<li><a href="business.asp">사업소개</a></li>
						<li><a href="it.asp">IT구매제안</a></li>
						<li><a href="srm.asp">신성SRM</a></li>
						<li><a href="construction_case.asp">구축사례</a></li>
						<li><a href="cooperative.asp">협력사</a></li>
					</ul>
				</div>
			</li>
			<li class="gnb06">
				<a href="plan.asp">인재경영</a>
				<div class="bg_blue">
					<ul class="lnb">
						<li><a href="plan.asp">우리성장</a></li>
						<li><a href="culture.asp">우리문화</a></li>
						<li><a href="video.asp">동영상</a></li>
						<li><a href="person.asp">인재상</a></li>
						<li><a href="welfare.asp">복지제도</a></li>
						<li><a href="empNotice.asp">인재채용</a></li>
					</ul>
				</div>
			</li>
			<li class="gnb07">
				<a href="management.asp">회사소개</a>
				<div class="bg_blue">
					<ul class="lnb">
						<li><a href="management.asp">경영철학</a></li>
						<li><a href="growth.asp">회사성장</a></li>
						<li><a href="greeting.asp">대표 인사말</a></li>
						<li><a href="team.asp">팀을 만나다</a></li>
						<li><a href="history.asp">연혁</a></li>
						<li><a href="prize.asp">수상실적</a></li>
						<li><a href="notice.asp">공지사항</a></li>
						<li><a href="map.asp">찾아오시는 길</a></li>
					</ul>
				</div>
			</li>
			<li class="gnb08">
				<a href="estimate_list.asp">견적문의</a>
				<div class="bg_blue">
					<ul class="lnb">
						<li><a href="estimate_list.asp">맞춤사양견적</a></li>
						<li><a href="onlineReceive2.asp">일반견적요청</a></li>
						<li><a href="onlineReceive_solution.asp">솔루션 상담요청</a></li>
						<li><a href="promotion.asp">프로모션</a></li>
					</ul>
				</div>
			</li>
		</ul>
	</div>
	<div class="util">
		<ul>
			<li><a href="login.asp">로그아웃</a></li>
			<li><a href="modify.asp">정보수정</a></li>
			<li><a href="construction_case.asp">구축사례</a></li>
			<li><a href="drivers7.asp">신성케어 멤버십</a></li>
			<li><p>구매상담<br>02-267-3007</p></li>
		</ul>
		<button class="btn_search" type="button">검색</button>
	</div>
</div>
<div class="search_wrap">
	<div class="inner">
		<form>
			<input type="text" name="" placeholder="검색어를 입력해주세요.">
			<div class="btn_box">
				<button class="btn_search02" type="button">검색</button>
				<button class="btn_close" type="button">닫기</button>
			</div>
		</form>
		<div class="hot_keyword">
			<p>인기검색어</p>
			<ul>
				<li><a href="#">노트북</a></li>
				<li><a href="#">데스크탑</a></li>
				<li><a href="#">모니터</a></li>
				<li><a href="#">서버</a></li>
				<li><a href="#">워크스테이션</a></li>
			</ul>
		</div>
	</div>
</div>

