
<link href="login.css" rel="stylesheet" type="text/css" />


<table class="com_m_login">

    <colgroup>
        <col width="30%"/><col />
    </colgroup>

    <tbody>    
        <tr>
            <th>아이디 :</th> 
            <td><input type="text" name="userId" id="userId"  class="com_m_input_80"/> </td>
        </tr>
        
        <tr>
            <th>이름 : </th>
            <td class="com_m_pb5"><input type="text" name="userName" id="userName" class="com_m_input_80" /></td>
        </tr>
                    
        <tr>
            <th>이메일 : </th>
            <td class="com_m_pb5"><input type="text" name="userEmail" id="userEmail" class="com_m_input_80" /></td>
        </tr>
                    
        </tbody>
    </table>
    
        <div class="t_center">
 	       <a href="#"><button class="btn_login">확인</button></a>
        </div>

            
<div class="com_m_btn">
    <a href="#"><button class="com_m_btn_join">회원가입</button></a>
    <a href="#"><button class="com_m_btn_find">아이디찾기</button></a>
</div>
            