
<link href="login.css" rel="stylesheet" type="text/css" />


<table class="com_m_input">

	<colgroup>
		<col width="35%" /><col /><col width="83px" />
	</colgroup>
	<tbody>    
    
    <tr>
    	<th>아이디</th> 
        <td><input type="text" name="userId" id="userId" class="com_m_w50" / > <button class="com_m_btn_S01">중복확인</button></td>
      </tr>
    
    <tr>
    	<th>비밀번호</th>
        <td><input type="password" name="userPw" id="userPw"/></td>
      </tr>
    
    <tr>
    	<th>비밀번호 확인</th>
        <td><input type="password" name="userPw_re" id="userPw_re" /></td>
      </tr>
    
    <tr>
    	<th>이름</th>
        <td><input type="text" name="userName" id="userName"  /></td>
      </tr>
    <tr>
    	<th>휴대번호</th>
        <td><select name="str_mobile1" onchange="SetHandPhone_str_mobile(this.form);">
          <option value="010">010</option>
          <option value="011">011</option>
          <option value="016">016</option>
          <option value="017">017</option>
          <option value="018">018</option>
          <option value="019">019</option>
        </select>
-
<input type="text" maxlength="4" size="4" name="str_mobile2" value="" onkeyup="if(isNaN(this.value))this.value='';SetHandPhone_str_mobile(this.form);" style="width:60px;" />
-
<input type="text" maxlength="4" size="4" name="str_mobile3" value="" onkeyup="if(isNaN(this.value))this.value='';SetHandPhone_str_mobile(this.form);" style="width:60px;" /><button class="com_m_btn_S01">인증번호요청</button></td>
      </tr>
    <tr>
      <th>이메일</th>
      <td><input type="text" maxlength="25" name="str_email1" value="" onkeyup="SetEmailAddress_str_email(this.form);" style="width:100px;" />
@
  <input type="text" maxlength="25" name="str_email2a" value="" onkeyup="SetEmailAddress_str_email(this.form);" style="width:100px;" readonly="readonly" />
  <select name="str_email2b" onchange="changeEmailType_str_email(this.form, this.value);SetEmailAddress_str_email(this.form);">
    <option value="">메일서버선택</option>
    <option value="naver.com">naver.com</option>
    <option value="daum.net">daum.net</option>
    <option value="hotmail.com">hotmail.com</option>
    <option value="nate.com">nate.com</option>
    <option value="yahoo.co.kr">yahoo.co.kr</option>
    <option value="paran.com">paran.com</option>
    <option value="empas.com">empas.com</option>
    <option value="dreamwiz.com">dreamwiz.com</option>
    <option value="freechal.com">freechal.com</option>
    <option value="lycos.co.kr">lycos.co.kr</option>
    <option value="korea.com">korea.com</option>
    <option value="gmail.com">gmail.com</option>
    <option value="hanmir.com">hanmir.com</option>
    <option value="직접입력">직접입력</option>
  </select></td>
      </tr>

   
    <tr>
		<th>수신동의</th>
        <td>
            	<input type="radio" name="checkbox1" id="checkbox1" checked="checked" class="com_m_ridio"/>수신동의
                <input type="radio" name="checkbox2" id="checkbox2"  class="com_m_ridio"/>수신안함            
        </td>
    </tr>
    
    <tr>
		<th>사업신청</th>
        <td>본사이트 무료 회원가입 하신후 등업신청을 반드시 해주시기 바랍니다.</td>
    </tr>
    <tr>
		<th>소개받은 사이트 *</th>
		<td>
			<input type="radio" id="Facebook" class="com_m_ridio" checked="checked"/>페이스북 
			<input type="radio" id="cafe" class="com_m_ridio"/>카페 
            <input type="radio" id="naver" class="com_m_ridio"/>네이버 검색 
            <input type="radio" id="not" class="com_m_ridio"/>해당없음
		</td>
    </tr>
    
    
    <tr>
		<th colspan="2"><p class="com_m_line"></p></th>
	</tr>
    
	<tr>
		<th class="com_m_t_left"  colspan="2">이용약관</th>
	</tr>
    
	<tr>
		<th colspan="2" class="com_m_t_left">
			<textarea name="textarea2" id="textarea1" cols="45" rows="5" class="com_m_w100">
1. 개인정보의 처리 목적

&lt;한류트레이닝키즈센터&gt;는 다음의 목적을 위하여 개인정보를 처리하고 있으며, 다음의 목적 이외의 용도로는 이용하지 않습니다.
- 고객 가입의사 확인, 고객에 대한 서비스 제공에 따른 본인 식별.인증, 회원자격 유지.관리, 물품 또는 서비스 공급에 따른 금액 결제, 물품 또는 서비스의 공급.배송 등 

2. 개인정보의 처리 및 보유 기간 

① 회사는 정보주체로부터 개인정보를 수집할 때 동의 받은 개인정보 보유,이용기간 또는 법령에 따른 개인정보 보유.이용기간 내에서 개인정보를 처리.보유합니다. 
② 구체적인 개인정보 처리 및 보유 기간은 다음과 같습니다. ☞ 아래 예시를 참고하여 개인정보 처리업무와 개인정보 처리업무에 대한 보유기간 및 관련 법령, 근거 등을 기재합니다. (예시)- 고객 가입 및 관리 : 서비스 이용계약 또는 회원가입 해지시까지, 다만 채권.채무관계 잔존시에는 해당 채권.채무관계 정산시까지 - 전자상거래에서의 계약.청약철회, 대금결제, 재화 등 공급기록 : 5년 


          	</textarea>
		</th>
	</tr>

	<tr>
		<th class="com_m_t_left"  colspan="2">개인정보 취급방침</th>
	</tr>
	<tr>
		<th colspan="2" class="com_m_t_left">
			<textarea name="textarea2" id="textarea2" cols="45" rows="5" class="com_m_w100">
1. 개인정보의 처리 목적

&lt;한류트레이닝키즈센터&gt;는 다음의 목적을 위하여 개인정보를 처리하고 있으며, 다음의 목적 이외의 용도로는 이용하지 않습니다.
- 고객 가입의사 확인, 고객에 대한 서비스 제공에 따른 본인 식별.인증, 회원자격 유지.관리, 물품 또는 서비스 공급에 따른 금액 결제, 물품 또는 서비스의 공급.배송 등 

2. 개인정보의 처리 및 보유 기간 

① 회사는 정보주체로부터 개인정보를 수집할 때 동의 받은 개인정보 보유,이용기간 또는 법령에 따른 개인정보 보유.이용기간 내에서 개인정보를 처리.보유합니다. 
② 구체적인 개인정보 처리 및 보유 기간은 다음과 같습니다. ☞ 아래 예시를 참고하여 개인정보 처리업무와 개인정보 처리업무에 대한 보유기간 및 관련 법령, 근거 등을 기재합니다. (예시)- 고객 가입 및 관리 : 서비스 이용계약 또는 회원가입 해지시까지, 다만 채권.채무관계 잔존시에는 해당 채권.채무관계 정산시까지 - 전자상거래에서의 계약.청약철회, 대금결제, 재화 등 공급기록 : 5년 


          	</textarea>
		</th>
	</tr>
          
	<tr>
		<td colspan="2">
			<input type="checkbox" name="checkbox3" id="checkbox3" class="com_m_ridio"/>이용약관/개인정보취급방침을 읽었으며 내용에 동의합니다.
		</td>
	</tr>

    </tbody>    
    </table>
    
    <div class="com_m_btn">
   	  <button class="com_m_btn_SR01">가입</button>
        <button class="com_m_btn_SR02">취소</button>
    </div>
    
    
    
