@charset "utf-8";
/* CSS Document */

div, span, ul, li, p, table, th, td, 
button, textarea, input{font-family:"나눔 고딕","돋움", dotum, tahoma, monospace; /* color:#0f733b; */}
button{ border: none;}
textarea{width:100%;}
/********************************************************************************************************/
/*link*/
a			{padding:0; margin:0;line-height:14px;}
a:active 	{color: #444444; text-decoration: none;}
a:link 		{color: #444444; text-decoration: none;}
a:visited 	{color: #444444; text-decoration: none;}
a:hover 	{color: #ff6600; text-decoration: none;}
/********************************************************************************************************/
.com_m_login, .com_m_input{
	border-top: #0f733b 2px solid; 
}
.com_m_login{	
	border-bottom:#bfbfbf 1px solid;
	width:100%;
	padding-top:10px;
}

.com_m_tit{
	color:#777066; 
	font-size:24px; 
	line-height:28px;
	font-weight:600; 
	text-align:center;
	padding: 40px 0 25px 0;
}
.com_m_login th{ 
	font-size:12px;
	text-align:right;
	color:#333;
	padding: 10px;
}
.com_m_login td{
	padding-top: 5px;
	color:#666;
}
.com_m_pb5{
	padding-bottom:5px;
}
	
.com_m_input_80{
	width: 80%;
	font-size: 12px;
	color: #666;	
	height: 22px;	
	border: 1px solid #ccc;
	
/*	background-color: #fff;
	vertical-align: top;line-height: 28px;padding: 0px;	margin: 0px;  */
}


/***   버튼   ***/



.btn_login{
	background-color:#0f733b;
	border:#0f733b 1px solid;
	width:94%;
	margin: 10px 0;
	padding: 10px 0;
	font-size:18px;
	border-radius:4px;
	color:#fff;
	font-weight:600;
	/* text-align:center;
	line-height:normal; */
}



.com_m_btn{
	text-align:center;
	margin-top:10px;
}

.com_m_btn_join, .com_m_btn_find{
	display: inline-block;
	text-align: center;
	font-weight:600;
	color:#fff;	
	line-height:normal;
	border-radius:4px;
	padding: 5px 10px;
	font-size:12px;
	cursor: pointer;
}

.com_m_btn_join { 
   background-color:#83b398;
}
.com_m_btn_find{
	background-color:#7f7f7f;
}



/***   마이페이지  회원가입 인풋폼공통  ***/


.com_m_input{
	border-bottom:#bfbfbf 1px solid;  
	margin: 0 0 10px 0; 
	width:100%;
}

.com_m_input input{
	font-size: 12px;
	color: #666;
	padding: 0px;
	margin: 0px;
	height: 22px;	
	border: 1px solid #ccc;
	/* background-color: #fff;
	vertical-align: top;
	line-height: 28px; */
}
.com_m_input td, .com_m_input th{
	font-size:12px;
	color:#333;
}
.com_m_input td{
	text-align:left;
	padding:10px 0;
}
.com_m_input span{
	display:block;
	margin-top:10px;
}



/** 회원가입 **/

.com_m_input .com_m_ridio{
	width:auto;
	vertical-align:middle;
	margin: 0 5px 0 10px;
}


/* .com_m_input .com_m_w100{
	width:100%;
} */

.com_m_w20{width:20% !important;}
.com_m_w50{width:20% !important;}

.com_m_t_left{ text-align:left; }

.com_m_line {
	background: url(../image/common/line.png) repeat left;
	height: 1px;
}




/***   버튼    ***************/

.com_m_btn{
	text-align:center;
	margin-top:10px;	
}

.com_m_btn_S01{
	color:#fff;	
	background-color:#969696;
	font-size:8pt;
	padding:2px 5px;
	cursor: pointer;
	margin-left: 10px;
	/* text-align:center; 	line-height:normal;*/
}

.com_m_btn_SR01, .com_m_btn_SR02{
	display: inline-block;
	text-align: center;
	font-weight:600;
	color:#fff;	
	line-height:normal;
	border-radius:4px;
	padding: 5px 10px;
	font-size:12px;
	cursor: pointer;
}

.com_m_btn_SR01 {background-color:#0f733b;}
.com_m_btn_SR02 {background-color:#444;}





