
<link href="login.css" rel="stylesheet" type="text/css" />

<div class="com_m_tit">청우식품에 오신것을 환영합니다.</div>

<table class="com_m_login">
  
    <colgroup>
        <col width="30%"/><col />
    </colgroup>

    <tbody>    
        <tr>
            <th>아이디 :</th> 
            <td><input type="text" name="userId" id="userId"  class="com_m_input_80"/> </td>
        </tr>
                    
        <tr>
            <th>비밀번호 : </th>
            <td class="com_m_pb5"><input type="password" name="userPw" id="userPw" class="com_m_input_80" /></td>
        </tr>
                    
        </tbody>
    </table>
    
    <div class="t_center">
 	       <a href="#"><button class="btn_login">로그인</button></a>
        </div>
            
<div class="com_m_btn">
    <a href="#"><button class="com_m_btn_join">회원가입</button></a>
    <a href="#"><button class="com_m_btn_find">아이디찾기</button></a>
    <a href="#"><button class="com_m_btn_find">비밀번호찾기</button></a>
</div>
         
            