
<link href="login.css" rel="stylesheet" type="text/css" />

	<table class="com_m_input">

    	<colgroup>
        	<col width="35%" /><col />
        </colgroup>

    <tbody>    
    <tr>
    	<th>이름</th>
        <td colspan="2">홍길동</td>
    </tr>
    
    <tr>
    	<th>아이디</th> 
        <td colspan="2">UNCOIN</td>
    </tr>
    
    <tr>
    	<th>비밀번호</th>
        <td><input type="password" name="userPw" id="userPw" /></td>
    </tr>
    
    <tr>
    	<th>비밀번호 확인</th>
        <td><input type="password" name="userPw_re" id="userPw_re"/></td>
    </tr>
    
    
    <tr>
    	<th>휴대번호</th>
        <td><input type="text" id="userTel" name="userTel"/> </td>
    </tr>
       
    <tr>
    	<th>이메일</th>
        <td><input type="text" id="userEmail" name="userEmail" /> </td>
    </tr>
    
    <tr>
        <th>등급</th>
        <td>1 STAR</td>     
    </tr>
   
    </tbody>    
    </table>
    
    <div class="com_m_btn">
    	<button class="com_m_btn_SR01">수정</button>
        <button class="com_m_btn_SR02">취소</button>
        <button class="com_m_btn_SR02">탈퇴</button>
    </div>
