@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

/* common */
body,html { height:100%;}
html.fix {position: fixed; left: 0; right: 0; margin: 0 auto;}
* {margin:0; padding:0; list-style:none; text-decoration:none; font-family: 'Montserrat', sans-serif;
font-family: 'Noto Sans KR', sans-serif; color:inherit; outline:none; }
ul>li>a { text-decoration:none; }
a { color:inherit }
table { border-collapse: collapse; }
select{ -moz-appearance:none; -webkit-appearance:none; appearance:none; }
select::-ms-expand { display:none; } 
button {border: none; cursor: pointer;}


/* LAYOUT */
#A_Wrap { width:100%; height:100%; }
#A_Header {	width:100%;	clear:both; top: 0; left: 0; z-index: 999; background: #fff; position: fixed; z-index: 99999;}
#A_Container_Wrap {	width:100%;	clear:both; padding: 180px 0 0 0; }
#A_Container{ width:100%; margin:0 auto; clear:both;  position: relative;}
.inner {width: 1180px; margin: 0 auto;}
.inner:after {content: ''; display: block; clear: both; }
#A_Footer {width: 100%; background: #2e3037;}



#A_Header header{height: 80px; background: #fff; }
#A_Header header .logo {margin-top:20px; float: left;}
#A_Header header .user { float: right; margin-top: 23px;}
#A_Header header .user:after {content: ''; display: block; clear: both; }
#A_Header header .user li {float: left; margin-left: 35px;}
#A_Header header .user li:first-child{margin-left: 0;}
#A_Header header .user li span {font-weight: 500;}
#A_Header header .user li:nth-child(2) i{ background:url(/srm/images/common/icon_user.png) no-repeat; display: block; width: 24px; height: 28px; }
#A_Header header .user li:nth-child(3) i{ background:url(/srm/images/common/icon_cart.png) no-repeat; width:24px; height: 27px; position: relative;display: block; }
#A_Header header .user li:nth-child(3) i span {background: #f03162; color: #fff; border-radius: 50%; width: 15px; height: 15px; position: absolute; top: 7px; right: -4px; font-style: normal; font-size: 10px; text-align: center; }
#A_Header header .user button {width: 100px; height: 30px ;  text-align: center; background: #fff; color: #666; border: 1px solid #34405b; font-size: 16px; }


#A_Header .gnb {width: 100%; height: 100px; background: #1c2032; position: relative; }
#A_Header .gnb:after {content: ''; display: block; clear: both; }
#A_Header .gnb .total_menu {position: absolute; width: 40px; height: 40px; top: 50%; transform: translateY(-50%);}

#A_Header .gnb .total_menu a {width: 100%; height: 100%; display: block; background: url(/srm/images/common/icon_totalmenu.png) no-repeat 50%; text-indent: -9999px; }
#A_Header .gnb .total_menu a:after {display: block; border: 2px solid #148eff; border-radius: 100%; width: 40px;height: 40px;content: ''; box-sizing: border-box;}
#A_Header .gnb ul.nav { margin: 0 auto; width: 1050px; color: #7b7e8d; padding-top: 23px; float: right;} 
#A_Header .gnb ul.nav li {float: left; margin: 0 20px;  width:90px; text-align: center; transition: all 0.3s ease-in-out;}
#A_Header .gnb ul.nav li:last-child{margin-right: 0;}
#A_Header .gnb ul.nav li i {width: 30px;height: 30px;display: block; margin: 0 auto; background: url(/srm/images/common/main_icon.png); }
#A_Header .gnb ul.nav li:first-child i {background-position: -1px 0;}
#A_Header .gnb ul.nav li:nth-child(2) i {background-position: -100px 0;}
#A_Header .gnb ul.nav li:nth-child(3) i {background-position: -700px 0;}
#A_Header .gnb ul.nav li:nth-child(4) i {background-position: -200px 0;}
#A_Header .gnb ul.nav li:nth-child(5) i {background-position: -300px 0;}
#A_Header .gnb ul.nav li:nth-child(6) i {background-position: -400px 0;}
#A_Header .gnb ul.nav li:nth-child(7) i {background-position: -500px 0;}
#A_Header .gnb ul.nav li:last-child i {background-position: -600px 0;}
#A_Header .gnb ul.nav li:hover {color: #fff;}

/*hover*/
#A_Header .gnb ul.nav li:first-child:hover i {background-position: 0 -100px;}
#A_Header .gnb ul.nav li:nth-child(2):hover i {background-position: -100px -100px;}
#A_Header .gnb ul.nav li:nth-child(3):hover i {background-position: -700px -100px;}
#A_Header .gnb ul.nav li:nth-child(4):hover i {background-position: -200px -100px;}
#A_Header .gnb ul.nav li:nth-child(5):hover i {background-position: -300px -100px;}
#A_Header .gnb ul.nav li:nth-child(6):hover i {background-position: -400px -100px;}
#A_Header .gnb ul.nav li:nth-child(7):hover i {background-position: -500px -100px;}
#A_Header .gnb ul.nav li:last-child:hover i {background-position: -600px -100px;}

/*active*/
#A_Header .gnb ul.nav li.active {color: #fff;}
#A_Header .gnb ul.nav li.active:first-child i {background-position: 0 -100px;}
#A_Header .gnb ul.nav li.active:nth-child(2) i {background-position: -100px -100px;}
#A_Header .gnb ul.nav li.active:nth-child(3) i {background-position: -700px -100px;}
#A_Header .gnb ul.nav li.active:nth-child(4) i {background-position: -200px -100px;}
#A_Header .gnb ul.nav li.active:nth-child(5) i {background-position: -300px -100px;}
#A_Header .gnb ul.nav li.active:nth-child(6) i {background-position: -400px -100px;}
#A_Header .gnb ul.nav li.active:nth-child(7) i {background-position: -500px -100px;}
#A_Header .gnb ul.nav li.active:last-child i {background-position: -600px -100px;}



#A_Footer {}
#A_Footer .ft_link{ border-bottom: 1px solid #666; color: rgba(255, 255, 255, 0.4); height: 80px; line-height: 80px;}
#A_Footer .ft_link .ft_logo {float: left; margin:10px 70px 0 0;}
#A_Footer .ft_link a{margin-right: 40px;}
#A_Footer .ft_link .right,  #A_Footer .ft_link .right2{float: right; line-height: 0; margin: 20px 0;}
#A_Footer .ft_link .right a {background: url(/srm/images/main/icon_home.png) no-repeat 20px 12px #148eff; width: 130px; height: 44px; color: #fff; display: inline-block; border-radius: 5px; text-align: center; box-sizing: border-box; padding: 22px 15px 0 40px; margin: 0 10px 0 0;}
#A_Footer .ft_link .right a:last-child {background: url(/srm/images/main/icon_recovery.png) no-repeat 20px 10px #35373f; }

#A_Footer .ft_link .right2 a {background: url(/srm/images/main/icon_home.png) no-repeat 20px 50% #148eff; width: 130px; height: 44px; color: #fff; display: inline-block; border-radius: 5px; text-align: center; box-sizing: border-box; padding: 0 15px 0 40px; margin: 0 10px 0 0; line-height: 44px;}
#A_Footer .ft_link .right2 a:nth-child(2) {background: url(/srm/images/main/icon_care.png) no-repeat 20px 50% #148eff;width: 200px; }
#A_Footer .ft_link .right2 a:last-child {background: url(/srm/images/main/icon_remote.png) no-repeat 17px 50% #35373f; }


#A_Footer .ft_box {font-size: 14px; color: rgba(255, 255, 255, 0.2); padding: 30px 0;}
#A_Footer .ft_box p {padding-top: 5px;}
#A_Footer .ft_box p:first-child {padding-top: 0;}
#A_Footer .ft_box p.copy {padding-top: 12px;}




#A_Header .total_menu {}


#A_Header .b2b_prd_menu {display: none; position: fixed; top: 180px; left: 0; right: 0; width: 100%; background-color: #fff; border-bottom: 1px solid #ddd;}
#A_Header .b2b_prd_menu .b2b_inner {position: relative; box-sizing: border-box; width: 1050px; margin: 0 0 0 339px; border-left: 1px solid #ddd;}
#A_Header .b2b_prd_menu .b2b_inner:after {display: block; clear: both; *zoom: 1; content: '';}
#A_Header .b2b_prd_menu .b2b_inner .depth01 {float: left; box-sizing: border-box; height: 350px; border-right: 1px solid #ddd;}
#A_Header .b2b_prd_menu .b2b_inner .depth01 > li {width: 200px;}
#A_Header .b2b_prd_menu .b2b_inner .depth01 .depth01_tit {display: block; box-sizing: border-box; width: 100%; height: 40px; line-height: 40px; padding: 0 20px; color: #666; cursor: pointer;}
#A_Header .b2b_prd_menu .b2b_inner .depth01 li.on .depth01_tit {color: #fff; background-color: #1356a2;}
#A_Header .b2b_prd_menu .b2b_inner .depth02 {display: none; position: absolute; top: 0; left: 200px; box-sizing: border-box; width: 200px; height: 100%; border-right: 1px solid #ddd;}
#A_Header .b2b_prd_menu .b2b_inner .depth02 > li > a {display: block; position: relative; box-sizing: border-box; width: 100%; height: 40px; line-height: 40px; padding: 0 20px; color: #666; cursor: pointer; background: url(/srm/images/common/b2b_prd_arrow.png) no-repeat 180px center;}
#A_Header .b2b_prd_menu .b2b_inner .depth02 > li > a:before {display: none; position: absolute; bottom: 0; left: 0; right: 0; width: 100%; height: 1px; background-color: #1356a2; content: '';}
#A_Header .b2b_prd_menu .b2b_inner .depth02 > li.on > a {font-weight: 500; color: #1356a2;}
#A_Header .b2b_prd_menu .b2b_inner .depth02 > li.on > a:before {display: block;}
#A_Header .b2b_prd_menu .b2b_inner .depth03 {display: none; position: absolute; top: 0; left: 200px; width: 200px; height: 100%; overflow-y: scroll;}
#A_Header .b2b_prd_menu .b2b_inner .depth03 > li {box-sizing: border-box; height: 40px; padding: 8px 20px;}
#A_Header .b2b_prd_menu .b2b_inner .depth03 > li > a {display: inline-block; color: #999; cursor: pointer; vertical-align: top;}
#A_Header .b2b_prd_menu .b2b_inner .depth03 > li > a:hover {font-weight: 500; color: #1356a2; border-bottom: 1px solid #1356a2;}
#A_Header .b2b_prd_menu .b2b_inner .brand {float: right; box-sizing: border-box; width: calc(100% - 600px); height: 350px; padding: 10px 30px; border-left: 1px solid #ddd;}
#A_Header .b2b_prd_menu .b2b_inner .brand ul:after {display: block; clear: both; *zoom: 1; content: '';}
#A_Header .b2b_prd_menu .b2b_inner .brand ul li {position: relative; float: left; width: calc((100% - 120px)/5); height: 46px; margin: 0 0 0 30px;}
#A_Header .b2b_prd_menu .b2b_inner .brand ul li:nth-child(5n + 1) {margin: 0; clear: both;}
#A_Header .b2b_prd_menu .b2b_inner .brand ul li img {position: absolute; top: 50%; transform: translateY(-50%); left: 0; right: 0; margin: 0 auto; max-width: 100%; max-height: 100%;}



#A_Header .total_menu.active {background: red;}


#A_Header.on .gnb{}


#A_Header .gnb ul.nav li:nth-child(2) {position: relative;}

#A_Header .gnb ul.nav li:nth-child(2) i span {background: #1c84f8; color: #fff; border-radius: 50%; width: 15px; height: 15px; position: absolute; bottom: 4px; right: -18px; font-style: normal; font-size: 10px; text-align: center; }

.pop-wrap {position: fixed; background-color: #fff; border: 1px solid #ddd;}