.main {background: #f6f6f6; }
.main .sec1 {padding: 40px 0 60px; overflow: hidden;}
.main .sec1 .name_card {}
.main .sec1 .name_card li {float: left; width: 380px; height: 190px; padding: 20px 30px; background: #fff; box-sizing: border-box; border: 1px solid #ddd; margin-left: 20px;}
.main .sec1 .name_card li:first-child{margin-left: 0;}
.main .sec1 .name_card li .tit {border-bottom: 1px solid #ddd; margin: 0 0 10px;}
.main .sec1 .name_card li .tit:after {content: ''; display: block; clear: both;}
.main .sec1 .name_card li .tit h3{float: left; font-size: 18px; color: #333; font-weight: 500; border-bottom: 1px solid #1f77d1; line-height: 2; width:95px; }
.main .sec1 .name_card li .tit img{ float: right;margin-top: 13px;}
.main .sec1 .name_card li span {width: 90px; color: #999;float: left; font-size: 14px;}
.main .sec1 .name_card li p {width: calc(100% - 90px);  color: #666; display: inline-block;}

/*.main .sec2 {padding: 0 0 60px;}*/
.main .sec2 h2 {font-family: 'Montserrat', sans-serif; font-size: 32px; color: #333; text-align: center;}
.main .sec2 ul {padding: 35px 0 0; overflow: hidden;}
.main .sec2 ul li {float: left;  margin: 0 20px 60px 0; width:280px; text-align: center;}
.main .sec2 ul li:nth-child(4n+4){margin-right: 0;}
.main .sec2 ul li .img_box {width: 280px; height: 266px; overflow: hidden; position: relative;}
.main .sec2 ul li .img_box:before {visibility: hidden; opacity: 0; position: absolute; top: 0; left: 0; right: 0; bottom: 0; width: 100%; height: 100%; background: rgba(31, 119, 209, 0.5); transition: all 0.5s ease-in-out; content: ''; display: block;}
.main .sec2 ul li .img_box img {width: 100%; height: 100%; }
.main .sec2 ul li .text_box {margin-top: 10px;}
.main .sec2 ul li .text_box p {color: #666;}
.main .sec2 ul li .text_box .price {color: #333; padding-top: 10px; display: inline-block; position: relative; margin-top: 10px; font-weight: 500;}
.main .sec2 ul li .text_box .price:after {width: 20px; height: 1px; background: #333; display: block; content: ''; position: absolute; top: 0; left: 50%; transform: translateX(-50%);}

/*hover*/
.main .sec2 ul li:hover .price:after {width: 50px;background:rgba(31, 119, 209, 0.5); transition: all 0.5s ease-in-out; }
.main .sec2 ul li:hover .img_box:before {opacity: 1; visibility: visible; }



.main .sec3 {clear: both; background: #35373f; padding: 100px 0;}
.main .sec3 .board{ width: 545px;float: left; color: #fff;}
.main .sec3 .board:nth-child(2){float: right;}
.main .sec3 .board .tit_box {padding: 10px 0; border-bottom: 1px solid #fff; overflow: hidden; margin-bottom:20px;}
.main .sec3 .board .tit_box h3 {float: left; font-size: 22px; }
.main .sec3 .board .tit_box button {float: right; border: none; background: transparent; font-size: 14px; margin-top: 7px;}
.main .sec3 .board .tit_box button span {color:#f91e43; }
.main .sec3 .board td {height: 50px; cursor: pointer;}
.main .sec3 .board td.tit p {white-space: nowrap; text-overflow: ellipsis; overflow: hidden; width: 385px; color: #fff;}
.main .sec3 .board td.date , .main .sec3 .board td.case {font-size: 14px; color: rgba(255, 255, 255, 0.5)}
.main .sec3 .board td.case span {border: 1px solid rgba(255, 255, 255, 0.5); padding: 2px 5px; box-sizing: border-box; float: right;}
.main .sec3 .board td.case span.color {color: #148eff; border: #148eff solid 1px; }

.main .sec3 .banner_area {padding: 30px 0 0; clear: both;}
.main .sec3 .banner_area li{float: left; margin-right: 5px; }
.main .sec3 .banner_area li:last-child{margin-right: 0;}
.main .sec3 .banner_area li .img_box {position: relative; }
.main .sec3 .banner_area li .text_box {position: absolute; top: 30px; left: 35px; color: #fff;}
.main .sec3 .banner_area li:nth-child(2) .text_box {color: #333;}
.main .sec3 .banner_area li .text_box h4 {font-family: 'Montserrat', sans-serif; font-size: 30px; margin-bottom: 5px; }










