
/* main_css */

.main_header { height:80px; text-align:center;}
.main_header img { margin-top:23px;}

.main_bg { height:500px; width:100%; background:#404858;}
.draft_title { color:#fff; font-size:45px; font-weight:normal; text-align:center; padding-top:60px;}

.draft_list { width:1620px; position:absolute; top:155px; left:0; right:0; margin:auto; }

.screen_wrap { width:790px; height:484px; background:url(/srm/images/screen.png)no-repeat;}
.screen_wrap .img_wrap { position:absolute; top: 9px; left: 7px; width: 774px; height: 435px; }
.screen_wrap .img_wrap img { width:100%; height:100%;}
/*
.draft_list ul li { float:left; text-align:center; position:relative;}
.draft_list ul li:nth-child(2n) { margin-left:40px;}
.draft_list ul li .type_tit { font-size:30px; color:#333; letter-spacing:-1px; margin-top:10px;}
.draft_list ul li .type_tit:after { content:''; width:1px; height:20px; display:block; background:#0b71b0; margin:10px auto;}
.draft_list ul li .type_txt { font-size:16px; color:#666; line-height:24px;}

.draft_list ul li .view_btn { width:90px; height:40px; line-height:40px; background:#404858; font-size:20px; font-weight:600; color:#fff; display:inline-block; margin-top:30px; box-sizing:border-box; transition:0.8s; border:1px solid #404858;}
.draft_list ul li .view_btn:hover { background:#fff; color:#404858; border:1px solid #404858; }*/

.draft_list .slide_wrap{ float:left; text-align:center; position:relative;}

.draft_list .slide_wrap .type_tit { font-size:30px; color:#333; letter-spacing:-1px; margin-top:10px;}
.draft_list .slide_wrap .type_tit:after { content:''; width:1px; height:20px; display:block; background:#0b71b0; margin:10px auto;}
.draft_list .slide_wrap .type_txt { font-size:16px; color:#666; line-height:24px;}

.draft_list .slide_wrap .view_btn { width:90px; height:40px; line-height:40px; background:#404858; font-size:20px; font-weight:600; color:#fff; display:inline-block; margin-top:30px; box-sizing:border-box; transition:0.8s; border:1px solid #404858; margin-bottom:30px;}
.draft_list .slide_wrap .view_btn:hover { background:#fff; color:#404858; border:1px solid #404858; }


/* view css */

.view_header { height:80px; border-bottom:1px solid #ddd;}
.view_header .inner { max-width:1620px; margin:auto;}
.view_header img { margin-top:27px;}

.draft_view { padding:40px 0; position:relative;}
.draft_view .draft_image { border:1px solid #ddd; width:1620px; margin:auto; box-sizing:border-box; }
.draft_view .draft_image img { width:100%; height:100%;}

.draft_view .right_btn { position:fixed; right:30px; top:0; height:200px; bottom:0; margin:auto; background:#4c5262; width:90px; border-radius:50px; }
.draft_view .right_btn ul { margin:0 8px; }
.draft_view .right_btn ul li { text-align:center; color:#fff; font-size:14px; height:100px; box-sizing:border-box;  }
.draft_view .right_btn ul li a{     width: 100%; height: 100%; display: inline-block; padding-top: 65px; box-sizing: border-box;}
.draft_view .right_btn ul li:nth-child(1) { background:url(/srm/images/btn_icon01.png)no-repeat center 26px; border-bottom:1px solid #fff; }
.draft_view .right_btn ul li:nth-child(2) { background:url(/srm/images/btn_icon02.png)no-repeat center 18px; padding-top:60px; cursor:pointer; }


.type_menu { position:absolute; bottom:45px; width:646px; left:0;right:0; margin:auto; }
.type_menu li { float:left; font-size:15px; color:#666; background:url(/srm/images/type_menubg.png)no-repeat; width:145px; height:45px; line-height:45px; text-align:center; position:absolute; cursor:pointer; }
.type_menu li.on { background:url(/srm/images/type_menubg_on.png)no-repeat; z-index: 2; color:#333; font-weight:600;}
.draft_view .type_menu li:nth-child(5) { left:0; }
.type_menu li:nth-child(4) { left:125px; }
.type_menu li:nth-child(3) { left:250px; }
.type_menu li:nth-child(2) { left:375px; }
.type_menu li:nth-child(1) { left:500px; }

.modify_wrap { position:fixed; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,0.5); z-index:12; display:none;}
.modify_wrap .modify_box { width:825px; height:500px; background:#fff; position:absolute; top:0; bottom:0; right:0; left:0; margin:auto;}

.modify_box .top { height:80px; line-height:80px; background:#4c5262; color:#fff; font-size:18px; padding:0 40px;}
.modify_box .top span { font-size:30px; }
.modify_box .top .close { float:right; margin-top:30px; cursor:pointer; }
.modify_box textarea {  width:745px; height:236px; box-sizing:border-box; border:1px solid #ddd; margin:40px auto; display:block; padding:20px; font-size:15px; color:#666; outline:none; }
.modify_box input[type=submit] { width:180px; height:56px; line-height:56px; text-align:center; border:0; background:#0b71b0; color:#fff; font-size:18px; margin:auto; display:block; cursor:pointer;outline:none;  }





.draft_list .slick-prev {  content: '';
    background: url(/srm/images/arrow_l.png)no-repeat;
    width: 54px;
    height: 92px;
    display: inline-block;
    bottom: 0;
    left: -90px;
    top: -70px;
    margin: auto; }

.draft_list .slick-next {     content: '';
    background: url(/srm/images/arrow_r.png)no-repeat;
    width: 54px;
    height: 92px;
    display: inline-block;
    bottom: 0;
    right: -90px;
    top: -70px;
    margin: auto; }













