.main {background: #f6f6f6; }

/*서브페이지 타이틀 공통*/
#sub_contents {padding-bottom: 140px; }
.sub_tit {text-align: center; padding: 40px 0 70px;}
.sub_tit h2{font-size: 32px; color: #333;}
.search_box {background: #eee; width: 100%; height: 130px; box-sizing: border-box; padding: 35px 0; margin: 0 0 40px;}
.search_box > div {position: relative; width: 985px; margin: 0 auto;}
.search_box select {width:180px; border-radius: 70px; background: url(/srm/images/sub/arrow_down.png) no-repeat 145px 27px #fff; height: 60px; margin-right: 10px;box-sizing: border-box; border: none;font-size: 18px; padding: 0 10px; color: #333; }
.search_box select option {padding: 5px;}
.search_box input {width: 790px; height: 60px; padding: 0px 60px 0px 20px; border-radius: 70px; background: #fff; box-sizing: border-box; border: none; position: relative;}
.search_box .btn_search {background:url(/srm/images/sub/icon_search.png)no-repeat; width: 20px; height: 20px; content: ''; display: block; position: absolute; top: 22px; right: 30px;text-indent: -9999px; border: none; cursor: pointer;} 

.section_tit {margin-bottom: 10px;  clear: both;}
.section_tit:after {clear: both; content: ''; display: block;}
.section_tit h4 {font-size: 24px; color: #333; }

/* sub nav */
#sub_nav {margin-bottom: 20px;}
#sub_nav .inner:after {display: block; clear: both; *zoom: 1; content: '';}
#sub_nav ul li {float: left; margin: 0 0 0 10px; padding: 0 0 0 16px; background: url(/srm/images/sub/bullet_navi.png) no-repeat 0 center;}
#sub_nav ul .home {margin: 0; padding: 0; background: none;}
#sub_nav ul li a {display: block; line-height: 16px; font-size: 14px; color: #666;}


/* list paging */
.info .inner{ padding: 0 0 140px;}
.list_paging {margin: 40px 0 0 0;  text-align: center; clear:both;}
.list_paging > a {display: inline-block; width: 40px; height: 40px; background-repeat: no-repeat; background-position: center center; vertical-align: top; text-indent: -9999px;}
.list_paging > a.paging_prev {background-image: url(/srm/images/sub/arrow_prev.png);}
.list_paging > a.paging_next {background-image: url(/srm/images/sub/arrow_next.png);}
.list_paging ul {display: inline-block; margin: 0 30px; vertical-align: top;}
.list_paging ul:after {display: block; clear: both; *zoom: 1; content: '';}
.list_paging ul li {float: left; margin: 0 10px;}
.list_paging ul li a {display: block; width: 40px; height: 40px; line-height: 40px; color: #333; text-align: center;}
.list_paging ul li.active a {background-color: #1c84f8;  color: #fff;}

/*버튼공통*/
.btn_box {text-align: center; padding: 60px 0;  clear: both;}
.btn_box button{ width:180px; height: 60px; text-align: center; font-size: 18px; cursor: pointer; margin-right: 10px; box-sizing: border-box;}
.btn_box button:last-child {margin-right: 0;}
button.btn_blue {background: #1c84f8; color: #fff; }
button.btn_wh {background: #fff; color:#333; }
button.btn_bk {background: #333; color: #fff;}

/*테이블공통*/
.table {width: 100%; border-top: 2px solid #333; background: #fff; margin: 15px 0;}
.table thead th {font-weight: 400; color: #333;}
.table tr {height: 60px; border-bottom: 1px solid #ddd;}
.table tbody td {color: #999;}
.table tbody td input, .table tbody td select, .table tbody td textarea {border: 1px solid #ddd; box-sizing: border-box; padding: 0 10px; vertical-align: top; font-size: 16px;}



/*공지사항*/
 p.cont {font-size: 14px; }
 p.cont span {font-size: 16px; margin-right: 3px;}
.info_board { color: #666; margin: 15px 0;} 
.info_board thead {border-bottom: 1px solid #333;}
.info_board tbody td{text-align: center; cursor: pointer;}

.info_board tbody tr:first-child td {color: #333; font-weight: 500;}
.info_board tbody tr:first-child td.num {color: #999; font-weight: 300;}
.info_board tbody td.tit {text-align: left;}
.info_board tbody td.tit p.over { width: 400px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.info_board tbody td.num {color: #999; font-weight: 300;}

 .table_type01 .table tr td.ask_tit p.over { width: 400px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

/*공지사항 상세*/
.info_view {}
.info_view .tit_box {width: 100%; background: #fff; border-top: 2px solid #333; border-bottom: 1px solid #999; box-sizing: border-box; padding:30px 20px; }
.info_view .tit_box:after {content: ''; clear: both; display: block; }
.info_view .tit_box p {font-size: 20px; color: #333;}
.info_view .tit_box ul li {float: left; color: #999; padding-right: 45px; position: relative;}
.info_view .tit_box ul li:after {display: block; width: 1px; height: 15px; background: #999;content: ''; position: absolute; top: 6px; left: -20px;}
.info_view .tit_box ul li:first-child:after {display: none;}
.info_view .tit_box ul li.right:after {display: none;}
.info_view .content_box {width: 100%; min-height: 410px; position: relative; }
.info_view .content_box .contents {padding: 30px 20px 100px; box-sizing: border-box;}
.info_view .content_box .contents p {font-size: 18px; font-weight: 300; color: #666;}
.info_view .content_box .file_box {width: 100%; background: #eee; padding:20px; box-sizing: border-box; position:absolute; bottom: 0; left: 0; margin: 0 0 20px;}
.info_view .content_box .file_box p{ float: left; position: relative; padding-right: 40px; font-size: 16px;}
.info_view .content_box .file_box p:after {width: 1px; background: #999; height: 20px; content: ''; display: block; position: absolute; top: 2px; right: 18px;}
.info_view .content_box .file_box span {color: #999; margin-right: 30px;}
.info_view .content_box .file_box span:last-child {margin-right: 0;}

.info_view .page_box  { width: 100%; overflow: hidden;}
.info_view .page_box ul {background: #fff; height: 60px; line-height: 60px; width: 100%; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd;}
.info_view .page_box ul:first-child {border-bottom: none;}
.info_view .page_box ul li{ float: left; padding: 0 50px; position: relative; color: #333;}
.info_view .page_box ul li:first-child:after {display: block; width: 1px; height: 20px; background: #ddd;content: ''; position: absolute; top: 22px; left: 145px;}





/*IT 자료실*/
.video {padding-bottom: 215px;}
.video .search_box > div {width: 1050px;}
.search_box select.pd_020 {padding: 0 20px;}
.video .search_box { }
.video .search_box .w140 {width: 140px; background-position: 105px 27px;}
.video .search_box input {width: 660px;}
.video .video_area {overflow: hidden;}
.video .video_area ul{overflow: hidden;}
.video .video_area ul li{ float: left; width: 280px;  margin-right:20px; padding: 20px 0; color: #333;overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.video .video_area ul li:nth-child(4n+4) {margin-right: 0;}
.video .video_area ul li .thumb_img {width: 280px; height: 200px; overflow: hidden; margin: 0 0 15px; position: relative;}
.video .video_area ul li .thumb_img:after {width: 22px; height: 28px; background: url(/srm/images/sub/icon_play.png)no-repeat; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); content: ''; transition: all 0.3s; opacity: 0; cursor: pointer;}
.video .video_area ul li:hover .thumb_img:after{opacity: 1;}
.video .video_area ul li .thumb_img img {max-width: 100%;}
.video .down_borad td{ cursor: auto;}
.video #it_01 .info_board tbody td a{ padding: 0 0 0 50px; background: url(/srm/images/sub/icon_download.png)no-repeat 0 0; font-weight: 400; color: #666; }
.video #it_01 .info_board tbody td a.no_ic {padding: 0; background: none;}
.video .info_board tbody tr:first-child td {color: #999; font-weight: 400;}
.video .info_board tbody tr:first-child td.num {font-weight: 300;}

/*서브탭메뉴*/
.sub_con_tab {width: 580px; margin: 0 auto; margin-bottom: 60px; }
.sub_con_tab:after {display: block; clear: both; *zoom: 1; content: '';}
.sub_con_tab li {float: left; width: 180px;  border-radius: 50px; background: #fff;}
.sub_con_tab li:nth-child(2) {margin: 0 20px;}
.sub_con_tab li a {position: relative; display: block; width: 100%; height: 60px; line-height: 60px; font-size: 18px; color: #333; text-align: center; transition: all 0.3s ease-in-out;}
.sub_con_tab li a:hover {color: #333;}
.sub_con_tab li.active {background: #1c2032;}
.sub_con_tab li.active a {color: #fff; }
.sub_con_tab li.active a:before {visibility: visible; opacity: 1;}




/*팝업*/
.pop_wrap {width: 1000px;  margin: 0 auto; position: absolute; left: 0; top: 50%; right: 0; overflow: hidden; transform: translateY(-50%);  background: #fff;  padding: 30px 30px 60px; box-sizing: border-box;}
.popup {  position: fixed; top: 0; right: 0; left: 0; bottom: 0; width: 100% ;height: 100%; background: rgba(0,0,0,0.5); z-index: 100000; display: none;}
.pop_wrap .tit { width: 100%;  padding: 0 10px 10px; background-color: #fff; box-sizing: border-box; }
.pop_wrap .tit h3 {font-size: 24px; display: inline-block; line-height: 50px; font-weight: 500; color: #333;}
.pop_wrap .tit .btn_close {color: #fff; text-indent: -9999px; background: url(/srm/images/sub/icon_close.png) no-repeat center; width: 16px; height: 16px; position: absolute; top: 20px; right: 20px; border: none; cursor: pointer;}



/*시리얼 관리*/
.serial {padding-bottom: 120px;}
.search_table {border-top: 1px solid #ddd;border-bottom: 1px solid #ddd; background: #fff;}
.search_table tr {height: 60px; }
.search_table tr th {background: #e9edf0; color: #333;}
.search_table tr td {padding: 0 10px; color: #999;}
.search_table .tab_btn {float: left; margin: 8px 20px 0 0;}
.search_table .tab_btn button {width: 50px; height: 34px; background: #ddd; color: #fff; margin-right: 10px; font-size: 14px;}
.search_table .tab_btn button:last-child {margin-right: 0;}
.search_table .tab_btn button.on {background: #333;}
.search_table input { box-sizing: border-box; color: #999; border: 1px solid #eee;  height: 45px; width: 260px;padding: 0 10px; }
.search_table input.date  {width: 120px;   }
.ui-datepicker-trigger  {display: none;}
.hasDatepicker {cursor: pointer;}
.search_table select {border: 1px solid #eee; font-size: 16px; height: 45px; padding: 0 10px; background: url(/srm/images/sub/arrow_down.png) no-repeat 85px 19px #fff; width: 110px; box-sizing: border-box; margin-right: 10px; vertical-align: top;}

.table_search_btn {}
.table_ip_wd {width: calc(100% - 160px)!important;}
.table_select_wd {width:150px!important; background-position: 115px 19px!important;}

.table_type01  p.cont span{color: #1c84f8; font-size: 18px;}
.table_type01  p.cont {font-size: 16px; font-weight: 500; display: inline-block;}
.table_type01 .btn_box  {padding: 40px 0 60px;}
.table_type01 .table {color: #999; }
.table_type01 .table thead th { font-weight: 500;}
.table_type01 .table td {text-align: center; height: 70px; cursor: pointer;}
.table_type01 .table input {height: 40px; border : 1px solid #ddd; width: 120px; box-sizing: border-box; padding: 0 10px; }
.table_type01 .table input::placeholder {font-size: 16px;}
.table_type01 .table input[type="checkbox"] {width: 24px; height: 24px; border: 1px solid #ddd;}
/*
.serial .table input[id="ck"] {display: none; }
.serial .table input[id="ck"] + label {width: 24px; height: 24px; border: 1px solid #ddd;}
.serial .table input[id="ck"]:checked + label{}
*/

.table_type01 .save_btn {text-align: right; padding:10px 0;}
.table_type01 .save_btn .left {float: left;}
.table_type01 .save_btn button.btn_blue {width: 80px; height: 40px; font-size: 16px; }
.table_type01 .save_btn .left button.btn_bk {width: 80px;}
.table_type01 .save_btn button.btn_bk {width: 140px; height: 40px; font-size: 16px;}
.table_type01 .btn_right {float: right;}
.table_type01 .btn_right button{width: 140px; height: 40px; font-size: 16px;}
.serial .table td p {white-space: nowrap; text-overflow: ellipsis; overflow: hidden; width: 200px; }




/*문의하기*/
.ask {padding-bottom: 100px;}
.ask .btn_box {padding: 0;}
.ask .info_view {padding-bottom: 40px; }
.ask .info_view .tit_box {position: relative;}
.ask .info_view p.cate{ font-size: 16px; color: #666; margin: 25px 0 10px;}
.ask .info_view .tit_box ul li {font-size: 14px;}
.ask .info_view .tit_box ul li:after {top: 3px;}
.ask .info_view .content_box .contents p {color: #333; font-weight: 400;}
.ask .answer .tit_box p{margin-bottom: 25px;}
.ask .info_view .tit_box ul li.right {float: right; padding-right: 0;}
.ing_box {width: 120px; height: 40px; background: #1c84f8; color: #fff; text-align: center; font-size: 16px;position: absolute; top: 15px; right: 20px; line-height: 40px;}

.table_type01 .table tr td.ask_tit {text-align: left;}
.table_type01 .ask_list tr td button.reply_y{border: 1px solid #ddd;}
.table_type01 .ask_list tr td button.reply_n {color: #fff;}


.table_type01 .ask_list tr td button{width: 100px; box-sizing: border-box; text-align: center; font-size: 16px;height: 40px; color: #999; }


/*기타문의 작성*/


.table_type02 tr {border: none; }

.table_type02 tr td {padding: 10px 125px 0 0;  line-height: 50px;}
.table_type02 tr td p {}
.table_type02 tr input{ height: 50px; width: 100%; color: #666;}
.table_type02 tr.phone input {width: 164px;}
.table_type02 tr.mail input {width: 210px;}

.table_type02 tr select {height: 50px; font-size: 16px; vertical-align: top; background: url(/srm/images/sub/arrow_down.png) no-repeat 95% 50% #fff; width: 170px;}
.ask .table_type02 tr textarea {width: 100%; min-height: 200px;}

.table_type02 th {text-align: left; padding: 0 20px; font-weight: 400; color: #333; vertical-align: top; line-height: 60px;}
.table_type02 span {color: #f03162;}
.table_type02 span.sp_file {color: #999; font-size: 14px;}

.ask_btn_box {padding: 60px 0 0;}

/*제품견적요청 */
.product_ask .table_type02 tr td
.table_type02 tr td .radio_box  .radio {float: left;}
.table_type02 tr td .radio_box .radio p {margin: 0;}



/*주문내역*/
.order_tab_area .sub_con_tab {width: 400px !important;}
.order_list  .table td.price {font-weight: 500; color: #666;}
.order_list .a_option  {float: right; margin: -10px 0 0;}
.order_list .a_option select {width: 150px; height: 40px; background: url(/srm/images/sub/arrow_down.png) no-repeat 120px 17px transparent; border :1px solid  #000; color: #666; padding: 0 20px; font-size: 16px;}
.order_list .chk_box input[type="checkbox"] + label span {display: block; float: left; width: 24px; height: 24px;  background: url(/srm/images/sub/checkbox_off.png) no-repeat 50%; padding: 10px 15px;}
.order_list .chk_box input[type="checkbox"]:checked + label span {background: url(/srm/images/sub/checkbox_on.png) no-repeat 50%;}

.order_list .table td.case1 {color: #f03162; font-weight: 500;}
.order_list .table td.case2 {color: #1c84f8; font-weight: 500;}
.order_list .table td.case3 {color: #1c2032; font-weight: 500;}
.order_list .table td.case4 {color: #999999; font-weight: 500;}
.order_list .table td.case5 {color: #fecb1a; font-weight: 500;}
.order_list .btn_print {font-size: 14px; width: 60px; height: 34px; background: #666; color: #fff;}



/*견적요청*/
.btn_right{ float: right; padding-bottom: 10px;}
.btn_right button {width: 140px; height: 40px; text-align: center; font-size: 16px; margin: -10px 0 0;}






/*장바구니*/
.cart .btn_box {padding: 0;}
.cart .btn_box button {width: 260px; }


 .cart_price_box2 {border:3px solid #1c84f8 ; position:relative; height:130px; margin: 60px 0; box-sizing: border-box; background: #fff;}
/*top: 50%; left: 50%; transform: translate(-50%,-50%);*/
 .cart_price_box2 .price {display: table; height: 120px; margin: 0 auto;}
.cart_price_box2 .price > div {display: table-cell; vertical-align: middle;}
 .cart_price_box2 .price p {color:#333; display:inline-block; text-align:center; padding: 0 50px; font-weight: 500; font-size: 30px;  }
.cart_price_box2 .price p span {display:block; font-size: 16px;}


.table_type03 {width:100%;}
.table_type03 thead tr th { color:#666; padding: 0 10px;  }


.table_type03 thead tr th span {font-size:16px; color:#666; margin-left:5px;}
.table_type03 tbody tr td {padding:15px; text-align:center;}
.table_type03 tbody tr td .cart_div {float: left;}
.table_type03 tbody tr td .cart_div .img_box {width: 100px; height: 100px; overflow: hidden;float: left; border: 1px solid #ddd;}
.table_type03 tbody tr td .cart_div .img_box img {max-width: 100%; height: 100%;}
.table_type03 tbody tr td .cart_div .txt_box {float: left; margin:  22px 20px 0}
.table_type03 tbody tr td .cart_div .txt_box .pro_code {color: #666; margin-bottom: 10px;}
.table_type03 tbody tr td .cart_div .txt_box .pro_name {font-size: 18px; color: #333; font-weight: 500;margin-top: 5px;}
.table_type03 tbody tr td.price {color: #333;}

.table_type03 tbody tr td .vol_btns {}
.table_type03 tbody tr td .vol_btns input {width: 60px; height: 40px;  text-align: center;}
.table_type03 tbody tr td .vol_btns a {width: 40px; height: 40px; vertical-align: top;}
.table_type03 tbody tr td .e_btns { width: 80px;}


.table_type03 tbody tr td .modify_btn {width:80px; height:30px;font-size:16px; color:#fff; text-align:center; background:#333; border:1px solid #34405b; margin-bottom: 10px;}
.table_type03 tbody tr td .del_btn {width:80px; height:30px; font-size:16px; color:#666; text-align:center; background:#fff; border:1px solid #34405b;}


.table_type03 tr input[type="checkbox"]{
/*    display:none;*/
}
.table_type03 tr input[type="checkbox"] label {font-size:14px; color:#666; margin-left:15px;}
.table_type03 tr input[type="checkbox"] + label span {
    display:inline-block;
    width:16px;
    height:16px;
    vertical-align:middle;
    background:url(/srm/images/sub/checkbox_off.png) center no-repeat;
    cursor:pointer;
	margin-right:10px;
    padding: 10px;
}
.table_type03 tr input[type="checkbox"]:checked + label span {
    background:url(/srm/images/sub/checkbox_on.png) center no-repeat ;
}


 .estimate_btn {text-align:left; padding:20px 0;}
.estimate_btn button.btn_blue {width: 120px; height: 40px; font-size: 16px; }
.estimate_btn button.btn_bk {width: 120px; height: 40px; font-size: 16px;}




.progress_box {float: right; margin-bottom: 40px;}
.progress_box ul{width: 220px; position: relative; z-index: 1;}
.progress_box ul:after {clear: both;content: ''; display: block;}
.progress_box ul:before {position: absolute; width: 100%; height: 3px; background:#ddd; content: ''; top: 20px; left: 0; display: block; z-index: -1;}
.progress_box ul li{width: 40px; height: 40px; border-radius: 100%; float: left; background: #f6f6f6; border:3px solid #ddd; color: #ddd; font-size: 24px; line-height: 33px; box-sizing: border-box; text-align: center;}
.progress_box ul li:nth-child(2) {margin: 0 50px;}
.progress_box ul li.on {background:#1c84f8; color: #fff; border:3px solid #1c84f8;;}





/* 로그인 */
.login_wrap {height: 100vh;}
.login_wrap .logo_box {text-align: center;padding: 180px 0 30px;}
.login_wrap .logo_box img {width: 180px;}

.login_wrap:after {display: block; clear: both; *zoom: 1; content: '';}
.login_wrap .login_box{margin: 0 auto;box-sizing: border-box;width: 590px;height: auto;padding: 20px 30px 0;}
.login_wrap .tit_box {text-align: center; margin-bottom: 50px;}
.login_wrap .tit_box h3 {font-size: 42px; font-weight: 500; color: #333;}
.login_wrap .tit_box p {margin: 5px 0 0 0; font-size: 18px;}
.login_wrap .tit_box p em {font-size: 18px;}

.login_wrap .login_box .tit_box p {color: rgba(102,102,102,0.5);}
.login_wrap .login_box form input {width: 100%; height: 54px; border: 1px solid #eee; box-sizing: border-box;  padding: 0 10px; color: #999; font-size: 16px; margin-top: 10px;}
.login_wrap .login_box form input:first-child{margin: 0;}
.login_wrap .login_box form input::placeholder {color: #999;}
.login_wrap .login_box form  p {font-size: 16px; color: #f03162; margin-top: 10px;}

.login_wrap .btn_blue {width: 100%; height: 54px; background: #1456a3; font-size: 18px; color: #fff; margin-top: 100px;}
.login_box .find_links {text-align: center; overflow: hidden; width: 240px;margin: 0 auto; padding: 20px 0 0;}
.login_box .find_links li {float: left; width: 120px;}
.login_box .find_links li a { position: relative;}
.login_box .find_links li:nth-child(1) a:after {content: ''; display: block; height: 14px ; width: 1px; background: #ddd; position: absolute; left: 96px; top: 5px; }
.login_box .btn_bk {margin-top: 50px; background: #2b2b33; color: #fff; height: 53px; width: 100%; font-size: 18px;}




/*B2B제품*/
.product .sub_tit {padding: 40px 0;}

.product .pro_tab {background: #506991; }
.product .pro_tab ul{}
.product .pro_tab ul:after {clear: both; content: ''; display: block;}
.product .pro_tab ul li{float: left; width: 147px; height: 153px; text-align: center; color: rgba(255, 255, 255, 0.5);}
.product .pro_tab ul li.on {color: #fff; }
.product .pro_tab ul li.on i {opacity: 1;}
.product .pro_tab ul li i {background: url(/srm/images/sub/product_list_icon.png) no-repeat; width: 148px; height: 105px; display: block; opacity: .5;}
.product .pro_tab ul li:nth-child(1) i{background-position: 0 0;}
.product .pro_tab ul li:nth-child(2) i{background-position: -148px 0;}
.product .pro_tab ul li:nth-child(3) i{background-position: -296px 0;}
.product .pro_tab ul li:nth-child(4) i{background-position: -444px 0;}
.product .pro_tab ul li:nth-child(5) i{background-position: -592px 0;}
.product .pro_tab ul li:nth-child(6) i{background-position: -740px 0;}
.product .pro_tab ul li:nth-child(7) i{background-position: -888px 0;}
.product .pro_tab ul li:nth-child(8) i{background-position: -1036px 0;}


.pro_tab_area {background: #fff; border-top: 2px solid #333;padding: 20px 100px 0px 20px; position: relative; margin: 20px 0 40px;}
.pro_tab_area .sub_con_tab {width: 100%; margin-bottom: 0; overflow: hidden; height: 70px; }
.pro_tab_area .sub_con_tab li {width: calc(100%/7); margin-bottom: 20px;}
.pro_tab_area .sub_con_tab li:nth-child(2) {margin: 0;}
.pro_tab_area .sub_con_tab li a {height: 50px; line-height: 50px; font-size: 16px;}
.pro_tab_area .p_plus {width: 16px; height: 16px; position: absolute; top: 36px; right: 20px; background: none; background: url(/srm/images/sub/p_icon_plus.png) no-repeat 0 50%; padding: 0 30px 0 0;}
.pro_tab_area .p_plus.on {background: url(/srm/images/sub/p_icon_minus.png) no-repeat 0 50%;}
.pro_tab_area1 {display: none;}
.pro_margin {padding: 40px 0}


.product .search_box {width: 500px; background:transparent; padding: 0; height: auto; float: left; position: relative;}
.product .search_box > div {width: auto;}
.product .search_box select {height: 50px; background: url(/srm/images/sub/arrow_down.png) no-repeat 145px 22px #fff; font-size: 16px; padding: 0 20px;}
.product .search_box input {width: 300px; height: 50px;font-size: 18px; }
.product .search_box .btn_search {top: 16px;}
.align_box {float: right;  }
.align_box button {width: 50px; height: 50px; background: url(/srm/images/sub/icon_one.png)no-repeat 0 0 ; margin-right: 5px; text-indent: -9999px;}
.align_box button:nth-child(2){background-image: url(/srm/images/sub/icon_two.png)}
/*.align_box a {margin-right: 5px;}*/
.align_box select {width: 130px; border: none; border-bottom: 1px solid #ddd; background: url(/srm/images/sub/arrow_down.png) no-repeat 110px 14px transparent; height: 40px; vertical-align: top; color: #666; font-size: 16px; box-sizing: border-box; padding: 0 10px 5px; margin: 10px 0 0;}



.filter_set {clear: both; position: relative;}
.filter_set h4 {font-size:28px ; color: #333; float: left; margin-right: 30px;}
.filter_set h4 span {font-size:20px ; color: #666; font-weight: 400; }
.filter_set ul {margin-bottom: 40px;}
.filter_set ul:after {display: block; clear: both; content: ''; }
.filter_set ul li {float: left;}
.filter_set ul li a{ background: url(/srm/images/sub/icon_x.png) no-repeat right 17px; padding: 10px 18px; margin: 0 5px; color: #999;}
.filter_set ul li.f_reset a {background: url(/srm/images/sub/icon_filter.png) no-repeat right 15px ;  color: #333;}
.filter_set .f_hide {position:absolute;top: 0;right: 0;font-size: 16px;color: #999;background: url(/srm/images/sub/p_icon_minus.png) no-repeat right 50%;padding: 0 20px 0 0px; top: 50%; transform: translateY(-50%);}
.filter_set .f_hide.open  {background: url(/srm/images/sub/p_icon_plus.png) no-repeat right 50%; }
.filter_set2 {min-height: 20px; margin-bottom: 20px;}







/* left_menu */
#A_Container_L { width: 250px; float: left;}

#A_Container_L .nav {border-bottom:1px solid #1d2128}
#A_Container_L .nav > li > a { display:block; height:60px; padding-left:10px; border-top:2px solid #333; color:#333; font-size:18px;  line-height:60px; padding-left:25px; background:url(/srm/images/sub/p_icon_plus.png) no-repeat 90% 50% #fff; border-bottom: 1px solid #ddd;} 
#A_Container_L .nav > li.open > a {background:url(/srm/images/sub/p_icon_minus.png) no-repeat 90% 50% #fff;}
#A_Container_L .nav > li > a span {font-size:18px;}
#A_Container_L .lnb {color:#fff;}
#A_Container_L .nav ul	{padding:10px 25px;background:#fff;}
#A_Container_L .nav ul:after {clear: both; display: block; content: '';}
#A_Container_L .nav ul ul	{ padding-top:5px}
#A_Container_L .nav ul ul:after {clear: both; display: block; content: '';}
#A_Container_L .nav li li {line-height: 38px;padding: 1px 0; }
#A_Container_L .nav li li a	{color:#999;font-size:16px;display: inline-block; }
#A_Container_L .nav li.open ul li.active > a {color:#055882; font-weight:600;}







#A_Container_R { width: 870px; margin: 0 0 0 auto;}
#A_Container_R ul.pro_list {overflow: hidden;}
#A_Container_R ul.pro_list:after {clear: both; content: ''; display: block;}
#A_Container_R ul.pro_list li {margin-bottom: 20px; padding: 20px 25px 20px 20px; background: #fff; border: 1px solid #ddd; width: 100%; min-height: 240px; box-sizing: border-box;}

#A_Container_R ul.pro_list li .a_box {padding-bottom: 30px;}
/*체크박스*/
#A_Container_R ul.pro_list li .a_box a {width: 130px; height: 38px; line-height: 38px; box-sizing: border-box; padding: 0 0 0 20px; display: inline-block; text-align: center;border-radius: 5px; font-size: 14px; margin-left: 10px}

/*#A_Container_R ul.pro_list li .a_box a:nth-of-type(1){background: url(/srm/images/sub/p_icon_01.png)no-repeat 20% 50%; border: 1px solid #1c2032; }*/
#A_Container_R ul.pro_list li .a_box a:nth-of-type(1){background: url(/srm/images/sub/p_icon_02.png)no-repeat 20% 50% #000; color: #fff; }
#A_Container_R ul.pro_list li .a_box a:nth-of-type(2){background: url(/srm/images/sub/p_icon_03.png)no-repeat 20% 50%#1c84f8; color: #fff;}

#A_Container_R .pro_list li .p_contents {}
#A_Container_R .pro_list li .p_contents:after {content: ''; clear: both; display: block;}

#A_Container_R .pro_list li .img_box {float: left; width: 200px; height: 200px; overflow: hidden; border: 1px solid #ddd;}
#A_Container_R .pro_list li .img_box img {width: 100%; height: 100%;}
#A_Container_R .pro_list li .cont_box {float: right; width: calc(100% - 220px);}
#A_Container_R .pro_list li .cont_box .pro_tit{font-size: 20px; color: #333; font-weight: normal; width: 100%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
#A_Container_R .pro_list li .cont_box span {color: #666; }
#A_Container_R .pro_list li .cont_box p {color: #999; font-weight: 300; line-height: 28px; padding: 5px 0 0; overflow: hidden; 
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* 라인수 */
    -webkit-box-orient: vertical;
    word-wrap:break-word; }
#A_Container_R .pro_list li .cont_box p img {display: none;}
#A_Container_R .pro_list li .cont_box strong {color: #999; font-weight: 300; line-height: 28px;overflow: hidden; 
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* 라인수 */
    -webkit-box-orient: vertical;
    word-wrap:break-word; }
#A_Container_R .pro_list li .cont_box .price {font-size: 20px; color: #333; font-weight: 500; display: block; margin-top: 10px;}



.chk_box {float: left;}
.chk_box input[type="checkbox"] {display: none;}
.chk_box input[type="checkbox"] + label {display: block; cursor: pointer;}
.chk_box input[type="checkbox"] + label:after {display: block; clear: both; *zoom: 1; content: '';}
.chk_box input[type="checkbox"] + label p {width: calc( 100% - 44px); float: left;}
.chk_box input[type="checkbox"] + label span {display: block; float: left; width: 24px; height: 24px;  background: url(/srm/images/sub/checkbox_off.png) no-repeat 0 40%; padding: 10px 5px;}
.chk_box input[type="checkbox"]:checked + label span {background: url(/srm/images/sub/checkbox_on.png) no-repeat 0 40%;}





.chk_box input[type="radio"] {display: none;}
.chk_box input[type="radio"] + label {display: block; cursor: pointer; margin: 0 10px 0 0;}
.chk_box input[type="radio"] + label:after {display: block; clear: both; *zoom: 1; content: '';}
.chk_box input[type="radio"] + label p {float: left; line-height: 26px; color: #666;}
.chk_box input[type="radio"] + label span {display: block; float: left; width: 26px; height: 26px; margin: 0 10px 0 0; background: url(/srm/images/sub/radio_off.png) no-repeat 0 0;}
.chk_box input[type="radio"]:checked + label span {background: url(/srm/images/sub/radio_on.png) no-repeat 0 0;}



#A_Container_L .nav .chk_box input[type="checkbox"] + label span {display: block; float: left; width: 20px; height: 20px;  background: url(/srm/images/sub/p_check_off.png) no-repeat 0 50%;}
#A_Container_L .nav .chk_box input[type="checkbox"]:checked + label span {background: url(/srm/images/sub/p_check_on.png) no-repeat 0 50%;}


#A_Container_R ul.pro_list02 li { width: 425px; float: left; margin-right: 20px; min-height: 540px;}
#A_Container_R ul.pro_list02 li:nth-child(2n+2) {margin-right: 0;}
#A_Container_R ul.pro_list02 li .a_box a {width: 110px; margin-left: 2px; padding: 0 0 0 30px;}

#A_Container_R .pro_list02 li .img_box {float: none; margin: 0 auto;}
#A_Container_R .pro_list02 li .cont_box {padding: 10px 0; width: 100%;}



.w_100 #A_Container_R {width: 100%;}  








/*제품상세*/


.prov_slide {float: left; width: 500px; overflow: hidden;}
.prov_slide .slider-for {width: 500px; height: 500px; overflow: hidden;}
.prov_slide .slider-for img {box-sizing: border-box; width: 100%; vertical-align: top; }
.prov_slide .slider-for .slick-list  .slick-track img{height: 500px;}
.prov_slide .slider-nav { width: 100%; margin-top: 10px;}
.prov_slide .slider-nav:after {clear: both; content: ''; display: block;}
.prov_slide .slider-nav .img_box {position: relative; box-sizing: border-box; vertical-align: top; cursor: pointer; border: 1px solid #ddd;  float: left; width: 92px; height: 92px; margin-right: 10px; }
.prov_slide .slider-nav .img_box:last-child {margin-right: 0;}
.prov_slide .slider-nav .img_box img {width: 100%; height: 100%; vertical-align: top;}
.prov_slide .slider-nav .slick-current {border : 1px solid #333;}


.pdtop {margin-top: 10px;}
.pdtop:after {display: block; clear: both; content: '';}
.prov_cont {float: right; width: calc(100% - 580px);}
.prov_cont ul {display: table; border-collapse: collapse;}
.prov_cont ul li{overflow: hidden;}
.prov_cont ul li:nth-child(4){margin-top: 30px;}
.prov_cont ul li p {font-size: 18px; color: #666;}
.prov_cont ul li h3 {font-size: 30px; color: #333; margin-top: 20px;}
.prov_cont ul li.line {border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; padding: 10px 0; margin: 10px 0;}
.prov_cont ul li.li_mg {margin: 20px 0;}
.prov_cont ul li p.tit {font-size: 18px; color: #333; margin-bottom: 20px; min-height: 96px;}
.prov_cont ul li p.tit2 {float: left; min-height: auto;}
.prov_cont ul li p.tit2:nth-child(2) {clear: both;float: left; }
.prov_cont ul li p.tit span{font-size: 16px; color: #999; margin-top: 10px; display: block;}
.prov_cont ul li p.tit span.inven {display: inline;}
.prov_cont ul li strong {float: right; font-size: 30px; color: #333;}
.prov_cont ul li strong input {width: 100px; height: 40px;  vertical-align: top; border: 1px solid #ddd; font-size: 16px; color: #999; padding: 0 10px; text-align: center; box-sizing: border-box; background: none; border-right: none; border-left: none;} 
.prov_cont ul li .vol_btns {font-size: 0;}
.prov_cont ul li.btn_list {clear: both; margin-top: 50px;}
.prov_cont ul li.btn_list button {width: 186px; height: 60px; text-align: center; margin-right: 10px; font-size: 18px;}
.prov_cont ul li.btn_list button:last-child {margin-right: 0;}


.pv_tab_area {padding: 100px 0 0;}
.pv_tab_area .sub_con_tab{border-top: 1px solid #ddd; width: 100%; background: transparent; }
.pv_tab_area .sub_con_tab li {width: calc(100%/4);border-radius: 0;background: transparent;position: relative;border-bottom: 1px solid #333;}
.pv_tab_area .sub_con_tab li:first-child:after  {display: none;}
.pv_tab_area .sub_con_tab li:nth-child(2) {margin: 0;}
.pv_tab_area .sub_con_tab li.active {border: 1px solid #333;  border-bottom: none; box-sizing: border-box; background: transparent;  }


.pv_tab_area .sub_con_tab li.active a {color: #1c84f8; }

.pv_table {border-top: 1px solid #333;}
.pv_table tbody th{background: #eee; width: 200px; color: #333}
.pv_table tbody td {text-align: center; color: #999;}

.pv_tab_area .dateil_area {position: relative; width: 100%; min-height: 500px;
background: #eee; padding: 20px;box-sizing: border-box;}
.pv_tab_area .dateil_area p {}
/*.pv_tab_area .dateil_area img {width: 100%;}*/
.pv_tab_area .video_area {width: 100%; height: 100%;}
.pv_tab_area .video_area iframe{width: 100%;}
.pv_tab_area .tab_table {}
.pv_tab_area .tab_table tr {height: 75px; border-top: 1px solid #ddd; }
.pv_tab_area .tab_table tr:last-child {border-bottom: 1px solid #ddd;}
.pv_tab_area .tab_table tbody th {width: 1050px; text-align: left}
.pv_tab_area .tab_table tbody th a {padding: 0 0 0 60px;  background: url(/srm/images/sub/icon_manual.png)no-repeat 20px 50%; text-align: left; color: #1c2032; font-weight: 400px; display: block; font-weight: 400; }
.pv_tab_area .tab_table tbody th a p {color: #999;}
.pv_tab_area .tab_table tbody td {width: 130px; }
.pv_tab_area .tab_table tbody td  a{ padding: 0 0 0 50px; background: url(/srm/images/sub/icon_download.png)no-repeat 0 0; font-weight: 500; color: #666;}



/* 주문하기*/
.order .section_tit {margin-top: 60px;}
.order .table  {width: 750px; padding: 0 20px; }
.order .table_type02 thead tr th{font-size: 18px; font-weight: bold; color: #333; border-bottom: 1px solid #ddd;}
.order .table_type03 tbody tr td .cart_div .img_box {border: none;}

.order .table tr {padding: 0 10px;}
.order .order_write .table_type02 tr td {padding: 5px 20px 5px 0; line-height: 50px; vertical-align: top;}
.order .order_write .table_type02 tr:first-child td{padding: 15px 20px 5px 0;}
.order .order_write .table_type02 tr:last-child td{padding: 5px 20px 15px 0;}
.order .order_write .table_type02 tr.mail input {width: 162px;}
.order .order_write .table_type02 tr.mail select {margin: 0 0 0 10px}
.order #order_left {float: left;}
.order .table_type02 tr.phone input {width: 163px;}
.order .table_type02 input.wd250 {width: 250px;}
.order .table_type02 tr td p {margin-top: 0;}
.order .radio_box {float: none; }



.order .radio {float: left; width: 33.3%;}
.order .btn_delivery {position: absolute; right: 0; width: 120px; height: 40px; text-align: center; top: 0; font-size: 16px;}


.order .fl_left { position: relative; }

.order .fl_left h4{float: left; margin-right: 20px;}
.order .fl_left input[type="checkbox"] + label span {display: block; float: left; width: 20px; height: 20px;  background: url(/srm/images/sub/order_check_off.png) no-repeat 0 40%; padding: 10px 5px;}
.order .fl_left .chk_box  {width: 200px;}
.order .fl_left .chk_box input[type="checkbox"]:checked + label span {background: url(/srm/images/sub/order_check_on.png) no-repeat 0 40%;}
.order .fl_left .chk_box p {padding: 8px 0 ; font-size: 14px; color: #666;}
.order .table_type02 input.wd360 {width: 360px;}
.order .table_type02 tr.add input {margin-bottom: 10px;}
.order .table_type02 tr.add input:last-child {margin-bottom: 0;}
.order .table_type02 tr.add .zip_code {height: 50px; width: 150px; float: right; font-size: 16px; }

.order .table_type02 .pay_bank select {width: 100%;}
.order .table_type02 .document button {width: 200px; height: 40px; font-size: 16px; display: block;}
.order .table_type02 .document td {line-height: 30px;}
.order .table_type02 .chk .chk_box p{color: #666; padding: 8px 0; font-size: 14px; line-height: 24px; width: calc( 100% - 40px);}
.order .table_type02 .inner_table {}
.order .table_type02 .inner_table th {width: 120px; padding: 0; color: #666;}
.order .table_type02 .inner_table td { padding: 10px 0;}
.order .table_type02 .inner_table td input{ width: 100%; height: 40px;}
.order .table_type02 .inner_table .mail td input {width: 190px;}
.order .table_type02 .inner_table .mail td select {width: 190px; height: 40px; margin-top: 10px;}

/*20200806 주문하기 -결제테이블*/

.table_pay {margin: 0; }
.table_pay2 {border-top: none;}


/*주문하기 팝업 */

.order_poparea .pop_wrap {width: 710px; padding: 0 0;}
.order_poparea .pop_wrap .tit {background: #1c84f8; color: #333; padding: 0 20px 0;}
.order_poparea .pop_wrap .tit h3 {color: #fff; font-size: 18px; line-height: 60px;}
.order_poparea .pop_wrap .tit .btn_close{background: url(/srm/images/sub/icon_close_wh.png)no-repeat center;}
.order_poparea .pop_contents {padding: 0 20px 40px;}


.order_poparea .pop_contents .radio_table {width: 100%;}
.pop_wrap .pop_contents .radio_table tr {border-bottom: 1px solid #ddd; height: 60px;}
.pop_wrap .pop_contents .radio_table thead th{font-size: 16px; color: #333;  text-align: center; font-weight: 500;}
.pop_wrap .pop_contents .radio_table tbody tr:last-child {border-bottom: 1px solid #333;}
.pop_wrap .pop_contents .radio_table tbody tr td{text-align: center; color: #666; font-size: 14px;}
.pop_wrap .pop_contents .radio_table tbody tr td.add_name {text-align: left;}
.pop_wrap .pop_contents .radio_table .btn_modify {width: 50px; height: 40px; text-align: center; border: 1px solid #eee;}


.order_poparea .pop_wrap .pop_contents .btn_box {padding: 0; margin-top: 40px;}
.order_poparea .pop_wrap .pop_contents .btn_box .btn_wh {border: 1px solid #ddd;}



.pop_wrap .pop_contents .modify_table tr {border-bottom: 1px solid #ddd; padding: 5px 0;}

.pop_wrap .pop_contents .modify_table tbody tr:last-child {border-bottom: 1px solid #333;}

.pop_wrap .pop_contents .modify_table tbody tr th {font-size: 14px; color: #333; width: 200px; vertical-align: top; padding: 20px 0;}
.pop_wrap .pop_contents .modify_table tbody tr.add td input.wd360 {width: 222px; float: left;}
.pop_wrap .pop_contents .modify_table tbody tr.add input:nth-of-type(2) {margin: 10px 0;}

.pop_wrap .pop_contents .modify_table tbody tr.add .zip_code {width: 230px; text-align: center; height: 40px; float: right;}
.pop_wrap .pop_contents .modify_table tbody tr.phone td input {width: 144px;}
.pop_wrap .pop_contents .modify_table tbody tr.mail td input {width: 152px;}

.pop_wrap .pop_contents .modify_table tbody tr input {width: 100%; height: 40px; border: 1px solid #ddd; box-sizing: border-box; padding: 0 10px;}
.pop_wrap .pop_contents .modify_table tbody tr td{text-align: center; color: #666; font-size: 14px; padding: 10px 0;}
.pop_wrap .pop_contents .modify_table tbody tr td .chk_box p{ float: left; padding: 8px 0;}
.pop_wrap .pop_contents .modify_table tbody tr th span{color: #f03162}
.pop_wrap .pop_contents .modify_table tbody tr td.add_name {text-align: left;}
.pop_wrap .pop_contents .modify_table .btn_modify {width: 50px; height: 40px; text-align: center; border: 1px solid #eee;}





.order_poparea .pop_wrap .pop_contents .modify_table tbody tr.mail td input {width: 143px}
.order_poparea .pop_wrap .pop_contents .modify_table tbody tr.mail td select {width: 153px;height: 30px;border: 1px solid #ddd;box-sizing: border-box;padding: 0 10px;background: url(/srm/images/sub/arrow_down.png) no-repeat 94% 50% #fff;}

.order_poparea .pop_modify .pop_wrap .pop_contents .modify_table tbody tr.mail td select{
	height: 40px;
}

.pop_modify2 .pop_wrap .pop_contents .modify_table tbody tr td input {height: 30px;}
.pop_modify2 .pop_wrap .pop_contents .modify_table tbody tr td .zip_code {height: 30px;}
.pop_modify2 .pop_wrap .pop_contents .modify_table tbody tr th {line-height: 1.2; padding-top: 15px}


/*오른쪽 메뉴*/

.order #order_right {float: right; padding-bottom: 30px; position: relative;}
.order .order_price {width: 400px; box-sizing: border-box;}
.order .order_price table {width: 100%;}
.order .order_price table thead tr {border-bottom: 1px solid #ddd; height: 100px;}
.order .order_price table thead th {font-size: 24px; color: #333; text-align: left; font-weight: bold;}
.order .order_price table tbody {}
.order .table_type02 > tr.mail input {width: 162px; }
.order .table_type02 > tr.mail select {margin:  0 0 0 10px;}
.order .order_price table tbody tr{text-align: left; border: none; height: 70px;}
.order .order_price table tbody tr th {font-weight: 400;}

.order .order_price table tbody tr.total {border-top: 1px solid #333; border-bottom: 1px solid #ddd; height: 100px;}
.order .order_price table tbody tr.total {color:#1c84f8; }
.order .order_price table tbody tr.total th {font-weight: bold;}
.order .order_price table tbody tr.total td {color: #1c84f8; font-size: 26px;}
.order .order_price table tbody tr.total td span {font-size: 16px; color: #333;}
.order .order_price table tbody tr td{text-align: right; color: #333; font-weight: bold;}
.order .order_price table tbody tr th button{width: 260px; height: 60px; text-align: center;font-size: 18px; margin: 0 auto; display: block;}
.order .order_price table tbody tr th button.btn_wh {margin-top: 30px; border: 1px solid #333;}
.order .order_price table tbody tr th button.btn_blue {margin-top: 20px;}
.btn_box_p {padding: 60px 0 0;}

.order .pay_box .table_type02 tr:first-child td {padding-top: 0px;}

.order .table_type02 tr td {padding: 15px 20px 0 0 }

/*주문완료*/
.order_finish .order_top {width: 100%; padding: 30px 20px 20px; background: #fff; border-top: 2px solid #333; clear: both;box-sizing: border-box;}
.order_finish .order_top img {display: block; margin: 0 auto ; text-align: center;}
.order_finish .order_top  p {font-size: 20px; color: #333;text-align: center; margin-top: 30px;}
.order_finish .order_top  p strong {font-size: 26px; color: #1c84f8;}
.order_finish .order_top  p span {color: #1c84f8;}
.order_middle {margin-top: 60px;}
.order_finish .order_middle .table tr {height: 70px;}
.order_finish .order_middle .table_type02 tr td {padding: 17px 0 0; line-height: 24px;}
.order_finish2 .order_middle .table_type02 tr td {padding: 0;}
.order_finish .order_btn {padding-top: 50px; margin: 0 auto; text-align: center;}
.order_finish .order_btn button {width: 260px; height: 60px; text-align: center; font-size: 18px; margin-right: 10px;}
.order_finish .order_btn button:last-child {margin-right: 0;}


/*주문 상세*/
.order_view .cart_price_box2 {margin-top: 0;}
.order_view .btn_sbox {float: right;} 
.order_view .btn_sbox button {height: 40px; width: 140px; font-size: 16px;}
.order_view .table_type02 tr td {line-height: 24px;}
.order_view .table_type02 tbody tr:last-child td {padding-bottom: 10px;}


/*반품,교환 요청*/
.return .table tbody tr.text_area td {padding:20px;}
.return .table tbody td textarea {width: 100%; min-height: 200px; box-sizing: border-box;padding: 10px; border: 1px solid #ddd; color: #999; font-size: 16px;}
.return textarea::placeholder {color: #999;} 
.textarea_table tbody tr th { padding-top: 10px;}






/*첨부파일*/


.file_box {position: relative; float: left; margin: 0 0 10px;}
.file_box:after {display: block; clear: both; *zoom: 1; content: '';}
.file_box label {float: left; display: block;  width: 120px; height: 40px; line-height: 40px; font-weight: 500; color: #fff; background: #999; text-align: center; cursor: pointer; font-size: 16px; margin-right: 10px;}
.file_box input[type="file"] {display: none; position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip: rect(0,0,0,0); border: 0;}
.file_box .upload_name {display: block; float: left; overflow: hidden; width: 420px; height: 40px; padding: 0 20px; text-overflow: ellipsis; white-space: nowrap; word-break: break-all; margin: 0 0 0 10px; background: #fff; color: #999; border: none;}



/*회원정보관리*/
.user .pv_tab_area {padding: 0;}
.user .chk_box {float: none;}
.user .chk_box p {padding: 5px 0; line-height: 30px;}
.user .file_box p { clear: both; font-size: 14px; }
.user tbody tr.add input:nth-of-type(1) {width: 360px; margin-right: 10px;}
.user tbody tr.add button.zip_code { width: 170px; height: 50px; font-size: 16px; vertical-align: top;}
.user tbody tr.add input:nth-of-type(2) {margin: 10px 0;}
.user .table_type02 tr td {line-height: 50px; }
.user .table_type02 tr:last-child td {padding-bottom: 10px;}
.user .table_type02 tr td input::placeholder {color: #999; }
.user .btn_box {padding: 60px 0 0;}
.user .tax_table tbody tr td{text-align: center;}
.user .tax_table tbody tr td span.repre {color: #1c84f8;}
.user .tax_table tbody tr td.btn_area button {width: 80px; margin-right: 10px; height: 40px; font-size: 16px;}
.user .tax_table tbody tr td.btn_area button:nth-child(2) {margin-right: 0;}
.user .tax_table tbody tr td.btn_area .btn_del {border: 1px solid #999; color: #999;}
.user .cont {display: inline-block; font-size: 16px;}
.user .cont span {font-size: 18px; color: #1c84f8; font-weight:bold}
/*세금계산서발행정보*/
.user .table_type02 tbody tr th{width: 220px;}
.user .table_type02 tr select {margin: 0 5px 0;}
.user .table_type02 tbody tr.add th {line-height: 1.6;}
/*배송지관리*/
.user_add .table_type02 tr.mail input {width: 251px;}
.user .order_list .a_option {float: none; margin-bottom: 40px;}
.user .order_list .a_option select {width: 220px; background: url(/srm/images/sub/arrow_down.png) no-repeat 92% 50% transparent;}
/*조직관리*/
.user #user_04 .table tr td {text-align: center;}
.user #user_04  .btn_box {padding: 0 0 30px;}
.user #user_04 .table_type01 .save_btn .left button.btn_wh {width: 80px; border: 1px solid #333; height: 40px; font-size: 16px;}
.user .table_type02 tr.id input {width: 360px;margin-right: 10px;}
.user .table_type02 tr.id button.id_btn { width: 170px; height: 50px; font-size: 16px; vertical-align: top;}




/*하위회원*/
/*하위회원 결재요청*/
.order2 #order_left {float: none;}
.order2 .table {width: 100%;}
.order2 .table_type02 tr.add .zip_code {margin-left: 10px; float: none;vertical-align: top}
.order2 .table_type02 tr td {padding: 10px 20px 10px 0}
.order2 .btn_box {padding: 0;}

.pd0 {padding: 0;}


.pro_tab_area_hide {display: none;}
.pro_tab_area_hide li.active {background: #1c2032;}
.pro_tab_area_hide li.active a {color: #fff; }
.pro_tab_area_hide li.active a:before {visibility: visible; opacity: 1;}



.return .btn_box {padding: 60px 0 0;}

/*#order_right {position: fixed; right: 400px; top: 200px;}*/
#order_right.on {position: absolute; bottom: 450px; }
#order_right {position: relative; }


/*개인정보취급방침, 이용약관*/

.data {background-color: #fff; box-sizing: border-box; padding: 40px 60px; min-height: 500px;}
.data p {color: #333; line-height: 1.6}
.data p + p {padding: 30px 0 0;}
.data p span {display: inline-block; width: 80px;  margin: 0 20px 0 0;}
.data p em {padding: 4px 0 0 20px; font-style: normal; display: block;} 
.data p em.tin {padding: 0 0 0 30px;}











