@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap');

/* popup - 견적서 */
#popupE { color:#000; width:820px; /*height:1090px;*/ overflow:hidden; position:relative; }
#popupE > img.logo { position:absolute; top:18px; left:13px; }
#popupE > img.stamp { position:absolute; top:146px; right:112px; }
#popupE h1 { text-align:center; font-weight:bold; font-size:38px; line-height:38px; color:#000; margin: 40px 0 25px; letter-spacing: 5px; }
#popupE .topBox { width:795px; margin:5px auto 0;overflow:hidden; }
#popupE .topBox p { float:left; margin:0 8px; }
.stampCon { width:807px; margin:0 auto; overflow:hidden;}
#popupE .box { width:795px; color:#000;  overflow:hidden; border:2px solid #000; }
.sectE1 { height:auto; margin:0 auto; }
.sectE1 > div { height:194px; overflow:hidden; }
.sectE1 > .left { float:left; width:405px; box-sizing: border-box; padding: 20px;}
.sectE1 > .left h2 { font-weight:500; font-size:22px; letter-spacing:0.02em; margin:0 0 0 18px; text-align: center;}
.sectE1 > .left h2 .han {font-size: 16px; font-weight: 500;}
.sectE1 > .left p { line-height:19px; font-size: 10px;}
.sectE1 > .left p .tit {width: 50px; display: inline-block; text-align: right;}
.sectE1 > .left p span.mar { margin: 0 0 0 20px;}
/*.sectE1 > .left p span { margin-right:108px; }*/
.sectE1 > .left p.bold { margin-top:5px; font-weight:bold; }


.sectE1 > .right { float:right; width:386px; }
.sectE1 > .right h2 { float:left; width:33px; height:100%; padding-top:55px; border-left:1px solid #787878; background:#e6e6e6;font-weight: 500; line-height:30px; font-size:13px; text-align:center; }
.sectE1 > .right ul { float:left; width:351px;  }
.sectE1 li { clear:both; width:100%; overflow:hidden; border-top:1px solid #000; height:38px; line-height:38px; }
.sectE1 li:first-child { border-top:none; }
.sectE1 li.stamp {position: relative;}
.sectE1 li p { float:left; width:60px; border-left:1px solid #787878; text-align:center; letter-spacing:-0.05em; font-size: 10px;}

.sectE1 li p.tit2 { width:100px; }
.sectE1 li span { width:188px; display:block; float:left; width:auto; border-left:1px solid #787878; padding-left:2px; letter-spacing:-0.07em; font-size: 10px; word-break: keep-all; text-align: center;}
.sectE1 li span.wd_cal {width: calc(100% - 70px)}
.sectE1 li span.wid1 { width:111px; }
.sectE1 li span.wid2 { width:170px; }
.sectE1 li span.letter1 { font-size:11px;  }
.sectE1 li span.letter2 { line-height:14px;  height: 100%; padding-top: 5px; }


.sectE1 > div.total {height: auto; overflow: initial; border-top:1px solid #000; clear: both; height: 28px; line-height: 28px;}
.sectE1 > div.total p {float: left; width: 250px; font-size: 12px; font-weight: bold; padding: 0 0 0 20px;}
.sectE1 > div.total strong {font-weight: 700; font-size: 14px;}
.c_red {color: red;}
.sectE1 > div.total .center .total_price_txt {font-size: 14px; margin: 0 0 0 10px;}
.sectE1 > div.total .center span {font-size: 14px;}

.fosi14 {font-size: 14px !important;}
.fosi11 {font-size: 11px !important;}





.sectE2 { margin:2px auto 0; }
.tableE { width:100%; color:#000; letter-spacing:-0.05em;  }
.tableE th { background:#e6e6e6;  padding:4px 0 5px; border-left:1px solid #000;font-size: 9px; }

.tableE tr {border-top: 1px solid #000; }
.tableE .pd_info {border-bottom: 1px dotted #000; height: 35px;}
.tableE th:first-child, .tableE td.first  { border-left:0; font-size: 10px; }
.tableE td { border-left:1px solid #000; text-align:center; padding:4px 0 5px; font-size: 11px; }
.tableE td.left{ text-align:left; padding-left:8px; font-size: 11px; }
.tableE td.bdTNone { border-top:0; }
.tableE tfoot th { border-top:1px solid #000; font-weight:500;text-align: right; padding: 0 10px}
.tableE tfoot td {text-align: right; padding: 0 10px}
.ver2 tr.first th, .ver2 tr.first td { border-top:2px solid #000; }
.ver2 th { border-top:1px solid #000; padding:14px 0; font-weight: 500;}
.ver2 td {text-align: left; padding: 0 0 0 10px;}
.ver2 tr.last th, .ver2 tr.last td { height:50px; }
.ver2 .c_box {padding: 10px 0; }
.ver2 .sign {margin: 15px 0 0 auto; width: 250px; }
.ver2 .sign .sign_area {border: none;  border-bottom: 2px solid #000; font-size: 10px; margin: 0 0 10px; padding: 0 10px; box-sizing: border-box;}
#popupE > p { margin:5px 0 0 10px; }

.c_blue {color: blue}
.esti_con {text-align: left; box-sizing: border-box; padding: 0 5px;}
.esti_con li {font-size: 9px;}
