@charset 'utf-8';

/* privacy */
.privacy { color:#666; width: 100%; overflow: hidden; box-sizing:border-box; padding:20px; font-size:15px;	line-height: 140%; word-break:break-all; }
.privacy h2 { font-size:18px; font-weight:bold; color:#000; text-align: left; margin:50px 0 30px; }
.privacy h2:first-child { margin-top: 0; }
.privacy > p { margin:15px 0; }
.privacy > p+dl { margin-top: 30px; }
.privacy > dl { padding-bottom:20px;}
.privacy > dl > dt{ font-size:15px;color:#3680b9;font-weight:700;padding-bottom:5px;}
.privacy > dl > dd{ padding-bottom:10px;text-align:justify; font-size:15px; line-height:140%;}
.privacy > dl > dd ul{ padding:10px; }
.privacy > dl > dd ul li{ line-height:120%; margin-top: 10px; }
.privacy > dl > dd ul li:first-child { margin-top: 0; }
.privacy > dl > dd ul li p { margin:0 10px 5px; line-height: 140%; }
.sTxt h3 { font-size:16px; color: #333; font-weight: 700; margin: 20px 0 10px; }
.sTxt p { margin-top: 10px; }
.sTxt dt { margin-top: 10px; }
.sTxt dd { margin:0 8px; }


/*layout*/
#wrap { min-width: 1200px; margin: 0 auto; width: 100%; overflow: hidden; }
#wrap > article { margin:163px auto 0; overflow: hidden;  }
#wrap .sub { width:1200px; padding:50px 0 100px; margin: 0 auto; overflow: hidden; }


/*header*/
.headerWrap { position: fixed; top: 0; left: 0; width:100%; background: #fff; z-index:100; }
header { width: 100%; min-width:420px; height: 95px; overflow: hidden; height: 100%; box-sizing:border-box; padding:0 30px; /* position: fixed; top: 0; left: 0;  */}
header h1 { float: left; margin-top:20px; }
header nav { float: right; width: auto; height: 100%; }
#gnb { float: left; width:auto; margin-right: 50px; }
#gnb > li { float: left; height: 100%; margin-left: 60px; width:auto; padding:0 20px; position: relative; }
#gnb > li:first-child { margin-left: 0; }
#gnb > li > a { display: block; color: #262626; font-size:17px; line-height:95px; }
#gnb > li.on > a { color: #01a982; }
#gnb > li.on:after { content: ""; display: block; width: 100%; height:5px; background: #01a982; position: absolute; bottom: 0; left: 0;  }
#gnb > li > ul { display: none; }
header .topBtn { float: right; margin-top: 25px; }
header .topBtn a { display: block; width: 135px; height: 45px; box-sizing:border-box; border:2px solid #01a982; border-radius:5px; color: #262626; font-weight: 700; font-size:15px; line-height:42px; text-align: center; font-family: "Montserrat"; }
.cateM { display: none; }
#lnb { width: 100%; height:68px; background: #262626; box-sizing:border-box; position: relative; }
#lnb:after { content: ""; display: block; clear:both; }
#lnb .menu { width: 1200px; margin: 0 auto; height: 100%; box-sizing:border-box; position: relative; }
#lnb .menu > p { float: left; width:68px; height:100%; background: #01a982; }
#lnb .menu > p > a { display: block; width: 100%; height: 100%; position: relative; }
#lnb .menu > p > a img { position: absolute; top: -9999px; right: -9999px; bottom: -9999px; left: -9999px; margin: auto; }
#lnb .menu > div { float: left; width: 210px; box-sizing:border-box; height:100%; border-right:1px solid #515151; position: relative; }
#lnb .menu > div > a { display: block; width: 100%; height:68px; line-height:68px; color: #fff; font-size:17px; font-weight: 700; text-indent:25px; background:url(../img/common/bullet_lnb.gif) no-repeat 90% center; }
#lnb .menu > div ul { display: none; position: absolute; top: 68px; left: -1px; width: 100%; overflow: hidden; z-index:99; }
#lnb .menu > div li { display: none; overflow: hidden; width: 100%; height:50px; background: #f5f6f6; border-top:1px solid #ddd; }
#lnb .menu > div > ul > li { display: block; }
#lnb .menu > div li a { display: block; width: 100%; height:100%; line-height:50px; font-size:17px; text-indent:20px; font-weight: 500; }

#lnb .tel { position: absolute; top: 8px; right: 20px; color: #fff; padding-left: 30px; }
#lnb .tel h3 { font-size:25px; line-height:120%; font-weight: 500;   }
#lnb .tel p { font-size:14px; }
#lnb .tel i { position: absolute; top: 10px; left: 0; color: #01a982; font-size:25px;  transform:rotate(110deg); -webkit-transform:rotate(110deg);  }



@media screen and (max-width:1700px) {
	header { padding:0 15px; }
	#gnb { margin-right: 30px;  }
	#gnb > li { margin-left: 40px; padding:0 10px; }

}
@media screen and (max-width:1400px) {
	#gnb { margin-right: 20px;  }
	#gnb > li { margin-left: 20px; }
	header .topBtn a { width: 105px; }
}

@media screen and (max-width:640px) {
	.tab_s1 li  { width:32% !important; margin-bottom:10px;}
	.tab_s1 li:nth-child(3n) { margin-right:0 !important;}
	.tab_s1 li a { font-size:16px !important;}
	.tab_s1.fixed { left:0 !important;}
	
}



/*mobileCateogry*/
.mobileNav { height: 100%; width: 280px; right: 0; top: 0; z-index: 99999; position: fixed; overflow-y: auto; overflow-x: visible; transition:all .3s; -webkit-transition:all .3s; transform:translate3d(100%,0,0); -webkit-transform:translate3d(100%,0,0); display:none \9;  }
.mobileNav.on { transform:translate3d(0,0,0); -webkit-transform:translate3d(0,0,0); display:block \9; }
.m_bg { display: none; position: fixed; top: 0; right: 0; bottom: 0; left: 0; background-color: rgba(0,0,0,.5);  z-index: 9999; opacity:0; transition:all .3s; -webkit-transition:all .3s; }
.m_bg.on { opacity:1; display: block; }
.mobileNav > div { position:absolute; right:0; height:100%; width:280px;background:#fff; }
.mobileNav .top { overflow: hidden; height: 85px; margin:0 10px; box-sizing:border-box; position: relative;	 }
.mobileNav .top h1 { text-align: center; margin-top: 20px; }
.mobileNav .top .close { display: block; width: 22px; height: 22px; position: absolute; top: 35px; right: 5px; overflow: hidden; text-indent:-9999px; }
.mobileNav .top .close:before { content: ""; display: block; width: 2px; height: 30px; background: #2b2b2b; position: absolute; top: -5px; left: 10px; transform:rotate(45deg); -webkit-transform:rotate(45deg); border-radius:1px;  }	
.mobileNav .top .close:after { content: ""; display: block; width: 2px; height: 30px; background: #2b2b2b; position: absolute; top: -5px; right:10px; transform:rotate(-45deg); -webkit-transform:rotate(-45deg); border-radius:1px; }	
#gnbM { width:100%; overflow:hidden; }
#gnbM > li { border-top:1px solid #646464; }
#gnbM li:first-child { border-top:none; }
#gnbM li a { display:block; width:100%; text-indent:20px; position:relative;   }
#gnbM li a:before,
#gnbM li a:after { content: ""; display: block; position: absolute;  }
#gnbM > li > a { height:55px; line-height:55px; background:#555; color:#fff; font-size:17px; font-weight:500; box-sizing:border-box; }
#gnbM > li > a:before { width: 2px; height: 12px; background: #fff; top:22px; right:25px;  }
#gnbM > li > a:after { width: 12px; height: 2px; background: #fff; top:27px; right:20px;  }
#gnbM > li.on > a { background:#01a982; }
#gnbM > li.on > a:before { width:12px; height:12px; top: 19px; right:20px; background:none; box-sizing:border-box; border-right:2px solid #fff; border-bottom:2px solid #fff; transform:rotate(45deg); -webkit-transform:rotate(45deg); }
#gnbM > li.on > a:after { display: none; }
#gnbM > li ul { display:none; background:#f2f2f2; overflow: hidden; }
#gnbM > li li { border-top:1px solid #dddedf; }
#gnbM > li li a { height:45px; line-height:45px; color:#666; font-size:16px; }
#gnbM > li li.on a { color:#01a982; background:#fff; }
#gnbM > li li a:before { width:12px; height:12px; top: 17px; right:20px; background:none; box-sizing:border-box; border-right:2px solid #999; border-bottom:2px solid #999; transform:rotate(-45deg); -webkit-transform:rotate(-45deg); }
#gnbM > li li.on a:before { border-color:#01a982; }





/*footer*/
footer { width: 100%; background: #262626; overflow: hidden;  }
.sitemap { border-bottom:1px solid #3e3e3f; }
.sitemap > article { width:1200px; margin:45px auto; overflow: hidden; }
.sitemap > article dl { float: left; }
.sitemap > article dt { color: #bababa; font-size:18px; font-weight: 700; line-height:120%; position: relative; padding-bottom: 20px; margin-bottom: 25px; }
.sitemap > article dt:after { content: ""; display: block; width: 20px; height: 1px; background: #565658; position: absolute; bottom: 0; left: 0; }
.sitemap > article dl { float: left; width:160px; }
.sitemap > article dl.last { width:240px; }
.sitemap > article dl.last dd { width:50%; float: left; }
.sitemap > article dd { font-size:14px; line-height:28px; letter-spacing:-.5px; }
.sitemap > article dd a { color: #888; }	
.sitemap > ul { width:1200px; overflow: hidden; margin: 0 auto; text-align: right; }
.sitemap > ul li { display: inline-block; vertical-align: top;	}
footer > article { width:1200px; margin: 50px auto; overflow: hidden; color: #bababa; position: relative; }
footer address { font-size:13px; }
footer address p:not(.txt) { display: inline-block; vertical-align: top; margin-right: 20px; line-height:26px; }
footer address p span { font-family:"Montserrat"; font-weight: 300; }
footer address p.txt { line-height:120%; }
footer .copyright { font-family:"Montserrat"; font-weight: 500; margin-top: 15px;  }
footer .link { position: absolute; top: 5px; right: 0; font-size:13px; }
footer .link > a { color: #bababa; }



@media screen and (max-width:1200px) {

	/*layout*/
	#wrap { min-width: 420px; }
	#wrap .sub { width:100%; padding:50px 15px 100px; box-sizing:border-box; }


	/*header*/
	header { padding:0 15px; height: 95px; }
	header h1 { float: left; margin-top:20px; }
	header nav, header .topBtn { display: none; }
	#lnb .menu { width: 100%; }
	#lnb .menu > div { width: calc(50% - 34px); }
	.cateM { display: block; position: absolute; top: 35px; right: 15px; width:40px; height:25px; cursor:pointer; }
	.cateM i { position: absolute; left: 0; top: 0; display: block; width:100%; height:5px; background: #262626; font-size:0; }	
	.cateM i:nth-child(2) { top: 10px; }
	.cateM i:last-child { top: 20px; }
	#lnb .tel { display: none; }

	/*footer*/
	.sitemap { display: none; }
	footer > article { width:100%; margin:0 auto; padding:50px 15px; box-sizing:border-box; }
	footer address { font-size:13px; line-height:26px; }
	footer address p { display: inline-block; vertical-align: top; margin-right: 20px; }
	footer address p span { font-family:"Montserrat"; font-weight: 300; }
	footer .copyright { font-family:"Montserrat"; font-weight: 500; }
	footer .link { top: 15px; right: 15px; }


}


@media screen and (max-width:650px) {

	/*layout*/
	#wrap > article { margin-top:140px; }
	#wrap .sub { padding:20px 15px 50px; }


	/*header*/
	header { height: 85px; }
	header h1 { margin-top:20px; }
	header h1 img { height:45px; }
	.cateM { top: 30px; }
	#lnb .menu { width: 100%; }
	#lnb .menu > div { width: calc(50% - 34px); }
	#lnb { height:55px; }
	#lnb .menu > p { width:50px; }
	#lnb .menu > div { width: calc(50% - 25px); }
	#lnb .menu > div > a { height:55px; line-height:55px; text-indent:25px; background-size:10px; }
	#lnb .menu > div ul { top: 55px; left:0; }

}