@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900|Sen:400,700&display=swap&subset=korean,latin-ext');
@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&display=swap');

/* common */
html, body { margin: 0; width: 100%; height: 100%; position:relative; }
* {margin:0; padding:0; list-style:none; text-decoration:none; font-family: 'Noto Sans KR', sans-serif; outline: none; -webkit-text-size-adjust: none; color: #666;}
ul>li>a { text-decoration:none;line-height: 1; }
a {color: inherit;}
table { border-collapse: collapse; }
.blind {position:absolute !important;visibility:hidden !important;top:0 !important;left:0 !important;height:0 !important;width:0 !important;font-size:0 !important;line-height:0 !important;overflow:hidden !important;}
fieldset {border:none;}
legend {display:none;}
caption {display:none;}
p, strong, span {letter-spacing: -0.5px;}
i {display: inline-block;}
em {font-style: normal; letter-spacing: -1px;}
input {box-sizing: border-box; border: 1px solid #ddd; background-color: #fff; border-radius: 0; -webkit-appearance: none; -moz-appearance: none; appearance: none;}
input[type=text]::-ms-clear {display:none;}
button {box-sizing: border-box; border: 0; background-color: transparent; cursor: pointer;}
textarea {box-sizing: border-box; resize: none;}
select {-webkit-border-radius: 0; -webkit-appearance: none; -moz-appearance: none; -webkit-appearance: none; appearance: none; box-sizing: border-box; cursor: pointer;}
select::-ms-expand {display: none;}

h1, h2, h3, h4, h5, h6 {font-weight: normal; }
.pl0{padding-left:0px !important;}
.pl05{padding-left:5px !important;}
.pl10{padding-left:10px !important;}
.pl20{padding-left:20px !important;}
.pl30{padding-left:30px !important;}
.pl40{padding-left:40px !important;}
.pr05{padding-right:5px !important;}
.pr10{padding-right:10px !important;}
.pr20{padding-right:20px !important;}
.pr30{padding-right:30px !important;}
.pr40{padding-right:40px !important;}
.pt05{padding-top:5px !important;}
.pt10{padding-top:10px !important;}
.pt20{padding-top:20px !important;}
.pt30{padding-top:30px !important;}
.pt40{padding-top:40px !important;}
.pb05{padding-bottom:5px !important;}
.pb10{padding-bottom:10px !important;}
.pb20{padding-bottom:20px !important;}
.pb30{padding-bottom:30px !important;}
.pb40{padding-bottom:40px !important;}
.ml0{margin-left:0 !important;}
.ml05{margin-left:5px !important;}
.ml10{margin-left:10px !important;}
.ml10{margin-left:10px !important;}
.ml20{margin-left:20px !important;}
.ml30{margin-left:30px !important;}
.ml40{margin-left:40px !important;}
.ml100{margin-left:100px !important;}
.mr05{margin-right:05px !important;}
.mr10{margin-right:10px !important;}
.mr20{margin-right:20px !important;}
.mr30{margin-right:30px !important;}
.mr40{margin-right:40px !important;}
.mt0{margin-top:0 !important;}
.mt05{margin-top:5px !important;}
.mt10{margin-top:10px !important;}
.mt20{margin-top:20px !important;}
.mt30{margin-top:30px !important;}
.mt40{margin-top:40px !important;}
.mt45{margin-top:45px !important;}
.mt50{margin-top:50px !important;}
.mt80{margin-top:80px !important;}
.mt90{margin-top:90px !important;}
.mt100{margin-top:80px !important;}
.mb05{margin-bottom:5px !important;}
.mb10{margin-bottom:10px !important;}
.mb20{margin-bottom:20px !important;}
.mb30{margin-bottom:30px !important;}
.mb40{margin-bottom:40px !important;}

.fs11{font-size:11px;}
.fs12{font-size:12px;}
.fs13{font-size:13px;}
.fs14{font-size:14px;}
.fs15{font-size:15px;}
.fs16{font-size:16px;}
.fs17{font-size:17px;}
.fs18{font-size:18px;}
.fs19{font-size:19px;}
.fs20{font-size:20px;}
.fs25{font-size:25px;}
.fs30{font-size:30px;}
.fs35{font-size:35px;}
.fs40{font-size:40px;}


.W30{width:30px;}
.W40{width:40px;}
.W50{width:50px;}
.W60{width:60px;}
.W70{width:70px;}
.W80{width:80px;}
.W90{width:90px;}
.W100{width:100px;}
.W110{width:110px;}
.W120{width:120px;}
.W130{width:130px;}
.W140{width:140px;}
.W150{width:150px;}
.W160{width:176px;}
.W170{width:176px;}
.W180{width:180px;}
.W190{width:190px;}
.W200{width:200px;}
.W210{width:210px;}
.W220{width:220px;}
.W230{width:230px;}
.W240{width:240px;}
.W250{width:250px;}
.W260{width:260px;}
.W270{width:270px;}
.W280{width:280px;}
.W290{width:290px;}
.W300{width:300px;}


/* padding */
.pd0{		padding:0px !important;	}
.pd3{		padding:3px !important;	}
.pd5{		padding:5px !important;	}
.pd10{	padding:10px !important;	}
.pd18{	padding:18px !important;	}
.pd20{	padding:20px !important;	}
.pd30{	padding:30px !important;	}
.pd40{	padding:40px !important;	}
.pd50{	padding:50px !important;	}
.pd60{	padding:60px !important;	}
.pd70{	padding:70px !important;	}
.pd80{	padding:80px !important;	}
.pd90{	padding:90px !important;	}
.pd100{	padding:100px !important;	}

.pd3-0{	padding:3px 0px !important;	}
.pd5-15{padding:5px 15px !important;	}

.pdL10{	padding-left:10px !important;	}
.pdL17{	padding-left:17px !important;	}
.pdL20{	padding-left:20px !important;	}
.pdL30{	padding-left:30px !important;	}
.pdL40{	padding-left:40px !important;	}
.pdL50{	padding-left:50px !important;	}
.pdL55{	padding-left:55px !important;	}
.pdL60{	padding-left:60px !important;	}
.pdL70{	padding-left:70px !important;	}
.pdL80{	padding-left:80px !important;	}
.pdL85{	padding-left:85px !important;	}
.pdL90{	padding-left:90px !important;	}
.pdL100{	padding-left:100px !important;	}
.pdL115{	padding-left:115px !important;	}

.pdR10{	padding-right:10px !important;	}
.pdR20{	padding-right:20px !important;	}
.pdR30{	padding-right:30px !important;	}
.pdR40{	padding-right:40px !important;	}
.pdR50{	padding-right:50px !important;	}
.pdR60{	padding-right:60px !important;	}
.pdR70{	padding-right:70px !important;	}
.pdR80{	padding-right:80px !important;	}
.pdR90{	padding-right:90px !important;	}
.pdR100{	padding-right:100px !important;	}

.pdT5{	padding-top:5px !important;	}
.pdT10{	padding-top:10px !important;	}
.pdT15{	padding-top:15px !important;	}
.pdT20{	padding-top:20px !important;	}
.pdT30{	padding-top:30px !important;	}
.pdT40{	padding-top:40px !important;	}
.pdT50{	padding-top:50px !important;	}
.pdT60{	padding-top:60px !important;	}
.pdT70{	padding-top:70px !important;	}
.pdT80{	padding-top:80px !important;	}
.pdT90{	padding-top:90px !important;	}
.pdT100{	padding-top:100px !important;	}

.pdB5{	padding-bottom:5px !important;	}
.pdB10{	padding-bottom:10px !important;	}
.pdB20{	padding-bottom:20px !important;	}
.pdB30{	padding-bottom:30px !important;	}
.pdB40{	padding-bottom:40px !important;	}
.pdB50{	padding-bottom:50px !important;	}
.pdB60{	padding-bottom:60px !important;	}
.pdB70{	padding-bottom:70px !important;	}
.pdB80{	padding-bottom:80px !important;	}
.pdB90{	padding-bottom:90px !important;	}
.pdB100{	padding-bottom:100px !important;	}

.d-n{	display:none !important;	}
.f-L{	float:left	!important;	}
.f-R{	float:right	!important;	}
.d-iB{	display:inline-block !important;	}
.d-B{	display:block;	}
.d-i{	display:inline;	}
.b-n{	border:none !important;	}
.w5p{	width:5%;min-width:33px;max-width:50px;	}
.w7p{	width:7%;min-width:40px;max-width:55px;	}
.w10p{	width:10%;min-width:50px;max-width:100px;	}
.w15p{	width:15%;min-width:75px;max-width:150px;	}
.w20p{	width:20%;min-width:100px;max-width:200px;	}
.w25p{	width:25%;min-width:107px;max-width:270px;	}
.w30p{	width:30%;min-width:120px;max-width:300px;	}
.w40p{	width:40%;min-width:120px;max-width:400px;		}
.w45p{	width:45%;min-width:142px;max-width:430px;		}
.w50p{	width:50%;min-width:180px;max-width:450px;	}
.w60p{	width:60%;min-width:180px;max-width:500px;	}
.w70p{	width:70%;min-width:180px;max-width:600px;	}
.w80p{	width:80%;min-width:180px;max-width:700px;	}
.w90p{	width:90%;min-width:180px;max-width:700px;	}
.w100p{	width:100%;min-width:180px;	}
.w140{	width:140px;	}
.w435{	width:435px;	}

.AXInput.W30{width:30px;}
.AXInput.W40{width:40px;}
.AXInput.W50{width:50px;}
.AXInput.W60{width:60px;}
.AXInput.W70{width:70px;}
.AXInput.W80{width:80px;}
.AXInput.W90{width:90px;}
.AXInput.W100{width:100px;}
.AXInput.W110{width:110px;}
.AXInput.W120{width:120px;}
.AXInput.W130{width:130px;}
.AXInput.W140{width:140px;}
.AXInput.W150{width:150px;}
.AXInput.W160{width:160px;}
.AXInput.W170{width:170px;}
.AXInput.W180{width:180px;}
.AXInput.W190{width:190px;}
.AXInput.W200{width:200px;}
.AXInput.W300{width:300px;}
.AXInput.W400{width:400px;}
.AXInput.W500{width:500px;}

.AXInputSmall.W30{width:30px;}
.AXInputSmall.W40{width:40px;}
.AXInputSmall.W50{width:50px;}
.AXInputSmall.W60{width:60px;}
.AXInputSmall.W70{width:70px;}
.AXInputSmall.W80{width:80px;}
.AXInputSmall.W90{width:90px;}
.AXInputSmall.W100{width:100px;}
.AXInputSmall.W110{width:110px;}
.AXInputSmall.W120{width:120px;}
.AXInputSmall.W130{width:130px;}
.AXInputSmall.W140{width:140px;}
.AXInputSmall.W150{width:150px;}
.AXInputSmall.W160{width:160px;}
.AXInputSmall.W170{width:170px;}
.AXInputSmall.W180{width:180px;}
.AXInputSmall.W190{width:190px;}
.AXInputSmall.W200{width:200px;}
.AXInputSmall.W300{width:300px;}
.AXInputSmall.W400{width:400px;}
.AXInputSmall.W500{width:500px;}

.w91{	width:104px !important;	}
.w140{	width:140px !important;	}
.w160{	width:176px !important;	}
.w170{	width:176px !important;	}



/** .AXButton.Classic **/
.AXButton.Classic{
	border:0px solid #82898f;
	color:#fff; font-weight:600;
	background:#526271;
}
.AXButton.Classic:hover{
	border:0px solid #383f45;
	background:#485765;
	box-shadow:0px 1px 2px #2d2d2d inset;
	color:#ccc;
}
.AXButton.Classic:active{
	border:0px solid #454c56;
	background:#485765;
	box-shadow:none;
	color:#ccc;
}

/** .AXButtonSmall.Classic **/
.AXButtonSmall.Classic{
	border:0px solid #82898f;
	color:#fff; font-weight:400;
	background:#526271;
}
.AXButtonSmall.Classic:hover{
	border:0px solid #383f45;
	background:#485765;
	box-shadow:0px 1px 2px #2d2d2d inset;
	color:#ccc;
}
.AXButtonSmall.Classic:active{
	border:0px solid #454c56;
	background:#485765;
	box-shadow:none;
	color:#ccc;
}

/** .AXButtonLarge.Classic **/
.AXButtonLarge.Classic{
	border:0px solid #82898f;
	color:#fff; font-weight:600;
	background:#526271;
}
.AXButtonLarge.Classic:hover{
	border:0px solid #383f45;
	background:#485765;
	box-shadow:0px 1px 2px #2d2d2d inset;
	color:#ccc;
}
.AXButtonLarge.Classic:active{
	border:0px solid #454c56;
	background:#485765;
	box-shadow:none;
	color:#ccc;
}


/** .AXButtonSmall.Blue **/
.AXButtonSmall.Blue{
	border:0px solid #3d7fb3;
	color:#fff;font-weight:600;
	background:#44acf0;
}
.AXButtonSmall.Blue:hover{
	border:0px solid #2e6492;
	background:#2c8ece;
	box-shadow:0px 1px 2px #2371a4 inset;
	color:#ccc;
}
.AXButtonSmall.Blue:active{
	border:0px solid #296190;
	background:#2c8ece;
	box-shadow:none;
	color:#ccc;
}
.AXButton.Blue{
	border:0px solid #3d7fb3;
	color:#fff;font-weight:600;
	background:#44acf0;
}
.AXButton.Blue:hover{
	border:0px solid #2e6492;
	background:#2c8ece;
	box-shadow:0px 1px 2px #2371a4 inset;
	color:#ccc;
}
.AXButton.Blue:active{
	border:0px solid #296190;
	background:#2c8ece;
	box-shadow:none;
	color:#ccc;
}
.AXButtonLarge.Blue{
	border:0px solid #3d7fb3;
	color:#fff;font-weight:600;
	background:#44acf0;
}
.AXButtonLarge.Blue:hover{
	border:0px solid #2e6492;
	background:#2c8ece;
	box-shadow:0px 1px 2px #2371a4 inset;
	color:#ccc;
}
.AXButtonLarge.Blue:active{
	border:0px solid #296190;
	background:#2c8ece;
	box-shadow:none;
	color:#ccc;
}







/* LAYOUT */
html.fix {position: fixed; left: 0; right: 0; margin: 0 auto;}
#A_Wrap { width:100%; height:100%; min-width: 1180px;}
#A_Container_Wrap {	width:100%;	clear:both; position: relative; }
#A_Container {width: 1180px; margin: 0 auto; padding: 40px 0 120px;}
#A_Container:after {display: block; clear: both; *zoom: 1; content: '';}
#A_Container_C {float: left; width: 950px;}
#A_Container_R {float: right; width: 180px;}
.inner {position: relative; box-sizing: border-box; width: 1180px; margin: 0 auto;}


/* header */
#A_Header {position: fixed; top: 0; left: 0; right: 0; width: 100%; background-color: transparent; z-index: 999;}
#A_Header:before {visibility: hidden; opacity: 0; position: absolute; left: 0; right: 0; bottom: 0; width: 100%; height: 1px; background-color: #ddd; content: ''; transition: all 0.3s ease-in-out;}
#A_Header > .inner {width: 100%; max-width: 1920px; min-width: 1920px; height: 100px; padding: 0 50px;}
#A_Header > .inner:after {display: block; clear: both; *zoom: 1; content: '';}
#A_Header .logo {float: left; padding: 23px 0 0 0; transition: all 0.3s ease-in-out;}
#A_Header .logo a {display: block; width: 159px; height: 45px; text-indent: -9999px; background: url(../images/common/logo.png) no-repeat 0 0 / cover; }


#A_Header .gnb_nav {float: left; margin: 0 0 0 130px; width: 1050px;}
#A_Header .gnb_nav .gnb:after {display: block; clear: both; *zoom: 1; content: '';}
#A_Header .gnb_nav .gnb > li {position: relative; float: left; margin: 0 0 0 65px;}
#A_Header .gnb_nav .gnb > li:before {visibility: hidden; opacity: 0; position: absolute; bottom: 0; left: 0; right: 0; width: 100%; height: 3px; background-color: #34558b; transition: all 0.3s ease-in-out; content: '';}
#A_Header .gnb_nav .gnb > li:first-child {margin: 0;}
#A_Header .gnb_nav .gnb > li > a {display: block; width: 100%; line-height: 100px; font-size: 18px; color: #fff; transition: all 0.3s ease-in-out;}
#A_Header .util {float: right;}
#A_Header .util ul {float: left;}
#A_Header .util ul li {position: relative; float: left; margin: 0 0 0 10px; padding: 0 0 0 12px;}
/*#A_Header .util ul li:before {display: block; position: absolute; top: 50%; transform: translateY(-50%); left: 0; width: 3px; height: 3px; background-color: rgba(255,255,255,0.5); border-radius: 50%; content: '';}*/
#A_Header .util ul li:first-child {margin: 0; padding: 0;}
#A_Header .util ul li:first-child:before {display: none;}
#A_Header .util ul li a {line-height: 100px; font-size: 14px; color: rgba(255,255,255,0.5);}
#A_Header .util ul li p { font-size: 14px; line-height: 1.4; padding: 20px 0 0; text-align: center;  color: #333; font-weight: 500;}
#A_Header .util .btn_search {float: left; margin: 40px 0 0 50px; width: 18px; height: 18px; background: url(../images/common/ic_search.png) no-repeat 0 0; text-indent: -9999px;}

#A_Header .gnb_nav .gnb .bg_blue {display: none; position: fixed; top: 80px; left: 0; width: 100%; background-color: #e9eef5; border-bottom: 1px solid #ddd;}
#A_Header .gnb_nav .gnb .bg_blue .lnb {position: relative; min-width: 1050px; z-index: 1;}
#A_Header .gnb_nav .gnb .gnb01 .lnb {margin: 0 0 0 339px;}
#A_Header .gnb_nav .gnb .gnb01 .lnb .lnb_b2b.on > a {font-weight: 500; color: #1356a2;}
#A_Header .gnb_nav .gnb .gnb02 .lnb {margin: 0 0 0 469px;}
#A_Header .gnb_nav .gnb .gnb03 .lnb {margin: 0 0 0 585px;}
#A_Header .gnb_nav .gnb .gnb04 .lnb {margin: 0 0 0 360px;}
#A_Header .gnb_nav .gnb .gnb05 .lnb {margin: 0 0 0 665px;}
#A_Header .gnb_nav .gnb .gnb06 .lnb {margin: 0 0 0 830px;}
#A_Header .gnb_nav .gnb .gnb07 .lnb {margin: 0 0 0 421px;}
#A_Header .gnb_nav .gnb .gnb08 .lnb {margin: 0 0 0 883px;}
#A_Header .gnb_nav .gnb .bg_blue .lnb:after {display: block; clear: both; *zoom: 1; content: '';}
#A_Header .gnb_nav .gnb .bg_blue .lnb > li {float: left; margin: 0 0 0 40px;}
#A_Header .gnb_nav .gnb .bg_blue .lnb > li:first-child {margin: 0;}
#A_Header .gnb_nav .gnb .bg_blue .lnb > li > a {height: 50px; line-height: 50px; font-size: 16px; color: #333;}
#A_Header .gnb_nav .gnb .bg_blue .lnb > li > a:hover {font-weight: 500; color: #1356a2;}

#A_Header .b2b_prd_menu {display: none; position: fixed; top: 131px; left: 0; right: 0; width: 100%; background-color: #fff; border-bottom: 1px solid #ddd;}
#A_Header .b2b_prd_menu .b2b_inner {position: relative; box-sizing: border-box; width: 1050px; margin: 0 0 0 339px; border-left: 1px solid #ddd;}
#A_Header .b2b_prd_menu .b2b_inner:after {display: block; clear: both; *zoom: 1; content: '';}
#A_Header .b2b_prd_menu .b2b_inner .depth01 {float: left; box-sizing: border-box; height: 350px; border-right: 1px solid #ddd;}
#A_Header .b2b_prd_menu .b2b_inner .depth01 > li {width: 200px;}
#A_Header .b2b_prd_menu .b2b_inner .depth01 .depth01_tit {display: block; box-sizing: border-box; width: 100%; height: 40px; line-height: 40px; padding: 0 20px; color: #666; cursor: pointer;}
#A_Header .b2b_prd_menu .b2b_inner .depth01 li.on .depth01_tit {color: #fff; background-color: #1356a2;}
#A_Header .b2b_prd_menu .b2b_inner .depth02 {display: none; position: absolute; top: 0; left: 200px; box-sizing: border-box; width: 200px; height: 100%; border-right: 1px solid #ddd;}
#A_Header .b2b_prd_menu .b2b_inner .depth02 > li > a {display: block; position: relative; box-sizing: border-box; width: 100%; height: 40px; line-height: 40px; padding: 0 20px; color: #666; cursor: pointer; background: url(../images/common/b2b_prd_arrow.png) no-repeat 180px center;}
#A_Header .b2b_prd_menu .b2b_inner .depth02 > li > a:before {display: none; position: absolute; bottom: 0; left: 0; right: 0; width: 100%; height: 1px; background-color: #1356a2; content: '';}
#A_Header .b2b_prd_menu .b2b_inner .depth02 > li.on > a {font-weight: 500; color: #1356a2;}
#A_Header .b2b_prd_menu .b2b_inner .depth02 > li.on > a:before {display: block;}
#A_Header .b2b_prd_menu .b2b_inner .depth03 {display: none; position: absolute; top: 0; left: 200px; width: 200px; height: 100%; overflow-y: scroll;}
#A_Header .b2b_prd_menu .b2b_inner .depth03 > li {box-sizing: border-box; height: 40px; padding: 8px 20px;}
#A_Header .b2b_prd_menu .b2b_inner .depth03 > li > a {display: inline-block; color: #999; cursor: pointer; vertical-align: top;}
#A_Header .b2b_prd_menu .b2b_inner .depth03 > li > a:hover {font-weight: 500; color: #1356a2; border-bottom: 1px solid #1356a2;}
#A_Header .b2b_prd_menu .b2b_inner .brand {float: right; box-sizing: border-box; width: calc(100% - 600px); height: 350px; padding: 10px 30px; border-left: 1px solid #ddd;}
#A_Header .b2b_prd_menu .b2b_inner .brand ul:after {display: block; clear: both; *zoom: 1; content: '';}
#A_Header .b2b_prd_menu .b2b_inner .brand ul li {position: relative; float: left; width: calc((100% - 120px)/5); height: 46px; margin: 0 0 0 30px;}
#A_Header .b2b_prd_menu .b2b_inner .brand ul li:nth-child(5n + 1) {margin: 0; clear: both;}
#A_Header .b2b_prd_menu .b2b_inner .brand ul li img {position: absolute; top: 50%; transform: translateY(-50%); left: 0; right: 0; margin: 0 auto; max-width: 100%; max-height: 100%;}


#underLayer0 {display: none; position: fixed; top: 0; left: 0; right: 0; bottom: 0; width: 100%; background-color: rgba(0,0,0,0.4); z-index: 1;}
#underLayer0.on {display: block;}

/* header hover, on */
#A_Header.on {background-color: #fff;}
#A_Header.on:before {visibility: visible; opacity: 1;}
#A_Header.on > .inner {height: 80px;}
#A_Header.on .logo {padding: 17.5px 0 0 0;}
#A_Header.on .logo a {background-image: url(../images/common/logo_c.png);}
#A_Header.on .gnb_nav .gnb > li > a {line-height: 80px; color: #333;}
#A_Header.on .gnb_nav .gnb > li > a:hover {font-weight: 500; color: #34558b;}
#A_Header.on .gnb_nav .gnb > li.active > a {font-weight: 500; color: #34558b;}
#A_Header.on .util ul li:before {/* background-color: #666; */}
#A_Header.on .util ul li a {line-height: 80px; color: #666;}
#A_Header.on .util ul li:nth-child(3) a {color: #666; }
#A_Header.on .util ul li:nth-child(4) p {line-height: 20px;color: #333;font-weight: 500;padding: 20px 0 0;text-align: center;}
#A_Header.on .util .btn_search {margin: 31px 0 0 50px; background-image: url(../images/common/ic_search_bk.png)}

#A_Header.on .gnb_nav .gnb > li.on:before {visibility: visible; opacity: 1;}
#A_Header.on .gnb_nav .gnb > li.on > a {font-weight: 500; color: #34558b;}

#A_Header.active {background-color: #fff;}
#A_Header.active:before {visibility: visible; opacity: 1;}
#A_Header.active > .inner {height: 80px;}
#A_Header.active .logo {padding: 17.5px 0 0 0;}
#A_Header.active .logo a {background-image: url(../images/common/logo_c.png);}
#A_Header.active .gnb_nav .gnb > li > a {line-height: 80px; color: #333;}
#A_Header.active .gnb_nav .gnb > li > a:hover {font-weight: 500; color: #34558b;}
#A_Header.active .gnb_nav .gnb > li.active > a {font-weight: 500; color: #34558b;}
#A_Header.active .util ul li:before {background-color: #666;}
#A_Header.active .util ul li a {line-height: 80px; color: #666;}
#A_Header.active .util ul li:nth-child(3) a {color: #666; }
#A_Header.active .util ul li:nth-child(4) p {line-height: 1.4; color: #333; font-weight: 500; padding: 20px 0 0;}
#A_Header.active .util .btn_search {margin: 31px 0 0 30px; background-image: url(../images/common/ic_search_bk.png)}



#A_Header .search_wrap {display: none; position: absolute; top: 0; left: 0; right: 0; padding: 30px 0; background-color: #fff; border-bottom: 1px solid #ddd;}
#A_Header .search_wrap .inner {width: 1180px;}
#A_Header .search_wrap form {border-bottom: 2px solid #333}
#A_Header .search_wrap form:after {display: block; clear: both; *zoom: 1; content: '';}
#A_Header .search_wrap form input {float: left; width: calc(100% - 90px); height: 50px; font-size: 18px; border: 0;}
#A_Header .search_wrap form .btn_box {float: right; box-sizing: border-box; width: 90px; height: 50px; padding: 13px 0 0 0;}
#A_Header .search_wrap form .btn_box button {float: left; width: 24px; height: 24px; text-indent: -9999px; background-repeat: no-repeat; background-position: 0 0;}
#A_Header .search_wrap form .btn_box .btn_search02 {background-image: url(../images/common/ic_search_big.png);}
#A_Header .search_wrap form .btn_box .btn_close {position: relative; margin: 0 0 0 40px; background-image: url(../images/common/ic_close.png);}
#A_Header .search_wrap form .btn_box .btn_close:before {display: block; position: absolute; left: -20px; top: -2px; width: 1px; height: 28px; background-color: #d4d4d4; content: '';}
#A_Header .search_wrap .hot_keyword:after {display: block; clear: both; *zoom: 1; content: '';}
#A_Header .search_wrap .hot_keyword {margin: 20px 0 0 0;}
#A_Header .search_wrap .hot_keyword p {float: left; color: #666;}
#A_Header .search_wrap .hot_keyword ul {float: left; margin: 0 0 0 50px;}
#A_Header .search_wrap .hot_keyword ul li {float: left; margin: 0 0 0 30px;}
#A_Header .search_wrap .hot_keyword ul li:first-child {margin: 0;}
#A_Header .search_wrap .hot_keyword ul li a {display: block; color: #999;}



/* footer */
#A_Footer {width:100%; overflow: hidden; position:relative; background-color: #333;}
#A_Footer .ft_links {padding: 120px 0 40px;}
#A_Footer .ft_links .inner {width: 1500px;}
#A_Footer .ft_links .inner:after {display: block; clear: both; *zoom: 1; content: '';}
#A_Footer .ft_links .inner > li {float: left; width: 12.5%;}
#A_Footer .ft_links .inner > li .tit {margin: 0 0 20px 0; font-size: 16px; font-weight: 500; color: rgba(255,255,255,0.5);}
#A_Footer .ft_links .inner > li ul li a {font-size: 14px; color: rgba(255,255,255,0.5);}

#A_Footer .ft_logo {position: absolute; top: 55px; left: 50px;}
#A_Footer .ft_logo img {vertical-align: top;}
#A_Footer .sns_links {position: absolute; top: 55px; right: 115px;}
#A_Footer .sns_links li {float: left; width: 40px; height: 40px; margin: 0 0 0 10px;}
#A_Footer .sns_links li:first-child {margin: 0;}
#A_Footer .sns_links li a {display: block; width: 100%; height: 100%; text-indent: -9999px; background-color: #383838; background-image: url(../images/common/sns_icons.png); background-repeat: no-repeat; transition: background-color 0.3s ease-in-out;}
#A_Footer .sns_links li:nth-child(1) a {background-position: 0 0;}
#A_Footer .sns_links li:nth-child(2) a {background-position: -50px 0;}
#A_Footer .sns_links li:nth-child(3) a {background-position: -100px 0;}
#A_Footer .sns_links li:nth-child(4) a {background-position: -149px 0;}


#A_Footer .ft_txt {padding: 30px 50px; border-top: 1px solid #3f3f3f;}
#A_Footer .ft_txt ul li {display: inline-block; margin: 0 0 0 15px; line-height: 1.9; font-size: 14px; color: #555;}
#A_Footer .ft_txt ul li:first-child {margin: 0; }
#A_Footer .ft_txt p {line-height: 1.9; font-size: 14px; color: #555;}
#A_Footer .ft_txt p.copy {margin: 30px 0 0 0;}
