/* Visual */
#visual_wrap {width: 100%; padding: 190px 0 0 0;}
#visual {position: relative; overflow: hidden;}
#visual .slide {position: relative; width: 100%; height: 730px; background-repeat: no-repeat; background-position: center center; background-size: cover;}
#visual .slide01 {background-image: url(../images/main/visual01.jpg)}
#visual .slide02 {background-image: url(../images/main/visual01.jpg)}
#visual .slide03 {background-image: url(../images/main/visual01.jpg)}
#visual .slide04 {background-image: url(../images/main/visual01.jpg)}
#visual .slide .txt_box {position: absolute; top: 50%; transform: translateY(-50%); left: 0; right: 0; width: 1410px; margin: 0 auto; text-align: center;}
#visual .slide .txt_box strong {display: block; margin: 0 0 15px 0; line-height: 1.5; font-size: 54px; font-weight: 500; color: #fff;}
#visual .slide .txt_box p {font-size: 18px; color: #fff;}
#visual .slick-arrow {position: absolute; top: 50%; transform: translateY(-50%); width: 28px; height: 50px; background-repeat: no-repeat; background-position: 0 0;}
#visual .slick-prev {left: 180px; background-image: url(../images/main/arrow_prev02.png);}
#visual .slick-next {right: 180px; background-image: url(../images/main/arrow_next02.png);}
#visual .slick-dots {bottom: 40px; height: 8px; vertical-align: top;}
#visual .slick-dots li {overflow: hidden; margin: 0 5px; width: 8px; height: 8px; border-radius: 50%; vertical-align: top;}
#visual .slick-dots li button {width: 100%; height: 100%; background-color: #fff;}
#visual .slick-dots li.slick-active button {background-color: #1356a2;}



/* 공통 */
h3.sub_tit {display: block; font-size: 36px; font-weight: 300; color: #333; text-align: center;}
h3.sub_tit > em {font-size: 36px; font-weight: 500;}
.sub_txt {display: block; margin: 20px 0 0 0; color: #666; text-align: center;}
.btn_blue {display: block; margin: 0 auto; width: 210px; height: 54px; color: #fff; background-color: #1356a2;}
.btn_blue02 {display: block; margin: 0 auto; width: 210px; height: 54px; font-weight: 500; color: #1356a2; background-color: transparent; border: 1px solid #1356a2; transition: all 0.3s ease-in-out;}
.btn_blue02:hover {background-color: #1356a2; color: #fff;}

/* 2,320개 기업이 신성씨앤에스를 선택한 이유 */
.drivers_area {padding: 100px 0;}
.drivers_area .drivers_tit {display: block; margin: 25px 0 50px; font-size: 20px; font-weight: 500; color: #333; text-align: center;}
.drivers_list:after {display: block; clear: both; *zoom: 1; content: '';}
.drivers_list li {float: left; width: calc((100% - 180px)/7); margin: 0 0 0 30px; cursor: pointer;}
.drivers_list li:first-child {margin: 0;}
.drivers_list li i {display: block; width: 100%; border-radius: 50%; background-color: #f8f8f8; background-image: url(../images/main/7drivers_icons.png); background-repeat: no-repeat; 
	transition: background-color 0.3s ease-in-out;}
.drivers_list li i:before {display: block; padding-top: 100%; content: '';}
.drivers_list li:nth-child(1) i {background-position: 0 0;}
.drivers_list li:nth-child(2) i {background-position: -170px 0;}
.drivers_list li:nth-child(3) i {background-position: -340px 0;}
.drivers_list li:nth-child(4) i {background-position: -510px 0;}
.drivers_list li:nth-child(5) i {background-position: -680px 0;}
.drivers_list li:nth-child(6) i {background-position: -850px 0;}
.drivers_list li:nth-child(7) i {background-position: -1020px 0;}
.drivers_list li p {display: block; margin: 20px 0 0 0; color: #666; text-align: center;}
.drivers_list li:hover i {background-color: #1356a2;}
.drivers_list li:nth-child(1):hover i {background-position: 0 -150px;}
.drivers_list li:nth-child(2):hover i {background-position: -170px -150px;}
.drivers_list li:nth-child(3):hover i {background-position: -340px -150px;}
.drivers_list li:nth-child(4):hover i {background-position: -510px -150px;}
.drivers_list li:nth-child(5):hover i {background-position: -680px -150px;}
.drivers_list li:nth-child(6):hover i {background-position: -850px -150px;}
.drivers_list li:nth-child(7):hover i {background-position: -1020px -150px;}

/* Our Products */
.product_list {margin: 20px 0 0 0;}
.product_list:after {display: block; clear: both; *zoom: 1; content: '';}
.product_list li {float: left; width: calc((100% - 60px)/4); margin: 20px 0 0 20px;}
.product_list li:nth-child(4n + 1) {margin: 20px 0 0 0;}
.product_list li a {position: relative; display: block; width: 100%; height: 100%;}
.product_list li a:before {visibility: hidden; opacity: 0; position: absolute; top: 0; left: 0; right: 0; bottom: 0; width: 100%; height: 100%; background-color: rgba(19,86,162,0.7); transition: all 0.3s ease-in-out; content: '';}
.product_list li a img {width: 100%; height: 100%; vertical-align: top;}
.product_list .txt_box {position: absolute; top: 50%; transform: translateY(-50%); left: 0; right: 0; margin: 0 auto; text-align: center; z-index: 1;}
.product_list .txt_box strong {display: block; font-size: 18px; font-weight: 400; color: #fff;}
.product_list .txt_box p {color: #fff;}
.product_list a:hover:before {visibility: visible; opacity: 1;}

.custom_area .btn_blue {margin: 50px auto 0;}

/* 브랜드 & 빠른 견적 요청 */
.custom_area {margin: 100px 0 0 0; padding: 50px 0; background: url(../images/main/custom_bg.jpg) no-repeat center center / cover;}
.custom_area .inner:after {display: block; clear: both; *zoom: 1; content: '';}
.custom_area .inner > li {float: left; width: 50%; box-sizing: border-box;}
.custom_area h3.sub_tit {font-weight: 500; color: #fff; text-align: left;}
.custom_area .sub_txt {margin: 10px 0 0 0; color: #fff; text-align: left; opacity: 0.7;}
.custom_area .brand_box {padding: 0 40px 0 0;}
.custom_area .brand_box .center_info {margin: 25px 0 0 0; color: #fff; text-align: left;}
.step_list:after {display: block; clear: both; *zoom: 1; content: '';}
.step_list li {float: left; width: 130px; margin: 30px 0 0 50px; text-align: center;}
.step_list li:nth-child(3n + 1) {margin: 30px 0 0 0;}
.step_list li i {display: block; width: 100%; border-radius: 50%; background-color: rgba(255,255,255,0.3); background-image: url(../images/main/pc_icons.png); background-repeat: no-repeat;}
.step_list li i:before {display: block; padding-top: 100%; content: '';}
.step_list li:nth-child(1) i {background-position: 0 0;}
.step_list li:nth-child(2) i {background-position: -140px 0;}
.step_list li:nth-child(3) i {background-position: -280px 0;}
.step_list li:nth-child(4) i {background-position: -420px 0;}
.step_list li:nth-child(5) i {background-position: -560px 0;}
.step_list li span {display: block; margin: 20px 0 0 0; font-size: 14px; color: #fff;}
.step_list li p {color: #fff;}
.custom_area .quick_box {padding: 0 0 0 40px;}

.estimate_form {margin: 31px 0 0 0;}
.estimate_form .table_type01 {width: 100%;}
.estimate_form .table_type01 tr td {padding: 5px;}
.estimate_form .table_type01 tr td input {width: 100%; height: 54px; padding: 0 20px; color: #fff; background-color: rgba(248,248,248,0.18); border: 0;}
.estimate_form .table_type01 tr td input::placeholder {color: #ddd;}
.estimate_form .table_type01 tr td input::-webkit-input-placeholder {color: #ddd;}
.estimate_form .table_type01 tr td input::-moz-input-placeholder {color: #ddd;}
.estimate_form .table_type01 tr td input:-ms-input-placeholder {color: #ddd;}
.estimate_form .table_type01 tr td input:-moz-input-placeholder {color: #ddd;}
.estimate_form .table_type01 .textarea_box {border: 0;}
.estimate_form .table_type01 .textarea_box textarea {display: block; width: 100%; height: 224px; padding: 20px; color: #fff; background-color: rgba(248,248,248,0.18); border: 0;}
.estimate_form .table_type01 .textarea_box textarea::placeholder {color: #ddd;}
.estimate_form .table_type01 .textarea_box textarea::-webkit-input-placeholder {color: #ddd;}
.estimate_form .table_type01 .textarea_box textarea::-moz-input-placeholder {color: #ddd;}
.estimate_form .table_type01 .textarea_box textarea:-ms-input-placeholder {color: #ddd;}
.estimate_form .table_type01 .textarea_box textarea:-moz-input-placeholder {color: #ddd;}
.quick_area .btn_blue {margin: 50px auto 0;}

/* Best Seller */
.best_area {padding: 100px 0 140px;}
.best_area .inner {width: 1210px;}
.prd_slide {margin: 40px 0 0 0;}
.prd_slide .slick-slide {margin: 0 15px;}
.prd_slide .slide a {display: block; width: 100%; height: 100%; text-align: center;}
.prd_slide .slide a .img_box {position: relative; box-sizing: border-box; width: 100%; border: 1px solid #eee;}
.prd_slide .slide a .img_box:before {display: block; padding-top: 100%; content: '';}
.prd_slide .slide a .img_box img {position: absolute; top: 50%; transform: translateY(-50%); left: 0; right: 0; margin: 0 auto; max-width: 100%; max-height: 100%; height: 100%;}
.prd_slide .slide a p {margin: 20px 0 0 0; color: #666;}
.prd_slide .slick-dots {transform: none; left: 0; right: 0; bottom: -40px; margin: 0 auto; height: 8px; vertical-align: top;}
.prd_slide .slick-dots li {overflow: hidden; width: 8px; height: 8px; border-radius: 50%; vertical-align: top;}
.prd_slide .slick-dots li button {width: 100%; height: 100%; background-color: #e5e5e5;}
.prd_slide .slick-dots li.slick-active button {background-color: #1356a2;}

/* Solution */
.solution_area {padding: 0 0 100px;}
.solution_list {margin: 50px 0 0 0;}
.solution_list:after {display: block; clear: both; *zoom: 1; content: '';}
.solution_list li {float: left; width: calc((100% - 60px)/3); margin: 0 0 0 30px; height: 350px;}
.solution_list li:first-child {margin: 0;}
.solution_list li a {display: block; position: relative; width: 100%; height: 100%; background-repeat: no-repeat; background-position: center center; background-size: cover;}
.solution_list li a:before {visibility: hidden; opacity: 0; position: absolute; top: 0; left: 0; right: 0; bottom: 0; width: 100%; height: 100%; background-color: rgba(19,86,162,0.7); transition: all 0.3s ease-in-out; content: '';}
.solution_list li:nth-child(1) a {background-image: url(../images/main/solution01.jpg);} 
.solution_list li:nth-child(2) a {background-image: url(../images/main/solution02.jpg);} 
.solution_list li:nth-child(3) a {background-image: url(../images/main/solution03.jpg);} 
.solution_list .txt_box {position: relative; box-sizing: border-box; width: 100%; padding: 100px 20px 0;}
.solution_list .txt_box strong {display: block; font-size: 24px; font-weight: 500; color: #fff;}
.solution_list .txt_box p {margin: 10px 0 0 0; line-height: 1.6; color: #fff; word-break: keep-all;}
.solution_list li a:hover:before {visibility: visible; opacity: 1;}

/* Brand */
.brand_area {padding: 80px 0 50px; background-color: #f8f8f8;}
.brand_list {margin: 50px 0 0 0;}
.brand_list:after {display: block; clear: both; *zoom: 1; content: '';}
.brand_list li {position: relative; float: left; box-sizing: border-box; width: calc((100% - 120px)/5); height: 60px; margin: 0 0 0 30px; border: 1px solid #ddd; background-color: #fff;}
.brand_list li:first-child {margin: 0;}
.brand_list li img {position: absolute; top: 50%; transform: translateY(-50%); left: 0; right: 0; margin: 0 auto; max-width: 100%; max-height: 100%;}
.brand_area .btn_blue02 {margin: 50px auto 0;}

/* 고객리뷰 */
.review_area {padding: 100px 0 140px;}
.review_slide {margin: 45px 0 0 0;}
.review_slide .slick-slide {margin: 0 10px;}
.review_slide .slide a {display: block; box-sizing: border-box; padding: 50px 10px; text-align: center; background: #f7f8fb url(../images/main/quote_bg.png) no-repeat center 50px; height: 252px;}
.review_slide .txt_box p {line-height: 1.6; color: #666; text-overflow: ellipsis; overflow: hidden; white-space: normal; word-wrap: break-word; display: -webkit-box; -webkit-line-clamp: 4; -webkit-box-orient: vertical;}
.review_slide .txt_box .writer {display: block; margin: 25px 0 0 0; font-size: 18px; font-weight: 500; color: #666;}
.review_slide .txt_box .writer span {display: inline-block; margin: 0 0 0 30px; font-size: 16px; font-weight: 400; color: #999;}
.review_slide .slick-arrow {top: 50%; transform: translateY(-50%); width: 14px; height: 24px; background-repeat: no-repeat; background-position: 0 0; transition: all 0.3s ease-in-out;}
.review_slide .slick-prev {left: -64px; background-image: url(../images/main/arrow_prev.png);}
.review_slide .slick-prev:hover {background-image: url(../images/main/arrow_prev_c.png);}
.review_slide .slick-next {right: -64px; background-image: url(../images/main/arrow_next.png);}
.review_slide .slick-next:hover {background-image: url(../images/main/arrow_next_c.png);}
.review_slide .slick-dots {transform: none; left: 0; right: 0; bottom: -40px; margin: 0 auto; height: 8px; vertical-align: top;}
.review_slide .slick-dots li {overflow: hidden; width: 8px; height: 8px; border-radius: 50%; vertical-align: top;}
.review_slide .slick-dots li button {width: 100%; height: 100%; background-color: #e5e5e5;}
.review_slide .slick-dots li.slick-active button {background-color: #1356a2;}


.our_area {height: 350px; background-image: linear-gradient(to right, #263959, #282c37);}
.our_area ul {padding: 85px 0 0 0;}
.our_area ul:after {display: block; clear: both; *zoom: 1; content: '';}
.our_area ul li {position: relative; float: left; width: 33.333333%; text-align: center;}
.our_area ul li:before {display: block; position: absolute; top: 50%; transform: translateY(-50%); left: 0; width: 1px; height: 100px; background-color: rgba(255,255,255,0.5); content: '';}
.our_area ul li:first-child:before {display: none;}
.our_area ul li i {display: block; margin: 0 auto; width: 75px; height: 75px; background-image: url(../images/main/our_icons.png); background-repeat: no-repeat;}
.our_area ul li:nth-child(1) i {background-position: 0 0;}
.our_area ul li:nth-child(2) i {background-position: -85px 0;}
.our_area ul li:nth-child(3) i {background-position: -170px 0;}
.our_area ul li strong {display: block; margin: 20px 0 15px; font-size: 24px; font-weight: 500; color: #fff;}
.our_area ul li p {color: #fff;}

.subscription_area {padding: 80px 0; background: url(../images/main/subscription_bg.jpg) no-repeat center center / cover;}
.subscription_area h3.sub_tit {margin: 0 0 30px 0; font-size: 40px; color: #fff; text-align: left;}
.subscription_area .txt_box {position: absolute; top: 50%; transform: translateY(-50%); left: 0; width: 695px;}
.subscription_area .txt_box form:after {display: block; clear: both; *zoom: 1; content: '';}
.subscription_area .txt_box form input {float: left; width: 575px; height: 60px; padding: 0 20px; color: #fff; background-color: transparent; border: 1px solid rgba(255,255,255,0.5);}
.subscription_area .txt_box form input::placeholder {color: rgba(255,255,255,0.5);}
.subscription_area .txt_box form input::-webkit-input-placeholder {color: rgba(255,255,255,0.5);}
.subscription_area .txt_box form input::-moz-input-placeholder {color: rgba(255,255,255,0.5);}
.subscription_area .txt_box form input:-ms-input-placeholder {color: rgba(255,255,255,0.5);}
.subscription_area .txt_box form input:-moz-input-placeholder {color: rgba(255,255,255,0.5);}
.subscription_area .txt_box form button {float: left; width: 120px; height: 60px; font-weight: 500; color: #fff; background-color: rgba(255,255,255,0.5);}
.subscription_area .icon_box {margin: 0 0 0 auto; width: 420px; height: 440px;}
.subscription_area .icon_box ul {position: relative; overflow: hidden;}
.subscription_area .icon_box ul:before {display: block; position: absolute; top: 0; left: 50%; bottom: 0; width: 1px; height: 100%; background-color: rgba(255,255,255,0.18); content: '';}
.subscription_area .icon_box ul:after {display: block; position: absolute; top: 50%; left: 0; right: 0; width: 100%; height: 1px; background-color: rgba(255,255,255,0.18); content: '';}
.subscription_area .icon_box ul li {position: relative; float: left; box-sizing: border-box; width: 210px; height: 220px; text-align: center; background-color: rgba(255,255,255,0.22); transition: all 0.3s ease-in-out;}
.subscription_area .icon_box ul li:hover {background-color: rgba(19,86,162,0.39);}
.subscription_area .icon_box ul li i {display: block; width: 54px; height: 54px; margin: 0 auto; background-image: url(../images/main/subscription_icons.png); background-repeat: no-repeat;}
.subscription_area .icon_box ul li:nth-child(1) i {background-position: 0 0;}
.subscription_area .icon_box ul li:nth-child(2) i {background-position: -64px 0;}
.subscription_area .icon_box ul li:nth-child(3) i {background-position: -128px 0;}
.subscription_area .icon_box ul li:nth-child(4) i {background-position: -192px 0;}
.subscription_area .icon_box ul li div {position: absolute; top: 50%; transform: translateY(-50%); left: 0; right: 0; margin: 0 auto;}
.subscription_area .icon_box ul li div p {margin: 20px 0 0 0; font-weight: 500; color: #fff;}
.subscription_area .icon_box ul li div span {font-weight: 400; color: #fff;}

/* 구독하기 팝업 */
.popup {display: none; position: fixed; top: 0; left: 0; right: 0; bottom: 0; width: 100%; height: 100%; background-color: rgba(0,0,0,0.5); z-index: 100;}
.popup .popup_wrap {position: absolute; top: 50%; transform: translateY(-50%); left: 0; right: 0; box-sizing: border-box; margin: 0 auto; width: 700px; padding: 50px 110px; background-color: #fff; border-radius: 10px;}
.popup .popup_wrap .btn_pop_close {position: absolute; top: 20px; right: 20px; width: 14px; height: 14px; background: url(../images/main/ic_close.png) no-repeat 0 0; text-indent: -9999px;}
.popup .popup_wrap .pop_tit {text-align: center;}
.popup .popup_wrap .pop_tit strong {display: block; font-size: 38px; font-weight: 500; color: #333;}
.popup .popup_wrap .pop_tit p {margin: 10px 0 0 0; color: #999;}
.pop_subscribe .pop_tit i {display: block; margin: 0 auto 20px; width: 38px; height: 38px; background: url(../images/main/subscription_pop_icon.png) no-repeat 0 0;}
.subscribe_form {margin: 20px 0 0 0;}
.subscribe_form input {display: block; margin: 10px 0 0 0; width: 100%; height: 50px; padding: 0 10px; border: 0; border-bottom: 1px solid #ddd;}
.subscribe_form input:first-child {margin: 0;}
.subscribe_form .btn_blue {margin: 30px auto 0; box-shadow: 10px 10px 20px rgba(0,0,0,0.11);}






























