/* 고객서비스 */
#content .inner {width: 100%;}











/* 로그인 */
#A_Container.login_wrap {padding: 100px 0;}
.login_wrap:after {display: block; clear: both; *zoom: 1; content: '';}
.login_wrap > div {float: left; box-sizing: border-box; width: 590px; height: 690px; padding: 90px 50px 0;}
.login_wrap .tit_box {text-align: center;}
.login_wrap .tit_box h3 {font-size: 42px; font-weight: 500; color: #333;}
.login_wrap .tit_box p {margin: 5px 0 0 0; font-size: 18px;}
.login_wrap .tit_box p em {font-size: 18px;}

.login_wrap .login_box .tit_box p {color: rgba(102,102,102,0.5);}
.login_wrap .login_box form input {width: 100%; height: 54px; border: 1px solid #eee;}
.login_wrap .join_box {background: url(/images/sub/login_bg.jpg) no-repeat 0 0 / cover;}
.login_wrap .join_box .tit_box h3 {color: #fff;}
.login_wrap .join_box .tit_box p {color: #fff;}
.login_wrap .join_box .tit_box p em {color: #1dace5;}