<ul class="sub_lnb">
	<li><a href="plan.html">우리성장</a></li>
	<li><a href="culture.html">우리문화</a></li>
	<li><a href="video.html">동영상</a></li>
	<li><a href="person.html">인재상</a></li>
	<li><a href="welfare.html">복지제도</a></li>
	<li><a href="recruit.html">인재채용</a></li>
</ul>