<ul class="sub_lnb">
	<li><a href="recovery.html">신성 리커버리</a></li>
	<li><a href="backup.html">백업 및 복구</a></li>
	<li><a href="server.html">서버이중화</a></li>
	<li><a href="virtual.html">가상화</a></li>
	<li><a href="document.html">문서중앙화</a></li>
</ul>