<ul class="sub_lnb">
	<li><a href="login.html">로그인</a></li>
	<li><a href="join.html">회원가입</a></li>
	<li><a href="find_idpw.html">아이디/패스워드 찾기</a></li>
	<li><a href="safeguard.html">개인정보취급방침</a></li>
	<li><a href="agreement.html">이용약관</a></li>
</ul>