<ul class="sub_lnb">
	<li><a href="business.html">사업소개</a></li>
	<li><a href="it.html">IT 구매제안</a></li>
	<li><a href="srm.html">신성SRM</a></li>
	<li><a href="construction_case.html">구축사례</a></li>
	<li><a href="cooperative.html">협력사</a></li>
</ul>