#wrap{position:relative; overflow:hidden; width:100%;}
.content-area, .inner{width:1180px; margin:0 auto;}

#header > div{height:80px;}
.logo-area{float:left; padding-top:16px;}
.gnb{float:right; padding-top:16px;}
.gnb:after{content:''; display:block; clear:both;}
.gnb li{float:left; margin-right:40px;}
.gnb li:last-child{margin-right:0;}
.gnb li a{display:inline-block; font-weight:300; margin-top:12px;}
.gnb li a:hover{color:#00a4e4;}
.gnb li:last-child a{margin-top:4px; padding:5px 20px; border:1px solid #00a4e4; color:#00a4e4;}
.header-fixed{position:fixed; top:0px; z-index:100; width:100%; background-color:#fff;}


#snb-area{padding:16px 0; background-color:#222;}
#snb-area > div:after{content:''; display:block; clear:both;}

.snb{float:left;}
.snb:after{content:''; display:block; clear:both;}
.snb li{float:left;}
.snb li a{color:#fff;}
.snb li:after{content:'|'; display:inline-block; padding:0 20px; font-size:10px; vertical-align:2px; color:#4e4e4e;}
.snb li:last-child:after{display:none;}

.contact-us{float:right; color:#fff;}
.contact-us strong{margin-right:5px;}
.contact-us img{vertical-align:-2px;}

#visual{height:725px; background:url('/workstation/images/visual-img.jpg') center; background-size:cover;}
#visual img{padding-top:45px;}

#quarter{background-color:#ebe9e9;}
.quarter-area{display:table; width:70%; margin:0 auto; padding:20px 0; text-align:center;}
.quarter-area > div, .quarter-area dl{display:table-cell; text-align:center; vertical-align:middle;}
.quarter-area h1{font-size:26px; line-height:39px; font-weight:300; color:#292929;}
.quarter-area h1 strong{font-weight:700;}
.quarter-area dl dd{margin-top:10px; font-size:22px; line-height:34px; font-weight:500;}

#contents{padding:80px 0;}
.color-gray100{background-color:#f8f8f8;}

#contents h2{margin-bottom:20px; padding-bottom:7px; font-size:30px; line-height:42px; font-weight:300; color:#292929; border-bottom:1px solid #dcdcdc;}
#contents h2 span{padding-bottom:4px; border-bottom:3px solid #292929;}
.pro-area{display:table; width:100%;}
.pro-area > div{display:table-cell; width:33.33%; border:1px solid #e5e5e5;}
.pro-area > div:first-child, .pro-area > div:nth-child(2){border-right:0px;}

.product{margin-bottom:40px;}
#contents div.product:last-child{margin-bottom:0;}

.pro-img{background:url('/workstation/images/product-bg.jpg') center bottom repeat-x #fff; vertical-align:middle;}
.pro-img img{width:100%;}
.pro-list{position:relative; padding:40px 30px; text-align:center; background-color:#fff; box-sizing:border-box;}
.pro-list h3{padding-top:6px; font-size:25px; line-height:36px; font-weight:300; color:#292929; background:url('/workstation/images/pro-tit-bar.jpg') center top no-repeat;}
.pro-list ul{margin-top:30px; text-align:left;}
.pro-list ul li{margin-bottom:5px; font-size:14px; line-height:20px; color:#5a5a5a; font-weight:300;}
.pro-list ul li:after{content:''; display:block; clear:both;}
.pro-list ul li:last-child{margin-bottom:0;}
.pro-list ul li strong{float:left; display:block; width:23%; padding-left:10px; font-weight:13px; font-weight:700; background:url('/workstation/images/point-gray.jpg') 0 12px no-repeat; box-sizing:border-box;}
.pro-list ul li span{float:left; display:block; width:77%;}

.new-product{position:absolute; z-index:1; top:-5px; left:10px;}

.btn-area{margin-top:30px; text-align:center;}
.btn-area a{display:inline-block; padding:10px 60px; font-size:19px; line-height:28px; color:#fff; background-color:#292929; border-radius:4px;}


.pro-moniter{}
.pro-moniter:after{content:''; display:block; clear:both;}
.pro-moniter li{position:relative; float:left; width:32%; margin-right:2%; padding-bottom:40px; border:1px solid #e5e5e5; box-sizing:border-box;}
.pro-moniter li:last-child{margin-right:0;}
.pro-moniter li > div:nth-child(2){border-bottom:1px solid #e5e5e5;}

.pro-moniter dl{padding:40px 30px 0 30px; box-sizing:border-box;}
.pro-moniter dt{margin-bottom:24px; padding-top:4px; font-size:25px; line-height:36px; font-weight:300; color:#292929; background:url('/workstation/images/pro-tit-bar.jpg') 0 0 no-repeat;}
.pro-moniter dd{margin-bottom:5px; font-size:14px; line-height:20px; color:#5a5a5a; font-weight:300;}
.pro-moniter dd:last-child{margin-bottom:0;}
.pro-moniter dd:after{content:''; display:block; clear:both;}
.pro-moniter dd strong{float:left; display:block; width:30%; padding-left:10px; font-weight:13px; font-weight:700; background:url('/workstation/images/point-gray.jpg') 0 10px no-repeat; box-sizing:border-box;}
.pro-moniter dd span{float:left; display:block; width:70%;}

.img-cut{margin-top:80px; margin-bottom:68px;}
.img-cut img{width:100%;}


#contents h2{color:#11457f !important;}
#contents h2 span{border-bottom:3px solid #11457f !important;}

.overview-tit:after{content:''; display:block; clear:both;}
.overview-tit h3{float:left; width:45%; font-size:27px; line-height:42px; font-weight:700; letter-spacing:-1.2px;}
.overview-tit h3 strong{color:#0c64a9;}
.overview-tit ul{float:right; width:55%;}
.overview-tit ul:after{content:''; display:block; clear:both;}
.overview-tit ul li{float:left; width:18%; margin-right:2.5%; padding:7% 0; font-size:16px; line-height:24px; color:#fff; text-align:center; border-radius:200px;}
.overview-tit ul li:nth-child(1){background-color:#3fb6ce;}
.overview-tit ul li:nth-child(2){background-color:#59a0ca;}
.overview-tit ul li:nth-child(3){background-color:#5895c4;}
.overview-tit ul li:nth-child(4){background-color:#5574b4;}
.overview-tit ul li:nth-child(5){margin-right:0; background-color:#61687b;}

.overview-list{margin-top:50px;}
.overview-list:after{content:''; display:block; clear:both;}

.overview-list{margin-bottom:50px;}
.overview-list li{float:left; width:23.5%; margin-right:2%; text-align:center;}
.overview-list li:last-child{margin-right:0;}
.overview-list li img{width:100%;}
.overview-list li dl{margin-top:20px;}
.overview-list li dl dt{font-size:20px; line-height:32px; font-weight:700;}
.overview-list li dl dd{margin-top:6px; padding-top:10px; font-weight:300; background:url('/workstation/images/bar-gray.jpg') center 0 no-repeat;}

.certi-list{}
.certi-list:after{content:''; display:block; clear:both;}
.certi-list li{float:left; width:18.8%; margin-right:1.5%; text-align:center;}
.certi-list li:nth-child(5){margin-right:0;}
.certi-list li img{width:100%;}
.certi-list li dl{margin-top:10px; padding:10px 0; border-top:2px solid #00a4e4; border-bottom:1px solid #e5e5e5;}
.certi-list li dl dd{color:#999;}

#footer-logo{padding:30px 0; background-color:#1f1f1f;}
#footer-logo ul:after{content:''; display:block; clear:both;}
#footer-logo ul li:first-child{float:left;}
#footer-logo ul li:last-child{float:right;}
#footer{padding:30px 0; font-size:13px; line-height:21px; color:#fff; background-color:#2d2d2d;}
#footer > div:after{content:''; display:block; clear:both;}


.foo-btn{float:right;}
.foo-txt p span{display:inline-block; margin-right:25px;}
.foo-txt p span:last-child{margin-right:0;}
.foo-txt p a{color:#fff;}
.foo-txt p:last-child{margin-top:20px;}
.foo-link{display:inline-block; margin-left:10px; padding:0 5px; color:#676767; border:1px solid #676767;}


/* Mobile Menu */
.mo-menu-trigger, .mo-menu-trigger span{display:inline-block; transition:all .4s; box-sizing:border-box;}
.mo-menu-trigger{display:none;}
.mo-menu-trigger span{position:absolute; left:0; width:100%; height:4px; background-color:#00a4e4; border-radius:4px;}
.mo-menu-trigger span:nth-of-type(1){top:0;}
.mo-menu-trigger span:nth-of-type(2){top:10px;}
.mo-menu-trigger span:nth-of-type(3){bottom:0;}

.mo-menu-trigger.active span:nth-of-type(1){
	-webkit-transform:translateY(10px) rotate(-315deg);
	transform:translateY(10px) rotate(-315deg);
}

.mo-menu-trigger.active span:nth-of-type(2){
	opacity:0;
}

.mo-menu-trigger.active span:nth-of-type(3){
	-webkit-transform:translateY(-10px) rotate(315deg);
	transform:translateY(-10px) rotate(315deg);
}

.m-gnb-bg{display:none;}
			
@media only screen and (max-width: 1180px) {
	
	.inner{width:auto; padding:0 20px;}
	.quarter-area{width:80%;}

	.pro-list{padding:30px 20px;}
	.pro-moniter li{padding-bottom:20px;}
	.pro-moniter dl{padding:30px 20px 0 20px;}

	.overview-tit h3{float:none; width:100%;}
	.overview-tit h3 br{display:none;}
	.overview-tit ul{float:none; width:100%; margin-top:20px;}
	.overview-tit ul li{float:left; width:18.4%; margin-right:2%; padding:20px 0; border-radius:10px;}

	#footer-logo{padding:20px 0;}
	.foo-btn{float:none; margin-bottom:20px;}

}

@media only screen and (max-width: 960px) {

	
	.gnb{position:absolute; top:0; right:0px; margin-top:0; z-index:99999999; width:320px; height:100%; padding-top:80px; background-color:#0c54a5; transform: translateX(320px); -webkit-transform:translateX(320px); opacity:0;}
	.gnb.active{opacity:1; transform:translateX(0px); -webkit-transform:translateX(0px); transition:all .4s;}
	.gnb li{float:none; width:100%; padding-top:0px; border-bottom:1px solid #1964b9;}
	.gnb li:first-child{border-top:1px solid #1964b9;}
	.gnb li a{display:block; height:auto; width:100%; color:#90c6ff; padding:20px 0; text-align:center;}
	.gnb li:last-child a{display:block; height:auto; width:100%; color:#90c6ff; margin-top:0; padding:20px 0; border:0px; text-align:center;}
	.gnb li.ative a, .gnb li a:hover{color:#fff; border-bottom:0px;}
	
	.m-gnb-bg.active{position:absolute; display:block; top:0; left:0; z-index:9999999; width:100%; height:100%; background:rgba(0, 0, 0, 0.8);}
	.mo-menu-trigger{position:absolute; top:28px; right:20px; z-index:999999999; display:block; width:34px; height:24px; cursor:pointer;}
	.mo-menu-trigger.active span{background-color:#fff;}

	.snb{float:none; display:table; width:100%; text-align:center;}
	.snb li{float:none; width:12.5%; padding-bottom:16px; display:table-cell; text-align:center; vertical-align:middle; border-bottom:1px solid #323232;}
	.snb li a{display:inline-block; width:100%; text-align:center;}
	.snb li:after{display:none;}

	.contact-us{float:none; padding-top:16px; color:#fff; text-align:center;}

	#visual{height:450px;}
	#visual img{height:130px;}

	.quarter-area{width:100%;}
	.quarter-area h1{font-size:22px; line-height:34px; font-weight:300; color:#292929;}
	.quarter-area dl dd{font-size:18px; line-height:28px;}

	#contents h2{font-size:22px; line-height:34px;}
	#contents h2 span{padding-bottom:6px;}

	.pro-area{display:block;}
	.pro-area:after{content:''; display:block; clear:both;}
	.pro-area > div{float:left; display:block; width:50%; box-sizing:border-box;}
	.pro-area > div:first-child{border-right:1px solid #e5e5e5; border-bottom:0px;}
	
	.pro-img{width:100% !important; text-align:center;}
	.pro-img img{width:auto;}
	.pro-list h3{font-size:20px; line-height:32px;}

	.pro-moniter li{width:48%; margin-right:4%; margin-bottom:20px;}
	.pro-moniter li:nth-child(2){margin-right:0;}
	.pro-moniter li:last-child{margin-right:0; margin-bottom:0;}
	.pro-moniter li div.pro-img img{width:90%;}

	.overview-tit h3{font-size:22px; line-height:36px;}
	.overview-list li dl dt{font-size:18px; line-height:28px;}

	#footer-logo ul li img{height:90px;}
	


}

@media only screen and (max-width: 640px) {
	.logo-area{padding-top:22px;}
	.logo-area img{height:36px;}

	.snb li{float:left; width:24.1%; margin-top:5px; margin-right:1.2%; padding:5px 0; border:1px solid #323232; box-sizing:border-box;}
	.snb li:nth-child(4n){margin-right:0;}

	.snb li a, .contact-us{font-size:14px; line-height:24px;}

	#visual{height:340px;}
	#visual img{height:100px;}
	

	.quarter-area{display:block; width:100%;}
	.quarter-area > div, .quarter-area dl{display:block;}
	.quarter-area dl{margin-top:20px;}
	.quarter-area h1{font-size:20px; line-height:32px;}
	.quarter-area dl dd{margin-top:0; font-size:15px; line-height:28px;}

	#contents h2{padding:0; font-size:18px; line-height:28px; font-weight:700; text-align:center; border:0;}
	#contents h2 span{padding-bottom:0;}

	.pro-area > div{float:left; display:block; width:50%; box-sizing:border-box;}

	.pro-area{display:block;}
	.pro-area > div{float:left; display:block; width:50%; box-sizing:border-box;}
	.pro-area > div:first-child{border-right:1px solid #e5e5e5; border-bottom:0px;}
	
	.pro-img img{width:auto;}

	.pro-area{display:block;}
	.pro-area > div{float:none; width:100%;}
	.pro-area > div:nth-child(2){border-right:1px solid #e5e5e5; border-bottom:0px;}
	.pro-list ul{width:64%; margin:0 auto; margin-top:30px;}

	.new-product img{width:80px;}

	.pro-moniter li{float:none; width:100%; margin-right:0%; margin-bottom:20px;}
	.pro-moniter li:last-child{margin-right:0; margin-bottom:0;}
	.pro-moniter li div.pro-img img{width:auto;}
	.pro-moniter dl{width:60%; margin:0 auto;}

	.overview-tit h3{font-size:16px; line-height:26px; text-align:center;}
	.overview-tit ul{display:table; width:100%; border-collapse:separate; border-spacing:0.2em 0}
	.overview-tit ul li{display:table-cell; float:none; width:20%; padding:20px 0; font-size:14px; vertical-align:middle;}
	
	.overview-list li{width:48%; margin-right:4%; margin-bottom:20px; text-align:center; border:1px solid #e5e5e5; box-sizing:border-box;}
	.overview-list li:nth-child(2n){margin-right:0;}
	.overview-list li:last-child{margin-bottom:0px;}
	.overview-list li dl{padding:0 20px; margin:20px 0;}
	.overview-list li dl dt{font-size:16px; line-height:26px;}
	.overview-list li dl dd{font-size:14px; line-height:24px;}

	.certi-list li{width:48%; margin-right:4%; margin-bottom:20px;}
	.certi-list li:nth-child(2n){margin-right:0;}
	.certi-list li:nth-child(5){margin-right:0; margin-bottom:0;}

	#footer-logo ul li img{height:70px;}
}

@media only screen and (max-width: 480px) {

	#visual{height:300px;}
	#visual img{height:80px;}

	.pro-list ul{width:100%;}
	.pro-img img{width:100%;}

	.pro-moniter li div.pro-img img{width:100%;}
	.pro-moniter dl{width:100%;}

	.overview-list li{float:none; width:80%; margin:0 auto; margin-bottom:20px;}
	.overview-list li:nth-child(2n){margin:0 auto; margin-bottom:20px;}
	.overview-list li:last-child{margin:0 auto;}

	.certi-list li{float:none; width:80%; margin:0 auto;}
	.certi-list li:nth-child(2n){margin:0 auto; margin-bottom:20px;}
	.certi-list li:last-child{margin:0 auto;}

	#footer-logo ul li img{height:48px;}

}

@media only screen and (max-width: 320px) {
	.overview-list li, .certi-list li{width:100%;}
}