@charset "utf-8";
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

/* common */
* {margin:0; padding:0; list-style:none; text-decoration:none; font-family:"Nanum Gothic";}
ul>li>a { text-decoration:none; }
a { color:#666666; text-decoration:none; }
table { border-collapse: collapse; }
input[type=radio] { height:auto !important;}
/* 페이징 공통 */
.list_page {  text-align: center; zoom: 1; }
.list_page .first_btn, .list_page .first2_btn { display:inline-block; height:24px; text-indent: -9999px; vertical-align: bottom;}
.list_page .first_btn { width:25px; background: url(../img/arrow_l.png) no-repeat left top; }
.list_page .first2_btn { width:24px; background: url(../img/arrow_l.png) no-repeat -25px top; }
.list_page ul { display: inline-block; overflow: hidden; padding: 0 7px; vertical-align: bottom;}
.list_page li { float: left; margin: 0 5px;}
.list_page li:hover a, .list_page li a.on { color: #fff; background: #444;}
.list_page li a { display: block; width: 24px; height: 24px; font-size: 12px; color: #444; text-align: center; line-height: 25px; }
.list_page .last2_btn, .list_page .last_btn { display: inline-block; height:24px; text-indent:-9999px; vertical-align:bottom; }
.list_page .last2_btn { width:25px; background:url(../img/arrow_r.png) no-repeat left top; }
.list_page .last_btn { width:24px; background:url(../img/arrow_r.png) no-repeat -25px top; }

/* 공지사항 게시판 */
.avanBoard1 { width:100%; border:1px solid #d2d2d2; box-sizing:border-box;}
.avanBoard1_tit { font-size:26px; font-weight:600; color:#272727; padding:30px 20px; border-bottom:1px solid #d2d2d2; }
.avanBoard1_subject li { display:block;  border-bottom:1px solid #e6e6e6; box-sizing:border-box; }
.avanBoard1_subject li a { font-size:16px; font-weight:600; color:#666666; display: block; padding:20px;}
.avanBoard1_subject li a.on, .avanBoard1_subject li a:hover { background:#e9e9e9; }
.avanBoard1_subject .subject { max-width: 600px; display: inline-block; text-overflow: ellipsis; white-space: nowrap; word-wrap: normal; overflow: hidden; vertical-align:middle; }
.avanBoard1_subject .notice { display: inline-block; padding:5px 9px; background:#b2b2b2; font-size:14px; font-weight:600; color:#ffffff; border-radius:12px; margin-right:10px; vertical-align:middle; }
.avanBoard1_subject .date { float:right; font-size:14px; color:#9f9f9f; vertical-align:middle; padding-top:5px; }

.avanBoard1_contents { width:100%; background:#f9f9f9; padding:20px 20px 70px 20px; font-size:14px; color:#666666; line-height:18px; box-sizing:border-box; border:1px solid #d2d2d2; border-top:none;}
.avanBoard1_contents .dateHit { display:block; text-align:right; font-size:12px; color:#666666; padding-bottom:20px; }
.avanBoard1_contents .hit { margin-left:15px; }

.avanBoard1_btn { margin:10px auto 0; text-align:right;  }
.avanBoard1_btn li { display:inline-block; margin-left:10px;}
.avanBoard1_btn li input[type=button] { padding:5px 10px; background:#cecece; border:none; border-radius:2px; font-size:13px; font-weight:600; color:#ffffff; cursor:pointer; }
.avanBoard1_btn li input[type=button]:hover { background:#444444; }

/* 게시판 공통 - 보기 */
.avanBoardView_subject { width:100%; display:block; border-bottom:1px solid #d2d2d2; font-size:16px; font-weight:600; color:#666666; padding:20px; background:#e9e9e9; }
.avanBoardView_contents { width:100%; background:#f9f9f9; padding:20px 20px 20px 20px; font-size:14px; color:#666666; line-height:18px; border-top:none;}
.avanBoardView_contents img { max-width:100%; margin-bottom:20px; }
.avanBoardView_contents .dateHit { display:block; text-align:right; font-size:12px; color:#666666; padding-bottom:20px; }
.avanBoardView_contents .hit { margin-left:15px; }
.avanBoardView_contents .file { padding-top:70px; font-size:12px; color:#999999; }
.avanBoardView_contents .file a { font-size:12px; color:#ff7e00; }

/* 게시판 공통 - 쓰기 */
.avanBoardForm { width:100%; }
.avanBoardForm th, .avanBoardForm td { padding:10px; border-bottom:1px solid #e9e9e9;}
/*.avanBoardForm th { background:#f9f9f9; font-size:16px; font-weight:600; color:#666666; border-right:1px solid #e9e9e9; }*/
.avanBoardForm td { font-size:16px; color:#666666; }
/*.avanBoardForm td input[type=text] { border:1px solid #e9e9e9; height:28px; font-size:16px; color:#666666; padding:0 10px; }*/
.avanBoardForm tr:last-child th, .avanBoardForm tr:last-child td { border-bottom:none; }
.avanBoardForm td .choice { padding-left:15px; font-size:12px; color:#666666; }
.avanBoardForm td .choice input[type=checkbox] { vertical-align:middle; width:16px; height:16px; margin-right:4px; }
.avanBoardForm td .fileInput { vertical-align: bottom; font-size:12px; }
.avanBoardForm td .file { display:inline-block; line-height:28px; padding:0 10px; background:#cecece; border:none; border-radius:2px; font-size:13px; font-weight:600; color:#ffffff;  }
.avanBoardForm td .imgDelete { padding-left:15px; font-size:12px; color:#666666; }
.avanBoardForm td .imgDelete input[type=checkbox] { vertical-align:middle; width:16px; height:16px; margin-right:4px; }
.avanBoardForm td .secret { padding-left:10px; font-size:12px; }


.ico_file { width:15px; height:15px; margin-left:5px; background:url(../img/ico_file.gif) no-repeat; background-size:13px; display:inline-block; vertical-align:middle;}
.ico_key { width:15px; height:15px; margin-left:5px; background:url(../img/ico_key.gif) no-repeat; background-size:10px 15px; display:inline-block; vertical-align:middle;}
.ico_new { width:15px; height:15px; margin-left:5px; background:#ff7e00; border-radius:2px; display:inline-block; vertical-align:middle; font-size:12px; font-weight:600; color:#ffffff; text-align:center;}

.ico_reple { width:20px; height:15px; margin:0 5px 0 10px; background:#272727; border-radius:2px; display:inline-block; vertical-align:middle; font-size:12px; font-weight:600; color:#ffffff; text-align:center;}

.avanBoardFree_list { width:100%; }
.avanBoardFree_list th, .avanBoardFree_list td {  text-align:center; border-bottom:1px solid #e9e9e9; padding:15px 5px; }
.avanBoardFree_list th { background:#f9f9f9; font-size:16px; font-weight:600; color:#666666; }
.avanBoardFree_list td { font-size:14px; color:#666666; }
.avanBoardFree_list .subject { text-align:left !important; }
.avanBoardFree_list .subject .tit { max-width:450px; display: inline-block; text-overflow: ellipsis; white-space: nowrap; word-wrap: normal; overflow: hidden; vertical-align:middle;}
.avanBoardFree_list td .notice { font-size:12px; font-weight:600; }
.avanBoardFree_list td .notice, .avanBoardFree_list .subject a:hover { color:#ff7e00; } /* 공지표지, 마우스 오버시 제목 글씨 색상 */

.avanBoardImg_List { width:100%; padding:20px; display:inline-block; }
.avanBoardImg_List li { width:100%; border-bottom: #dedede 1px solid; display:inline-block; padding:15px 0; }
.avanBoardImg_List li a { display:block;}
.avanBoardImg_List li:first-child { padding-top:0; }
.article_img { border: #d0d0d0 1px solid; margin-right: 20px; float: left; }
.article_img, .article_img img { width:120px; height:80px; }
.article_tit{ display:block; font-size:16px; color:#333; font-weight: 600; }
.article_txt{ display:block; font-size:14px; line-height:20px; color:#666666; margin:6px 0 20px 0; }
.article_data{ display:block; font-size:12px; color:#999999; }

/* QNA 비밀번호입력 */
.md_secret_check { display:inherit; margin:20px auto 200px; width:300px; padding:20px; text-align:center; border:1px solid #dedede; }
.md_secret_check h3 { font-size:14px; font-weight:600; color:#444444; text-align:left; }
.md_secret_check p	{ display:block; height:32px; margin:5px 0; color:#666666; font-size:13px; font-weight:400; text-align:left;}
.md_secret_check a { display: inline-block; width:80px; border-radius:2px; color:#fff; font-size:14px; font-weight:600; line-height:30px; text-align:center; background:#2fa0ee;}
.secret_box			{ width:100%; border-top:1px solid #e6e6e6; border-left:1px solid #e6e6e6; border-right:1px solid #e6e6e6; text-align:left; margin-bottom:30px;}
.secret_box th, .secret_box td		{ height:42px; vertical-align:middle;  border-bottom:1px solid #e6e6e6; color:#666; font-size:13px; font-weight:600; }
.secret_box th		{ width:70px; text-align:left; padding-left:10px; font-weight:400; background:#efefef; }
.secret_box td		{ padding:0 10px; background:#efefef; }
.secret_box input, .secret_box select	{ height:28px; padding-left:5px; border:1px solid #c6c6c6; color:#666; box-sizing:border-box}

/* 갤러리 게시판 */
.avanBoardGallery { width:100%; border:1px solid #d2d2d2; box-sizing:border-box;}
.avanBoardGallery_tit { font-size:26px; font-weight:600; color:#272727; padding:30px 20px; border-bottom:1px solid #d2d2d2; position:relative; }
.avanBoardGallery_tit form { position:absolute; right:4px; bottom:10px; }
.avanBoardGallery_tit form select, .avanBoardGallery_tit form input { border:1px solid #d2d2d2; height:28px; font-size:13px; color:#666666; padding:0 5px; }
.avanBoardGallery_tit form input[type=button] { padding:5px 10px; background:#cecece; border:none; border-radius:2px; font-size:13px; font-weight:600; color:#ffffff; cursor:pointer; }

.avanBoardGallery_List { width:100%; margin:20px; overflow:hidden; }
.avanBoardGallery_List li { width:23.3%; display:inline-block; padding:0 10px 30px 0; }
.avanBoardGallery_List li:nth-child(4n+4) { padding-right:0; } 
.avanBoardGallery_List li img { width:100%; height:200px; }
.avanBoardGallery_List li a { display:block;}
.avanBoardGallery_List li p { font-size:14px; font-weight:600; color:#666666; text-align:center; padding-top:10px; }




















/* 포토리스트 */
.photo_list { display:inline-block; width:100%; }
.photo_list li { float:left; width:300px; height:310px; box-sizing:border-box; border:1px solid #eee; margin-right:20px; margin-bottom:20px; padding:5px;}
.photo_list li img { height:210px;}
.photo_list li .title { text-align:center; font-size:16px; color:#666; font-weight:600; margin-top:20px;border: none;
    padding: 0;
    margin-bottom: 0; }
.photo_list li .bt_txt { text-align:right; color:#b3b3b3; font-size:14px; margin-top:10px; }
.photo_list li .bt_txt .day { border-left:1px solid #ddd; margin-left:5px; padding-left:5px;}
.photo_list li:nth-child(3n) { margin-right:0; }



/* view */

.view_page { border-top:1px solid #333; }
.view_page .title { background:#f7f7f7; line-height:50px; padding:0 20px; font-size:14px; color:#666; font-weight:600; border-bottom:1px solid #eee;  }
.view_page .title .sub_title { float:right; font-size:13px; color:#888; font-weight:500; }
.view_page .title .sub_title .day, .view_page .title .sub_title .views { border-left:1px solid #ddd; margin-left:10px; padding-left:10px; }
.view_page .view_contents { text-align:left; padding:30px 20px; border-bottom:1px solid #eee;     background: #fff;}
.view_page .view_contents img { margin: 0 auto;
    display: block;}
.view_page .view_contents p { text-align:left; font-size:14px; color:#666; line-height:22px; }
.view_page .file { line-height:40px; color:#666; font-size:14px; padding:0 20px; border-bottom:1px solid #eee;}
.view_page .file .file_name { border-left:1px solid #ddd; margin-left:10px; padding-left:10px; cursor:pointer;  }

.view_page .title02 { padding:0 20px; font-size:18px; color:#666; font-weight:600; border-bottom:1px solid #333; padding-bottom:10px; margin-top:70px;}
.view_page .title02 .sub_title { float:right; font-size:13px; color:#888; font-weight:500; }
.view_page .title02 .sub_title .day, .view_page .title02 .sub_title .views { border-left:1px solid #ddd; margin-left:10px; padding-left:10px; }








/* 기본 리스트 */
.basic_list { width:100%; border-top:1px solid #333; }
.basic_list th { background:#ececec;  }
.basic_list th , .basic_list td { height:50px; font-size:14px; color:#666; text-align:center; border-bottom:1px solid #e3e3e3; }
.basic_list td:nth-child(2) { text-align:left; padding-left:10px;}
.basic_list td { background:#fff;}





/* 쓰기 list */
.write_list {  width:100%; border-top:1px solid #333;}
.write_list th { background:#f7f7f7;  }
.write_list th , .write_list td { height:50px; font-size:14px; color:#666; text-align:left;  border-bottom:1px solid #e3e3e3; padding-left:10px;}
.write_list input,.write_list select { border:1px solid #e3e3e3; height:38px; padding:0 10px; box-sizing:border-box; }
.write_list select {  -moz-appearance: none;
-webkit-appearance: none;
  appearance: none;
  background: url(../image/sub/arrow.png) no-repeat 90% 50% #fff; /* 화살표 모양의 이미지 */}
  select::-ms-expand { display: none; } /* IE 10, 11의 네이티브 화살표 숨기기 */
.select01 { width:240px; }
.select02 { width:110px; }
.input01 { width:410px; }
.input02 { width:110px;  margin-right:5px;}

.write_list textarea { border:1px solid #e3e3e3; width:710px; height:138px; margin-top: 5px;
    margin-bottom: 2px;
    padding: 10px;
    box-sizing: border-box; outline:none; }


	

/* 버튼 */

.list_btn { text-align:center; margin-top:60px;}
.list_btn a{ display:inline-block; width:110px; line-height:42px;  background:#444; color:#fff; font-size:16px; font-weight:600; border:1px solid #444; }
.list_btn a:nth-child(2) { background:#fff; border:1px solid #444; color:#444; }
.list_btn a:nth-child(3) { background:#888; border:1px solid #888; }
.list_btn a:nth-child(4) { background:#b7b7b7; border:1px solid #b7b7b7; }

.write_btn {  margin-bottom:80px; float:right;}
.write_btn a{ display:inline-block; width:110px; line-height:42px;  border:1px solid #444; color:#444; font-size:16px; font-weight:600; text-align:center;}

.list_btn input[type=button] { cursor:pointer; display:inline-block; width:110px; line-height:42px;  background:#444; color:#fff; font-size:16px; font-weight:600; border:1px solid #444; } 
.list_btn input[type=button]:first-child { background:#fff; color:#444; margin-right:5px;}



/* 검색 */
.search_wrap { float: right; margin-bottom: 10px; position: relative;}	
.search_wrap select { width: 90px; height: 35px; border: 1px solid #ccc; padding: 0 10px; box-sizing: border-box; -webkit-appearance: none;
    -moz-appearance: none;vertical-align: middle;
    appearance: none; background: url(/main/_image/arrow.png) no-repeat 90% 50% #fff;
}	
select::-ms-expand { display: none; }
.search_wrap input[type=text] { width: 190px; height: 34px; border: 1px solid #ccc; padding: 0 10px; box-sizing: border-box; margin-left: 5px;}	
.search_wrap input[type=image] {  position: absolute; top: 0; right: 0; cursor: pointer;}	

















