/* 서브 CSS */


#A_Container_wrap { height:100%; background:#fff; }
.sub_content { margin-bottom:80px;}
.content { text-align:center;}
.visual { position: relative; height:250px; width: 100%; overflow: hidden; margin-top: 0px; }
.sub_visual { position:absolute; width:100%; left:50%; margin-left:-960px; }
.sub_visual_img img {height:250px;}

#A_Container_L .title {padding:22px 10px; text-align:center;font-size:25px; color:#fff; line-height:45px;  background:url(../image/sub/sub_title.png)no-repeat; }
#A_Container_L ul li {font-size:14px; color:#666; font-weight:600; border-bottom:1px solid #e3e3e3; padding:12px 10px; background:url('../image/sub/lnb_more.png')no-repeat 95% 50% ;}
#A_Container_L ul li.p7 {padding:12px 7px;}
#A_Container_L ul {margin-bottom:22px; border:1px solid #e3e3e3; border-bottom:none;}
#A_Container_L .lnb_sub01 {font-weight:600;}
#A_Container_L .lnb_sub01 .tit_sub2 {padding:30px 9px; }
#A_Container_L ul a li:hover {background:url('../image/sub/lnb_more_on.png')no-repeat 95% 50% #f7f7f7; color:#22b6af; font-size:14px;}
#A_Container_L ul li .on {background:url('../image/sub/lnb_more_on.png')no-repeat 95% 50% #f7f7f7; color:#22b6af; font-size:14px; font-weight:600; }

#A_Container_L .lnb_sub02 li:nth-child(1) {padding:0 15px; font-size:22px; font-weight:600; color:#585858; padding-left:80px; background:url('../image/sub/clock_icon.png')no-repeat 14% 50%; padding-top:40px; padding-bottom:15px;}

#A_Container_L .lnb_sub02 li:nth-child(2) {font-size:13px; font-weight:600; padding:9px 0; padding-left:10px;}
#A_Container_L .lnb_sub02 li:nth-child(2) p {line-height:30px; color:#a8a8a8;}
#A_Container_L .lnb_sub02 li:nth-child(2) span {color:#717171; margin-left:5px;}
#A_Container_L .lnb_sub02 li:nth-child(3) {font-size:12px; color:#787171;}
#A_Container_L .lnb_sub02 li:nth-child(3) p {line-height:20px; text-align:center;}
#A_Container_L .lnb_sub02 li:nth-child(3) span {color:#333;}

#A_Container_L .lnb_sub02 table tr th {text-align:left; color:#a9a8a8; height:25px;}
#A_Container_L .lnb_sub02 table tr td {text-align:right; color:#717172; width:130px;}
#A_Container_L .lnb_sub02 table .c_purple {color:#9e6da4;}
#A_Container_C {width:940px; float:left; overflow:hidden;}



/* 우측 서브 타이틀/네비게이션 */
#A_Container_C .center_top { margin-bottom:40px; position:relative; height:50px; border-bottom:1px solid #ddd; padding-bottom:10px;}
#A_Container_C .center_top .sub_title { color:#444444; font-size:30px; font-weight:bold; line-height:42px; margin-top:50px;}
.nav { position:absolute; top:30px; right:0; background:url(../image/sub/home.png)no-repeat 5% 80%; padding-left:30px }
.nav li { float:left; padding:0 10px 0 5px;  font-size:12px; color:#888; height:14px; }
.nav li span { padding-right:10px; color:#888; font-size:8px; }
.navfat { position:absolute; top:30px; right:0; background:url(../image/sub/home.png)no-repeat 3% 80%; padding-left:20px }
.navfat li { float:left; padding:0 0 0 5px;  font-size:12px; color:#888; height:14px; }
.navfat li span { padding-right:10px; color:#888; }



/* 우리는 운동중 */
.ecercise_list { display:inline-block; width:100%; }
.ecercise_list li { width:300px; height:310px; border:1px solid #eee; margin-right:20px; margin-bottom:20px; float:left; box-sizing:border-box; cursor:pointer; }
.ecercise_list li:nth-child(3n) { margin-right:0; }
.plus_btn { width:180px; line-height:50px; margin:50px auto; text-align:center; background:#59bbb6; color:#fff; font-weight:600; font-size:16px; cursor:pointer; }





/* 우리는운동중 view */
.exercise_view { position:fixed; width:100%; height:100%; background:rgba(0,0,0,0.6); z-index:100; display:none; }
.view_imgwrap { width:100%; top:200px; position:absolute; }
.view_imgwrap .img { background:#fff; width:450px; height:465px; margin:0 auto; }

.view_imgwrap .close { width:450px; margin:0 auto; display:block; text-align:right; margin-bottom:5px; cursor:pointer; }
.view_imgwrap .day { width:450px; margin:0 auto; display:block; text-align:left; font-size:18px; color:#fff; font-weight:600; margin-top:5px;}


















/* 포토리스트 */
.photo_list { display:inline-block; width:100%; }
.photo_list li { float:left; width:300px; height:310px; box-sizing:border-box; border:1px solid #eee; margin-right:20px; margin-bottom:20px; padding:10px;}
.photo_list li .title { text-align:center; font-size:16px; color:#666; font-weight:600; margin-top:20px; }
.photo_list li .bt_txt { text-align:right; color:#b3b3b3; font-size:14px; margin-top:10px; }
.photo_list li .bt_txt .day { border-left:1px solid #ddd; margin-left:5px; padding-left:5px;}
.photo_list li:nth-child(3n) { margin-right:0; }



/* view */

.view_page { border-top:1px solid #333; }
.view_page .title { background:#f7f7f7; line-height:50px; padding:0 20px; font-size:14px; color:#666; font-weight:600; border-bottom:1px solid #eee;  }
.view_page .title .sub_title { float:right; font-size:13px; color:#888; font-weight:500; }
.view_page .title .sub_title .day, .view_page .title .sub_title .views { border-left:1px solid #ddd; margin-left:10px; padding-left:10px; }
.view_page .view_contents { text-align:center; padding:30px 20px; border-bottom:1px solid #eee; }
.view_page .view_contents img { margin-bottom:30px;}
.view_page .view_contents p { text-align:left; font-size:14px; color:#666; line-height:22px; }
.view_page .file { line-height:40px; color:#666; font-size:14px; padding:0 20px; border-bottom:1px solid #eee;}
.view_page .file .file_name { border-left:1px solid #ddd; margin-left:10px; padding-left:10px; cursor:pointer;  }

.view_page .title02 { padding:0 20px; font-size:18px; color:#666; font-weight:600; border-bottom:1px solid #333; padding-bottom:10px; margin-top:70px;}
.view_page .title02 .sub_title { float:right; font-size:13px; color:#888; font-weight:500; }
.view_page .title02 .sub_title .day, .view_page .title02 .sub_title .views { border-left:1px solid #ddd; margin-left:10px; padding-left:10px; }








/* 기본 리스트 */
.basic_list { width:100%; border-top:1px solid #333; }
.basic_list th { background:#f7f7f7;  }
.basic_list th , .basic_list td { height:50px; font-size:14px; color:#666; text-align:center; border-bottom:1px solid #e3e3e3; }
.basic_list td:nth-child(2) { text-align:left; padding-left:10px;}




/* 무료 pt 신청 */
.apply_bar01, .apply_bar02{ font-size:13px; color:#fff; display:inline-block; width:70px; line-height:25px; text-align:center; background:#97d3d0; border-radius:2px; }
.apply_bar02 { background:#d6d6d6; }



/* 쓰기 list */
.write_list {  width:100%; border-top:1px solid #333;}
.write_list th { background:#f7f7f7;  }
.write_list th , .write_list td { height:50px; font-size:14px; color:#666; text-align:left;  border-bottom:1px solid #e3e3e3; padding-left:10px;}
.write_list input,.write_list select { border:1px solid #e3e3e3; height:38px; padding:0 10px; box-sizing:border-box; }
.write_list select {  -moz-appearance: none;
-webkit-appearance: none;
  appearance: none;
  background: url(../image/sub/arrow.png) no-repeat 90% 50% #fff; /* 화살표 모양의 이미지 */}
  select::-ms-expand { display: none; } /* IE 10, 11의 네이티브 화살표 숨기기 */
.select01 { width:240px; }
.select02 { width:110px; }
.input01 { width:410px; }
.input02 { width:110px;  margin-right:5px;}

.write_list textarea { border:1px solid #e3e3e3; width:710px; height:138px; margin-top: 5px;
    margin-bottom: 2px;
    padding: 10px;
    box-sizing: border-box; outline:none; }


	

/* 버튼 */

.list_btn { text-align:center; margin-top:60px;}
.list_btn a{ display:inline-block; width:110px; line-height:42px;  background:#444; color:#fff; font-size:16px; font-weight:600; }

.write_btn {  margin-bottom:80px; float:right;}
.write_btn a{ display:inline-block; width:110px; line-height:42px;  border:1px solid #444; color:#444; font-size:16px; font-weight:600; text-align:center;}

.list_btn input[type=button] { cursor:pointer; display:inline-block; width:110px; line-height:42px;  background:#444; color:#fff; font-size:16px; font-weight:600; border:1px solid #444; } 
.list_btn input[type=button]:first-child { background:#fff; color:#444; margin-right:5px;}



/* 전화문의 */
.call_top { width:940px; height:230px; background:url(../image/sub/call_bg.png)no-repeat; text-align:center; padding:90px 0; box-sizing:border-box; margin-bottom:30px; }
.call_top .txt01 { color:#fff; font-size:24px; font-weight:600;}
.call_top .txt02 { color:#fff; font-size:14px;  margin-top:5px;}

.call_list { display:inline-block; width:100%; }
.call_list li { float:left; width:458px; height:90px; border:1px solid #50b7b2; margin-right:20px; margin-bottom:20px; }
.call_list li:nth-child(2n) { margin-right:0; }
.call_list .name { width:140px; height:90px; background:url(../image/sub/call_logo.png)no-repeat center 15px #50b7b2; color:#fff; font-size:21px; font-weight:600; text-align:center; box-sizing: border-box;
    padding-top: 48px; float:left; }
.call_list .number { font-size:35px; font-weight:600; color:#666; text-align:center; line-height:90px; float:left; width:318px; }
.call_list .number02 { font-size:24px; font-weight:600; color:#c6c6c6; text-align:center; line-height:90px; float:left; width:318px; }



/* 카카오톡 문의 */
.kakao_top { width:940px; height:230px; background:url(../image/sub/kakao_bg.png)no-repeat; box-sizing:border-box; padding-left:40px;  padding-top:32px; margin-bottom:30px;}
.kakao_top .txt01 { font-size:54px; color:#fddc00; font-weight:600; letter-spacing:-5px; margin-bottom:10px;  }
.kakao_top .txt02 { font-size:14px; color:#fff; }
.kakao_top .txt03 { font-size:16px; color:#3a2f36; font-weight:600; background:#fff;     display: inline-block;
    padding: 5px 10px; margin-top:25px;}

	
.kakao_list { display:inline-block; width:100%; }
.kakao_list li{ width:460px; height:190px; box-sizing:border-box; border:2px solid #fed501; float:left; margin-right:20px; margin-bottom:20px; }
.kakao_list li:nth-child(2n) { margin-right:0; }
.kakao_list li .logo { width:140px; height:188px; background:url(../image/sub/kakao.png)no-repeat center #fed501; float:left; }
.kakao_list li .name { float:left; width: 316px; text-align:center;padding: 38px 0px; }
.kakao_list li .name .txt01 { font-size:22px; color:#4f3e36; font-weight:600; }
.kakao_list li .name .txt02 { font-size:14px; color:#4f3e36; letter-spacing:-1px;  margin-top:5px; margin-bottom:20px;}
.kakao_list li .name a{ font-size:18px; color:#fff; font-weight:600; width:170px; line-height:45px; display:inline-block; border-radius:50px;  background:#4f3e36}


/* 프로그램 */
.program .list { height:285px; width:100%; border-bottom:1px solid #eee;  box-sizing:border-box; position:relative; padding-top: 67px;}
.program .list .txt { padding-left:270px;}
.program .list .txt01 { font-size:18px; color:#444; font-weight:600; }
.program .list .txt02 { font-size:13px; color:#888; line-height:18px; margin-top:10px; margin-bottom:20px; }
.program .list .txt03 { font-size:14px; color:#666; line-height:22px; }
.program .list .icon { position: absolute;
    width: 100%;
    text-align: center; bottom:-17px; }

.program .list:nth-child(1) { background:url(../image/sub/program01.png)no-repeat 65px center;  }
.program .list:nth-child(2) { background:url(../image/sub/program02.png)no-repeat 65px center;  }
.program .list:nth-child(3) { background:url(../image/sub/program03.png)no-repeat 65px center;  }
.program .list:nth-child(4) { background:url(../image/sub/program04.png)no-repeat 65px center;  }
.program .list:nth-child(5) { background:url(../image/sub/program05.png)no-repeat 65px center;  border-bottom:0; }



/* 지점소개 */

.map_top { border-bottom:1px solid #ddd; margin-bottom:30px; padding-bottom:30px; display:inline-block; width:100%; }

.slider_wrap {  width: 400px; float: left;}
.slider2 { position:relative; width:100%; }
.slider2 .slick-prev, .slider2 .slick-next { display:block; text-indent:-9999px; width:26px; height:26px; position:absolute; z-index:100; border:none; top:-55px; cursor:pointer;}
.slider2 .slick-prev { background:url(../image/main/con_prev01.png) no-repeat; left:299px; }
.slider2 .slick-next { background:url(../image/main/con_next01.png) no-repeat; right:30px; }


.intro { float:left; width:540px; 
    box-sizing: border-box; padding:20px; }
.intro .top_txt01 { font-size:16px; color:#888; }
.intro .top_txt02 { font-size:24px; color:#444; line-height:30px; margin-top:5px; }
.intro .top_txt02 span { color:#3db3ad; font-weight:600; }

.intro .number { font-size:28px; color:#666; margin-top:50px; }
.intro .number span { font-weight:600; }
.intro .add { font-size:16px; color:#888; margin-top:5px; }

.intro ul { display:inline-block; width:100%; margin-top:30px; }
.intro ul li { float:left; width:123px; height:115px; margin-right:2px; text-align:center; padding-top: 65px;
    box-sizing: border-box;}
.intro ul li:nth-child(1) { background:url(../image/sub/intro01.png)no-repeat center 16px #8d9393; }
.intro ul li:nth-child(2) { background:url(../image/sub/intro02.png)no-repeat center 16px #50b7b2; }
.intro ul li:nth-child(3) { background:url(../image/sub/intro03.png)no-repeat center 16px #4fa4c3; }
.intro ul li:nth-child(4) { background:url(../image/sub/intro04.png)no-repeat center 16px #ec9e4a; margin-right:0; }


.intro ul li .txt01 { font-size:13px; color:#fff; }
.intro ul li .txt02 { font-size:16px; font-weight:600;  color:#fff;}
.intro .bt_txt { font-size:13px; color:#888; margin-top:10px; }
.intro .bt_txt span { color:#4fa4c3; font-weight:600;}



/* 비포에프터 */
.beforeafter { text-align:left; display:inline-block; width:100%; }
.beforeafter img { float:left; }
.beforeafter .txt { float:left; }

.beforeafter .txt { float:left; margin-top:60px; margin-left:40px; color:#666; font-size:18px;}
.beforeafter .txt .name { font-size:24px; font-weight:600; }
.beforeafter .txt .name .term { font-size:16px; font-weight:500; }
.beforeafter .txt .name .new { font-size:12px; color:#de924d; font-weight:normal; background:#f7ff17; display:inline-block; width:40px; line-height:20px; border-radius:2px; text-align:center; vertical-align:top; margin-top:4px; margin-left:5px;}
.beforeafter .txt li { line-height:30px; background:url(../image/sub/dot.png)no-repeat left; padding-left:20px; }
.beforeafter .txt li:first-child { border-bottom:1px dashed #c6c6c6; padding-bottom:10px; margin-bottom:10px; background:none; padding-left:0; }








/*  공통   */

.search_wrap { float:right; margin-bottom:10px; position:relative; }
.search_wrap select {   width:100px; height:38px; border:1px solid #ccc; padding:0 10px; box-sizing:border-box;  -moz-appearance: none;
-webkit-appearance: none;
  appearance: none;
  background: url(../image/sub/arrow.png) no-repeat 90% 50% #fff; /* 화살표 모양의 이미지 */}
  select::-ms-expand { display: none; } /* IE 10, 11의 네이티브 화살표 숨기기 */
select,input { outline:none; }
.search_wrap input {  width:200px; height:38px; border:1px solid #ccc; padding:0 10px;  box-sizing:border-box; margin-left:5px;  }
.new { background:#444; color:#fff; font-size:10px; text-align:center; width:35px; line-height:17px; display:inline-block; border-radius:2px; margin-left:5px;}
.search_wrap img { position:absolute; top:9px; right:10px; cursor:pointer; }

.re_bar { background:#888; color:#fff; font-size:10px; text-align:center; width:30px; line-height:17px; display:inline-block; border-radius:2px; margin-right:5px;}



















