 <!DOCTYPE html>
 <html lang="ko">

 <head>
 	<!-- #include file="_inc/head.html" -->
 	<!-- s: 현재페이지에만 적용할 특정 스크립트 추가영역 -->
 	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 	<link rel="stylesheet" href="_css/sub.css" />
 	<script src="js/modernizr.custom.js"></script>
 	<script src="js/jquery.tmpl.min.js"></script>
 	<script src="js/jquery.easing.1.3.js"></script>
 	<script src="js/jquery.elastislide.js"></script>
 	<script src="js/gallery.js"></script>
 	<script src="http://code.jquery.com/jquery-latest.js"></script>
 	<script async src="https://www.googletagmanager.com/gtag/js?id=AW-790977950"></script>
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-691446082"></script>


 	<!-- e: 현재페이지에만 적용할 특정 스크립트 추가영역 -->
 	<script>
	$(function(){
		$(".topnav").hover(function() { //마우스를 오버시
			$(this).parent().find(".sub-menu").slideDown('normal').show(); // 내려옴.
			$(this).parent().hover(function() {
			}, function(){
				$(this).parent().find(".sub-menu").slideUp('fast'); //마우스 벗어났을 시 원위치시킴
			});
		});

		$('p.top').click(function(){
			$("html,body").animate({'scrollTop' : 0}, 400);
		});


	});



	$(function(){
		$('.gnbCon p.b2b').click(function(){
			$(this).parent().find(".sub-menu2").slideToggle('fast');
		});
	});
	$(function() { //사이트맵 B2B 배경색
		$('#menuLink dl:even').css("backgroundColor","#f2f2f2");
		$('#menuLink dl:odd').css("backgroundColor","#fff");
	});

	$(function() {
		var quick_menu = $("#quick");
		var quick_top = 170;
		quick_menu.css('top', $(window).height() );
		$(document).ready(function(){
			quick_menu.animate( { "top": $(document).scrollTop() + quick_top +"px" },  1000 ); //스크롤이 올라갈 때의 속도 값이 높아질수록 부드럽게 움직임
			$(window).scroll(function(){
				quick_menu.stop();
				quick_menu.animate( { "top": $(document).scrollTop() + quick_top + "px" }, 100 ); //스크롤 내려갈 때의 속도
			});
		});
	});

</script>

 	
 	
 <script id="img-wrapper-tmpl" type="text/x-jquery-tmpl">	
	<div class="rg-image-wrapper"> 
		{{if itemsCount > 1}}
			<div class="rg-image-nav">
				<a href="#;" class="rg-image-nav-prev">Previous Image</a>
				<a href="#;" class="rg-image-nav-next" >Next Image</a>
			</div>
		{{/if}}
		<div class="rg-image"></div>
	</div>
</script>

 	<script type="text/javascript">
 		$(document).ready(function() {
 			// search ui tabs
 			$(document).ready(function() {
 				//When page loads...
 				$(".tab_content").hide(); //Hide all content
 				$("ul.tabs li:first").addClass("active").show(); //Activate first tab
 				$(".tab_content:first").show(); //Show first tab content

 				//On Click Event
 				$("ul.tabs li").click(function() {

 					$("ul.tabs li").removeClass("active"); //Remove any "active" class
 					$(this).addClass("active"); //Add "active" class to selected tab
 					$(".tab_content").hide(); //Hide all tab content

 					var activeTab = $(this).find("a").attr("href"); //Find the href attribute value to identify the active tab + content
 					$(activeTab).show(); //Fade in the active ID content
 					return false;
 				});
 			});
 		});

 	</script>

 	<script type="text/javascript">
 		$(function() { //테이블 배경색

 			$('.pdTable tr:even td.text, .pdTable tr:even td.prcTxt').css("backgroundColor", "#fbfbfb"); // even 짝수
 		});

 		//-----------quick view popup-----------//


 		$(".quickbtn").click(function() {
 			var idx = $(this).attr("rel");
 			var url = "/sub/b2b/ajax_product_quick_view.php";

 			$.get(url, {
 				idx: idx
 			}, function(args) {
 				$(".mw_layer_Box").html(args);
 			});
 		});


 		$(".addbtn").click(function() {
 			var idx = $(this).attr("rel");

 			if (idx > 0) {
 				$.post("/sub/b2b/ajax_cart.php", {
 					"idx": idx
 				}, function(data, status) {
 					alert(data);

 				});
 			}

 		});


 		$(".cartBtn").click(function() {
 			var idx = $(this).attr("rel");

 			if (idx > 0) {
 				$.post("/sub/b2b/ajax_cart.php", {
 					"idx": idx
 				}, function(data, status) {
 					alert(data);

 				});
 			}

 		});



 		jQuery(function($) {
 			var layerWindow = $('.mw_layer');
 			var layer = $('#layer');



 			/* ESC Event*/
 			$(document).keydown(function(event) {
 				if (event.keyCode != 27) return true;
 				if (layerWindow.hasClass('open')) {
 					layerWindow.removeClass('open');
 				}
 				return false;
 			});

 			// Hide Window
 			layerWindow.find('>.bg').mousedown(function(event) {
 				layerWindow.removeClass('open');
 				return false;
 			});
 		});

 	</script>
 </head>

 <body>
 	<div id="A_Wrap">
 		<div id="A_Header" class="active">
 			<!-- #include file="_inc/header.html" -->
 		</div>
 		<!-- 서브 네비게이션 -->
 		<div id="sub_nav">
 			<div class="inner">
 				<ul>
 					<li class="home"><a href="index.html">Home</a></li>
 					<li><a href="#">B2B 제품</a></li>
 				</ul>
 			</div>
 		</div>
 		<div id="A_Container">
 			<!-- 서브컨텐츠 -->

 			<div id="container" class="listContainer">
 				<ul class="naviSubject">
 					<li><a href="#"><span>하드웨어</span></a></li>
 					<li><a href="#"><span>노트북</span></a></li>
 				</ul>
 				<h3>HP EliteBook 840 G4 Notebook PC</h3>
 				<p class="code">제품코드 # <span>1515471768</span></p>
 				<div class="pdSection">
 					<div class="gallery_pd">
 						<div id="rg-gallery" class="rg-gallery">
 							<div class="rg-view"></div>
 							<div class="rg-thumbs">
 								<!-- Elastislide Carousel Thumbnail Viewer -->
 								<div class="es-carousel-wrapper">
 									<div class="es-carousel">
 										<ul style="margin-left: 0px;">

 											<li class="selected" style="margin-right: 3px; width: 52px;"><a href="#;" style="border-width: 1px;"><img src="http://www.sinsungcns.com/data/goodsImages_s/15154717681.png" data-large="/data/goodsImages/15154717681.png"></a></li>

 											<li style="margin-right: 3px; width: 52px;"><a href="#;" style="border-width: 1px;"><img src="http://www.sinsungcns.com/data/goodsImages_s/15154717682.png" data-large="/data/goodsImages/15154717682.png"></a></li>

 											<li style="margin-right: 3px; width: 52px;"><a href="#;" style="border-width: 1px;"><img src="http://www.sinsungcns.com/data/goodsImages_s/15154717683.png" data-large="/data/goodsImages/15154717683.png"></a></li>

 											<li style="margin-right: 3px; width: 52px;"><a href="#;" style="border-width: 1px;"><img src="http://www.sinsungcns.com/data/goodsImages_s/15154717684.png" data-large="/data/goodsImages/15154717684.png"></a></li>
 										</ul>
 									</div>
 									<div class="es-nav"><span class="es-nav-prev" style="display: none;">Previous</span><span class="es-nav-next" style="display: none;">Next</span></div>
 								</div>
 								<!-- End Elastislide Carousel Thumbnail Viewer -->
 							</div><!-- rg-thumbs -->
 							<div class="rg-image-wrapper">
 								<div class="rg-image-nav"> <a href="#;" class="rg-image-nav-prev">Previous Image</a> <a href="#;" class="rg-image-nav-next">Next Image</a> </div>
 								<div class="rg-image"><img src="images/sub/14660385481.jpg"></div>
 							</div>
 						</div><!-- rg-gallery -->



 					</div>
 					<div class="pdSpec">
 						<dl>
 							<dt>주요특징</dt>
 							<dd>
 								더욱 얇고 세련된 디자인
 							</dd>
 							<dd>7세대 인텔® 팬티엄(2.7GHz) 프로세서
 							</dd>
 							<dd>인텔® HD620 그래픽
 							</dd>
 							<dd>14형 FHD(1920 x 1080) LED-backlit </dd>
 						</dl>
 						<dl class="overview">
 							<dt>제품개요</dt>
 							<dd>
 								14”(35.6cm), FHD(1920 x 1080)
 							</dd>
 							<dd>Intel® Core™ i7-7500U 2.7GHz
 							</dd>
 							<dd>8GB DDR4-2133
 							</dd>
 							<dd>256G SSD
 							</dd>
 							<dd>1TB HDD
 							</dd>
 							<dd>Windows 10 Professional 64bit
 							</dd>
 							<dd>33.8 x 23.7 x 1.89
 							</dd>
 							<dd>약 1.48kg
 							</dd>
 							<dd>보증기간 1년 </dd>
 						</dl>
 					</div>
 					<div class="rightPD">
 						<div class="quantBox">
 							<form method="post" name="goods_form">
 								<input type="hidden" name="basic_chk" value="1">
 								<input type="hidden" name="idx" value="1102">
 								<input type="hidden" name="part_idx" value="5">
 								<input type="hidden" name="send" value="">
 								<input type="hidden" name="real_price" value="">
 								<input type="hidden" name="real_point" value="0">
 								<input type="hidden" name="stock_number" value="100">
 								<h4>회원전용</h4>
 								<p class="total"><b>재고수량</b> : 100</p>
 								<p class="quantity"><b>수량 :</b><input type="text" name="buy_goods_cnt" value="1" class="taC" maxlength="5" style="ime-mode:disabled"></p>
 								<p class="btn_inq">
 									<span><a href="javascript:goodsBuySendit(1);" class="od_send">장바구니</a></span>
 									<span><a href="estimate_list.php" class="od_chg">사양변경</a></span>
 									<span><a href="javascript:alert('회원전용입니다. 로그인 후 이용바랍니다.')" class="od_buy">바로구매</a></span>
 								</p>
 							</form>
 						</div>
 						<dl class="inqBox">
 							<dt>견적요청
 							</dt>
 							<dd class="btn"><a href="onlineReceive_estimate.html">Contact US</a></dd>
 							<dd class="txt">이 제품에 대하여 궁금하신 사항이 있으실<br>경우 문의주시면 검토 후 답변드립니다.</dd>
 							<dd class="call_txt">전문상담 <span>02-867-3007</span></dd>
 						</dl>
 					</div>
 				</div>
 				<div id="pdCon">
 					<div>
 						<ul class="tabs tabMenu">
 							<li class="active"><a href="#tab1">제품사양</a></li>
 							<li><a href="#tab2">제품상세</a></li>
 							<li><a href="#tab3">제품 <img src="images/youtube.png" style="position:relative; top:-1px;" alt=""> </a></li>
 						</ul>
 						<div class="tab_container">
 							<div id="tab1" class="tab_content" style="display: block;">
 								<table>
 									<tbody>
 										<tr class="odd">
 											<td class="col1" style="width: 85px;">·&nbsp;Display</td>
 											<td class="col2">14”(35.6cm), FHD(1920 x 1080), 눈부심 방지 LED 백라이트 </td>
 										</tr>
 										<tr class="even">
 											<td class="col1">·&nbsp;CPU</td>
 											<td class="col2"> Intel® Core™ i7-7500U 2.7GHz (Up to 3.5GHz, 4MB 캐시, 2코어)</td>
 										</tr>
 										<tr class="odd">
 											<td class="col1">·&nbsp;메모리</td>
 											<td class="col2"> 8GB DDR4-2133 (최대 32GB / 2 Slots)</td>
 										</tr>
 										<tr class="even">
 											<td class="col1">·&nbsp;저장장치</td>
 											<td class="col2">256G SSD / 1TB HDD</td>
 										</tr>
 										<tr class="odd">
 											<td class="col1">·&nbsp;운영체제</td>
 											<td class="col2">Windows 10 Professional 64bit</td>
 										</tr>
 										<tr>
 											<td class="col1">·&nbsp;그래픽</td>
 											<td class="col2"> Intel® HD Graphics 620 </td>
 										</tr>
 										<tr class="even">
 											<td class="col1">·&nbsp;네트워크</td>
 											<td class="col2">Broadcom 802.11a/b/g/n(2x2) 및 Bluetooth® 4.0 콤보</td>
 										</tr>
 										<tr>
 											<td class="col1">·&nbsp;포트</td>
 											<td class="col2">USB (4)/ HDMI(1)/ 헤드폰/마이크 콤보(1)/ RJ-45 (1)/ VGA (1) / Displayport 1.2 (1)</td>
 										</tr>
 										<tr class="even">
 											<td class="col1">·&nbsp;확장슬롯</td>
 											<td class="col2">멀티 포맷 디지털 미디어 카드 리더기 1개</td>
 										</tr>
 										<tr>
 											<td class="col1">·&nbsp;크기</td>
 											<td class="col2">33.8 x 23.7 x 1.89&nbsp;</td>
 										</tr>
 										<tr class="even">
 											<td class="col1">·&nbsp;무게</td>
 											<td class="col2">약 1.48kg</td>
 										</tr>
 										<tr class="odd">
 											<td class="col1">·&nbsp;보증기간</td>
 											<td class="col2">1년</td>
 										</tr>
 										<tr class="even">
 											<td class="col1">·&nbsp;카메라</td>
 											<td class="col2">720p HD 웹캠</td>
 										</tr>
 										<tr>
 											<td class="col1">·&nbsp;키보드</td>
 											<td class="col2">이물질 유입 방지가 되는 풀 사이즈의 HP 프리미엄 키보드</td>
 										</tr>
 										<tr class="even">
 											<td class="col1">·&nbsp;전원</td>
 											<td class="col2">65W 스마트 AC 어댑터&nbsp;</td>
 										</tr>
 									</tbody>
 								</table>
 							</div>
 							<div id="tab2" class="tab_content" style="display: none;">
 								<p align="center" style="text-align: center;"><img src="http://www.sinsungcns.com/se2/upload/1515472307.JPG" title="1515472307.JPG"><br style="clear:both;">&nbsp;</p>
 								<p align="center" style="text-align: center;">&nbsp;</p>
 								<p align="center" style="text-align: center;">&nbsp;</p>
 								<p align="center" style="text-align: center;"><img src="http://www.sinsungcns.com/se2/upload/1515472371.JPG" title="1515472371.JPG"><br style="clear:both;"><img src="http://www.sinsungcns.com/se2/upload/1515472407.JPG" title="1515472407.JPG"><br style="clear:both;"><img src="http://www.sinsungcns.com/se2/upload/1515472443.JPG" title="1515472443.JPG"><br style="clear:both;"><img src="http://www.sinsungcns.com/se2/upload/1515472429.JPG" title="1515472429.JPG"><br style="clear:both;"><br><img src="http://www.sinsungcns.com/se2/upload/1515472464.JPG" title="1515472464.JPG"><br style="clear:both;"><img src="http://www.sinsungcns.com/se2/upload/1515472472.JPG" title="1515472472.JPG"><br style="clear:both;"><br style="clear:both;">&nbsp;</p>
 							</div>
 							<div id="tab3" class="tab_content" style="display: none;">

 							</div>
 						</div>
 					</div>






 				</div>


 				<!--
 				<div id="pdEtc">






 					<dl class="downCon">
 						<dt>다운로드 센터</dt>
 						<dd><a href="product_download.php?down=1&amp;idx=1102&amp;fileNum=1">· 제품설명서-HP EliteBook..</a></dd>
 					</dl>


 					<dl class="reCon">
 						<dt>최근 본 상품</dt>
 						<dd onclick="javascript:window.location.href='/sub/b2b/product_view.php?idx=1104&amp;part_idx=5'">
 							<div>
 								<p><img src="/data/goodsImages_s/15154755741.jpg"></p>
 							</div>
 							<p>Windows 10 Pro
 								/ Intel® Core™ i7 Processor 6500U
 								/ 8GB LPDDR3 Memory at 1866MHz
 								/ SSD 256GB (M.2, SATA3)
 								/ 33.7cm(13.3") FHD LED Display (1920 x 1080)
 								/ Intel® HD Graphics 620
 								/ 313.8 x 218.5 x 13.4mm
 								/ 약 0.84Kg</p>
 						</dd>
 						<dd onclick="javascript:window.location.href='/sub/b2b/product_view.php?idx=1097&amp;part_idx=40'">
 							<div>
 								<p><img src="/data/goodsImages_s/15130593821.png"></p>
 							</div>
 							<p>120˚ 광시야각
 								/ 3개의 마이크 스피커폰
 								/ 옵션 확장 마이크 지원
 								/ 4K UHD, 1080p FullHD, 720p HD 화상통화 가능
 								/ 일체형 디자인
 								/ 전동식 팬 / 틸트
 								/ 로지텍 렌즈
 								/
 								/ </p>
 						</dd>
 					</dl>
 				</div>
-->
 			</div>



 		</div>
 		<div id="A_Footer">
 			<!-- #include file="_inc/footer.html" -->
 		</div>

 	</div>
 	</div>
 </body>

 </html>
