/* sub common */
.sub_contents {padding: 40px 0 100px;}
.sub_contents.pb0 {padding-bottom: 0;}
.sub_inner {width: 980px; margin: 0 auto;}

/* sub nav */
#sub_nav {margin: 80px 0 0 0; padding: 13px 0; box-shadow: inset 3px 3px 7px rgba(0,0,0,0.1); background-image: linear-gradient(to right, #aeaeae, #c0c0c0 10%, #aeaeae 30%, #c0c0c0 50%, #aeaeae 70%, #c0c0c0 90%, #aeaeae 100%);}
#sub_nav .inner:after {display: block; clear: both; *zoom: 1; content: '';}
#sub_nav ul {float: right;}
#sub_nav ul li {float: left; margin: 0 0 0 10px; padding: 0 0 0 16px; background: url(../images/sub/bullet_navi.png) no-repeat 0 center;}
#sub_nav ul .home {margin: 0; padding: 0; background: none;}
#sub_nav ul .home a {width: 16px; height: 16px; text-indent: -9999px; background: url(../images/sub/icon_home.png) no-repeat 0 0;}
#sub_nav ul li a {display: block; line-height: 16px; font-size: 14px; color: #fff;}
#content .blue {color: #0c3993;}
#content .whblue {color: #1e65b3;}
#content .cont_tit{background:url(../images/sub/cont_tit.gif) no-repeat 0 5px;padding-left:10px;font-size:20px;color:#333;line-height:26px;margin-bottom:20px;}

/* 공통 */
#content {letter-spacing:-.25px; margin-top: 55px;}
#content .cont_tit{background:url(../images/sub/cont_tit.gif) no-repeat 0 5px;padding-left:10px;font-size:20px;color:#333;line-height:26px;margin-bottom:20px;}
#content .cont_btxt{font-size:15px;line-height:26px;letter-spacing:-0.5px}
#content .cont_txt{font-size:14px;line-height:24px;letter-spacing:-0.5px}
#content .cobalt{color:#29adc8}
#content .skyblue{color:#2f7bb5}
#content .forestgreen{color:#005f4b}
#content .green{color:#00b336}
#content .red{color:red}
#content .whblue{color:#1e65b3}
#content .blue{color:#0c3993}
#content .white{color:#fff}
#content .section{margin-bottom:70px;}
.greeCon h4, .manaCon h4, .growth h4, .prize h4 { font-size:30px; line-height:45px; color:#333; letter-spacing:-.25px; font-family:'Nanum Square'; }
#content h4 span { color:#104580; }

#leftS .title { width:100%; background:url(../images/sub/line_gray.gif) repeat-x bottom; position:relative; }





/* title */
.title { border-bottom: 1px solid #ddd;}
.title h3 {position: relative; display: inline-block; padding: 0 0 10px 0; font-size: 40px; font-weight: 400; color: #333; vertical-align: top;}
.title h3:before {position: absolute; bottom: -1px; left: 0; right: 0; width: 100%; height: 3px; background-color: #1356a2; content: '';}
.title p {margin: 10px 0 0 0; line-height: 1.7; color: #666;}
.title > a{display:block;position:absolute;right:0;bottom:10px;padding:10px 12px;text-align:center;font-size:16px;color:#fff;background-color:#236bbd;border:1px solid #2c5889;border-radius:3px;}
.title > a img{display:inline-block;vertical-align:middle;margin-right:3px;margin-top:-3px;}

/* list paging */
.listPage {text-align: center; zoom: 1; clear:both; padding-top: 40px; }
.listPage button {border:0; vertical-align:top; display:inline-block; height:40px; text-indent: -9999px; width:40px;}
.listPage .btnPrev {background:url(../images/sub/paging_prev.png) no-repeat center;}
.listPage ul {vertical-align:top; display: inline-block; margin: 0 50px; overflow: hidden; }
.listPage li { float: left; margin: 0 10px; }
.listPage li:hover a, .listPage li.on a {color:#fff; background:#34558b;}
.listPage li a { display: block; font-size: 16px; color:#666; text-align: center; width:40px; height:40px; line-height:40px;}
.listPage .btnNext {background:url(../images/sub/paging_next.png) no-repeat center;}

#A_Container_R .sub_tit {display: block; height: 70px; line-height: 70px; font-size: 30px; font-weight: 400; color: #333; text-align: right;}
#A_Container_R .sub_lnb {box-sizing: border-box; width: 100%; border: 1px solid #ddd;}
#A_Container_R .sub_lnb li {border-top: 1px solid #ddd;}
#A_Container_R .sub_lnb li:first-child {border: 0;}
#A_Container_R .sub_lnb li a {display: block; padding: 15px; color: #666; text-align: right;}
#A_Container_R .sub_lnb li.on a {background: #f2f2f2 url(../images/sub/bullet_lnb.gif) no-repeat 15px center;}
#A_Container_R .bnn {width: 100%; margin: 25px 0 0 0;}
#A_Container_R .bnn li {margin: 5px 0 0 0;}
#A_Container_R .bnn li:first-child {margin: 0;}
#A_Container_R .bnn a {display: block;}
#A_Container_R .bnn a img {width: 100%; vertical-align: top;}

/* 회사소개 */
/* 경영철학 */
.manaCon{}
.manaCon .part01 p.mng_tit, .manaCon .part01 p.mng_bg{font-family:'Nanum Gothic';text-align:center;letter-spacing:-.25px;}
.manaCon .part01 p.mng_tit{font-size:39px;line-height:54px;color:#333;font-weight:700;}
.manaCon .part01 p.mng_tit span{font-weight:normal; font-size:39px;}
.manaCon .part01 p.mng_bg{background:url(../images/sub/bg_manage01.gif) no-repeat center top;height:84px;padding-top:52px;padding-left:10px;font-size:16px;color:#fff;}
.manaCon .part01>ul>li{height:118px;margin-bottom:10px;}
.manaCon .part01>ul>li dl{overflow:hidden;}
.manaCon .part01>ul>li dl dt{float:left;background:url(../images/sub/bg_vision.gif) no-repeat right top;width:85px;font-size:18px;line-height:26px;height:58px;display: table-cell;vertical-align:middle;padding:30px 0px}
.manaCon .part01>ul>li dl dd{width:780px;margin-left:93px;text-align:center;padding:27px 0px;font-size:18px;line-height:26px;color:#333}
.manaCon .part01>ul>li dl dd>span{font-size:25px;margin-top:5px;font-weight:500;line-height:35px;}
.manaCon .part01>ul>li dl dd.coBox{border:1px solid #3d90c0;}
.manaCon .part01>ul>li.mission{height:217px;}
.manaCon .part01>ul>li.mission dl dt{background:url(../images/sub/bg_mission.gif) no-repeat right top;height:217px;line-height:160px;}
.manaCon .part01>ul>li.mission dl dd{background:url(../images/sub/bg_manage02.gif) no-repeat left top;height:147px;padding-top:70px;color:#fff;}
.manaCon .part01>ul>li.goal dl dd{float:left;width:186px;background:url(../images/sub/bg_manage03.gif) repeat-x left top;border:1px solid #d7d7d7;font-size:14px;line-height:22px;padding:7px 0px;margin-left:9.5px;height:100px;}
.manaCon .part01>ul>li.value dl dd{float:left;width:146.5px;background:#ebf5f7;border:1px solid #c5e4ea;font-size:14px;line-height:22px;margin-left:9.5px;height:62px;}
.manaCon .part01>ul>li.ability dl dd{float:left;padding-top:35px;width:120px;height:55px;font-size:14px;line-height:22px;border:1px solid #c5e4ea;margin-left:9.5px;}
.manaCon .part01>ul>li.ability dl dd.pt15{padding-top:15px;height:75px;}
.manaCon .part02{margin-bottom:80px;}
.manaCon .part03{overflow:hidden;}
.manaCon .part03 dl{float:left;width:473px;font-size:17px;border:1px solid #d7d7d7;border-bottom:none;border-left:none;}
.manaCon .part03 dl dt{float:left;width:64px;height:64px;text-align:center;line-height:64px;color:#fff;font-weight:700;border-bottom:1px solid #d7d7d7}
.manaCon .part03 dl dd{line-height:64px;padding-left:90px;border-bottom:1px solid #d7d7d7}
.manaCon .part05{overflow:hidden;}
.manaCon .part05 dl{float:left;width:948px;font-size:17px;border:1px solid #d7d7d7;border-bottom:none;border-left:none;}
.manaCon .part05 dl dt{float:left;width:64px;height:64px;text-align:center;line-height:64px;color:#fff;font-weight:700;border-bottom:1px solid #d7d7d7}
.manaCon .part05 dl dd{line-height:64px;padding-left:90px;border-bottom:1px solid #d7d7d7}
.manaCon .part05 dl dd span {font-weight:bold; color:#1d97ca;}
.manaCon .part06 img{ width:24%; height:297px; margin-right:1.3%; }
.manaCon .part06 img:last-child{ margin-right:0; }


/* 대표 인사말 */
.greeting:after {display: block; clear: both; *zoom: 1; content: '';}
.greeting .txt_box {float: left; width: calc(100% - 335px);}
.greeting .txt_box strong {display: block; margin: 0 0 30px; font-size: 30px; font-weight: 500; color: #333;}
.greeting .txt_box strong em {font-size: 30px; font-weight: 500; color: #1356a2;}
.greeting .txt_box p {line-height: 1.6; color: #666; word-break: keep-all;}
.greeting .txt_box p + p {margin: 20px 0 0 0;}
.greeting .img_box {float: left; box-sizing: border-box; width: 335px; padding: 0 0 0 50px;}
.greeting .img_box img {vertical-align: top;}
.greeting .img_box img:last-child {display: block; margin: 10px 0 0 auto;}

/*회사성장*/

.greeCon h4, .manaCon h4, .growth h4, .prize h4 {font-weight: 500; margin-bottom: 50px; font-size: 30px; line-height: 45px; color: #333; letter-spacing: -.25px; font-family: 'Nanum Square';}
.growth h4 span {color: #104580;  font-size: 30px; font-weight: 400;}
.growth h4 em {font-size:15px; padding-left:10px; font-weight: 400;}


/* 팀을만나다 */
.team .titBox{margin-bottom:70px;}
.team .titBox dl{overflow:hidden;}
.team .titBox dl dt{float:left;background:url(../images/sub/bg_team.gif) no-repeat right bottom;font-size:35px;color:#495066; line-height:38px;font-weight:700;width:226px;height:175px;}
.team .titBox dl dd{margin-left:260px;font-size:15px;line-height:26px;}
.team .titBox dl dd.blue_tit{font-size:22px; margin-bottom:20px;}
.team .team_tit{font-size:18px;color:#565656;background:url(../images/sub/bullet_team.gif) no-repeat 0 15px;padding-left:20px;line-height:45px;margin-bottom:10px;}
.team .section{margin-bottom:90px;}
.team .section ul{overflow:hidden;}
.team .section ul li{float:left;width:285px;margin-right:47px;margin-bottom:35px;}
.team .section ul li:nth-child(3n){margin-right:0}
.team .section ul li>p{text-align:center;}
.team .section ul li>p.team_img { height:322px; overflow: hidden; }
.team .section ul li>p.team_txt{padding-top:15px;color:#333;font-size:18px;font-weight:700; line-height:24px;}
.team .section ul li>p>em{font-size:14px;color:#939393;}
.team .section .img { width:100%; margin-top:50px;}
.team .section .img li { float:left; margin:0 24px 22px 0; }
.psCon .img { width:100%; margin-top:50px;}
.psCon .img li { float:left; margin:0 24px 22px 0; }


/* 회사연혁 */
.history dl{border-bottom:1px solid #d7d7d7;padding:60px 0px 60px 0;}
.history dl.first{padding:0px 0px 60px 0;}
.history dl>dt{float:left;font-size:65px;line-height:65px;font-weight:800;color:#b3b3b3;}
.history dl>dd{margin-left:230px;color:#333;padding-top:15px;}
.history dl>dd.top_tit{font-size:33px ; line-height:33px;margin-bottom:20px;}
.history dl>dd.top_tit em{font-size: 33px;}
.history dl>dd>ul>li{font-size:15px;color:#666;line-height:26px;}
.history dl>dd>ul>li b{padding-right:10px;}


/* 수상실적 */
.prize p.pr_tit{font-size:18px;font-family:'Nanum Square';color:#333;background:url(../images/sub/bullet_team.gif) no-repeat 0 15px;padding-left:20px;line-height:45px;margin-bottom:10px;}
.prize ul{overflow:hidden;}
.prize ul li{float:left;width:207px;margin-right:40px;}
.prize ul li.last{margin-right:0px;}
.prize ul li p{border-top:2px solid #3d90c0;border-bottom:1px solid #d7d7d7;padding:10px 0;margin-top:12px;margin-bottom:80px;text-align:center;font-size:16px;color:#333;line-height:21px;}
.prize ul li p span{color:#666}


/*company - 인재와채용 - 채용공고*/
.empCon { letter-spacing:-0.025em;  }
.btnDown { overflow:hidden; }
.btnDown li { float:left; margin-right:11px; }
.btnDown li a { display:block; color:#fff; font-size:15px; padding-left:20px; width:187px; height:53px; line-height:53px; background:#2591c3 url(../images/sub/icon_download.png) no-repeat 173px 17px; border:1px solid #0d7bae; border-radius:3px;  }
.empCon dl { margin-top:36px; width:100%; overflow:hidden; }
.empCon dl dt { font-size:14px; }
.empCon dl dd.txt { margin-top:11px; border:1px solid #ccc; border-radius:10px; height:120px; overflow-y:auto;  }
.empCon dl dd.txt p { margin:5px 10px; line-height:25px; font-size: 13px; color: #666;}
.empCon dl dd.check { float:right; margin-top:7px; color:#999; }
.empCon dl dd.check input {-webkit-appearance: auto;-moz-appearance: auto;appearance: auto;}
.empCon h4 { margin-top:65px; background:url(../images/sub/bullet_blueBar.gif) no-repeat 0 2px; padding-left:16px; color:#3a3a3a; font-size:20px; margin-bottom:20px; font-weight: 400;}
#empTable { color: #666; border-top:2px solid #333;width:100%; font-size:15px;}
#empTable th { background:#f4f5f7; border-bottom:1px solid #d7d7d7; line-height:3.333; font-size:14px ; font-weight: 400;}
#empTable td { border-bottom:1px solid #d7d7d7; text-align:center; padding: 16px 0 13px 0;transition:all 0.5s, color 0.2s 0.2s;}
#empTable td.point { font-weight:bold; color:#2591c3; }
#empTable td.left { text-align:left; padding-left:20px; }
#empTable td.left a { color:#999; }
#empTable td:hover{}
#empTable td:hover a{color:#2591c3;text-decoration:underline;}

/* 게시판 영역 레이아웃 */
.ntb-area {position:relative; z-index:0; margin:0 auto;}
.ntb-top-area {text-align:right; padding:10px 0 10px 0;}
.ntb-listbtn-area {text-align:right; padding:20px 0 10px 0;}
.ntb-paging-area {text-align:center; padding:10px 0 10px 0;}
.ntb-search-area {text-align:center; padding:10px 0 10px 0;}
.ntb-password-area {text-align:center; padding:100px 0 200px 0;}
.vmiddle {vertical-align: middle;}
.ntb-search-area select {-webkit-appearance: auto;-moz-appearance: auto; appearance: auto;}


/*페이징*/
.page{padding-bottom:40px;position:relative;margin-top:30px}
.page ul{text-align:center;}
.page ul li{display:inline;}
.page ul li a{display:inline-block;zoom:1;*display:inline;color:#808080;border:1px solid #dbdbdb;padding:5px 8px}
.page ul li a:hover, .page ul li.on a{display:inline-block;zoom:1;*display:inline;color:#fff;border:1px solid #676767;background:#676767;}

/* ---------------------------- AXSelect ------------------------------- */
.AXSelect{border:1px solid #b6b6b6;background:#fff;box-shadow:0px 1px 1px #e9eced;border-radius:4px;font-size:12px;line-height:19px;height:25px;padding:2px;margin:0px auto;}

/* ------------------ AXButton ----------------------- */
.AXButton{position:relative;cursor:pointer;vertical-align:middle;height:26px;padding:0px 10px;margin:0px 0px;border:0px solid #b9babc; border-radius:2px;font-size:12px; color:#6e7a86; line-height:1em; font-weight:600;background:#e5e5e5;outline:none;}
.AXButton:hover{border:0px solid #949fa8;background:#cacaca;box-shadow:0px 1px 2px #aaa inset;}
.AXButton:active{border:0px solid #b9babc;color:#6e7a86;}
.AXButton SPAN{display:block;height:24px; line-height:24px;vertical-align:middle;}

/* ---------------------------- AXInput ------------------------------- */
.AXInput{border:1px solid #ccc; background:#fff;border-radius:2px;font-size:12px; padding:4px;margin:0px auto;}


/* 오시는길 */
.map dl{overflow:hidden;line-height:45px;font-size:16px;}
.map dl dt{float:left;background:#f1f1f1;width:200px;text-align:center;border-bottom:1px solid #e5e5e5;height:45px;color:#333;}
.map dl dd{margin-left:200px;width:750px;border-bottom:1px solid #e5e5e5;padding-left:30px;}
.map p.btn_print{background:#2591c3;border:1px solid #0d7bae;width:160px;text-align:center;border-radius:3px;margin-top:15px;}
.map p.btn_print a{display:block;color:#fff;font-size:15px;font-weight:700;padding:13px 0px;}
.mt30 {margin-top: 30px;}
.fl_right {float: right !important; }


/*회사소개 > 우리성장/문화 > 우리성장 */
.planCon .tit { overflow:hidden; background:url(../images/sub/bg_plan.gif) no-repeat right bottom; height:160px;}
.planCon .tit h4 { color:#333; font-family:'Nanum Square'; font-size:30px; line-height:45px; }
.planCon .tit p.blueTxt { color:#2f7bb5; font-size:20px; margin-top:18px; font-family:'Nanum Square'; }
.planCon .tit p.txt { font-size:15px; line-height:26px; margin-top:15px; }

.planBx > ul {overflow:hidden;}
.planBx > ul > li{float:left; width:230px;height:210px;padding:70px 20px 20px 20px;border:1px solid #d4d4d4;margin:70px 60px 70px 0;position:relative;}
.planBx > ul > li:last-child{margin-right:0px}
.planBx > ul > li > p{position:absolute;top:-70px;left:50%;margin-left:-70px;z-index:999;}
.planBx > ul > li dl > dt{text-align:center;font-size:20px;font-weight:700;color:#333;margin:15px 0}
.planBx > ul > li dl > dd{background:url(../images/sub/bullet_py.gif)  no-repeat 0 9px; padding-left:10px; color:#999; line-height:24px; font-size:14px; margin: 0 0 3px 0px;}

.pyramid { margin-top:85px; overflow:hidden; position:relative; padding-bottom:180px; }
.pyramid > div { position:absolute; left:0; }
.pyramid dl dt { height:48px; line-height:48px; padding-left:23px; font-weight:bold; font-size:15px; margin-bottom:17px; }
.pyramid dl dd { background:url(../images/sub/bullet_py.gif)  no-repeat 0 9px; padding-left:10px; color:#999; line-height:20px; font-size:14px; margin: 0 0 3px 23px; }
.pyramid dl.py1 { background:url(../images/sub/title_py1.png) no-repeat; width:600px; height:139px; }
.pyramid dl.py2 { background:url(../images/sub/title_py2.png) no-repeat; width:517px; height:139px; }
.pyramid dl.py3 { background:url(../images/sub/title_py3.png) no-repeat; width:443px; height:138px; }
.pyramid dl.py4 { background:url(../images/sub/title_py4.png) no-repeat; width:366px; }
.pyramid dl.py1 dt { color:#29adc8; }
.pyramid dl.py2 dt { color:#2f7bb5; }
.pyramid dl.py3 dt { color:#3c75b2; }
.pyramid dl.py4 dt { color:#0c3993; }
.pyramid > ul { float:right; width:640px; height:552px; background:url(../images/sub/bg_pyramid.png) no-repeat; }
.pyramid > ul li { text-align:center; color:#fff; font-weight:bold; font-size:18px; }
.pyramid > ul li:first-child { height:137px; line-height:160px; }
.pyramid > ul li.py2 { height:139px; line-height:139px; }
.pyramid > ul li.py3 { height:137px; line-height:137px; }
.pyramid > ul li.py4 { height:139px; line-height:139px; }

/* 인재경영 > 인재와 채용 > 동영상 */
.video_wrap{	width:100%;	}
.video_wrap ul > li{float:left;width: 290px;height: 285px;margin-right:30px; box-sizing:border-box;*/overflow:hidden;}
.video_wrap ul > li > a{	display:block;width:100%;height:100%;overflow:hidden;	}
.video_wrap ul > li:nth-child(3n){margin-right:0px;}
.video_wrap  ul > li  .img {width: 100%;height: 190px;overflow:hidden;position:relative;background-color:#F1F1F1;}
.video_wrap  ul > li .img img {width: 100%;height: 189px;}
.video_wrap  ul > li .hover { position:absolute; width:100%; height:100%; background:rgba(0,0,0,.6); opacity:0; transition:all .3s; transform:scale(1.5,1.5); }
.video_wrap  ul > li .hover i { position:absolute; left:50%; top:50%; margin:-19.5px 0 0 -16px; width:32px; height:39px; background:url(../images/icon_movie_hover.png) no-repeat; font-size:0; }
.video_wrap  ul > li:hover .hover { opacity:1; transform:scale(1,1); }
.video_wrap h6 {width:290px;height:41px;line-height: 41px; overflow:hidden;letter-spacing:-.4px;text-overflow:ellipsis;color:#333;font-size:16px;font-weight:bold;}
.video_wrap .vidoe-con {display:block; height: 39px;overflow:hidden;font-size:14px;/margin-top:5px;color:#666;line-height:20px;}
.video_wrap p.date {width:245px;margin-top: 12px;box-sizing:border-box;background: url(../images/icon_date_black.png) no-repeat 0 4px;padding-left:21px;color:#999;height:18px;/* padding-top: 20px; */line-height:18px;}
.video_wrap > li.no_data{	width:100%;height:150px;line-height:150px;text-align:center;font-size:15px;margin:0;	}
.video_wrap ul > li.no_data{	width:95% !important;text-align:center;line-height:150px;height:150px;	}

.videoCon dl {background:#f6f6f6;border:1px solid #ccc;padding:30px; margin-bottom: 20px;}
.videoCon dl dt{font-size:19px;font-family:'Nanum Square';font-weight:700;line-height:36px;color:#333;}
.videoCon dl dt i{margin-right:10px;}
.videoCon dl dd{font-size:15px; line-height:26px;}

/* 회사소개 > 인재와 채용 > 인재상 */
.psCon {}
.psTxt { width:100%; overflow:hidden;border-bottom:1px solid #ccc;padding-bottom:30px;margin-bottom:30px;}
.psTxt > li { overflow:hidden; height:195px; margin-top:60px; }
.psTxt > li:first-child { margin-top:0; }
.psTxt > li > p { margin-top:25px; float:left; width:146px; height:145px; line-height:145px; color:#fff; text-align:center; font-size:20px; font-weight:bold; }
.psTxt > li.ps1 > p { background:url(../images/sub/bg_ps1.gif) no-repeat; }
.psTxt > li.ps2 > p { background:url(../images/sub/bg_ps2.gif) no-repeat; }
.psTxt > li.ps3 > p { background:url(../images/sub/bg_ps3.gif) no-repeat; }
.psTxt > li.ps4 > p { background:url(../images/sub/bg_ps4.gif) no-repeat; }
.psTxt > li.ps5 > p { background:url(../images/sub/bg_ps5.gif) no-repeat; }
.psTxt dl { width:500px; float:left; margin:10px 0 0 70px; }
.psTxt dt { font-size:18px; letter-spacing:-0.03em; margin-bottom:14px; }
.psTxt dt span { font-weight:bold; font-size:24px; margin-right:5px; }
.psTxt > li.ps1 > dl dt { color:#29adc8; }
.psTxt > li.ps2 > dl dt { color:#3d90c0; }
.psTxt > li.ps3 > dl dt { color:#2f7bb5; }
.psTxt > li.ps4 > dl dt { color:#0c3993; }
.psTxt > li.ps5 > dl dt { color:#0c2262; }
.psTxt dd { width:100%; overflow:hidden; margin-bottom:14px; }
.psTxt dd p { margin-top:23px; float:left;width:51px; height:24px; line-height:22px; text-align:center; font-size:16px;  }
.psTxt dd.first p { margin-top:12px; }
.psTxt > li.ps1 > dl dd p { color:#29adc8; border:2px solid #29adc8; }
.psTxt > li.ps2 > dl dd p { color:#3d90c0; border:2px solid #3d90c0; }
.psTxt > li.ps3 > dl dd p { color:#2f7bb5; border:2px solid #2f7bb5; }
.psTxt > li.ps4 > dl dd p { color:#0c3993; border:2px solid #0c3993; }
.psTxt > li.ps5 > dl dd p { color:#0c2262; border:2px solid #0c2262; }
.psTxt dd ul { float:left; margin-left:20px; }
.psTxt dd ul li { font-size:14px; line-height:24px;  }

.psCon .img { width:100%; margin-top:50px;}
.psCon .img li { float:left; margin:0 24px 22px 0; }



.tab-slider--nav {width: 100%; float: left; margin-bottom: 50px; overflow:hidden; position:relative;}
.tab-slider--nav .slide {width: 19.8%; background: #3d90c0; border:1px solid #3180ae; height: 100%; position: absolute; top: 0; left: 0;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}
.tab-slider--tabs {display: block; position: relative;overflow: hidden;height: 55px;background:#f5f5f5;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
 }
.tab-slider--trigger {font-size: 16px;line-height:55px;float: left;font-weight: bold;width:20%;text-transform: uppercase;text-align: center;position: relative;z-index: 2;border-radius:5px;cursor: pointer;display: inline-block;
  -webkit-transition: color 250ms ease-in-out;
  transition: color 250ms ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.tab-slider--trigger:after{content:"";position:absolute;bottom:0;left:0;width:0;height:3px;background:#3d90c0;transition:width .2s ease,background .2s ease}
.tab-slider--trigger:hover:after{background:#3d90c0;width:100%;}
.tab-slider--trigger.active {color: #fff;}
.tab-slider--body {margin-bottom: 20px;}


.psCon .sol_tit{font-size:20px; font-size:20px; margin-bottom:25px;}
.psCon .numper dd{font-size:14px;line-height:24px;}
.psCon .cont_txt{margin-bottom:20px;}
.psCon .fmBx{background:#f5f5f5;padding:20px 60px;margin-top:50px;}
.psCon .fmBx > p.fmcom{font-size:15px;color:#333;font-weight:700;line-height:26px;position:relative;}
.psCon .fmBx > p.fmcom i {color:#ddd;font-size:50px;}
.psCon .fmBx > p.fmcom i.fa-quote-left{position:Absolute;left:20px}
.psCon .fmBx > p.fmcom i.fa-quote-right{position:Absolute;right:20px;bottom:-20px;}
.psCon .fmBx > p.fmcom em{margin-left:100px;display:inline-block;padding-top:10px;}
.psCon .fmBx > p.fmName{text-align:right;font-size:13px;padding-right:100px;}



/* 오시는길 */
.map dl{overflow:hidden;line-height:45px;font-size:16px;}
.map dl dt{float:left;background:#f1f1f1;width:200px;text-align:center;border-bottom:1px solid #e5e5e5;height:45px;color:#333;}
.map dl dd{margin-left:200px;width:750px;border-bottom:1px solid #e5e5e5;padding-left:30px;}
.map p.btn_print{background:#2591c3;border:1px solid #0d7bae;width:160px;text-align:center;border-radius:3px;margin-top:15px;}
.map p.btn_print a{display:block;color:#fff;font-size:15px;font-weight:700;padding:13px 0px;}

/*솔루션*/
/* 솔루션 공통 */
.solution{}
.solution .sol_tit{ font-size:30px;line-height:30px;color:#333;font-weight:700;margin-bottom:25px;}
.solution .sl_bulltt{background:url(../images/sub/bullet_solu.gif) no-repeat 0 7px;margin-bottom:10px;font-weight:700;padding-left:15px;line-height:26px;}
.solution .sol_stit{font-size:20px;line-height:26px;margin:50px 0 20px 0}
.solution>dl>dd ol{overflow:hidden;}
.solution>dl>dd ol li{float:left;min-width:475px;margin-bottom:20px;}
.solution>dl>dd ol li p.sl_bull_txt{margin-left:15px;font-size:14px;}
.grBox{background:#fcfcfc;border:1px solid #d7d7d7;padding:15px 20px;margin:20px 0}
.grBox ul{overflow:hidden;}
.grBox ul li{float:left;min-width:285px;}
.grBox ul li.sl_bulltt{font-size:14px;font-weight:normal;}
.solution ul.solu_list{overflow:hidden;margin-top:60px;}
.solution ul.solu_list li{float:left;width:180px;margin-left:70px;}
.solution ul.solu_list li:first-child{margin-left:0px;}
.solution ul.solu_list li p{font-size:14px;color:#999;margin-top:15px; text-align: center;}
.solution .oneview_img{margin:20px 0px}
.solution .sl_list_txt{font-size:14px;line-height:24px;background:url(../images/sub/icon_sl_list.gif) no-repeat 0 12px;padding-left:6px;color:#999;margin-top:10px;letter-spacing:-.6px}
.solution .sl_fl_list ul{overflow:hidden;}
.solution .sl_fl_list ul li{float:left;width:298px;margin-right:28px; height: 900px; }
.solution .sl_fl_list ul li.last{margin-right:0}
.solution .sl_fl_list ul li dl dd.cont_txt{min-height:50px;}


/*Recovery*/
.recoCon { padding-bottom:150px;  position:relative;}
.recoCon > div:first-child { margin-bottom:80px; }
.recoCon > a.btnS { position:absolute; padding-left:44px; left:50px; top:695px; display:block; font-size:16px; color:#fff; letter-spacing:-0.05em;
width:127px; height:40px; line-height:40px; border:1px solid #175ba9; background:#236bbc url(../images/sub/icon_solution.png) no-repeat 12px 9px; border-radius:3px; margin-top: 30px; }

.titleRe { width:100%; overflow:hidden; background:url(../images/sub/bg_recovery.jpg) no-repeat right; height:350px; }
.titleRe h2 { color:#236bbc; font-family:'verdana'; text-transform:uppercase; font-weight:bold; letter-spacing:-0.05em; margin:45px 0 25px; font-size:39px; font-style:italic; }
.titleRe p { margin-bottom:44px; }

#tabsholderR { margin-top:40px; border:1px solid #d7d7d7; overflow:hidden; }
#tabsholderR > ul { width:100%; overflow:hidden; letter-spacing:-0.02em; }
#tabsholderR > ul li { cursor:pointer; float:left; width:235px; height:54px; line-height:54px; text-align:center; font-size:17px; border-bottom:1px solid #d7d7d7; border-left:1px solid #d7d7d7; background:#eee;  }
#tabsholderR > ul li:first-child { border-left:none; width:234px; }
#tabsholderR > ul li.current { background:#fff; border-bottom:1px solid #fff; color:#236bbc; font-weight:bold; }
.recoTabCon > div { position:relative; margin:50px auto 0; width:1017px; overflow:hidden; letter-spacing:-0.05em; padding-bottom:107px; }


.imgReco { overflow:hidden; }
.imgReco li { float:left; margin:0 0 30px 33px; position:relative; }
.imgReco li:first-child, .imgReco li:nth-child(3) { margin-left:0; }
.imgReco li p { position:absolute; background:url(../images/sub/dot_black.png) repeat; bottom:0; width:100%; height:39px; line-height:39px; text-align:center; color:#fff; font-size:16px; }
.recoTabCon > div .txt { margin-top:18px;  }
.recoTabCon > div .txt dt { font-weight:bold; color:#236bbc; font-weight:bold; font-size:20px; }
.recoTabCon > div .txt dd { font-size:15px; line-height:26px; margin-top:20px;  }
.recoTabCon > div .txt dd span { font-weight:600; color:#333; }
.ltDl, .rtDl {  margin-top:60px; }
.ltDl { float:left; width:509px; }
.rtDl { float:right; width:474px; }
.ltDl dt, .rtDl dt { position:relative; font-weight:600; font-size:20px; color:#333;  padding-top:21px; margin-bottom:16px; height:40px; }
.rtDl dt span { color:#666; font-size:14px; font-weight:normal;  }
.ltDl dt p, .rtDl dt p { position:absolute; top:0; width:48px; height:4px; background:#236bbc; }
.ltDl dd { margin-bottom:10px; font-size:15px; color:#236bbc; padding-left:24px; width:482px; height:48px; line-height:48px; border:1px solid #236bbc; border-radius:3px;  }

.recoContent > h2 { text-align:center; color:#236bbc; font-size:29px; line-height:29px; font-weight:300; }
.recoContent > h3 { margin-top:70px; position:relative; font-weight:600; font-size:20px; color:#333;  padding-top:21px; margin-bottom:15px; height:40px; }
.recoContent > h3 p { position:absolute; top:0; width:48px; height:4px; background:#236bbc; }
.reDateCon { width:100%; overflow:hidden; }
.reDateCon > dl { float:left; width:50%; }
.reDateCon dt { color:#236bbc; font-size:16px; border:1px solid #236bbc; border-radius:18px; height:37px; line-height:37px; width:286px; text-align:center; }
.reDateCon dd { margin-top:55px; width:auto; overflow:hidden; }
.reDateCon dd > img { float:left; }
.reDateCon dd > div { float:left; margin-left:35px; font-size:15px; line-height:26px; width:auto; overflow:hidden; }
.reDateCon dd > div p, .reDateCon dd > div > div { display:table; width:auto; height:133px; }
.reDateCon dd > div p span, .reDateCon dd > div > div ul { vertical-align:middle; display:table-cell; }
.reDateCon ul li.time { background:#328bcf url(../images/sub/icon_clock.png) no-repeat 9px 3px; border:1px solid #1c76bb; color:#fff; font-size:13px; height:20px; line-height:20px; padding:0 12px 0 30px; width:auto; display:inline-block; zoom:1; *display:inline; margin-bottom:6px; }
.reDateCon dd.last { margin-top:40px; background:url(../images/sub/arrow_recovery.gif) no-repeat 120px top; }
.reDateCon dd.last > div { clear:both; margin:127px 0 0; text-align:center; width:320px; height:91px; overflow:hidden; border:3px solid #d11818; border-radius:50px; }
.reDateCon dd.last > div p { display:block; font-size:34px; color:#d11818; font-weight:bold; }
.reDateCon dd.last > div p span { display:block; color:#333; font-size:15px; line-height:30px; margin:4px 0; }
.reBar { margin-top:38px; border-top:2px solid #d7d7d7; border-bottom:1px solid #d7d7d7; overflow:hidden; padding:20px 0; }
.reBar p { background:url(../images/sub/bullet_solu.png) no-repeat 0 6px; margin-left:11px; line-height:24px; font-size:15px; padding-left:12px; }
.reBar p span { display:block; margin-left:21px; }
.reEffectDl { width:100; }
.reEffectDl > dt { color:#333; font-size:18px; font-weight:400; }
.reEffectDl > dt span { margin-right:7px; display:inline-block; zoom:1; *display:inline; background:#29adc8; color:#fff; width:20px; height:20px; line-height:18px; text-align:center; }
.reEffectDl > dd dl { margin:22px 0 0 27px; }
.reEffectDl > dd dt { background:url(../images/sub/bullet_solu.png) no-repeat 0 4px; padding-left:15px; font-size:15px; }
.reEffectDl > dd dd { background:url(../images/sub/bullet_re_gray.gif) no-repeat 0 10px; margin:8px 0 0 18px; padding-left:10px; font-size:14px; line-height:24px; }
.reEffectDl > dd dd.img { background:none; padding:0 0 50px 0; text-align:right; margin:25px 0 0 15px;  }
.reEffectDl > dd dd.img p { font-size:13px; margin-top:15px; }

.reFtUl { width:100%; overflow:hidden; margin:40px 0 115px; }
.reFtUl > li { float:left; overflow:hidden; position:relative; width:472px; }
.reFtUl > li.re2 { margin-left:66px; }
.reFtUl > li.re3 { margin:64px 0 0 264px; }
.reFtUl > li div { position:absolute; z-index:999; top:15px; width:109px; height:125px; text-align:center; color:#fff; line-height:125px; font-size:20px; }
.reFtUl > li.re1 div { background:url(../images/sub/bg_reFtUl1.png) no-repeat; }
.reFtUl > li.re2 div { background:url(../images/sub/bg_reFtUl2.png) no-repeat; }
.reFtUl > li.re3 div { background:url(../images/sub/bg_reFtUl3.png) no-repeat; }
.reFtUl > li ul { margin-left:54px; border:1px solid #d7d7d7; background:#fcfcfc; width:416px; height:154px; overflow:hidden; }
.reFtUl > li ul li { background:url(../images/sub/bullet_solu.png) no-repeat 0 7px; padding-left:16px; font-size:15px; line-height:26px; margin-left:83px; }
.reFtUl > li ul li:first-child { margin-top:48px; }
.reFtDl { border:1px solid #d7d7d7; background:#fcfcfc; overflow:hidden; padding:10px 0 35px;  }
.reFtDl dt { margin:20px 0 0 30px; color:#666; background:url(../images/sub/bullet_solu.png) no-repeat 0 4px; padding-left:16px; font-size:15px; font-weight:bold; }
.reFtDl dd { margin:8px 0 0 45px; font-size:15px; }
.reFtTable { margin-top:30px; background:#fcfcfc; }
.reFtTable th { font-weight:bold; border-left:1px solid #d7d7d7; border-bottom:1px solid #b3c1d2; background:#236bbc; height:53px; color:#fff; font-size:16px; }
.reFtTable th:first-child, .reFtTable td:first-child { border-left:0; }
.reFtTable th.pnt { background:#3d90c0; border-bottom:1px solid #b8c9d2; }
.reFtTable td { border-left:1px solid #d7d7d7; border-bottom:1px solid #dedede; font-weight:300; font-size:14px; color:#666; height:53px; text-align:center; }
.reFtTable td.pnt { background:#3d90c0; color:#fff; }

.skillStepUl { margin:50px 0 0 55px; overflow:hidden; }
.skillStepUl li { float:left; width:240px; }
.skillStepUl li div { width:174px; height:174px; line-height:174px; text-align:center; font-size:22px; color:#1f60a7; }
.skillStepUl li.step1 div { background:url(../images/sub/bg_round_skill1.gif) no-repeat; }
.skillStepUl li.step2 div { background:url(../images/sub/bg_round_skill2.gif) no-repeat; }
.skillStepUl li.step3 div { background:url(../images/sub/bg_round_skill3.gif) no-repeat; }
.skillStepUl li.step4 div { background:url(../images/sub/bg_round_skill4.gif) no-repeat; }
.skillStepUl dl { width:184px; overflow:hidden; margin-top:32px; }
.skillStepUl dt { text-align:center; width:174px; color:#333; font-size:22px; margin-bottom:8px; }
.skillStepUl dd { background:url(../images/sub/bullet_re_gray.gif) no-repeat 0 7px; padding-left:7px; line-height:20px; font-size:14px; margin:12px 0 0 8px; }
.procSkill { width:100%; overflow:hidden; border-bottom:1px solid #d7d7d7; margin-top:40px; padding-bottom:44px; overflow:hidden; }
.procSkill li { float:left; height:101px; color:#fff; font-size:15px; line-height:24px;}
.procSkill li div { width:326px; height:101px; overflow:hidden; border-radius:50px; }
.procSkill li div p { margin-top:26px; }
.procSkill li.proc1 div { background:#54bdd3; }
.procSkill li.proc1 p { margin-left:40px; }
.procSkill li.proc2 { position:absolute; left:225px; }
.procSkill li.proc2 div { background:#64a6cd url(../images/sub/bullet_proc_plus.png) no-repeat left top; }
.procSkill li.proc2 p { margin-left:124px; }
.procSkill li.proc3 { background:url(../images/sub/bullet_proc_arrow.gif) no-repeat left center; width:432px; float:right; }
.procSkill li.proc3 div { background:#4c80b9; text-align:center; float:right;}
.systemSkill { width:100%; overflow:hidden; }
.systemSkill > h3 { float:left; position:relative; font-weight:600; font-size:20px; color:#333;  padding-top:21px; height:40px; }
.systemSkill > h3 p { position:absolute; top:0; width:48px; height:4px; background:#236bbc; }
.systemSkill > ul { clear:left; float:left; border:1px solid #d7d7d7; background:#fcfcfc; width:598px; padding-top:24px; height:176px; overflow:hidden; }
.systemSkill > ul li { float:left; margin-left:7%; width:38%; font-size:15px; line-height:29px; background:url(../images/sub/bullet_solu.png) no-repeat 0 11px; padding-left:16px;  }
.systemSkill > div { float:right; margin-top:49px; }
.systemSkill > div p { margin:27px auto 0; width:120px; height:20px; line-height:20px; text-align:center; color:#fff; background:#29adc8; border-radius:10px; }

#faqCon { width:100%; overflow:hidden; margin-top:60px; background:url(../images/sub/img_recoviery_faq.jpg) no-repeat top right; letter-spacing:-0.02em; }
#faqCon h3 { margin-top:12px; }
#faqCon .btn { margin-top:23px; overflow:hidden; }
#faqCon .btn li { float:left; margin-right:14px; }
#faqCon .btn li a { display:block; width:176px; height:40px; line-height:40px; text-align:center; font-size:15px; color:#fff; background:#4f4f4f; border:1px solid #3d3d3d; border-radius:3px; }

.faqUl { margin-top:62px; width:100%; border-top:2px solid #236bbc; }
.faqUl li { width:100%; overflow:hidden; border-bottom:1px solid #d7d7d7; font-size:16px; line-height:26px; cursor:default; }
.faqUl li label { width:100%; overflow:hidden; display:block;  padding:18px 0;  }
.faqUl li > p { display:none;  padding:18px 0; border-top:1px solid #d7d7d7; overflow:hidden;   }
.faqUl li.on label { color:#333; background:#f3f9ff;  }
.faqUl li label span.tit, .faqUl li p span.tit { display:block; float:left; color:#236bbc; padding-left:20px;width:30px; }
.faqUl li label span.txt, .faqUl li p span.txt { display:block; float:left;width:895px; }



/*Recovery NEW180608*/
.recoConN { padding-bottom:180px;  position:relative;}
.recoConN > div:first-child { margin-bottom:0; }
.recoConN > a.btnS { position:absolute; padding-left:44px; left:0; top:600px; display:block; font-size:16px; color:#fff; letter-spacing:-0.05em;
width:127px; height:40px; line-height:40px; border:1px solid #175ba9; background:#236bbc url(../images/sub/icon_solution.png) no-repeat 12px 9px; border-radius:3px; margin-top:  30px; }

.recoConN .imageArea img{width:100%;}

.titleReN { width:100%; overflow:hidden; background:url(../images/sub/bg_recovery.jpg) no-repeat right top 60px; height:300px;background-size:55%;}
.titleReN h2 { color:#236bbc; font-family:'verdana'; text-transform:uppercase; font-weight:bold; letter-spacing:-0.05em; margin:45px 0 25px; font-size:36px; font-style:italic; }
.titleReN p { margin-bottom:30px; }

#tabsholderR-n { margin-top:40px; border:1px solid #d7d7d7; overflow:hidden; }
#tabsholderR-n > ul { width:100%; overflow:hidden; letter-spacing:-0.02em; }
#tabsholderR-n > ul li { cursor:pointer; float:left; width:20%; height:54px; line-height:54px; text-align:center; font-size:17px; border-bottom:1px solid #d7d7d7; border-left:1px solid #d7d7d7; background:#eee; box-sizing: border-box;}
#tabsholderR-n > ul li:first-child { border-left:none;}
#tabsholderR-n > ul li.current { background:#fff; border-bottom:1px solid #fff; color:#236bbc; font-weight:bold; }
.recoTabConN > div { position:relative; margin:50px auto 0; width:900px; overflow:hidden; letter-spacing:-0.05em; padding-bottom:50px; }

.imgRecoN { overflow:hidden; }
.imgRecoN li { float:left;width:435px; margin:0 30px 30px 0; position:relative; }
.imgRecoN li:nth-child(2n) { margin-right:0; }
.imgRecoN li p { position:absolute; background: rgba(0,0,0,0.7); bottom:0; width:100%; height:39px; line-height:39px; text-align:center; color:#fff; font-size:16px; }
.imgRecoN li img{width:100%;}
.recoTabConN > div .txt { margin-top:18px;  }
.recoTabConN > div .txt dt { font-weight:bold; color:#236bbc; font-weight:bold; font-size:20px; }
.recoTabConN > div .txt dd { font-size:15px; line-height:26px; margin-top:20px;  }
.recoTabConN > div .txt dd span { font-weight:600; color:#333; }
.ltDl-n, .rtDl-n {  margin-top:60px; }
.ltDl-n { float:left; width:435px; }
.rtDl-n { float:right; width:435px; }
.ltDl-n dt, .rtDl-n dt { position:relative; font-weight:600; font-size:20px; color:#333;  padding-top:21px; margin-bottom:16px; height:40px; }
.rtDl-n dt span { color:#666; font-size:14px; font-weight:normal;  }
.ltDl-n dt p, .rtDl-n dt p { position:absolute; top:0; width:48px; height:4px; background:#236bbc; }
.ltDl-n dd { margin-bottom:10px; font-size:15px; color:#236bbc; padding-left:24px; width:411px; height:48px; line-height:48px; border:1px solid #236bbc; border-radius:3px;  }
.rtDl-n dd img{width:100%;height:290px}

.img100 img{width:100%;}

.recoContent > h2 { text-align:center; color:#236bbc; font-size:29px; line-height:29px; font-weight:300; }
.recoContent > h3 { margin-top:70px; position:relative; font-weight:600; font-size:20px; color:#333;  padding-top:21px; margin-bottom:15px; height:40px; }
.recoContent > h3 p { position:absolute; top:0; width:48px; height:4px; background:#236bbc; }
.reDateCon { width:100%; overflow:hidden; }
.reDateCon > dl { float:left; width:50%; }
.reDateCon dt { color:#236bbc; font-size:16px; border:1px solid #236bbc; border-radius:18px; height:37px; line-height:37px; width:286px; text-align:center; }
.reDateCon dd { margin-top:55px; width:auto; overflow:hidden; }
.reDateCon dd > img { float:left; }
.reDateCon dd > div { float:left; margin-left:35px; font-size:15px; line-height:26px; width:auto; overflow:hidden; }
.reDateCon dd > div p, .reDateCon dd > div > div { display:table; width:auto; height:133px; }
.reDateCon dd > div p span, .reDateCon dd > div > div ul { vertical-align:middle; display:table-cell; }
.reDateCon ul li.time { background:#328bcf url(../images/sub/icon_clock.png) no-repeat 9px 3px; border:1px solid #1c76bb; color:#fff; font-size:13px; height:20px; line-height:20px; padding:0 12px 0 30px; width:auto; display:inline-block; zoom:1; *display:inline; margin-bottom:6px; }
.reDateCon dd.last { margin-top:40px; background:url(../images/sub/arrow_recovery.gif) no-repeat 120px top; }
.reDateCon dd.last > div { clear:both; margin:127px 0 0; text-align:center; width:320px; height:91px; overflow:hidden; border:3px solid #d11818; border-radius:50px; }
.reDateCon dd.last > div p { display:block; font-size:34px; color:#d11818; font-weight:bold; }
.reDateCon dd.last > div p span { display:block; color:#333; font-size:15px; line-height:30px; margin:4px 0; }
.reBar { margin-top:38px; border-top:2px solid #d7d7d7; border-bottom:1px solid #d7d7d7; overflow:hidden; padding:20px 0; }
.reBar p { background:url(../images/sub/bullet_solu.png) no-repeat 0 6px; margin-left:11px; line-height:24px; font-size:15px; padding-left:12px; }
.reBar p span { display:block; margin-left:21px; }
.reEffectDl-n { width:100; }
.reEffectDl-n > dt { color:#333; font-size:18px; font-weight:400; }
.reEffectDl-n > dt span { margin-right:7px; display:inline-block; zoom:1; *display:inline; background:#29adc8; color:#fff; width:20px; height:20px; line-height:18px; text-align:center; }
.reEffectDl-n > dd dl { margin:22px 0 0 27px; }
.reEffectDl-n > dd dt { background:url(../images/sub/bullet_solu.png) no-repeat 0 4px; padding-left:15px; font-size:15px; }
.reEffectDl-n > dd dd { background:url(../images/sub/bullet_re_gray.gif) no-repeat 0 10px; margin:8px 0 0 18px; padding-left:10px; font-size:14px; line-height:24px; }
.reEffectDl-n > dd dd.img { background:none; padding:0 0 50px 0; text-align:right; margin:25px 0 0 15px;  }
.reEffectDl-n > dd dd.img p { font-size:13px; margin-top:15px; }
.reEffectDl-n > dd dd.img img{width:100%;}

.reFtUl-n { width:100%; overflow:hidden; margin:40px 0 115px; }
.reFtUl-n > li { float:left; overflow:hidden; position:relative; width:472px;margin-bottom:10px;}
.reFtUl-n > li.re2 { margin-left:218px; }
.reFtUl-n > li.re3 { margin:0 0 0 428px; }
.reFtUl-n > li div { position:absolute; z-index:999; top:15px; width:109px; height:125px; text-align:center; color:#fff; line-height:125px; font-size:20px; }
.reFtUl-n > li.re1 div { background:url(../images/sub/bg_reFtUl1.png) no-repeat; }
.reFtUl-n > li.re2 div { background:url(../images/sub/bg_reFtUl2.png) no-repeat; }
.reFtUl-n > li.re3 div { background:url(../images/sub/bg_reFtUl3.png) no-repeat; }
.reFtUl-n > li ul { margin-left:54px; border:1px solid #d7d7d7; background:#fcfcfc; width:416px; height:154px; overflow:hidden; }
.reFtUl-n > li ul li { background:url(../images/sub/bullet_solu.png) no-repeat 0 7px; padding-left:16px; font-size:15px; line-height:26px; margin-left:83px; }
.reFtUl-n > li ul li:first-child { margin-top:48px; }
.reFtDl-n { border:1px solid #d7d7d7; background:#fcfcfc; overflow:hidden; padding:20px 20px 50px 20px;  }
.reFtDl-n dt { margin:20px 0 0 20px; color:#666; background:url(../images/sub/bullet_solu.png) no-repeat 0 4px; padding-left:16px; font-size:15px; font-weight:bold; }
.reFtDl-n dd { margin:8px 0 0 35px; font-size:15px; }
.reFtTable { margin-top:30px; background:#fcfcfc; }
.reFtTable th { font-weight:bold; border-left:1px solid #d7d7d7; border-bottom:1px solid #b3c1d2; background:#236bbc; height:53px; color:#fff; font-size:16px; }
.reFtTable th:first-child, .reFtTable td:first-child { border-left:0; }
.reFtTable th.pnt { background:#3d90c0; border-bottom:1px solid #b8c9d2; }
.reFtTable td { border-left:1px solid #d7d7d7; border-bottom:1px solid #dedede; font-weight:300; font-size:14px; color:#666; height:53px; text-align:center; }
.reFtTable td.pnt { background:#3d90c0; color:#fff; }

.skillStepUl-n { margin:50px 0 0 30px; overflow:hidden; }
.skillStepUl-n li { float:left; width:174px;margin-right:40px;}
.skillStepUl-n li div { width:174px; height:174px; line-height:174px; text-align:center; font-size:22px; color:#1f60a7; }
.skillStepUl-n li.step1 div { background:url(../images/sub/bg_round_skill1.gif) no-repeat; }
.skillStepUl-n li.step2 div { background:url(../images/sub/bg_round_skill2.gif) no-repeat; }
.skillStepUl-n li.step3 div { background:url(../images/sub/bg_round_skill3.gif) no-repeat; }
.skillStepUl-n li.step4 div { background:url(../images/sub/bg_round_skill4.gif) no-repeat; }
.skillStepUl-n li:last-child{margin-right:0;}
.skillStepUl-n dl { width:184px; overflow:hidden; margin-top:32px; }
.skillStepUl-n dt { text-align:center; width:174px; color:#333; font-size:22px; margin-bottom:8px; }
.skillStepUl-n dd { background:url(../images/sub/bullet_re_gray.gif) no-repeat 0 7px; padding-left:7px; line-height:20px; font-size:14px; margin:12px 0 0 8px; }
.procSkill { width:100%; overflow:hidden; border-bottom:1px solid #d7d7d7; margin-top:40px; padding-bottom:44px; overflow:hidden; }
.procSkill li { float:left; height:101px; color:#fff; font-size:15px; line-height:24px;}
.procSkill li div { width:326px; height:101px; overflow:hidden; border-radius:50px; }
.procSkill li div p { margin-top:26px; }
.procSkill li.proc1 div { background:#54bdd3; }
.procSkill li.proc1 p { margin-left:40px; }
.procSkill li.proc2 { position:absolute; left:225px; }
.procSkill li.proc2 div { background:#64a6cd url(../images/sub/bullet_proc_plus.png) no-repeat left top; }
.procSkill li.proc2 p { margin-left:124px; }
.procSkill li.proc3 { background:url(../images/sub/bullet_proc_arrow.gif) no-repeat left center; width:432px; float:right; }
.procSkill li.proc3 div { background:#4c80b9; text-align:center; float:right;}
.systemSkill-n { width:100%; overflow:hidden; }
.systemSkill-n > h3 { float:left; position:relative; font-weight:600; font-size:20px; color:#333;  padding-top:21px; height:40px; }
.systemSkill-n > h3 p { position:absolute; top:0; width:48px; height:4px; background:#236bbc; }
.systemSkill-n > ul { clear:left; float:left; border:1px solid #d7d7d7; background:#fcfcfc; width:520px; padding-top:33px; height:180px; overflow:hidden; }
.systemSkill-n > ul li { float:left; margin-left:7%; width:38%; font-size:15px; line-height:29px; background:url(../images/sub/bullet_solu.png) no-repeat 0 11px; padding-left:16px;  }
.systemSkill-n > div { float:right; margin-top:49px; }
.systemSkill-n > div p { margin:27px auto 0; width:120px; height:20px; line-height:20px; text-align:center; color:#fff; background:#29adc8; border-radius:10px; }



/* 솔루션-oneview */
.oneview .spec{overflow:hidden;}
.oneview .spec .spec_img{float:left;width:557px;}
.oneview .spec .spec_img ul{overflow:hidden;}
.oneview .spec .spec_img ul li{float:left;width:114px;margin:15px 30px;text-align:center;}
.oneview .spec .spec_img ul li p.bg_onview{width:114px;height:114px;line-height:114px;color:#fff;font-size:40px;margin-bottom:10px;}
.oneview .spec .spec_img ul li p.ov_spectt{font-size:13px;}
.oneview .spec .spec_con{float:right;width:385px;}
.oneview .spec .spec_con dl{margin-bottom:30px;font-size:14px;}
.oneview .spec .spec_con dl dd{line-height:24px;background:url(../images/sub/icon_sl_list.gif) no-repeat 0 12px;padding-left:6px;color:#999;margin-left:15px;}
.oneview .infra{}
.oneview .infra ul li{height:146px;padding-top:45px;padding-left:585px;}
.oneview .infra ul li.bg_infra_right{padding-left:15px;}
.oneview .infra ul li p.infra_tt{font-size:16px;margin-bottom:10px;}

/* 솔루션-서버이중화 */
.solution h3{ font-size:20px; color:#2f7bb5;margin-bottom:20px; margin-top: 50px;}
.server ul li{padding:60px 0 60px 190px;border-bottom:1px dashed #d7d7d7}
.server ul li p.server_list{font-size:18px;font-weight:700;color:#333;margin-bottom:10px;line-height:30px;}


.dl_mscs { overflow:hidden; margin:40px 0 50px; }
.dl_mscs dt { margin-top:25px; background:url(../images/sub/bullet_kf.gif) no-repeat 0 3px; font-size:15px; line-height:100%; padding-left:15px; font-weight:bold; }
.dl_mscs dt:first-child { margin-top:0; }
.dl_mscs dd { font-size:14px; line-height:24px; margin-top:12px; letter-spacing:-.4px; }

.rac > dl { margin-top:50px; overflow:hidden; }
.rac > dl dt { background:url(../images/sub/bullet_kf.gif) no-repeat 0 3px; font-size:15px; line-height:100%; padding-left:15px; font-weight:bold; }
.rac > dl dd { margin-top:15px; font-size:14px;  }
.rac .list { line-height:26px; font-size:14px; margin-top:40px; }

.rac .gray_box { margin-top:25px; background:url(../images/sub/bg_rac_gray.gif) no-repeat center 415px; overflow:hidden; }
.rac .gray_box > div { width:100%; height:397px; background:#fafafa; overflow:hidden; }
.rac .gray_box > div h4 { float:left; width:360px; margin:137px 0 0 27px; border-top:1px solid #d5d5d5; border-bottom:1px solid #d5d5d5; line-height:31px; font-size:18px; color:#333; text-align:center; position:relative; padding:30px 0; letter-spacing:-.4px; }
.rac .gray_box > div h4:before { content:"“"; font-family:"Nanum Gothic"; font-size:69px; color:#4d89c8; position:absolute; left:50%; margin-left:-5px; top:-1px; text-shadow:3px 3px 2px #dadada; }
.rac .gray_box > div h4:after { content:"”"; font-family:"Nanum Gothic"; font-size:69px; color:#4d89c8; position:absolute; left:50%; margin-left:-5px; bottom:-35px; text-shadow:3px 3px 2px #dadada; }
.rac .gray_box > div img { float:right; margin:43px 33px 0 0; }
.rac .gray_box dl { float:left; margin-top:57px; overflow:hidden; width:470px; height:165px; padding: 0 10px;box-sizing:border-box; border:1px solid #d7d7d7; background:#fafafa; font-size:14px;}
.rac .gray_box dt { font-weight:bold; margin:15px 0 5px;letter-spacing: -1px; font-size: 15px; }
.rac .gray_box dd { line-height:24px; font-size: 15px; font-weight: 400;}

.cs_ingBox { margin-top:40px; overflow:hidden; }
.cs_ingBox img { float:left; margin-left:65px; }
.cs_ingBox dl { float:left; margin:15px 0 0 80px; }
.cs_ingBox dt { color:#29adc8; font-size:15px; font-weight:bold; margin-bottom:5px; }
.cs_ingBox dd { line-height:24px; font-size:15px; }
.cs_ingTxt { margin-top:20px; width:100%; overflow:hidden; box-sizing:border-box; border:1px solid #d9d9d9; }
.cs_ingTxt h4 { line-height:50px; height:50px; font-size:14px; font-weight:bold; text-indent:30px; background:#f9f9f9; }
.cs_ingTxt ul { padding:20px 30px; overflow:hidden; font-size:14px; line-height:26px; }

.nodeBox { overflow:hidden; margin-top:30px; }
.nodeBox h4 { width:364px; height:31px; line-height:31px; text-align:center; font-size:16px; color:#28b2cb; border:2px solid #28b2cb; border-radius:16px; margin:0 auto; }
.nodeBox ul { margin-top:22px; overflow:hidden; }
.nodeBox li { float:left; margin-left:23px; }
.nodeBox li:first-child { margin-left:0; }
.nodeBox dl { margin-top:10px; }
.nodeBox dt { margin-top:20px; font-weight:bold; color:#14adc8; font-size:15px; line-height:22px; margin-bottom:3px; }
.nodeBox dt i { display:inline-block; width:22px; height:22px; background:#14adc8; color:#fff; font-size:14px; font-weight:normal; margin-right:5px; text-align:center; font-style:normal; }
.nodeBox dd { line-height:24px; font-size:14px; margin-left:28px; }

.patchBox { overflow:hidden; margin-top:30px; }
.patchBox h4 { font-size:14px; font-weight:bold; }
.patchBox > p { font-size:14px; margin-top:8px; }
.patchBox ul { overflow:hidden; }
.patchBox .list li { float:left; position:relative; border:1px solid #d5d5d5; box-sizing:border-box; width:462px; height:318px; overflow:hidden; margin:0 0 25px 25px; }
.patchBox .list li:first-child, .patchBox li:first-child+li+li { margin-left:0; }
.patchBox .list li i { display:block; width:36px; height:36px; line-height:36px; text-align:center; color:#fff; background:#bbb; font-style:normal; font-size:20px; position:absolute; top:0; left:0; }
.patchBox .list li img { display:block; margin:0 auto; }
.patchBox .list li > p { width:100%; height:46px; line-height:46px; text-align:center; font-size:15px; background:#f9f9f9; }
.patchBox .txt { margin-top:10px; height:45px; background:url(../images/sub/bg_patch.gif) no-repeat; }
.patchBox .txt li { float:left; line-height:45px; width:33.3%; text-align:center; color:#fff; font-size:16px; font-weight:bold; }

.rose_ha > .section{border-bottom:1px dotted #848484;padding-bottom:80px;}
.rose_ha > .section ul{background:url(../images/sub/bg_rosaHA.gif) no-repeat;position:relative;height:460px;}
.rose_ha > .section ul li{position:absolute;}
.rose_ha > .section ul li:nth-child(1){top:90px;}
.rose_ha > .section ul li:nth-child(1) dl dt{color:#1cadc8}
.rose_ha > .section ul li:nth-child(2){top:134px;right:0}
.rose_ha > .section ul li:nth-child(2) dl dt{color:#3d79b8}
.rose_ha > .section ul li:nth-child(3){top:337px;left:65px;}
.rose_ha > .section ul li:nth-child(3) dl dt{color:#3a91c2}
.rose_ha > .section ul li dl dt{font-size:16px;font-weight:600;}
.rose_ha > .section ul li dl dd{font-size:14px;line-height:24px;margin-top:25px;letter-spacing:-.5px;}

.rose_form h3{margin-bottom:40px;}
.rose_form dl{overflow:hidden;margin-top:20px;}
.rose_form dl>dt{float:left;width:240px;font-size:16px;font-weight:700;color:#252729;text-align:center;line-height:26px;margin-top:60px;margin-right:10px;}
.rose_form dl>dt>span{display:block;font-size:22px;color:#2f7bb5;}
.rose_form dl>dt>em{font-size:16px;color:#9199a0;font-weight:normal;}

.rose_adv{margin-top:100px;}
.rose_adv .total_mnt{background:url(../images/sub/bg_total_mnt.gif) no-repeat 0 0;height:562px;position:relative;margin-top:50px;}
.rose_adv .total_mnt h4{background:#f2f2f2;text-align:center;color:#333;font-family:'Nanum Square';font-size:16px;width:200px;padding:10px 0;margin:0 auto;border-radius:20px;}
.rose_adv .total_mnt > ul {overflow:hidden;}
.rose_adv .total_mnt > ul > li{float:left;width:390px;padding:50px 0 120px 90px;}
.rose_adv .total_mnt > ul > li.txt_right{text-align:right;padding-left:0px;padding-right:80px;}
.rose_adv .total_mnt > ul > li > p{font-size:16px;font-family:'Nanum Square';font-weight:700;padding-bottom:5px;}
.rose_adv .total_mnt > ul > li > ul > li{font-size:14px;line-height:26px;}
.rose_adv .mnt_btit{position:absolute;top:270px;left:432px;font-size:24px;text-align:center;font-weight:700;line-height:31px;color:#333;}

/* 솔루션-백업 및 복구 */
#tabMenu_s { width:100%; overflow:hidden; margin-top: 50px;}
#tabMenu_s li { width:227px; float:left; margin-left:13px; height:54px; line-height:52px; box-sizing:border-box; text-align:center; cursor:pointer; font-size:16px; background:#ededed; border:1px solid #cdcdcd; border-radius:5px; }
#tabMenu_s li:first-child { margin-left:0; }
#tabMenu_s li.active { border-color:#2d568a; background:#236bbf; color:#fff; font-weight:bold; }
#tabMenu_s2 { width:100%; overflow:hidden; }
#tabMenu_s2 li { width:187px; float:left; margin-left:13px; height:54px; line-height:52px; box-sizing:border-box; text-align:center; cursor:pointer; font-size:14px; background:#ededed; border:1px solid #cdcdcd; border-radius:5px; }
#tabMenu_s2 li:first-child { margin-left:0; }
#tabMenu_s2 li.active { display:block; color:#fff; width:187px; height:53px; line-height:53px; background:#2591c3; border:1px solid #0d7bae; border-radius:3px; }
#tabM_Con { width:100%; margin-top:40px; }

#tabMenu_s.tabserver li{width:227px;}

.arc h3 { color:#333; font-weight:bold; font-size:30px; line-height:100%;  font-family: 'Nanum Square'; margin-top:45px; }
.arc h3:first-child { margin-top:0; }
.arc > h4 { color:#2f7bb5; font-family: 'Nanum Square'; font-size:19px; margin-top:35px; }

.kfBox { width:100%; overflow:hidden; margin-top:30px; padding-bottom:60px; border-bottom:1px dashed #d7d7d7; }
.kfBox dl { float:left; width:50%; }
.kfBox dt { margin-top:35px; background:url(../images/sub/bullet_kf.gif) no-repeat 0 3px; font-size:15px; line-height:100%; padding-left:15px; }
.kfBox dt:first-child { margin-top:0; }
.kfBox dd { font-size:14px; line-height:22px; margin-top:15px; }

.kf2Box { width:100%; margin-top:35px; padding-bottom:60px; border-bottom:1px dashed #d7d7d7;  }
.kf2Box h4 { color:#2f7bb5; font-family: 'Nanum Square'; font-size:19px;  }
.kf2Box h4:first-child { margin-top:0; }

.kf2Box.bg { background:url(../images/sub../images_kf1.gif) no-repeat right top; }
.kf2Box h5 { margin-top:60px; background:url(../images/sub/bullet_kf.gif) no-repeat 0 3px; font-size:15px; line-height:100%; padding-left:15px;  }
.kf2Box > p { font-size:15px; margin-top:18px; }
.kf2Box ul.txt { margin-top:20px; }
.kf2Box ul.txt li { background:url(../images/sub/dot_kf2.gif) no-repeat 5px 13px; font-size:14px; line-height:26px; padding-left:15px; }

.kf_plan { position:relative; overflow:hidden; margin-bottom:50px;}
.kf_plan:before { content:""; display:block; width:772px; height:883px; box-sizing:border-box; border:1px solid #7a7a7a; position:absolute; bottom:0; right:0; z-index:1; }
.kf_plan div { margin:35px 220px 0 0; float:right; width:330px; background:#fff; text-align:center; font-weight:bold; font-size:15px; padding-bottom:35px; position:relative;  z-index:3; }
.kf_plan div img { margin-right:15px; }
.kf_plan table { background:url(../images/sub/bg_pn.gif) repeat; }
.kf_plan th { color:#fff; font-size:15px; font-weight:bold; line-height:22px; }
.kf_plan th.pn1 { background:url(../images/sub/bg_pn1.gif) repeat; }
.kf_plan th.pn2 { background:url(../images/sub/bg_pn2.gif) repeat; }
.kf_plan th.pn3 { background:url(../images/sub/bg_pn3.gif) repeat; }
.kf_plan th.pn4 { background:url(../images/sub/bg_pn4.gif) repeat; }
.kf_plan th.pn5 { background:url(../images/sub/bg_pn5.gif) repeat; }
.kf_plan td { border-top:1px solid #dedede; }
.kf_plan tr:first-child td { border-top:none; }
.kf_plan td img { margin:35px 0 0 95px; }
.kf_plan ul { margin:15px 0 0 85px; height:60px; overflow:hidden; }
.kf_plan ul li { float:left; font-size:13px; line-height:16px; vertical-align:top; text-align:center; }

.kf_line { margin-top:35px; }
.kf_line img{ border-top:3px solid #e6e6e6; }
.kf_line .box { width:100%; margin-top:35px; overflow:hidden; text-align:center; font-size:0; }
.kf_line .box li { display:inline-block; border: 2px dashed #d3d3d3; width:165px; height:80px; text-align:center; overflow:hidden; font-size:15px; margin:0 5px; }
.kf_line .box li p { font-weight:bold;  margin-top:20px; }
.kf_line .box li span { display:block; margin-top:8px; }
.kf_line .list { margin-top:80px; }
.kf_line .list li { background:url(../images/sub/bullet_kf.gif) no-repeat 0 4px; font-size:15px; margin-top:15px; padding-left:15px }
.kf_line h6 { height:89px; line-height:89px; text-align:center; position:relative; font-weight:bold; color:#2f7bb5; font-size:18px; margin-top:40px; }
.kf_line h6:before { content:""; display:block; width:100%; height:7px; background:url(../images/sub/bullet_sTitle.gif) repeat; position:absolute; top:0; left:0; }
.kf_line h6:after { content:""; display:block; width:100%; height:7px; background:url(../images/sub/bullet_sTitle.gif) repeat; position:absolute; bottom:0; left:0; }


.kf2Box.qna table { margin-top:30px; position:relative;width: 100%; }
.kf2Box.qna table:before { content:""; display:block; width:645px; height:338px; box-sizing:border-box; border:2px solid #85bde7; border-top:0; position:absolute; bottom:1px; right:0; }
.kf2Box.qna th { height:43px; border-bottom:1px solid #85bde7; background:#85bde7; color:#fff; font-size:14px;  }
.kf2Box.qna th:first-child { background:url(../images/sub/bg_kf_qna.gif) repeat; border-color:#dadada; border-right:1px solid #dadada; }
.kf2Box.qna td { border-bottom:1px solid #dadada; padding:17px 12px; line-height:22px; font-size:14px; letter-spacing:-.4px; }
.kf2Box.qna td:first-child { border-right:1px solid #dadada; }

.kf2Box.fn { border:none; }
.kf2Box.fn dt { color:#2f7bb5; font-family: 'Nanum Square'; font-size:19px; margin-top:35px; }
.kf2Box.fn dt:first-child { margin-top:30px; }
.kf2Box.fn dd { background:url(../images/sub/bullet_kf.gif) no-repeat 0 5px; font-size:15px; margin-top:15px; padding-left:15px}

.solution.acr h3 { color:#333; font-weight:bold; font-size:30px; line-height:100%;  font-family: 'Nanum Square'; margin-top:45px; }
.solution.acr h3:first-child { margin-top:0; }
.solution.acr > div { overflow:hidden; margin-top:30px; padding-bottom:50px; border-bottom:1px dashed #d7d7d7; }

.acr1 ul { font-size:15px; line-height:26px; }
.acr1 h4 { margin-top:40px; color:#2f7bb5; font-family: 'Nanum Square'; font-size:19px; }
.acr1 .gyBox { background:#f7f7f7 url(../images/sub/bg_gyBox.gif) no-repeat 338px 14px; width:100%; height:200px; margin-top:20px; position:relative; }
.acr1 .gyBox p { position:absolute; font-size:13px; line-height:22px;  }
.acr1 .gyBox p.g1 { top:42px; left:125px; }
.acr1 .gyBox p.g2 { bottom:45px; left:40px; }
.acr1 .gyBox p.g3 { top:38px; right:38px; }
.acr1 .gyBox p.g4 { bottom:35px; right:35px; }

.acr2 ul { margin-top:20px; }
.acr2 li { float:left; width:50%; }
.acr2 li img { float:left; }
.acr2 li dl { float:left; margin-left:40px; height:244px; overflow:hidden; }
.acr2 li dt { color:#2f7bb5; font-family: 'Nanum Square'; font-size:19px; margin:5px 0; }
.acr2 li dd { line-height:24px; font-size:14px; background:url(../images/sub/dot_kf2.gif) no-repeat 0 13px; padding-left:8px; }

.solution.acr > div.acr3 { margin-top:50px; position:relative; height:597px; background:url(../images/sub/bg_acr3.png) no-repeat 438px top;  }
#content .acr3 h4 span { color:#4e3498; }
.acr3 h4 { width:232px; height:232px; overflow:hidden;  display:table; text-align:center; background:url(../images/sub/bg_tit_acr3.png) no-repeat; position:absolute; top:173px; left:374px; z-index:2; }
.acr3 h4 span { display:table-cell; vertical-align:middle;  color:#4e3498; font-family: 'Nanum Square'; font-size:20px; font-weight:bold; line-height:24px; }
.acr3 > dl { position:absolute; background:#fff; overflow:hidden; border:10px solid #e4e1ee; box-sizing:border-box; padding:30px; }
.acr3 dt { color:#4e3498; font-family: 'Nanum Square'; font-size:19px; font-weight:bold; margin-bottom:14px; letter-spacing: -.5px;}
.acr3 dd { font-size:14px; line-height:24px; color:#8d8d8d; background:url(../images/sub/dot_kf2.gif) no-repeat 0 12px; padding-left:8px; letter-spacing:-.4px;  }
.acr3 dd.bold { color:#666; font-weight:bold; }
.acr3 .box1 { width:424px; height:535px; top:40px; left:14px; }
.acr3 .box2 { width:302px; height:280px; top:0; right:126px; }
.acr3 .box3 { width:362px; height:280px; top:317px; right:66px; }

.acr4 h4 { color:#2f7bb5; font-family: 'Nanum Square'; font-size:19px; }
.acr4 h5 { margin-top:28px; background:url(../images/sub/bullet_kf.gif) no-repeat 0 3px; font-size:15px; line-height:100%; padding-left:15px;  }
.acr4 table { float:left; width:520px; margin-top:20px; }
.acr4 th { background:url(../images/sub/bg_acr4.gif) repeat; font-weight:bold; font-size:14px; padding-left:10px; text-align:left; position:relative; }
.acr4 th:before { content:""; display:block; width:100%; height:1px; background:#dadada; position:absolute; top:0; left:0; }
.acr4 th:after { content:""; display:block; width:100%; height:1px; background:#fff; position:absolute; bottom:0; left:0; }
.acr4 tr:first-child th:before { display:none; }
.acr4 tr.last th:after { display:none; }
.acr4 tr.last th { border-bottom:1px solid #dadada; }
.acr4 td { border-bottom:1px solid #dadada;  padding:10px 0 11px 16px; font-size:14px; line-height:22px; letter-spacing:-.4px; }
.acr4 div { margin-top:20px; float:right; border:1px dotted #b2b2b2; width:400px; height:638px; box-sizing:border-box; padding:0 28px; background:url(../images/sub/img_acr4.gif) no-repeat center center; position:relative;}
.acr4 div p, .acr4 div dl, .acr4 div ul { position:absolute; line-height:20px; font-size:14px; font-weight:bold;  }
.acr4 div dl { text-align:center; }
.acr4 div dt { color:#5c92b1; }
.acr4 div dd { font-weight:normal; }
.acr4 div .n1 { top:27px; left:235px; color:#5c92b1;  }
.acr4 div .n2 { top:145px; left:42px; }
.acr4 div .n3 { top:145px; right:25px; }
.acr4 div .n4 { top:285px; left:25px; }
.acr4 div .n5 { top:285px; right:60px; color:#5c92b1; text-align:center; }
.acr4 div .list { width:360px; left:26px; bottom:160px; }
.acr4 div .list li { float:left; }
.acr4 div .last { bottom:30px; width:100%; }
.acr4 div .last li { float:left; margin:8px 0 0 63px; }
.acr4 div .last li:first-child { margin:0 0 0 50px; }


.solution.acr > div.acr5 { border:none; }
.acr5 > div { width:100%; overflow:hidden; margin-top:15px; }
.acr5 > div.box1 { margin-top:30px; }
.acr5 > div h4 { float:left; font-family: 'Nanum Square'; font-size:19px; font-weight:bold;  width:200px; text-align:center;}
.acr5 > div > div { float:right; width:740px; box-sizing:border-box; border:1px solid #ececec; padding:0 28px; }
.acr5 h5 { background:url(../images/sub/bullet_kf.gif) no-repeat 0 3px; font-size:15px; line-height:100%; padding-left:13px; margin-top:30px;  }
.acr5 h5 span { font-weight:bold; padding-left:24px; position:relative; }
.acr5 h5 span:before { content:""; display:block; position:absolute; top:6px; left:9px; width:0; height:0; border-top: 4px solid transparent; border-left: 8px solid ; border-bottom: 4px solid transparent; }
.acr5 table { width:100%; border-top:3px solid #969696; border-left:1px solid #969696; border-right:1px solid #969696; margin-top:15px; text-align:center; font-weight:bold; }
.acr5 table th { font-weight:bold; }
.acr5 table td { height:34px; border-left:1px solid #969696; }
.acr5 ul { margin-top:5px; width:100%; overflow:hidden; }
.acr5 ul li { float:left; font-size:15px; }
.acr5 ul li:first-child+li { font-weight:bold; }
.acr5 ul li:first-child+li+li { float:right; text-align:right; }


.acr5 .box1 h4 { height:393px; background:url(../images/sub/bg_acr5_1.gif) repeat;  line-height:393px; color:#663399; }
.acr5 .box1 > div { height:393px; }
.acr5 .box1 h5 span { color:#663399; }
.acr5 .box1 table th { color:#716386; background:#f1eff8; }
.acr5 .box1 ul li:first-child+li { color:#663399; }

.acr5 .box2 h4 { height:400px; background:url(../images/sub/bg_acr5_2.gif) repeat; line-height:430px; color:#397aa0; }
.acr5 .box2 > div { height:400px; }
.acr5 .box2 h5 span { color:#397aa0; }
.acr5 .box2 p { font-size:14px; margin-top:8px; }
.acr5 .box2 table th { color:#397aa0; background:#f0f5fb; }
.acr5 .box2 ul li:first-child+li { color:#397aa0; }




.solution.backup .sl_fl_list ul li.mh85 {min-height:850px;}
.solution.backup .sl_fl_list ul li dl dd.cont_txt{min-height:165px;}
.backup ul li dl dd.sl_list_txt{letter-spacing:-.75px;margin-top:0px}

/* 솔루션-문서중앙화 */
.doc > dl { background:url(../images/sub/bg_doc.jpg) no-repeat 590px 20px; height:339px; border-bottom:1px dashed #dadada; }
.doc > dl dt { font-family:'Nanum Square'; font-size:20px; margin-bottom:25px; }
.doc > dl dd { font-size:15px; line-height:25px; margin-bottom:20px; }
.doc > ul { margin-top:85px; width:100%; overflow:hidden; }
.doc > ul li { float:left; width:33.3%; text-align:center; margin-bottom:85px; height:375px; overflow:hidden; }
.doc > ul li > h4 { color:#2f7bb5; font-family:'Nanum Square'; font-size:17px; margin-top:37px; }
.doc > ul li > p { font-size:14px; line-height:24px; margin-top:16px; }
.doc > h4 { font-size:20px; margin-top:15px; }
.doc p.txt { line-height:26px; font-size:15px; margin-top:28px; }
.doc p.txt em { display:block; font-weight:bold; font-size:16px; }
.scBox h5 { color:#333; font-size:17px; margin-top:55px; }
.scBox h5 span { margin-right:10px; display:inline-block; zoom:1; *display:inline; background:#29adc8; color:#fff; width:28px; height:28px; line-height:28px; text-align:center; }
.scBox > ul { overflow:hidden; }
.arrowUl { margin:14px 0 0 40px; }
.arrowUl li { background:url(../images/sub/bullet_solu.gif) no-repeat 0 8px; font-size:14px; line-height:26px; padding-left:15px; }
.imgUl li { float:left; width:392px; margin:43px 41.5px 0; height:290px; overflow:hidden; font-size:14px; }
.imgUl li img { border:1px solid #d7d7d7; }
.imgUl li .txtq { color:#999; line-height:24px; margin-top:14px;  }
.imgUl li .txta { background:url(../images/sub/bullet_solu.gif) no-repeat 0 6px; padding-left:12px; margin-top:11px; }
.arrowUl2 {  background:#fcfcfc; border:1px solid #d7d7d7; margin-top:35px; padding:15px 0; }
.arrowUl2 li { float:left; width:25%; margin-left:5%; background:url(../images/sub/bullet_solu.png) no-repeat 0 12px; font-size:14px; line-height:26px; padding:3px 0 3px 15px; }
.txtTip { font-size:14px; margin-top:5px; }
.iconUl { }
.iconUl li { border-top:1px dashed #d7d7d7; overflow:hidden; padding:50px 0; }
.iconUl li:first-child { border-top:none; }
.iconUl li > img { float:left; display:block; margin:0 0 0 27px; }
.iconUl li dl { float:right; width:760px; letter-spacing:-0.05em; margin-top:13px;}
.iconUl li dl dt { font-weight:bold; color:#333; font-size:18px; margin-bottom:16px;  }
.iconUl li dl dd { background:url(../images/sub/bullet_dot_iconUl.gif) no-repeat 0 10px; padding-left:10px;  margin-left:2px; font-size:14px; line-height:22px;  }




/*기사형 인재경영 ->우리문화*/
.article{border-top:2px solid #333; color: #666;}
.article ul{	margin:0;padding:0;}
.article ul li{	border-bottom:1px solid #ddd;padding:10px 0;	}
.article ul li:hover{background:#fbfbfb;transition:all 0.5s, color 0.2s 0.2s;}
.article_tbl td.article_img img{		width:200px;max-height:240px;border:1px solid #ddd;	}
.article_tbl td.article_con{		padding:0px 25px;vertical-align:top;	}
.article_con .tit{		height:35px;font-size:16px;font-weight:bold;line-height:35px;padding-top:10px;	}
.article_con .date{	height:23px;line-height:23px;	}
.article_con .con{	padding-top:15px;line-height:19px;height:110px;max-height:155px;overflow:hidden;word-break:break-all;	}



/* 일반게시판 뷰, 쓰기 */
.ntb-tb-view {border-top:2px solid #333; padding:0; margin-top:10px; margin-bottom:30px; margin:0 auto;font-size:15px;}
.ntb-tb-view caption {visibility:hidden;}
.ntb-tb-view th {border-bottom: 1px solid #ddd;background-color:#f6f6f6; border-right: 1px solid #ddd; text-align:center; font-weight: bold; color:#333; line-height:3.333;}
.ntb-tb-view td {border-bottom:1px solid #ddd;padding: 16px 0 13px 0;text-align:center; vertical-align:middle; line-height:18px;}
.ntb-tb-view .left {text-align:left; padding-left:10px;}
.ntb-tb-view .right {text-align:right; padding-left:10px;}
.ntb-tb-view .r_none {border-right:none;}
.ntb-tb-view .b_none {border-bottom:none;}
.ntb-tb-view .font_ip {font-size:8pt; color:#aaa;}
.ntb-tb-view .font_comcnt {color:#d33;}
.ntb-tb-view .font_comment {font-weight: bold; font-size: 11px; color: #ee2ea9;}
.ntb-tb-view .content-area {text-align:left; vertical-align:top; padding:10px; word-break:break-all;}
/*.ntb-tb-view .content-area img{ max-width:95%; }*/
.ntb-tb-view .content-area img{ max-width:920px; }
.ntb-tb-view .sns-area {width:100%; text-align:right; padding-top:10px}
.ntb-tb-view .ip-area {width:100%; text-align:right;}
.ntb-tb-view-btn {position: relative; text-align:left; margin-top:10px; margin-bottom:30px;}
.ntb-tb-view-btn .btnr {position:absolute; right:0; top:0;}
.ntb-tb-view-comment {position: relative; margin-top:10px; margin-bottom:30px;}
.ntb-tb-view-reply {position: relative; margin-top:10px; margin-bottom:30px;}
.ntb-tb-view-prevnext {position: relative; margin-top:10px; margin-bottom:30px;}



/* 인재경영-복지제도 */
.wfCon .tit{ color:#333;  font-size:30px; line-height:45px; letter-spacing:-1px;}
.wfCon .tit h4 {font-size: 30px; font-weight: normal;} 
.wfCon > dl {overflow:hidden;line-height:36px;margin-top:30px;padding-bottom:50px;border-bottom:1px solid #d7d7d7;}
.wfCon > dl > dt {float:left;width:150px; font-size:20px;}
.wfCon > dl > dd{font-size:15px;}
.wfCon > div > ul{overflow:hidden;}
.wfCon > div > ul > li{float:left;width:50%;padding:45px 0;border-bottom:1px solid #d7d7d7;overflow:hidden;height:145px;}
.wfCon > div > ul > li > p{float:left;}
.wfCon > div > ul > li > dl{margin-left:180px;}
.wfCon > div > ul > li > dl > dt{font-size:20px;color:#333;font-weight:700;margin-bottom:10px;}
.wfCon > div > ul > li > dl > dd{font-size:14px;line-height:22px;letter-spacing:-0.5px;}





/* 백업 및 복구 > veeam */
#content.veeam .sol_stit{margin:0px 0 20px 0;}
#content.veeam .cont_txt{letter-spacing:-.25px;}
#content.veeam .section{margin-bottom:120px;}
#content.veeam .sl_bulltt{font-size:16px;color:#333;}

.veeamL > ul > li {overflow:hidden;margin-top:85px;}
.veeamL > ul > li > div {float:left;width:475px;margin-right:20px;height:380px;position:relative;}
.veeamL > ul > li > div > dl > dd{word-break:keep-all; word-wrap:break-word;}
.veeamL > ul > li > div > ul{overflow:hidden;position:absolute;bottom:0;}
.veeamL > ul > li > div > ul > li{float:left;background:#00b336;margin-right:5px;border-radius:3px;transition:all 0.3s, color 0.1s 0.1s;}
.veeamL > ul > li > div > ul > li:last-child{margin-right:0px;}
.veeamL > ul > li > div > ul > li a{display:block;width:155px;height:46px;line-height:46px;text-align:center;color:#fff;font-size:14px;font-weight:bold;}
.veeamL > ul > li > div > ul > li:hover{background:#019b2f;}
.veeamL > ul > li > p{float:right;margin-top:70px;}

.veeamtb{width: 100%;}
.veeamtb thead tr th{font-size:15px;font-weight:bold;}
.veeamtb thead tr th:first-child{background:#e3e3e3;color:#58595b;}
.veeamtb thead tr th:nth-child(2){background:#00b336;color:#fff;}
.veeamtb thead tr th:nth-child(3){background:#58595b;color:#fff;}
.veeamtb th, .veeamtb td{padding:15px 10px;text-align:center;}
.veeamtb td{border-bottom:1px solid #ccc;border-left:1px solid #ccc;line-height:22px;font-size:13px;color:#58595b;}
.veeamtb td:nth-child(1){border-left:none;font-size:14px;}
.veeamtb td:nth-child(1), .veeamtb td:nth-child(3){background:#f7f7f7;}

.vSpec > div{margin-bottom:60px;}
.Vfeature ul{border:1px solid #ccc;overflow:hidden;}
.Vfeature ul li{width:188.8px;border-right:1px solid #ccc;float:left;}
.Vfeature ul li:last-child{border-right:0;}
.Vfeature dl dt{text-align:center;color:#00b336;font-size:18px;font-weight:700;border-bottom:1px solid #ccc;padding:30px 0;}
.Vfeature dl dt img{margin-bottom:20px;}
.Vfeature dl dd{background:url(../images/sub/bullet_ft.gif) no-repeat 0 8px;padding-left:7px;font-size:14px;color:#58595b;padding-bottom:7px;}
.Vfeature dl > div{background:#f7f7f7;padding:13px;height:120px;}

.Vagent .sl_bulltt, .Vexpect .sl_bulltt{font-weight:normal;}
.Vagent > ul > li.cont_btxt{background:url(../images/sub/bullet_agent.gif) no-repeat 0 10px;margin-left:15px;padding-left:10px;}

.bg_ft2{background:url(../images/sub/bg_ft2.gif) no-repeat 0 0;height:283px;overflow:hidden;}
.bg_ft2 dl{float:left;line-height:26px;color:#fff;margin-left:30px;margin-right:28px;width:267px;}
.bg_ft2 dl.mr0{margin-right:0;}
.bg_ft2 dl dt{font-size:18px;font-weight:700;padding-top:70px;border-bottom:1px dotted #fff;padding-bottom:20px;margin-bottom:30px;}
.bg_ft2 dl dt.firstdt{padding-top:44px;letter-spacing:-.5px;}
.bg_ft2 dl dd{background:url(../images/sub/bullet_agent.gif) no-repeat 0 10px;padding-left:10px;font-size:14px; letter-spacing: -1px;}
.bg_ft2 dl dd.ft2_btt{background:none;font-weight:bold;font-size:15px;padding-left:0;}
.induL ul{overflow:hidden;}
.induL ul > li{float:left;width:288px;background:#f2f2f2;border:1px solid #ccc;padding:5px;text-align:center;margin-right:25px;}
.induL ul > li:last-child{margin-right:0;}
.induL ul > li > div{background:#fff;border:1px solid #ccc;height:335px;padding-top:30px;}
.induL ul > li > div p.lineImg{position:relative;height:45px;}
.induL ul > li > div p.lineImg:before{content:"";position:absolute;left:20px;top:10px;width:60px;height:1px;background:#858587;}
.induL ul > li > div p.lineImg:after{content:"";position:absolute;right:20px;top:10px;width:60px;height:1px;background:#858587;}
.induL ul > li > div p.indutxt{font-size:15px;line-height:22px;height:75px;}
.induL ul > li > div p.lineImg.limg3 img{margin-top:-13px;}
.bg_satif{background: }
.bg_satif dl{background:#f2f2f2 url(../images/sub/bg_satif.gif) no-repeat right 50px bottom 60px;;border:1px solid #ccc;padding:60px 50px;}
.bg_satif dl dt{font-size:30px;font-weight:700;}
.bg_satif dl dd{font-size:15px;color:#58595b;margin-top:20px;line-height:28px;}

.Vexpect > ul {overflow:hidden;}
.Vexpect > ul > li{background:url(../images/sub/bg_dotted.gif) repeat-y center center;width:462px;float:left;}
.Vexpect > ul > li > p {line-height:67px;font-family:'Nanum Square';font-size:18px;font-weight:700;color:#fff;text-align:center;margin-bottom:20px;}
.Vexpect > ul > li > dl{border:1px solid #ccc;background:#fff;margin-top:15px;border-radius:5px;height:100px;padding:25px 30px}
.Vexpect > ul > li > dl dt{font-size:16px;color:#333;margin-bottom:10px;}
.Vexpect > ul > li > dl dd{background:url(../images/sub/bullet_agent.gif) no-repeat 0 12px;padding-left:10px;font-size:14px;line-height:26px;}






/* 화상회의 */
.confer {padding: 0 0 120px !important;}
.confCon .cf1{background:url(../images/sub/cf1_img.jpg) no-repeat center top;height:2873px;}
.confCon .cf2{background:url(../images/sub/cf2_img.jpg) no-repeat center top;height:5013px;}
.confCon .cf3{background:url(../images/sub/cf3_img.jpg) no-repeat center top;height:5013px;}
.confCon .cf4{background:url(../images/sub/cf4_img.jpg) no-repeat center top;height:3418px;}
.confCon .cf5{background:url(../images/sub/cf5_img.jpg) no-repeat center top;height:2384px;}
.confCon .cfsw{background:url(../images/sub/cf_sw.jpg) no-repeat center top;height:4897px;}

.bg_conf{background:url(../images/sub/bg_confer.jpg) no-repeat center bottom;width:100%;height:550px;overflow:hidden;}
.bg_conf img{}
.confCon a.btnS {padding-left: 31px;display:block;font-size:16px;color:#fff;letter-spacing:-0.05em;width: 124px;height:40px;line-height:40px;border:1px solid #175ba9;background: #236bbc url(../images/sub/icon_solution.png) no-repeat 11px 9px;border-radius:3px;}
.confCon a.btnD{background: #236bbc;}

.confCon .pageTab{background:#9a9da1;overflow:hidden;}
.confCon .pageTab.scroll { position:fixed; width: 1180px; top:80px; left:50%; margin-left:-590px; z-index:99; }
.confCon .pageTab li{float:left;width:50%;text-align:center;font-size:16px;}
.confCon .pageTab li.on{background:#236bbc;}
.confCon .pageTab li.on img{margin-left:10px;}
.confCon .pageTab li a{display:block;color:#fff;height:63px;line-height:63px;font-weight:700;}

.titCof{position:relative;height:295px;margin-top:50px;padding:70px 0 0 90px;}
.titCof:before{content:"";background:url(../images/sub/hw-arr-l.gif) no-repeat 0 0;position:absolute;top:0;left:0;width:68px;height:328px;}
.titCof:after{content:"";background:url(../images/sub/hw-arr-r.gif) no-repeat 0 0;position:absolute;top:0;right:0;width:68px;height:328px;}
.titCof > img{position:absolute;}
.titCof > img.hw-img{right:90px;top:50px}
.titCof > img.logo-img{right:390px;top:170px;width:150px;}
.titCof h5{font-size:20px;color:#42474e;line-height:100%;}
.titCof h4{font-size:39px;color:#26282c;font-weight:700;letter-spacing:-2.2px;line-height:100%;margin:16px 0;}
.titCof > span{display:inline-block;color:#42474e;font-size:16px;color:#42474e;line-height:100%;margin: 14px 20px 30px 20px;}
.titCof > span > img{margin-right:10px;margin-top:-2px}
.titCof > ul{overflow:hidden;}
.titCof > ul > li{float:left;}

.confCon > h3{background:url(../images/sub/hw-titb.gif) no-repeat 0 0; font-size:19px;font-weight:700;color:#26282c;padding-left:20px; line-height: 1;}
.confCon #tabsholderR { margin-top:20px;}
.confCon #tabsholderR > ul {}
.confCon #tabsholderR > ul li { height:60px;padding-top:15px;line-height:22px;}

.confTabCon > div{margin:80px 59px}
.confTabCon .tabscontent h5{font-size:20px;color:#42474e;font-weight:bold;position:relative;padding-bottom:20px;margin-bottom:20px;}
.confTabCon .tabscontent h5:after{content:"";position:absolute;bottom:0;left:0;width:55px;height:2px;background:#236bbc;}
.confTabCon section{margin-bottom:80px;}
.confTabCon section > ul > li{background:url(../images/sub/bullet_agent.gif) no-repeat 0 10px;padding-left:10px;font-size:15px;line-height:26px;}
.confTabCon section > .confBox{margin-top:15px;}
.confTabCon section > .confBox > dl{overflow:hidden;}
.confTabCon section > .confBox > dl > dt{background:url(../images/sub/bg_hwroom-tit.jpg) no-repeat 0 0;float:left;width:249px;height:56px;color:#FFF;line-height:56px;font-size:15px;font-weight:700;text-align:center;}
.confTabCon section > .confBox > dl > dd{width:100%;}

.cfproWrap .cfslo{color:#42474e;font-size:20px;text-align:center;line-height:100%;}
.cfproWrap .cfprotit{color:#26282c;font-size:60px;font-weight:700;font-family:'Roboto';text-align:center;line-height:100%;margin:10px 0 30px 0;padding-bottom:70px;position:Relative;}
.cfproWrap .cfprotit:after{content:"";position:absolute;left:50%;bottom:0;margin-left:-0px;height:50px;width:1px;background:#ccc;}
.cfproWrap .cfproBx{border-top:2px solid #ccc;border-bottom:2px solid #ccc;overflow:hidden;height:455px;}
.cfproWrap .cfproBx > ul.cfproBx-ul{float:left;width:450px;background:#f3f3f3;padding:40px;height:100%;}
.cfproWrap .cfproBx > ul.cfproBx-ul > li{background:url(../images/sub/bullet_hw.jpg) no-repeat 0 8px;font-size:15px;line-height:22px;padding-left:14px;padding-bottom:10px;margin-bottom:10px;color:#42474e;border-bottom:1px dotted #42474e;}
.cfproWrap .cfproBx > ul.cfproBx-ul > li:last-child{border-bottom:none;}
.cfproWrap .cfproBx > .cfimgArea{float:right;width:530px;height:100%;text-align:center;position:Relative;}
.cfproWrap .cfproBx .cfbtnArea {position:absolute;bottom:50px;left:50%;margin-left:-178px;}
.cfproWrap .cfproBx .cfbtnArea li{float:left;}
.bddash{border-top:1px dashed #ccc;padding-top:80px;}

.hw_effBx li{float:left;width:515px;margin-right:30px;position:relative;margin-bottom:30px;}
.hw_effBx li:nth-child(2n){margin-right:0;margin-bottom:80px;}
.hw_effBx li > p{}
.hw_effBx li dl dt{position:absolute;top:296px;background:rgba(0, 0, 0, 0.5);text-align:center;font-size:16px;color:#fff;font-weight:700;width:100%;padding:15px 0;}
.hw_effBx li dl dd{font-size:15px;line-height:26px;letter-spacing:-.4px;margin-top:10px;}


.titArea{color:#26282c;font-size:39px;font-weight:700;text-align:center;line-height:100%;margin:95px 0 30px 0;padding-bottom:70px;position:Relative;}
.titArea:after{content:"";position:absolute;left:50%;bottom:0;margin-left:-0px;height:50px;width:1px;background:#ccc;}

table.swtb{border-top:2px solid #ccc;}
table.swtb th{padding:25px 15px;font-size:17px;font-weight:bold;color:#26282c;background:#f2f2f2;border-bottom:1px solid #ccc;border-right:1px solid #ccc;}
table.swtb td{padding:25px 15px;font-size:15px;text-align:center;border-bottom:1px solid #ccc;border-right:1px solid #ccc;line-height:22px;}
table.swtb td:last-child{border-right:none;}
table.swtb td img{width:90%;margin-bottom:15px;}
.vtalign{vertical-align:top;}

.btn-st{border:1px solid #175ba9;background:#236bbc;width:155px;height:40px;border-radius:3px;}
.btn-st.ma0{margin:0 auto;}
.btn-st > a{display:block;color:#fff;line-height:40px;font-size:15px;text-align:Center;}
.btn-st > a > i{margin-right:9px; color: #fff; }


.confCon #tabsholderW{}
.confCon #tabsholderW ul.tabs{overflow:hidden;margin:100px 0px 55px;}
.confCon #tabsholderW ul.tabs li{float:left;width:267px;height:78px;line-height:78px;text-align:center;border:1px solid #ccc;margin-right:34px;
filter: grayscale(100%);opacity:0.8;transition:all 0.3s, color 0.1s 0.1s;border-radius:80px;}
.confCon #tabsholderW ul.tabs li:hover{border:1px solid #236bbc;filter: grayscale(0%);opacity:1}
.confCon #tabsholderW ul.tabs li:last-child{margin-right:0;}
.confCon #tabsholderW ul.tabs li.current{border:1px solid #236bbc;filter: grayscale(0%);opacity:1}
.confCon #tabsholderW ul.tabs li img{width:55%; vertical-align: middle;}


.swBx{}
.swBx img {vertical-align: middle;}
.swBx > .sw-titBx{background:#f2f2f2;padding:30px;border:1px solid #ccc;position:relative;}
.swBx > .sw-titBx dl{overflow:hidden;}
.swBx > .sw-titBx dl > dt{float:left;border:1px solid #ccc;width:315px;height:145px;line-height:146px;text-align:center;background:#FFF;margin-right:35px;}
.swBx > .sw-titBx dl > dd{font-size:16px;line-height:26px;letter-spacing:-0.5px;padding-top:20px;}
.swBx > .sw-titBx ul{position:absolute;top:120px;left:380px;}
.swBx > .sw-titBx ul > li{margin-right:10px;}
.swBx ul{overflow:hidden;}
.swBx ul li{float:left;}
.swBx section > ul{margin-top:40px;}
.swBx section > ul > li{width:50%;margin-bottom:10px;}
.swBx section > ul.wid100 li{width:100%;}
.swBx section > ul > li > i{float:left;display:inline-block;width:103px;height:103px;background:#f2f2f2;border-radius:50%;margin-right:20px;}
.swBx section > ul > li > dl dt{font-size:16px;color:#333;font-weight:bold;padding-top:25px;margin-bottom:10px;letter-spacing:-.5px;}
.swBx section > ul > li > dl dt.boldn{font-weight:normal;padding-top:40px;}
.swBx section > ul > li > dl dd{font-size:15px;letter-spacing:-.5px;}






/*우리의경험 > 사업소개 - 신규작업180706*/
.exBsCon h4 {  color:#333; font-size:25px; line-height:40px;letter-spacing:-1px; }
.exBsCon h4 span { color:#104580;font-size:25px; }

.exBsCon > div.part1{margin-bottom:75px;}
.exBsCon > div.part1 > ul {overflow:hidden;}
.exBsCon > div.part1 > ul > li{float:left;width:298px;margin-right:28px;}
.exBsCon > div.part1 > ul > li:last-child{margin-right:0;}
.exBsCon > div.part1 > ul > li.bs1{background:url(../images/sub/bs_titBg1.gif) no-repeat 0 0;}
.exBsCon > div.part1 > ul > li.bs2{background:url(../images/sub/bs_titBg2.gif) no-repeat 0 0;}
.exBsCon > div.part1 > ul > li.bs3{background:url(../images/sub/bs_titBg3.gif) no-repeat 0 0;}
.exBsCon > div.part1 > ul > li > p{color:#fff;font-size:24px;font-weight:700;font-family:'Nanum Square';height:65px;text-align:center;line-height:65px;}
.exBsCon > div.part1 > ul > li > dl {border:1px solid #ccc;border-top:none;padding:20px;height:180px;}
.exBsCon > div.part1 > ul > li > dl > dt{background:url(../images/sub/bullet_solu.gif) no-repeat 0 6px; font-size:15px; padding-left:14px;line-height:24px;color:#333;}
.exBsCon > div.part1 > ul > li > dl > dt span{font-weight:bold;}
.exBsCon > div.part1 > ul > li > dl > dd{line-height:24px;font-size:14px;margin-top:10px;}

.exBsCon > div.part2 > div > ul{background:url(../images/sub/line_gray.gif) repeat-y center;position:relative; z-index: 1;}
.exBsCon > div.part2 > div > ul:after {position: absolute; top: 0; height: 100%; left: 50%; transform: translateX(-50%); background: #ddd; width: 1px; content: ''; display: block; z-index: -1;}

.exBsCon > div.part2 > div > ul > li {width:50%;height:100px;}

.exBsCon > div.part2 > div > ul > li > dl{margin-top:50px;padding-top:55px;}
.exBsCon > div.part2 > div > ul > li > dl > dt{font-family:'Nanum Square';font-size:20px;font-weight:700;color:#333;margin-bottom:10px;}
.exBsCon > div.part2 > div > ul > li > dl > dd{font-size:15px;line-height:24px;margin-bottom:15px;letter-spacing:-0.5px;}

.exBsCon > div.part2 > div > ul > li.align_l{margin-left:58px;}
.exBsCon > div.part2 > div > ul > li.align_l > dl {background:url(../images/sub/bullet_bs_l.gif) no-repeat right 60px;text-align:right;margin-right:100px;padding-right:90px;}
.exBsCon > div.part2 > div > ul > li.align_l > p {float:right;}

.exBsCon > div.part2 > div > ul > li.align_r{margin-left:414px;}
.exBsCon > div.part2 > div > ul > li.align_r > dl {background:url(../images/sub/bullet_bs_r.gif) no-repeat left 60px;text-align:left;margin-left:100px;padding-left:90px;}
.exBsCon > div.part2 > div > ul > li.align_r > p {float:left;}





/*우리의 경험 > IT구매제안*/
.epItCon h4 { background:url(../images/sub/cont_tit.gif) no-repeat 0 2px; color:#3a3a3a; font-size:20px; padding-left:12px; }
.itBox { width:100%; height:622px; margin-top:55px; background:url(../images/sub/bg_epIt.png) no-repeat; color:#fff; position:relative; }
.itBox > ul { margin:58px 0 0 25px; overflow:hidden; }
.itBox > ul li { overflow:hidden; }
.itBox > ul li:first-child { color:#333; background:url(../images/sub/bullet_it_black.png) no-repeat left 23px; margin:60px 0 0 265px; height:83px; width:232px;   }
.itBox > ul li.it2 { margin:44px 0 0 146px; }
.itBox > ul li.it3 { margin:45px 0 0 0; }
.itBox > ul li.it4 { margin:50px 0 0 68px; }
.itBox > ul li.it5 { margin:50px 0 0 26px; }
.itBox > ul li.it6 { margin:48px 0 0 5px; }
.itBox > ul li dt { font-family:'Nanum Square'; font-size:20px; color:#333; margin:0 0 10px 54px; }
.itBox > ul li dd { background:url(../images/sub/arrow_it_black.png) no-repeat 0 5px; padding-left:19px; margin-left:52px; line-height:23px; font-size:14px;  }
.itBox > ul li p { float:left; font-family:'Nanum Square'; font-size:20px; padding-right:270px; height:21px; background:url(../images/sub/bullet_it_white.png) no-repeat right; }
.itBox > ul li span { float:left; display:block; font-size:14px; margin-left:6px; }
.itBox > dl { position:absolute; bottom:14px; right:16px; width:243px; height:356px; background:url(../images/sub/bg_epIt_white.png) repeat; border-radius:4px; }
.itBox > dl dt { border-bottom:2px solid #fff; width:225px; margin:0 auto 20px; height:56px; line-height:56px; font-weight:bold; font-size:20px; text-align:center; }
.itBox > dl dd { width:225px; overflow:hidden; margin:3px auto 4px; font-size:13px; line-height:22px; }
.itBox > dl dd span.cnt { float:left; display:block; width:16px; }
.itBox > dl dd span.txt { float:left; display:block; letter-spacing:-0.05em; }
.itEffect { overflow:hidden; margin-top:50px; width:100%; overflow:hidden; }
.itEffect li { float:left; width:50%; background-position:27px 37px !important; overflow:hidden; border-bottom:1px dashed #d7d7d7; height:170px;  }
.itEffect li:first-child { /*border-top:0;*/ background:url(../images/sub/icon_epIt1.gif) no-repeat 47px 37px; }
.itEffect li.ef2 { background:url(../images/sub/icon_epIt2.gif) no-repeat 47px 37px; }
.itEffect li.ef3 { background:url(../images/sub/icon_epIt3.gif) no-repeat 47px 37px; }
.itEffect li.ef4 { background:url(../images/sub/icon_epIt4.gif) no-repeat 47px 37px; }
.itEffect li.ef5 { background:url(../images/sub/icon_epIt5.gif) no-repeat 47px 37px; }
.itEffect li.ef6 { background:url(../images/sub/icon_epIt6.gif) no-repeat 47px 37px; }
.itEffect li.ef7 { width:100%; border-bottom:none; background:url(../images/sub/icon_epIt7.gif) no-repeat 47px 37px; }
.itEffect li dl { /*margin:55px 0 0 190px;*/ margin:55px 0 0 170px; padding-right:27px; }
.itEffect li:first-child dl { margin-top:45px; }
.itEffect li.ef2 dl { margin-top:25px; }
.itEffect li dt { font-weight:bold; color:#333; font-size:18px; letter-spacing:-0.05em; margin-bottom:15px; }
.itEffect li dd { line-height:22px; font-size:14px;  }

/*우리의경험 > 주요실적*/
.epMjCon { background:url(../images/sub/bg_epMj.jpg) no-repeat; width:100%; height:827px; overflow:hidden; }
.epMjCon h4 { float:left; font-family:'Nanum Square'; margin:68px 0 0 55px; font-weight:bold; font-size:60px; line-height:65px; color:#333; }
.epMjCon h4 span { color:#104580; display:block; }
.epMjCon dl { float:right; width:423px; margin-top:68px; overflow:hidden; }
.epMjCon dt { color:#435f7e; font-size:20px; line-height:20px; }
.epMjCon dd { color:#fff; font-weight:bold; font-family:'Nanum Square';  font-size:52px; margin:13px 0 23px; line-height:50px; }

/* 구축사례 */
#content.case{overflow:hidden;}
.case #tabMenu_s2 {width:400px;float:left;}
.case > .sch{border-radius:5px;display:block;font-weight:bold;width: 528px;float: left;font-size:15px;margin:0 auto;background:#f5f5f5;border:1px solid #ccc;padding: 6px 10px;margin-bottom:30px;}
.case > .sch select {width: 122px;height:38px;background:#fff;border:1px solid #ddd;font-size:13px;border-radius:5px;}
.case > .sch input {margin-left:9px;width: 380px;height:38px;line-height:38px;border:1px solid #ddd;text-indent:14px;color:#999;font-size:13px;border-radius:5px;}
.case > .sch > form{position:relative;}
.case > .sch > form > a {position:Absolute;right:0;top:0;width:40px; height:40px;border-radius:0 5px 5px 0;background:#e5e5e5 url(../images/sub/icon_sch.gif) no-repeat center center; font-size:0; }
.page_list { margin-top:90px; text-align:center; }

#content.case .article{margin-top:80px;}
.case > .it_sch input {width:245px;}



