
.main_nav {padding-bottom:20px; border-bottom:1px solid #ddd; font-size:13px;}
h2.main_tit {font-size:20px; color:#333; padding-bottom:20px; font-weight:normal; position:relative; margin:30px 0 30px;}
h2.main_tit:before {position:absolute; left:0;  bottom:0; background-color:#36a0fb; width:30px; height:1px; content:''; display:block;}


/* table */


.admin textarea {border:1px solid #ddd; box-sizing:border-box; color:#666; padding:10px;}
.admin {position:relative; }
.admin:after {content:''; clear:both; height:0; display:block; visibility:hidden;}
.admin .table {width:100%; position:relative; border:1px solid #ddd;  border-collapse: collapse; }
.admin .table th {padding:15px 0;} 
.admin .table td {text-align:center; color:#666; padding:15px 20px;}
.admin .table thead tr th {border-right:1px solid #ddd}
.admin .table tbody tr td {border:1px solid #ddd}
.admin .table tbody tr th {font-size:16px; border:1px solid #ddd; background:#f7f7f7; font-weight:normal;}
.admin .table thead tr th {font-size:16px; color:#333; font-weight:normal; background:#f1f1f1;}

.bd_top {border-top:2px solid #6d6b6b !important;}
.bd_bottom {border-bottom:2px solid #6d6b6b !important;}







/* common */

select {height:40px; border:1px solid #ddd; padding-left:10px; padding-right:30px; color:#666;
  -webkit-appearance: none;  /* 네이티브 외형 감추기 */
  -moz-appearance: none;
  appearance: none;
  background: url(../images/common/select_arrow.png) no-repeat 90% 50% #fff;  /* 화살표 모양의 이미지 */
}
input[type="text"]  {height:40px; border:1px solid #ddd; box-sizing:border-box; padding:0 10px; color:#666;}
input[type="password"]  {height:40px; border:1px solid #ddd; box-sizing:border-box; padding:0 10px; color:#666;}


/* button */
.btn {display:inline-block; font-weight:normal; text-align:center; cursor:pointer; border:0;}
.btn_r {display:inline-block; font-weight:normal; text-align:center; cursor:pointer; border-radius:5px; border:0;}

/* button size */

.btn_xl {padding:16px 22px;}
.btn_l {padding:12px 18px;}
.btn_m {padding:12px 16px;}
.btn_s {padding:6px 10px 5px;}
.btn_xs {padding:1px 5px;}

/* button color */

.bg_red {background:#ff0000; color:#fff;}
.bg_green {background:#51c57d; color:#fff;}
.bg_blue {background:#5193c5; color:#fff;}
.bg_yellow {background:#ffd200; color:#fff;}
.bg_orange {background:#ffa200; color:#fff;}
.bg_black {background:#000000; color:#fff;}
.bg_gray {background:#666666; color:#fff;}
.bg_pink {background:#ff70b3;}
.bg_white {background:#ffffff; color:#000; border:1px solid #000;}

/*  정렬  */

.f_right {float:right;}
.f_left {float:left;}

.left {text-align:left !important;}
.right {text-align:right !important;}
.center {text-align:center !important;}

.a_left {text-align:left; display:block } /* a태그 좌측정렬 */
.a_right {text-align:right; display:block } /* a태그 우측정렬 */


/* paging */
.list_page { margin: 30px auto 0; text-align: center; zoom: 1; }
.list_page .first_btn { display: inline-block; width: 24px; height: 24px; text-indent: -9999px; vertical-align: bottom; background: url(../images/common/imgFirst.png) no-repeat 0 top; }
.list_page .first2_btn { display: inline-block; width: 25px; height: 24px; text-indent: -9999px; vertical-align: bottom; background: url(../images/common/imgPrev.png) no-repeat 0 top }
.list_page ul { display: inline-block; overflow: hidden; padding: 0 7px; vertical-align: bottom;}
.list_page li { float: left; margin: 0 5px;}
.list_page li:hover a, .list_page li a.on { color: #fff; background: #444;}
.list_page li a { display: block; width: 24px; height: 24px; font-size: 12px; color: #444; text-align: center; line-height: 25px; }
.list_page .last2_btn { display: inline-block; width: 25px; height: 24px; text-indent: -9999px; vertical-align: bottom; background: url(../images/common/imgNext.png) no-repeat 0 top }
.list_page .last_btn { display: inline-block; width: 24px; height: 24px; text-indent: -9999px; vertical-align: bottom; background: url(../images/common/imgLast.png) no-repeat 0 top }


/*  여백  디테일*/

.mt_5 {margin-top:5px !important;}   /* 상단 마진 여백 */
.mt_10 {margin-top:10px !important;}
.mt_20 {margin-top:20px !important;}
.mt_30 {margin-top:30px !important;}

.mb_5 {margin-bottom:5px !important;}  /* 하단 마진 여백 */
.mb_10 {margin-bottom:10px !important;}
.mb_20 {margin-bottom:20px !important;}
.mb_30 {margin-bottom:30px !important;}

.ml_5 {margin-left:5px !important;}   /* 왼쪽 마진 여백 */
.ml_10 {margin-left:10px !important;}
.ml_20 {margin-left:20px !important;}
.ml_30 {margin-left:30px !important;}

.mr_5 {margin-right:5px !important;}   /* 오른쪽 마진 여백 */
.mr_10 {margin-right:10px !important;}
.mr_20 {margin-right:20px !important;}
.mr_30 {margin-right:30px !important;}



.pt_5 {padding-top:5px !important;}   /* 상단 패딩 여백 */
.pt_10 {padding-top:10px !important;}
.pt_20 {padding-top:20px !important;}
.pt_30 {padding-top:30px !important;}

.pb_5 {padding-bottom:5px !important;}  /* 하단 패딩 여백 */
.pb_10 {padding-bottom:10px !important;}
.pb_20 {padding-bottom:20px !important;}
.pb_30 {padding-bottom:30px !important;}

.pl_5 {padding-left:5px !important;}   /* 왼쪽 패딩 여백 */
.pl_10 {padding-left:10px !important;}
.pl_20 {padding-left:20px !important;}
.pl_30 {padding-left:30px !important;}

.pr_5 {padding-right:5px !important;}   /* 오른쪽 패딩 여백 */
.pr_10 {padding-right:10px !important;}
.pr_20 {padding-right:20px !important;}
.pr_30 {padding-right:30px !important;}


/* width */


.w10 {width:10% !important;}
.w20 {width:20% !important;}
.w30 {width:30% !important;}
.w40 {width:40% !important;}
.w50 {width:50% !important;}
.w60 {width:60% !important;}
.w70 {width:70% !important;}
.w80 {width:80% !important;}
.w90 {width:90% !important;}
.w100 {width:100% !important;}
