@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);


/*-------------------- 1. Reset --------------------*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	color:inherit;
	font-family:'Nanum Gothic', sans-serif, '돋움', dotum, AppleGothic, sans-serif;
	font-size: 14px;
	color:#666;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block;}
body {line-height:normal;}
ol, ul, li {list-style:none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,q:before, q:after {content: '';	content: none;}
table {border-collapse:collapse; border-spacing:0;}
li img {vertical-align:top;}



/*-------------------- 2. Global style --------------------*/
a {color:#666; text-decoration:none;}
a:hover {color:#42bded ; text-decoration:none;}
a:active, a:focus {text-decoration:none;}

.p_cursor {cursor:pointer;}
.left {text-align:left !important;}
.right {text-align:right !important;}
.center {text-align:center !important;}
.clear {clear:both;}
.empty {padding:50px; border:1px solid #c9c9c9; background:#fff; text-align:center;}
.btns img,
.btns input {cursor:pointer;}
.tbl {table-layout:fixed; border-collapse:collapse; border-spacing:0;}
input[type=radio],
input[type=checkbox] {position:relative; bottom:-2px; width:15px; height:15px;}
.hidden {display:none !important;}
.left_area {position:absolute; left:15px; top:15px;}
.right_area {position:absolute; right:15px; top:15px;}
.right_area2 {position:absolute; right:15px; top:0;}

/* select */
select {height:32px; padding:0px 25px 0px 7px; border:1px solid #cbcbcb; background:url('http://web.x67.wisamall.com/wm_engine_SW/_manage/image/select_arrow.png') no-repeat right #fff; color:#000; vertical-align:middle; line-height:32px; outline:0; appearance:none; -webkit-appearance:none; -moz-appearance:none; -ms-appearance:none; -o-appearance:none;}
select::-ms-expand {display:none;}
.select_n {height:auto; padding:0; border:1px solid #cbcbcb; background:none; vertical-align:middle; line-height:normal;}
.select_multi{width:250px;}

/* input */
.input {height:32px; padding:0 5px; border:1px solid #cbcbcb; color:#000; vertical-align:middle; line-height:32px; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box;}
.input:focus {border-color:#42bded;}
.input_full {width:580px;} /* text길이 */
.input[type="file"] {border:0; padding:0;}
.txta {width:100%; height:100px; border:1px solid #cbcbcb; vertical-align:middle; word-break:break-all; word-wrap:no-wrap; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box;} /* textarea */
.input_txta {width:580px; height:70px;} /* textarea길이 */
.input_data {background:#e4f4fe;} /* 인풋 색상 */

.btn		{ display:inline-block; box-sizing:border-box; text-align:center; }
.btnB		{ color:#fff !important; background:#42bded}
.btnW		{ color:#303742 !important; border:1px solid #c8c8c8; background:#fff}
.btnDG		{ background:#303742}
.btnLineB	{ border:1px solid #42bded; color:#42bded !important;}
.btnLineG	{ border:1px solid #bbb; color:#666 !important}

.w230	{ width:230px}
.w90	{ width:90%}


/*-------------------- 3. Layout --------------------*/
body {background:url('/img/admin/line.gif') repeat-y left top;}
#container { position:relative; height:100%; min-width:1400px;}
#body	{ position:relative; zoom:1}
#body:after	{ content:""; clear:both; display:block}


/* header */
#header { position:relative; height:110px;}
#header .logo {float:left; width:210px; height:110px; background:#42bded; text-align:center;}
#header .logo h1 a {display:block; width:210px; height:110px; font-size:24px; color:#fff; line-height:110px}


/* 상단 바 */
#header .menu {margin-left:210px;}
#header .menu .area {position:relative; height:48px; padding-right:50px; background:#303742;}


/* 상단 바 - 우측 메뉴 */
#header .menu .quick {float:right; height:48px;}
#header .menu .quick .customer {float:left; color:#fff; line-height:47px}
#header .menu .quick .customer span {color:#42bded; font-weight:bold}

#header .menu .quick .notice {float:left;}
#header .menu .quick .notice .link {display:block; position:relative;}
#header .menu .quick .notice .count {display:block; position:absolute; right:4px; top:6px; width:18px; height:18px; border:1px solid #7e3a2e; border-radius:50%; background:#ef532f; color:#fff; font-size:11px; text-align:center; line-height:20px; letter-spacing:-1px;}

#header .menu .quick .intra {float:left; padding:8px 0 0 20px;}
#header .menu .quick .intra .btn { width:84px; height:32px; margin-left:5px; border:1px solid #171a1f; line-height:30px; letter-spacing:-1px}

#header .menu .quick .box {display:none; position:absolute; right:14px; top:53px; z-index:10; width:337px; border:1px solid #9f9f9f; background:#fff;}
#header .menu .quick .box .title {position:relative; height:55px; padding:0 20px; color:#000; background-repeat:no-repeat; background-position:92% 18px; font-size:16px; font-weight:bold; line-height:55px; letter-spacing:-1px;}
#header .menu .quick .box .title a {display:inline-block; position:absolute; right:24px; top:10px; height:31px; padding:0 8px 0 29px; border:1px solid #d4d4d4; background:url('/img/admin/icon_logout.gif') no-repeat 10px 8px; line-height:33px;}
#header .menu .quick .box .list {background:#f8f8f8;}
#header .menu .quick .box .list li {clear:both; }
#header .menu .quick .box .list li a {display:block; padding:15px 20px; height:42px; border-top:1px solid #dcdcdc;}
#header .menu .quick .box .list li .thumb {float:left; width:40px; height:42px; margin-right:15px;}
#header .menu .quick .box .list li .info {padding-top:7px;}
#header .menu .quick .box .list li .info .date {color:#b3b3b3; font-family:'arial'; font-size:11px;}
#header .menu .quick .box .list li.fin {background:#eef5fb;}
#header .menu .quick .box .list2 {background:#f8f8f8;}
#header .menu .quick .box .list2 li {clear:both; position:relative;}
#header .menu .quick .box .list2 li a {display:block; padding:15px 20px; height:42px; border-top:1px solid #dcdcdc;}
#header .menu .quick .box .list2 li .thumb {float:left; width:40px; height:40px; margin-right:15px; border:1px solid #c9c9c9;}
#header .menu .quick .box .list2 li .thumb img {width:40px; height:40px;}
#header .menu .quick .box .list2 li .info {padding-top:7px;}
#header .menu .quick .box .list2 li .info .name span {color:#b3b3b3; font-family:'arial'; font-size:11px;}
#header .menu .quick .box .list2 li .stat {position:absolute; right:20px; top:20px; width:57px; height:28px; background:#6cd055; color:#fff; font-weight:bold; text-align:center; line-height:30px; letter-spacing:-1px;}
#header .menu .quick .box .list2 li.fin {background:#eef5fb;}
#header .menu .quick .box .list2 li.fin .stat {background:#55c0d0;}
#header .menu .quick .box .check {padding:15px 0; background:#f8f8f8; border-top:1px solid #dcdcdc; text-align:center;}
#header .menu .quick .box .check a {display:inline-block; width:110px; height:66px; margin:0 8px; padding-right:20px; font-size:16px; font-weight:bold; text-align:right; line-height:66px;}
#header .menu .quick .box .check .in {background:url('/img/admin/punch_in.png') no-repeat center;}
#header .menu .quick .box .check .out {background:url('/img/admin/punch_out.png') no-repeat center;}
#header .menu .quick .box .more {display:block; padding:15px; border-top:1px solid #dcdcdc; color:#42bded; font-weight:bold; text-align:center; text-decoration:underline;}
#header .menu .quick .box .more:hover {text-decoration:none;}
#header .menu .quick .customer .box .title {background-image:url('/img/admin/icon_customer.gif');}
#header .menu .quick .notice .box .title {background-image:url('/img/admin/icon_notice.gif');}
#header .menu .quick .arrow {display:block; position:absolute; top:-12px; width:22px; height:12px; background:url('/img/admin/popup_arrow.gif') no-repeat center;}
#header .menu .quick .customer .arrow {left:54px;}
#header .menu .quick .notice .arrow {left:103px;}
#header .menu .quick .intra .arrow {left:216px;}


/* 카테고리 */
#header .menu .gnb {position:relative; height:61px; padding:0 50px; border-bottom:1px solid #c9c9c9; background:#e8e8e8;}
#header .menu .gnb .list {display:table; width:100%; line-height:1; background:#fff}
#header .menu .gnb .list li {display:table-cell; width:12.5%; line-height:1;}
#header .menu .gnb .list li a {display:block; border-right:1px solid #c9c9c9; height:61px; color:#333; font-size:16px; font-weight:bold; text-decoration:none; text-align:center; line-height:61px;}
#header .menu .gnb .list li:first-child a {border-left:1px solid #c9c9c9;}
#header .menu .gnb .list li a:hover {color:#42bded;}
#header .menu .gnb .list li a.selected {height:58px; border-bottom:3px solid #42bded; color:#42bded;}


/* content */
#content	{ position:relative; min-height:750px; padding:50px 50px 50px 260px; z-index:1}
.subTitle	{ position:relative; margin:0 0 40px 0; padding:0 0 20px 0; border-bottom:1px solid #c9c9c9;}
.subTitle h2	{ display:inline-block; margin-right:30px; color:#343434; font-size:36px; letter-spacing:-1px}
.subTitle .nav	{ display:inline-block; margin-top:20px}
.subTitle .nav li	{ float:left; margin-right:5px; padding-right:12px; color:#666; font-size:12px; background:url('/img/admin/navArrow.png') no-repeat right 2px}
.subTitle .nav li img	{ margin-top:2px}
.subTitle .nav li:last-child	{ color:#42bded; background:none}

.pageMemo	{ margin:0 0 40px 0; padding:25px 20px 20px 20px; background:#e8e8e8}
.pageMemo li	{ margin:0 0 5px 0; padding:0 0 0 8px; font-size:12px; background:url('/img/admin/imgDot01.gif') no-repeat 0 5px}

.searchForm		{ position:relative; height:32px; margin:0 0 20px 0}
.searchForm	ul	{ float:right; }
.searchForm li	{ display:inline-block; vertical-align:top}
.searchForm li .btn	{ width:50px; height:32px; border:0; color:#fff; font-size:13px; text-align:center; line-height:30px; cursor:pointer}

.tableList	{ width:100%; margin:0 0 20px 0; border-top:2px solid #303742; text-align:center}
.tableList th,
.tableList td	{ border-bottom:1px solid #c8c8c8; }
.tableList th	{ height:48px; color:#494949; line-height:48px}
.tableList td	{ height:44px; line-height:44px;}
.tableList td.title	{ padding-left:20px; text-align:left}
.tableList td .btn	{ width:43px; height:28px; margin:0 2px; line-height:26px}

.tableWrite	{ width:100%; margin:0 0 20px 0; border-top:2px solid #303742;}
.tableWrite th,
.tableWrite td	{ border-bottom:1px solid #c8c8c8; }
.tableWrite th	{ color:#494949; line-height:32px; background:#e8e8e8}
.tableWrite td	{ padding:10px; }

.btnWrap	{ position:relative; height:34px}
.btnWrap .btnRight	{ float:right}
.btnWrap .btnB	{ width:90px; height:34px; border:1px solid #2da9d9; font-weight:bold; line-height:32px;}


/* lnb */
#lnb { position:absolute; top:0; left:0; width:210px; height:100%; background:#303742; z-index:10}
.memberZone	{ padding:20px; border-right:1px solid #c9c9c9; background:#fff}
.memberZone p	{ padding:0 0 15px 28px; color:#666; font-size:16px; font-weight:bold; background:url('/img/admin/iconId.png') no-repeat 0 0}
.memberZone dl	{ padding:20px 0 10px 0; border-top:1px solid #c9c9c9; border-bottom:1px solid #c9c9c9; zoom:1}
.memberZone dl:after	{ content:""; clear:both; display:block;}
.memberZone dt,
.memberZone dd	{ float:left; width:50%; margin:0 0 10px 0; color:#666; font-weight:bold; line-height:17px;}
.memberZone dd	{ text-align:right}
.memberZone .level	{ display:inline-block; width:45px; height:17px; border-radius:2px; color:#fff; font-size:12px; font-weight:bold; text-align:center}
.memberZone .LvGold	{ background:#f5b212}
.memberZone .btn	{ width:80px; height:32px; margin-top:10px; font-size:12px; line-height:30px; }
.memberZone .btnDG	{ margin-right:8px; color:#fff}
.memberZone .btnW	{ border:1px solid #64636d}

#manageSideMenu .title {min-height:49px; line-height:49px;}
#manageSideMenu .title>a {display:block; position:relative; padding-left:30px; border-bottom:1px solid #30343f; background:#4a4e5a; color:#f4f3f8; font-size:16px; font-weight:bold; cursor:pointer;}
#manageSideMenu .title>a .arrow {position:absolute; right:0; top:0; width:49px; height:49px; background:url('/img/nav_arrow_down.gif') no-repeat center;}
#manageSideMenu .title>a:hover .arrow {background:url('/img/nav_arrow_down_over.gif') no-repeat center;}
#manageSideMenu .title.over>a .arrow {background:url('/img/nav_arrow_up.gif') no-repeat center;}
#manageSideMenu .title.over>a:hover .arrow {background:url('/img/nav_arrow_up_over.gif') no-repeat center;}
#manageSideMenu .title a:hover,
#manageSideMenu .title.active>a {color:#42bded;}

#manageSideMenu .title .sideSmall {display:none; padding:10px 0; border-bottom:1px solid #20242c;}
#manageSideMenu .sideSmall li {position:relative;}
#manageSideMenu .sideSmall li .small {display:block; padding:11px 25px 11px 30px; color:#dbdbdb; font-size:14px; font-weight:normal; text-decoration:none; line-height:1; letter-spacing:-1px;}
#manageSideMenu .sideSmall li:hover .small {background:#4b5567; color:#fff !important;}
#manageSideMenu .sideSmall li.over .small {background:#42bded; color:#fff !important;}

#manageSideMenu .title.over .sideSmall	{ display:block}

/* paging */
.paging			{ width:100%; padding:30px 0 0 0; text-align:center}
.paging a		{ display:inline-block; margin:4px 4px 0 4px; width:25px; height:24px; border:1px solid #c9c9c9; color:#666; font-size:12px; line-height:24px; background:#fff}
.paging a.on	{ border:1px solid #42bded; color:#fff; background:#42bded}
.paging a.end	{ width:auto; padding:0 8px;}


/* footer */
#footer	{ position:relative; padding:35px 50px; border-top:1px solid #c8c8c8; background:#e8e8e8}
#footer .footerMenu	{ margin-bottom:15px}
#footer .footerMenu li	{ position:relative; display:inline-block; margin-right:10px; padding-right:15px}
#footer .footerMenu li:after	{ content:""; display:inline-block; position:absolute; top:5px; right:0; width:1px; height:10px; background:#c8c8c8}
#footer .footerMenu li:last-child:after	{ display:none}
#footer .footerMenu li a	{ font-size:12px; font-weight:bold }
#footer dl	{ width:100%; height:20px}
#footer dt,
#footer dd	{ float:left; font-size:12px; line-height:20px}
#footer dd	{ margin:0 15px 0 5px}
#footer .copyright	{ font-size:12px; line-height:20px}



/*-------------------- 4. admin Login --------------------*/
.loginWrap_admin	{ position:absolute; top:50%; left:50%; width:866px; height:500px; margin:-267px 0 0 -433px; padding:0 0 33px 0; border-bottom:1px solid #c5c5c5}
.loginWrap_admin .loginTitle		{ margin-bottom:35px; padding:9px 0 35px 0; border-bottom:1px solid #c5c5c5; background:url('/img/bgLoginTitle.png') no-repeat right top}
.loginWrap_admin .loginTitle h1	{ margin-bottom:30px}
.loginWrap_admin .loginTitle p	{ color:#555; font-size:18px; line-height:28px; }

.loginWrap_admin .loginForm	{ position:relative; width:376px; margin-bottom:30px; zoom:1}
.loginWrap_admin .loginForm:after	{ content:""; clear:both; display:block;}
.loginWrap_admin .loginForm dl	{ float:left; width:266px; }
.loginWrap_admin .loginForm dt	{ float:left; width:66px; margin-bottom:10px; color:#555; font-size:14px; text-align:left; line-height:32px; }
.loginWrap_admin .loginForm dd	{ float:left; margin-bottom:10px; }
.loginWrap_admin .loginForm dd input	{ width:200px; height:32px; border:1px solid #dedede; box-sizing:border-box; background:#fafafa}
.loginWrap_admin .loginForm .btnLogin	{ float:right; width:100px; height:74px; background:#303742;}
.loginWrap_admin .loginForm .btnLogin input	{ width:100px; height:74px; border:0; color:#fff; font-size:14px; font-weight:bold; text-align:center; line-height:74px; background:#303742;}
.loginWrap_admin .loginForm .idCheck	{ float:left; margin-left:66px; color:#555; font-size:13px}
.loginWrap_admin .loginForm .idCheck input	{ margin-right:5px; padding:0; }


.loginWrap_admin .textEtc	{ width:376px; padding:10px 0 0 0; border-top:1px solid #c5c5c5; }
.loginWrap_admin .textEtc li	{ margin-top:15px; padding-left:5px; color:#888; font-size:13px; line-height:18px; letter-spacing:-1px; background:url('/img/imgDot02.gif') no-repeat 0 7px}
.loginWrap_admin .eventBn	{ position:absolute; bottom:36px; right:0}


/*-------------------- 4. Login --------------------*/
.loginWrap	{ position:absolute; top:40%; left:50%; width:666px; height:500px; margin:-267px 0 0 -333px; padding:0 0 33px 0; }
.loginWrap .loginTitle		{ margin-bottom:35px; padding:9px 0 5px 0; border-bottom:1px solid #c5c5c5;}
.loginWrap .loginTitle h1	{ margin-bottom:30px}
.loginWrap .loginTitle p	{ color:#555; font-size:18px; line-height:28px; }

.loginWrap .loginForm	{ position:relative; width:376px; margin-bottom:30px; zoom:1}
.loginWrap .loginForm:after	{ content:""; clear:both; display:block;}
.loginWrap .loginForm dl	{ float:left; width:266px; }
.loginWrap .loginForm dt	{ float:left; width:66px; margin-bottom:10px; color:#555; font-size:14px; text-align:left; line-height:32px; }
.loginWrap .loginForm dd	{ float:left; margin-bottom:10px; }
.loginWrap .loginForm dd input	{ width:200px; height:32px; border:1px solid #dedede; box-sizing:border-box; background:#fafafa}
.loginWrap .loginForm .btnLogin	{ float:right; width:100px; height:74px; background:#303742;}
.loginWrap .loginForm .btnLogin input	{ width:100px; height:74px; border:0; color:#fff; font-size:14px; font-weight:bold; text-align:center; line-height:74px; background:#303742;}
.loginWrap .loginForm .idCheck	{ float:left; margin-left:66px; color:#555; font-size:13px}
.loginWrap .loginForm .idCheck input	{ margin-right:5px; padding:0; }


.loginWrap .textEtc	{ width:666px; padding:10px 0 0 0; border-top:1px solid #c5c5c5; }
.loginWrap .textEtc li	{ margin-top:15px; padding-left:5px; color:#888; font-size:13px; line-height:18px; letter-spacing:-1px; background:url('/img/imgDot02.gif') no-repeat 0 7px}
.loginWrap .eventBn	{ position:absolute; bottom:286px; right:0}
.crivius {display:none;}