
.main_nav {padding-bottom:20px; border-bottom:1px solid #ddd; font-size:13px;}
h2.main_tit {font-size:20px; color:#333; padding-bottom:20px; font-weight:normal; position:relative; margin:30px 0 30px;}
h2.main_tit:before {position:absolute; left:0;  bottom:0; background-color:#36a0fb; width:30px; height:1px; content:''; display:block;}


/* common */

select {height:40px; border:1px solid #ddd; padding-left:10px; padding-right:30px; color:#666;
  -webkit-appearance: none;  /* 네이티브 외형 감추기 */
  -moz-appearance: none;
  appearance: none;
  background: url(../images/common/select_arrow.png) no-repeat 90% 50% #fff;  /* 화살표 모양의 이미지 */
}

input[type="text"]  {height:40px; border:1px solid #ddd; box-sizing:border-box; padding:0 10px; color:#666;}
input[type="password"]  {height:40px; border:1px solid #ddd; box-sizing:border-box; padding:0 10px; color:#666;}
label {display:inline-block;}
select::-ms-expand { display: none; } /* IE 10, 11의 네이티브 화살표 숨기기 */
a {color:#3276b1}
a:hover {color:#214e75}

/*  table   table border */

.admin textarea {border:1px solid #ddd; box-sizing:border-box; color:#666; padding:10px;}
.admin {position:relative; }
.admin:after {content:''; clear:both; height:0; display:block; visibility:hidden;}
.admin .table {width:100%; position:relative; border:1px solid #ddd;  border-collapse: collapse; }
.admin .table th {padding:15px 0;} 
.admin .table td {text-align:center; color:#666; padding:15px 20px;}
.admin .table thead tr th {border-right:1px solid #ddd}
.admin .table tbody tr td {border:1px solid #ddd}
.admin .table tbody tr th {font-size:16px; border:1px solid #ddd; background:#f7f7f7; font-weight:normal;}
.admin .table thead tr th {font-size:16px; color:#333; font-weight:normal; background:#f1f1f1;}

.admin .year {width:100%;}
.admin .year tr th {text-align:left;}
.admin .year tr td {height:30px; }
.admin .year tr td a {color:#999; padding:4px 5px; display:inline-block;}
.admin .year tr td .on {color:#fff; background:#3094c7; border-radius:3px;}

.admin .order_num {background-color: #96979b ; color: #fff; border-left:5px solid #4c4f53; padding:10px 10px 30px;}
.admin .order_num p {font-size:18px; color:#fff; font-weight:600}
.admin .order_num p span {font-size:13px;}
.bd_top {border-top:2px solid #6d6b6b !important;}
.bd_bottom {border-bottom:2px solid #6d6b6b !important;}
.w_half {width:50%; float:left; padding-left:10px; padding-right:10px; box-sizing:border-box;}
.clear {clear:both; overflow:hidden;}

.admin .reply_div {position:relative;}
.admin .reply_div button {width:100px; height:100px; background:#666; color:#fff; display:inline-block; font-weight:normal; text-align:center; cursor:pointer; border:0; position:absolute; bottom:3px; right:0;}
.admin .reply_div textarea {width:93%;}

.admin .tabs:after {content:''; clear:both; height:0; display:block; visibility:hidden;} 
.admin .tabs {border:1px solid #ddd; display:inline-block; margin-bottom:30px;}
.admin .tabs li {float:left; border-right:1px solid #ddd;}
.admin .tabs li.active {background:#ddf0f3}
.admin .tabs li:last-child {border-right:0;}
.admin .tabs li a {display:block; padding:10px;  box-sizing:border-box;}





/*  기본 버튼 리스트  */

.btn_write  {display:inline-block; font-weight:normal; text-align:center; cursor:pointer; border:0; background:#5193c5; color:#fff; padding:12px 16px;}
.btn_list   {display:inline-block; font-weight:normal; text-align:center; cursor:pointer; border:0; background:#666666; color:#fff; padding:12px 16px;}
.btn_save   {display:inline-block; font-weight:normal; text-align:center; cursor:pointer; border:0; background:#5193c5; color:#fff; padding:12px 16px;}
.btn_edit   {display:inline-block; font-weight:normal; text-align:center; cursor:pointer; border:0; background:#999999; color:#fff; padding:12px 16px;}
.btn_del    {display:inline-block; font-weight:normal; text-align:center; cursor:pointer; border:0; background:#666666; color:#fff; padding:12px 16px;}
.btn_ok     {display:inline-block; font-weight:normal; text-align:center; cursor:pointer; border:0; background:#5193c5; color:#fff; padding:12px 16px;}
.btn_cancel {display:inline-block; font-weight:normal; text-align:center; cursor:pointer; border:0; background:#999999; color:#fff; padding:12px 16px;}





/* 버튼 디테일 */
.btn {display:inline-block; font-weight:normal; text-align:center; cursor:pointer; border:0;}
.btn_r {display:inline-block; font-weight:normal; text-align:center; cursor:pointer; border-radius:5px; border:0;}


/* 버튼사이즈 */

.btn_xl {padding:16px 22px;}
.btn_l {padding:12px 18px;}
.btn_m {padding:12px 16px;}
.btn_s {padding:6px 10px 5px;}
.btn_xs {padding:1px 5px;}


/* 버튼컬러 */

.bg_red {background:#ff0000; color:#fff;}
.bg_green {background:#51c57d; color:#fff;}
.bg_blue {background:#5193c5; color:#fff;}
.bg_yellow {background:#ffd200; color:#fff;}
.bg_orange {background:#ffa200; color:#fff;}
.bg_black {background:#000000; color:#fff;}
.bg_gray {background:#666666; color:#fff;}
.bg_pink {background:#ff70b3;}
.bg_white {background:#ffffff; color:#000; border:1px solid #000;}




/* font-size*/

.font_xl {font-size:20px;}
.font_l {font-size:16px;}
.font_m {font-size:14px;}  /*  사이트 내 기본폰트 사이즈 */
.font_s {font-size:12px;}
.font_xs {font-size:11px;}




/* font-size  디테일*/

.font_10 {font-size:10px;}
.font_11 {font-size:11px;}
.font_12 {font-size:12px;}
.font_13 {font-size:13px;}
.font_14 {font-size:14px;}
.font_15 {font-size:15px;}
.font_16 {font-size:16px;}
.font_17 {font-size:17px;}
.font_18 {font-size:18px;}
.font_19 {font-size:19px;}
.font_20 {font-size:20px;}
.font_21 {font-size:21px;}
.font_22 {font-size:22px;}
.font_23 {font-size:23px;}
.font_24 {font-size:24px;}
.font_25 {font-size:25px;}
.font_26 {font-size:26px;}
.font_27 {font-size:27px;}
.font_28 {font-size:28px;}
.font_29 {font-size:29px;}
.font_30 {font-size:30px;}
.font_31 {font-size:31px;}
.font_32 {font-size:32px;}
.font_33 {font-size:33px;}
.font_34 {font-size:34px;}
.font_35 {font-size:35px;}
.font_36 {font-size:36px;}
.font_37 {font-size:37px;}
.font_38 {font-size:38px;}
.font_39 {font-size:39px;}
.font_40 {font-size:40px;}


/* font color */

.font_point {color:#5193c5 !important;}  /* 사이트 내 포인트 컬러 */


.font_red {color:#ff0000 !important;}
.font_green {color:#51c57d !important;}
.font_blue {color:#5193c5 !important;}
.font_yellow {color:#ffd200 !important;}
.font_orange {color:#ffa200 !important;}
.font_black {color:#000000 !important;}
.font_gray {color:#666666 !important;}
.font_white {color:#ffffff !important;}




/*  정렬  */

.f_right {float:right;}
.f_left {float:left;}

.left {text-align:left !important;}
.right {text-align:right !important;}
.center {text-align:center !important;}

.a_left {text-align:left; display:block } /* a태그 좌측정렬 */
.a_right {text-align:right; display:block } /* a태그 우측정렬 */




/*  여백  */

.mg_l {margin:20px;}  /*  상하 좌우 마진  */
.mg_m {margin:10px;}
.mg_s {margin:6px;}
.mg_xs {margin:2px;}


.pd_l {padding:20px;} /*  상하 좌우 패딩  */
.pd_m {padding:10px;}
.pd_s {padding:6px;}
.pd_xs {padding:2px;}




/*  여백  디테일*/

.mt_5 {margin-top:5px !important;}   /* 상단 마진 여백 */
.mt_10 {margin-top:10px !important;}
.mt_20 {margin-top:20px !important;}
.mt_30 {margin-top:30px !important;}

.mb_5 {margin-bottom:5px !important;}  /* 하단 마진 여백 */
.mb_10 {margin-bottom:10px !important;}
.mb_20 {margin-bottom:20px !important;}
.mb_30 {margin-bottom:30px !important;}

.ml_5 {margin-left:5px !important;}   /* 왼쪽 마진 여백 */
.ml_10 {margin-left:10px !important;}
.ml_20 {margin-left:20px !important;}
.ml_30 {margin-left:30px !important;}

.mr_5 {margin-right:5px !important;}   /* 오른쪽 마진 여백 */
.mr_10 {margin-right:10px !important;}
.mr_20 {margin-right:20px !important;}
.mr_30 {margin-right:30px !important;}



.pt_5 {padding-top:5px !important;}   /* 상단 패딩 여백 */
.pt_10 {padding-top:10px !important;}
.pt_20 {padding-top:20px !important;}
.pt_30 {padding-top:30px !important;}

.pb_5 {padding-bottom:5px !important;}  /* 하단 패딩 여백 */
.pb_10 {padding-bottom:10px !important;}
.pb_20 {padding-bottom:20px !important;}
.pb_30 {padding-bottom:30px !important;}

.pl_5 {padding-left:5px !important;}   /* 왼쪽 패딩 여백 */
.pl_10 {padding-left:10px !important;}
.pl_20 {padding-left:20px !important;}
.pl_30 {padding-left:30px !important;}

.pr_5 {padding-right:5px !important;}   /* 오른쪽 패딩 여백 */
.pr_10 {padding-right:10px !important;}
.pr_20 {padding-right:20px !important;}
.pr_30 {padding-right:30px !important;}


/* width */


.w10 {width:10% !important;}
.w20 {width:20% !important;}
.w30 {width:30% !important;}
.w40 {width:40% !important;}
.w50 {width:50% !important;}
.w60 {width:60% !important;}
.w70 {width:70% !important;}
.w80 {width:80% !important;}
.w90 {width:90% !important;}
.w100 {width:100% !important;}


/* height */
.h100 {height:100px !important;}
.h200 {height:200px !important;}
.h300 {height:300px !important;}
.h400 {height:400px !important;}
.h500 {height:500px !important;}



/* paging */
.list_page { margin: 30px auto 0; text-align: center; zoom: 1; }
.list_page .first_btn { display: inline-block; width: 24px; height: 24px; text-indent: -9999px; vertical-align: bottom; background: url(../images/common/imgFirst.png) no-repeat 0 top; }
.list_page .first2_btn { display: inline-block; width: 25px; height: 24px; text-indent: -9999px; vertical-align: bottom; background: url(../images/common/imgPrev.png) no-repeat 0 top }
.list_page ul { display: inline-block; overflow: hidden; padding: 0 7px; vertical-align: bottom;}
.list_page li { float: left; margin: 0 5px;}
.list_page li:hover a, .list_page li a.on { color: #fff; background: #444;}
.list_page li a { display: block; width: 24px; height: 24px; font-size: 12px; color: #444; text-align: center; line-height: 25px; }
.list_page .last2_btn { display: inline-block; width: 25px; height: 24px; text-indent: -9999px; vertical-align: bottom; background: url(../images/common/imgNext.png) no-repeat 0 top }
.list_page .last_btn { display: inline-block; width: 24px; height: 24px; text-indent: -9999px; vertical-align: bottom; background: url(../images/common/imgLast.png) no-repeat 0 top }

