@charset "utf-8";

/*@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);*/
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 400;
  src: url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.eot);
  src: url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.woff) format('woff'),
       url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 700;
  src: url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.eot);
  src: url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.woff) format('woff'),
       url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 800;
  src: url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-ExtraBold.eot);
  src: url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-ExtraBold.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-ExtraBold.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-ExtraBold.woff) format('woff'),
       url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-ExtraBold.ttf) format('truetype');
}

/* base */
*			{ margin:0; padding:0; }
html,
body		{ width:100%; height:100%;}
header,
footer,
aside,
section,
nav,
article,
figure,
figcaption	{ display:block}
img			{ max-width:100%; height:auto}
video,
audio,
object,
iframe		{ width:100%; height:auto}
body,
table,
input,
textarea,
select,
button		{ font-family:'Nanum Gothic', sans-serif, 돋움, Dotum, 굴림, Gulim, Tahoma, Geneva, sans-serif; font-size:12px; color:#666}
form,
input		{ box-sizing:border-box}
fieldset	{ border:none;}
legend,
caption		{ display:none;}
hr			{ visibility:hidden; overflow:hidden; position:absolute; width:0; height:0; font-size:0; line-height:0;}
ul,
li			{ list-style:none}
a			{ text-decoration:none}
em			{ font-style:normal}
a:link,
a:hover,
a:active	{ color:#666;}
.skip		{ position:absolute; left:-3000px; width:1px; height:1px; color:#fff}
textarea,
input[type="text"],
input[type="number"],
input[type="password"],
input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="email"],
input[type="srch"],
input[type="tel"]		{ -webkit-appearance:none; font-family:'Nanum Gothic', sans-serif; box-sizing:border-box; -webkit-border-radius:0;}
input[type="checkbox"],
input[type="radio"]		{ position:relative; top:-1px; vertical-align:middle; padding:5px }

/*width*/
.w10{width: 10%;}
.w20{width:20%;}
.w30{width:30%;}
.w40{width: 40%;}
.w50{width:50%;}
.w60{width: 60%;}
.w70{width: 70%;}
.w80{width: 80%;}
.w90{width: 90%;}
.w100{width: 100%;}





/* btn */
.btnB	{ border-right:1px solid #2778a1; border-bottom:1px solid #2778a1; color:#fff !important; background:#3094c7}
.btnW	{ border-top:1px solid #e1e1e1; border-right:1px solid #b6b6b6; border-bottom:1px solid #b6b6b6; border-left:1px solid #e1e1e1; color:#666 !important; background:#f5f5f5 linear-gradient(to bottom, #fff, #f5f5f5)}
.btnG	{ display:inline-block; border-radius:2px; color:#fff !important; background:#696969}
.btnDB	{ display:inline-block; border-radius:2px; color:#fff !important; background:#4d8baa}



/* paging */
.paging		{ margin-top:30px; text-align:center}
.paging a	{ display:inline-block; width:22px; height:22px; margin:0 4px; border:1px solid #b4b4b4; color:#666; line-height:23px; vertical-align:top}
.paging a.imgPage	{ border:0; margin:0; width:auto; height:24px;}
.paging a.active	{ color:#fff; border:1px solid #3094c7; background:#3094c7}



/* layout */
#container		{ position:relative; width:100%; min-width:1180px; height:100%; }
#header			{ position:relative; width:100%; height:80px; background:#ecf0f7; zoom:}
#header:after	{ content:""; clear:both; display:block}
#body			{ position:relative; width:100%; padding:20px 20px 0 20px; box-sizing:border-box; zoom:1}
#body:after		{ content:""; clear:both; display:block}
#footer			{ position:relative; width:100%; text-align:center; border-top:1px solid #ccc; background:#e7e7e7}



/* login */
#login			{ position:relative; width:830px; margin:auto; padding-top:335px; zoom:1}
#login:after	{ content:""; clear:both; display:block}
#login h1		{ position:relative; display:inline-block; padding:0 40px 72px 0; border-right:1px solid #fff; color:#aaa; font-size:36px; text-align:right; vertical-align:top}
#login h1:after	{ content:""; clear:both; display:inline-block; position:absolute; top:0; right:0; width:1px; height:100%; background:#d5d5d5}
#login h1 span	{ display:block; color:#3094c7; font-size:72px;}
#login .loginForm	{ display:inline-block; padding-left:40px;  }
#login .loginForm input	{ width:456px; height:50px; margin-bottom:9px; padding-left:20px; border:1px solid #ddd; color:#666; font-size:16px; line-height:50px;}
#login .loginForm a		{ display:block; width:456px; height:58px; margin-top:19px; color:#fff; font-size:18px; text-align:center; line-height:58px; background:#3094c7}
#login .loginForm p		{ margin:20px 0 0 0; color:#989898; font-size:12px; font-weight:bold; line-height:18px;}


/* header */
.topMenu			{ float:right; height:26px; margin-right:10px; padding:7px 0}
.topMenu li			{ float:left; color:#333; font-size:12px; font-weight:bold; line-height:26px;}
.topMenu li span	{ margin-right:5px; color:#3094c7; font-size:13px;}
.topMenu li a		{ display:block; height:26px; margin-left:4px; padding:0 10px; border-radius:2px; box-sizing:border-box; font-size:12px; font-weight:bold; line-height:26px; }
.topMenu li a.logout	{ color:#333 !important;}
.topMenu li a.logout img	{ margin-right:5px; vertical-align:top}

#header h1			{ float:left; width:100%; height:40px; padding-left:30px; box-sizing:border-box; color:#fff; font-size:18px; line-height:40px; background:#3094c7}

.search				{ position:absolute; bottom:5px; right:10px; width:398px; height:28px; border:1px solid #3b8ab3; background:#fff}
.search input		{ width:343px; height:26px; margin:1px 10px; border:0; line-height:26px; vertical-align:top }



/* body */
.leftWrap		{ position:absolute; top:20px; left:20px; width:198px; height:100%; border:1px solid #d1d3d8; border-bottom:0; }
.leftWrap h2	{ height:64px; border-bottom:1px solid #d1d3d8; font-size:18px; text-align:center; line-height:64px;}
.leftWrap .nav>li>a	{ display:block; height:40px; padding-left:10px; border-top:1px solid #d1d3d8; color:#666; font-size:14px; font-weight:bold; line-height:40px; background:url('../img/bgLeftH3.png') no-repeat 184px 50%}
.leftWrap .nav>li>a:hover,
.leftWrap .nav>li.open>a	{ color:#fff; background:#3094c7 url('../img/bgLeftH3_over.png') no-repeat 181px 50%}
.leftWrap .nav ul	{ padding:10px; background:#f5f6f7}
.leftWrap .nav ul ul	{ padding-top:5px}
.leftWrap .nav li li a	{ color:#888; font-size:13px; line-height:160%; }
.leftWrap .nav li li a:hover,
.leftWrap .nav li li a.over	{ color:#6a96ac}
.leftWrap .nav a .caret { float:right; width:0; height:0; margin-top:8px; margin-left:2px; display:inline-block; vertical-align:top; border-top:4px solid #000; border-right:4px solid transparent; border-left:4px solid transparent; content:"";}
.leftWrap .nav li.open > a > .caret { border-top: none; border-bottom: 4px solid #000; border-right: 4px solid transparent; border-left: 4px solid transparent;}

.rightWrap		{ min-width:900px; min-height:500px; padding:0 0 100px 260px; }
.rightWrap h2	{ margin:25px 0 20px 0; padding-left:30px; color:#231f20; font-size:24px; background:url('../img/bgRightH2.png') no-repeat 0 1px}

.contents .tableList	{ width:100%; border-top:1px solid #ccc; border-left:1px solid #ccc; text-align:center}
.contents .tableList th,
.contents .tableList td	{ border-right:1px solid #ccc; border-bottom:1px solid #ccc; font-size:14px; }
.contents .tableList th	{ height:45px; font-weight:normal; line-height:45px; background:#f5f4f4}
.contents .tableList td	{ height:42px; line-height:42px}
.contents .tableList td .btnG	{ height:22px; padding:0 9px; box-sizing:border-box; font-size:12px; line-height:22px; }

.contents .tableView	{ width:100%; border-top:1px solid #ccc; }
.contents .tableView th,
.contents .tableView td	{ border-right:1px solid #ccc; border-bottom:1px solid #ccc; font-size:14px; }
.contents .tableView thead th		{ height:45px; border-left:1px solid #ccc; line-height:45px; background:#f5f4f4}
.contents .tableView tbody th		{ font-weight:normal}
.contents .tableView tbody th:first-child	{ border-left:1px solid #ccc; }
.contents .tableView td	{ height:42px; padding-left:20px; line-height:42px}
.contents .tableView td.tableText	{ min-height:100px; padding:30px 25px; border-right:0; line-height:160%; vertical-align:top}

.contents .tableEtc			{ width:100%; margin-top:60px; border-top:1px solid #6c6c6c; text-align:left;}
.contents .tableEtc th,
.contents .tableEtc td		{ height:42px; padding-left:20px; line-height:42px; border-bottom:1px solid #ccc; font-size:14px; }
.contents .tableEtc th		{ border-right:1px solid #ccc; font-weight:normal; text-align:left; background:#f5f4f4}
.contents .tableEtc td a	{ color:#666; font-weight:bold}

.contents .tableWrite		{ width:100%; border-top:1px solid #ccc; border-left:1px solid #ccc; text-align:left;}
.contents .tableWrite th,
.contents .tableWrite td	{ height:42px; padding-left:20px; border-right:1px solid #ccc; line-height:42px; border-bottom:1px solid #ccc; font-size:14px; }
.contents .tableWrite th	{  font-weight:normal; text-align:left; background:#f5f4f4}
.contents .tableWrite input.input01		{  height:32px; padding-left:10px; border:1px solid #ddd; line-height:32px;}
.contents .tableWrite select.input01	{  height:32px; padding-left:10px; border:1px solid #ddd; font-size:14px; line-height:160%;}
.input02	{ border:1px solid #ddd; margin-top:10px;}
.contents .tableWrite label	{ margin-right:30px; }

.contents .btnWrap		{ margin-top:10px; text-align:right; }
.contents .btnWrap li	{ display:inline-block;}
.contents .btnWrap li a	{ width:54px; height:30px; line-height:30px; font-weight:bold; text-align:center}
.contents .btnWrap li>input	{ width:54px; height:30px; line-height:30px; font-weight:bold; text-align:center; border: none; cursor: pointer;}
.contents .btnWrap li>form>input	{ width:54px; height:30px; line-height:30px; font-weight:bold; text-align:center; border: none; cursor: pointer;}

.tableSearch		{ width:100%; text-align:left;}
.tableSearch th,
.tableSearch td	{ height:42px; line-height:42px;  font-size:14px; }
.tableSearch td>a{color:black;}
.tableSearch th	{  font-weight:normal; text-align:left; background:#f5f4f4}
.tableSearch input.input01		{  height:32px; padding-left:10px; border:1px solid #ddd; line-height:32px;}
.tableSearch select.input01	{  height:32px; padding-left:10px; border:1px solid #ddd; font-size:14px; line-height:160%;}
.btnS { width:54px; height:30px; line-height:30px; font-weight:bold; text-align:center; border: none; cursor: pointer;}
/* footer */
.copyright	{ height:62px; border-top:1px solid #fff; color:#696969; font-size:11px; line-height:62px; }
