@charset "utf-8";

@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

/* common */
html, body { margin: 0; width: 100%; height: 100%; position:relative; }
* {margin:0; padding:0; list-style:none; text-decoration:none; font-family:"Nanum Gothic";  outline:none; font-size:14px;}
ul>li>a { text-decoration:none; }
a { color:inherit;}
table { border-collapse: collapse; }
.blind {position:absolute !important;visibility:hidden !important;top:0 !important;left:0 !important;height:0 !important;width:0 !important;font-size:0 !important;line-height:0 !important;overflow:hidden !important;}
.inner {width:1080px; margin:0 auto; position:relative;}
fieldset {border:none;}
legend {display:none;}
caption {display:none;}
button {cursor:pointer; font-size:14px;}


/* LAYOUT */
#A_Wrap { position:relative; width:100%; min-width:1180px; height:100%; }
#A_Container_Wrap { position:relative; width:100%; box-sizing:border-box; zoom:1}
#A_Container{ width:1080px; margin:0 auto; clear:both; overflow: hidden; position:relative;}
#A_Container_L	{position:absolute; float:left; width:250px; height:100%; background:#303742; z-index:3}
#A_Container_C{ position:relative; min-width:900px; min-height:1000px; padding:20px 20px 100px 270px;}




/* left_menu */
#A_Container_L h2	{ height:64px; font-size:18px; text-align:center; line-height:64px;}
#A_Container_L .nav {border-bottom:1px solid #1d2128}
#A_Container_L .nav > li > a { display:block; height:50px; padding-left:10px; border-top:1px solid #1d2128; color:#fff; font-size:14px; font-weight:bold; line-height:50px; padding-left:25px; background:url(/avanplus/images/common/menu_arrow01.png) no-repeat 90% 50% #303742;}
#A_Container_L .nav > li.open > a {background:url(/avanplus/images/common/menu_arrow02.png) no-repeat 90% 50% #303742;}



.ss_menu li a:hover {background:url(/avanplus/images/common/menu_on.png) no-repeat 100% 50%; color:#666;}
.ss_menu li a {background:url(/avanplus/images/common/menu_off.png) no-repeat 100% 50%;}
.ss_menu li.on a  {background:url(/avanplus/images/common/menu_on.png) no-repeat 100% 50%; color:#666;}

#A_Container_L .nav > li > a > em {display:inline-block; width:30px; height:30px; vertical-align:middle;}
#A_Container_L .nav > li:nth-child(1) > a > em {background:url(/avanplus/images/common/menu_icon01_off.png) no-repeat 0% 50%;}
#A_Container_L .nav > li.open:nth-child(1) > a em {background:url(/avanplus/images/common/menu_icon01_on.png) no-repeat 0% 50%;}
#A_Container_L .nav > li:nth-child(2) > a > em {background:url(/avanplus/images/common/menu_icon02_off.png) no-repeat 0% 40%;}
#A_Container_L .nav > li.open:nth-child(2) > a em {background:url(/avanplus/images/common/menu_icon02_on.png) no-repeat 0% 40%;}
#A_Container_L .nav > li:nth-child(3) > a > em {background:url(/avanplus/images/common/menu_icon03_off.png) no-repeat 0% 50%;}
#A_Container_L .nav > li.open:nth-child(3) > a em {background:url(/avanplus/images/common/menu_icon03_on.png) no-repeat 0% 50%;}
#A_Container_L .nav > li:nth-child(4) > a > em {background:url(/avanplus/images/common/menu_icon04_off.png) no-repeat 0% 50%;}
#A_Container_L .nav > li.open:nth-child(4) > a em {background:url(/avanplus/images/common/menu_icon04_on.png) no-repeat 0% 50%;}
#A_Container_L .nav > li:nth-child(5) > a > em {background:url(/avanplus/images/common/menu_icon05_off.png) no-repeat 0% 50%;}
#A_Container_L .nav > li.open:nth-child(5) > a em {background:url(/avanplus/images/common/menu_icon05_on.png) no-repeat 0% 50%;}
#A_Container_L .nav > li:nth-child(6) > a > em {background:url(/avanplus/images/common/menu_icon06_off.png) no-repeat 0% 50%;}
#A_Container_L .nav > li.open:nth-child(6) > a em {background:url(/avanplus/images/common/menu_icon06_on.png) no-repeat 0% 50%;}
#A_Container_L .nav > li:nth-child(7) > a > em {background:url(/avanplus/images/common/menu_icon07_off.png) no-repeat 0% 50%;}
#A_Container_L .nav > li.open:nth-child(7) > a em {background:url(/avanplus/images/common/menu_icon07_on.png) no-repeat 0% 50%;}
#A_Container_L .nav > li:nth-child(8) > a > em {background:url(/avanplus/images/common/menu_icon08_off.png) no-repeat 0% 40%;}
#A_Container_L .nav > li.open:nth-child(8) > a em {background:url(/avanplus/images/common/menu_icon08_on.png) no-repeat 0% 40%;}
#A_Container_L .nav > li:nth-child(9) > a > em {background:url(/avanplus/images/common/menu_icon09_off.png) no-repeat 0% 40%;}
#A_Container_L .nav > li.open:nth-child(9) > a em {background:url(/avanplus/images/common/menu_icon09_on.png) no-repeat 0% 40%;}
#A_Container_L .nav > li:nth-child(10) > a > em {background:url(/avanplus/images/common/menu_icon10_off.png) no-repeat 0% 50%;}
#A_Container_L .nav > li.open:nth-child(10) > a em {background:url(/avanplus/images/common/menu_icon10_on.png) no-repeat 0% 50%;}
#A_Container_L .nav > li:nth-child(11) > a > em {background:url(/avanplus/images/common/menu_icon11_off.png) no-repeat 0% 50%;}
#A_Container_L .nav > li.open:nth-child(11) > a em {background:url(/avanplus/images/common/menu_icon11_on.png) no-repeat 0% 50%;}



#A_Container_L .nav > li:nth-child(1):hover > a > em {background:url(/avanplus/images/common/menu_icon01_on.png) no-repeat 0% 50%;}
#A_Container_L .nav > li:nth-child(2):hover > a > em {background:url(/avanplus/images/common/menu_icon02_on.png) no-repeat 0% 40%;}
#A_Container_L .nav > li:nth-child(3):hover > a > em {background:url(/avanplus/images/common/menu_icon03_on.png) no-repeat 0% 50%;}
#A_Container_L .nav > li:nth-child(4):hover > a > em {background:url(/avanplus/images/common/menu_icon04_on.png) no-repeat 0% 50%;}
#A_Container_L .nav > li:nth-child(5):hover > a > em {background:url(/avanplus/images/common/menu_icon05_on.png) no-repeat 0% 50%;}
#A_Container_L .nav > li:nth-child(6):hover > a > em {background:url(/avanplus/images/common/menu_icon06_on.png) no-repeat 0% 50%;}
#A_Container_L .nav > li:nth-child(7):hover > a > em {background:url(/avanplus/images/common/menu_icon07_on.png) no-repeat 0% 50%;}
#A_Container_L .nav > li:nth-child(8):hover > a > em {background:url(/avanplus/images/common/menu_icon08_on.png) no-repeat 0% 40%;}
#A_Container_L .nav > li:nth-child(9):hover > a > em {background:url(/avanplus/images/common/menu_icon09_on.png) no-repeat 0% 40%;}
#A_Container_L .nav > li:nth-child(10):hover > a > em {background:url(/avanplus/images/common/menu_icon10_on.png) no-repeat 0% 50%;}
#A_Container_L .nav > li:nth-child(11):hover > a > em {background:url(/avanplus/images/common/menu_icon11_on.png) no-repeat 0% 50%;}


#A_Container_L .nav > li > a span {font-size:15px;}
#A_Container_L .lnb {color:#fff;}
#A_Container_L .nav > li > a:hover,
#A_Container_L .nav > li.open > a	{color:#36a0fb;}
#A_Container_L .nav ul	{ padding:10px 25px; background:#1d2128}
#A_Container_L .nav ul ul	{ padding-top:5px}
#A_Container_L .nav li li {line-height:35px;}
#A_Container_L .nav li li a	{ color:#838e9f; font-size:14px; display:block;}
#A_Container_L .nav li li a:hover,
#A_Container_L .nav li li a.over	{ color:#6a96ac}
#A_Container_L .nav a .caret { float:right; width:0; height:0; margin-top:8px; margin-left:2px; display:inline-block; vertical-align:top; border-top:4px solid #000; border-right:4px solid transparent; border-left:4px solid transparent; content:"";}
#A_Container_L .nav li.open > a > .caret { border-top: none; border-bottom: 4px solid #000; border-right: 4px solid transparent; border-left: 4px solid transparent;}
#A_Container_L .nav li.open ul li.active > a {color:#055882; font-weight:600;}





/* header */
#A_Header .menu {margin-left:250px;}
#A_Header .area {position:relative; height:80px; background:#303742;z-index:4;}
#A_Header .search				{position:absolute; bottom:5px; right:530px; width:250px; height:28px; border:1px solid #3b8ab3; background:#fff}
#A_Header .search input		{ width:194px; height:26px; margin:0 10px; border:0; line-height:26px; vertical-align:top;  }
#A_Header .search a img {position:absolute; bottom:0; right:0;}
#A_Header .topMenu {float:right; margin-right:30px;}
#A_Header .topMenu li {float:left; line-height:80px; margin-left:30px;}
#A_Header .topMenu li a {color:#838e9f; font-size:16px; padding-left:25px;}
#A_Header .topMenu li:hover a {color:#3496ea;}
#A_Header .topMenu li:nth-child(1) {background:url(/avanplus/images/common/top_icon01_off.png) no-repeat 0 50%;}
#A_Header .topMenu li:nth-child(2) {background:url(/avanplus/images/common/top_icon02_off.png) no-repeat 0 50%;}
#A_Header .topMenu li:nth-child(3) {background:url(/avanplus/images/common/top_icon03_off.png) no-repeat 0 50%;}
#A_Header .topMenu li:nth-child(4) {background:url(/avanplus/images/common/top_icon04_off.png) no-repeat 0 50%;}
#A_Header .topMenu li:nth-child(1):hover {background:url(/avanplus/images/common/top_icon01_on.png) no-repeat 0 50%;}
#A_Header .topMenu li:nth-child(2):hover {background:url(/avanplus/images/common/top_icon02_on.png) no-repeat 0 50%;}
#A_Header .topMenu li:nth-child(3):hover {background:url(/avanplus/images/common/top_icon03_on.png) no-repeat 0 50%;}
#A_Header .topMenu li:nth-child(4):hover {background:url(/avanplus/images/common/top_icon04_on.png) no-repeat 0 50%;}
#A_Header .logo {float:left; width:250px; height:80px; text-align:center; background:#36a0fb;}
#A_Header h1.mainfont a {width:250px; height:80px; display:block; font-size:20px;  color:#fff; line-height:80px; }

/* footer */

#A_Footer { position:relative; bottom:0; width:100%; text-align:center; background:#f5f4f4; z-index:5;  height: 80px;}
#A_Footer .copyright {color:#999; font-size:13px; line-height:21px; margin-left: 250px; padding-top: 20px;}
#A_Footer .copyright_left {float: left; width: 250px;  text-align: center; background: #303742; height: 80px;}


