@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

/* common */
*{-webkit-text-size-adjust:none ; outline:none; color:inherit; letter-spacing: -0.5px;}
html, body {min-height:100%;}
body, form, div, p, h1, h2, h3, h4, h5, h6, dl, dt, dd, ul, ol, li, fieldset, th, td, input, textarea,button,select {margin: 0; padding: 0; font-family: 'Noto Sans KR', sans-serif; font-weight: normal; font-size: 20px;}
body{-webkit-user-select:none;-webkit-touch-callout:none;-webkit-tap-highlight-color:rgba(0,0,0,0); overflow-x:hidden;}
a{text-decoration:none; letter-spacing: -0.5px;}
a[href^="tel"]{ font-style:normal}
address, caption, em, var {font-style:normal;font-weight:normal}
p {line-height: 1.6; letter-spacing: -0.5px;}
i {display: inline-block;}
video, audio, object{ width:100%; height:auto}
ol, ul, dl, li{list-style:none}
fieldset, img{border:0}
legend, caption, hr{display:none}
table{border-collapse:collapse;border-spacing:0}
input {box-sizing: border-box; padding: 0 15px; border: 1px solid #dddd; border-radius: 0; -webkit-appearance: none; -moz-appearance: none; appearance: none;}
input::-webkit-input-placeholder {color: #999;}
input:-ms-input-placeholder {color: #999;}
input::placeholder {color: #999; opacity: 1;}
button {box-sizing: border-box; border: 0; background-color: transparent; cursor: pointer;}
textarea {box-sizing: border-box; width: 100%; padding:10px; border: 1px solid #ddd; resize: none; border-radius: 0; -webkit-appearance: none; -moz-appearance: none; appearance: none;}
select {box-sizing: border-box; border: 1px solid #ddd; cursor: pointer; -webkit-border-radius: 0; -webkit-appearance: none; -moz-appearance: none; -webkit-appearance: none; appearance: none;}
select::-ms-expand {display: none;}





/* 전체 */
html.fix {position: fixed; left: 0; right: 0; margin: 0 auto;}
#A_Wrap {position: relative; overflow: hidden; width: 100%; max-width: 640px; min-width: 640px; margin:0 auto;}
#A_Container {box-sizing: border-box; position: relative; width: 100%; min-height: 100vh; padding: 90px 0 0 0; background: #f6f6f6;}
#A_Container_Wrap {position: relative;}
#A_Container_Wrap:after {display: block; clear: both; *zoom: 1; content: '';}
.inner {box-sizing: border-box; width: 580px; margin: 0 auto;}



/* header */
#A_Header {position: fixed; top: 0; left: 0; right: 0; box-sizing: border-box; width: 100%; max-width: 640px; margin: 0 auto; z-index: 10000; background:#f6f6f6;  border-bottom: 1px solid #ddd; }
#A_Header .inner {}
#A_Header header {height: 90px; width: 525px; }
#A_Header header .logo {margin-top:27px; float: left;}
#A_Header header .user {float: right; margin-top: 30px;}
#A_Header header .user:after {content: ''; display: block; clear: both; }
#A_Header header .user li {float: left; margin-left: 30px;}
#A_Header header .user li:first-child{margin-left: 0;}
#A_Header header .user li span {font-weight: 500;}
#A_Header header .user li i {}
#A_Header header .user li:nth-child(2) i{ background:url(/srm/m/image/common/ic_user.png) no-repeat; width: 28px; height: 32px; }
#A_Header header .user li:nth-child(3) i{ background:url(/srm/m/image/common/ic_search.png) no-repeat; width: 28px; height: 29px; }
#A_Header header .user li:nth-child(4) i{ background:url(/srm/m/image/common/ic_cart.png) no-repeat; width:24px; height: 27px; position: relative; }
#A_Header header .user li:nth-child(4) i span {background: #f03162; color: #fff; border-radius: 50%; width: 15px; height: 15px; position: absolute; top: 7px; right: -4px; font-style: normal; font-size: 10px; text-align: center; }

.btn_logout {width: 30px; height: 30px ; background:url(/srm/m/image/sub/ic_logout.png) no-repeat; text-indent: -9999px; margin: 1px 0 0 0;}



.menubar {position: absolute; top: 50%; transform: translateY(-50%); right: 30px; width: 26px; height: 22px; cursor: pointer; z-index: 2;}
.menubar li {position: absolute; left: 0; right: 0; margin: 0 auto; width: 100%; height: 2px; background-color: #1c2032;}
.menubar li:nth-child(1) {top: 0; }
.menubar li:nth-child(2) {top: 10px; width: 20px; margin:  0 0 0 auto;}
.menubar li:nth-child(3) {top: 20px;}
.menu_wrap {display: none; position: fixed; top: 90px; right: 0; bottom: 0; overflow-y: scroll; margin: 0 auto; box-sizing: border-box; width: 100%; max-width: 640px; height: calc(100vh - 90px); background-color: #fff; z-index: 1;}


.gnb {background: #1c2032;}
.gnb .gnb_tit {display: block; padding: 0 30px; height: 90px; line-height: 90px; font-size: 26px; color: #7b7e8d; cursor: pointer; border-bottom: 1px solid rgba(255, 255, 255, 0.08); }

.gnb .lnb {display: none; padding: 20px 50px; background-color: #f6f6f6;}
.gnb .lnb li {margin: 20px 0 0 0;}
.gnb .lnb li:first-child {margin: 0;}
.gnb .lnb li a {display: block; color: #666; font-size: 24px;}

.gnb li.open .gnb_tit {color: #fff; }





.gnb li .gnb_tit i {width: 70px;height: 40px;  margin: 0 auto; background: url(/srm/m/image/common/ic_main.png); vertical-align: middle;}
.gnb li:nth-child(1) .gnb_tit i {background-position: -100px 0;}
.gnb li:nth-child(2) .gnb_tit i {background-position: -100px -90px;}
.gnb li:nth-child(3) .gnb_tit i {background-position: -100px -180px;}
.gnb li:nth-child(4) .gnb_tit i {background-position: -100px -630px;}
.gnb li:nth-child(5) .gnb_tit i {background-position: -100px -270px;}
.gnb li:nth-child(6) .gnb_tit i {background-position: -100px -360px;}
.gnb li:nth-child(7) .gnb_tit i {background-position: -100px -450px;}
.gnb li:nth-child(8) .gnb_tit i {background-position: -100px -537px;}

.gnb li:nth-child(1).open .gnb_tit i {background-position: 0 0;}
.gnb li:nth-child(2).open .gnb_tit i {background-position: 0 -90px;}
.gnb li:nth-child(3).open .gnb_tit i {background-position: 0 -180px;}
.gnb li:nth-child(4).open .gnb_tit i {background-position: 2px -630px;}
.gnb li:nth-child(5).open .gnb_tit i {background-position: 0 -270px;}
.gnb li:nth-child(6).open .gnb_tit i {background-position: 0 -360px;}
.gnb li:nth-child(7).open .gnb_tit i {background-position: 0 -450px;}
.gnb li:nth-child(8).open .gnb_tit i {background-position: 0 -537px;}







/*검색*/

#A_Header .search_wrap {display: none; position: absolute; top: 0; left: 0; right: 0; padding: 30px 0; background-color: #fff;  z-index: 10; height: 100vh;}
#A_Header .search_wrap .inner { }
#A_Header .search_wrap form {border-bottom: 2px solid #333}
#A_Header .search_wrap form:after {display: block; clear: both; *zoom: 1; content: '';}
#A_Header .search_wrap form input {width: calc(100% - 90px);height: 50px;font-size: 26px;border: 0;padding: 40px 20px 40px 21px;}
#A_Header .search_wrap form input::placeholder {color: #999; font-size: 26px;}
#A_Header .search_wrap form .btn_box {float: right;box-sizing: border-box;height: 50px;padding: 20px 0 0 0;}
#A_Header .search_wrap form .btn_box button {float: left; width: 28px; height: 29px; text-indent: -9999px; background-repeat: no-repeat; background-position: 0 0; padding: 20px 0;}
#A_Header .search_wrap form .btn_box .btn_search02 {background-image: url(/srm/m/image/common/ic_search.png);}
#A_Header .search_wrap form .btn_close {/* position: relative; *//* margin: 0 0 0 40px; */background-image: url(/srm/m/image/common/ic_back.png);text-indent: -9999px;width: 32px;height: 21px;}









/* footer */
#A_Footer {width:100%; overflow: hidden; position:relative; background-color: #2e3037;}
#A_Footer .ft_links .inner:after {display: block; clear: both; *zoom: 1; content: '';}
#A_Footer .ft_links .page_link {display: block; float: left; line-height: 80px; color: #999;}
#A_Footer .ft_links .sns_links {float: right;}
#A_Footer .ft_links .sns_links li {float: left; width: 80px; height: 80px; margin: 0 0 0 1px;}
#A_Footer .ft_links .sns_links li a {display: block; width: 100%; height: 100%; text-indent: -9999px; background-color: #383838; background-image: url(/srm/m/images/common/sns_icons.png); background-repeat: no-repeat; transition: background-color 0.3s ease-in-out;}
#A_Footer .ft_links .sns_links li:nth-child(1) a {background-position: 0 0;}
#A_Footer .ft_links .sns_links li:nth-child(2) a {background-position: -90px 0;}
#A_Footer .ft_links .sns_links li:nth-child(3) a {background-position: -180px 0;}
#A_Footer .ft_links .sns_links li a:hover {background-color: #2a2a2a;}
#A_Footer .ft_links .sns_links li:nth-child(1) a:hover {background-position: 0 -90px;}
#A_Footer .ft_links .sns_links li:nth-child(2) a:hover {background-position: -90px -90px;}
#A_Footer .ft_links .sns_links li:nth-child(3) a:hover {background-position: -180px -90px;}

#A_Footer .ft_txt {padding: 25px 0; border-top: 1px solid #444;}
#A_Footer .ft_txt .inner li {margin: 10px 0 0 0;}
#A_Footer .ft_txt .inner li:first-child {margin: 0;}
#A_Footer .ft_txt .inner li:after {display: block; clear: both; *zoom: 1; content: '';}
#A_Footer .ft_txt .inner li strong {display: block; float: left; width: 150px; height: 34px; line-height: 34px; color: #666; letter-spacing: -1px;}
#A_Footer .ft_txt .inner li p {display: block; float: left; width: calc(100% - 150px); line-height: 34px; color: #666; letter-spacing: -1px;}
#A_Footer .ft_txt .inner li span {display: inline-block; margin: 0 15px 0 0; line-height: 34px; color: #666; vertical-align: top; letter-spacing: -1px;}
#A_Footer .ft_txt .inner p.copy {margin: 20px 0 0 0; line-height: 34px; font-size: 17px; color: #666; letter-spacing: -1px;}


#A_Footer {width:100%; overflow: hidden; position:relative; background-color: #2e3037;}
#A_Footer .ft_link{ color: rgba(255, 255, 255, 0.4); }
#A_Footer .ft_link .ft_logo {float: left; margin:40px 70px 30px 0;}
#A_Footer .ft_link .link {float: right; margin-top: 40px;}
#A_Footer .ft_link a{margin-right: 40px; font-size: 16px; }
#A_Footer .ft_link a:last-child{margin-right: 0;}
#A_Footer .ft_link .right,  #A_Footer .ft_link .right2{ clear: both; overflow: hidden; }
#A_Footer .ft_link .right a { font-size: 20px; background: url(/srm/m/image/main/icon_home.png) no-repeat 28% 12px #148eff; width: 280px; height: 44px; color: #fff; display: inline-block; border-radius: 5px; text-align: center; box-sizing: border-box; line-height: 44px; margin: 0 10px 0 0; font-size: 20px; float: left;}
#A_Footer .ft_link .right a:last-child {background: url(/srm/m/image/main/icon_recovery.png) no-repeat 28% 10px #35373f; margin-right: 0;}

#A_Footer .ft_link .right2 a {background: url(/srm/m/image/main/icon_home.png) no-repeat 20px 50% #148eff; width: 160px; height: 44px; color: #fff; display: inline-block; border-radius: 5px; text-align: center; box-sizing: border-box; padding: 0 15px 0 40px; margin: 0 10px 0 0; line-height: 44px; font-size: 20px;}
#A_Footer .ft_link .right2 a:nth-child(2) {background: url(/srm/m/image/main/icon_care.png) no-repeat 20px 50% #35373f;width: 220px; }
#A_Footer .ft_link .right2 a:last-child {background: url(/srm/m/image/main/icon_remote.png) no-repeat 21px 50% #35373f; margin-right: 0; }


#A_Footer .ft_box { color: rgba(255, 255, 255, 0.2); padding: 30px 0;}
#A_Footer .ft_box p {padding-top: 5px; font-size: 18px;}
#A_Footer .ft_box p:first-child {padding-top: 0;}
#A_Footer .ft_box p.copy {padding-top: 12px;}