
.main .sec1 {padding: 40px 0 60px; overflow: hidden;}
.name_slide { overflow: visible; margin: 0 10px;}
.main .sec1 .name_card {}
.main .sec1 .name_card li {float: left; width: 380px;  padding: 20px 30px; background: #fff; box-sizing: border-box; border: 1px solid #ddd; margin: 0 5px}
.main .sec1 .name_card li .tit {border-bottom: 1px solid #ddd; margin: 0 0 20px;}
.main .sec1 .name_card li .tit:after {content: ''; display: block; clear: both;}
.main .sec1 .name_card li .tit h3{float: left; font-size: 22px; color: #333; font-weight: 500; border-bottom: 1px solid #1f77d1; padding-bottom: 10px; width: 115px; }
.main .sec1 .name_card li .tit img{ float: right;margin-top: 13px;}
.main .sec1 .name_card li span {width: 115px; color: #999;float: left; font-size: 18px;}
.main .sec1 .name_card li p {width: calc(100% - 115px);  color: #666; display: inline-block; font-size: 20px; }

.main .sec2 {padding: 0 0 60px;}
.main .sec2 h2 {font-family: 'Montserrat', sans-serif;font-size: 36px;color: #333;text-align: center;font-weight: 700;}
.main .sec2 ul {padding: 35px 0 0; overflow: hidden;}
.main .sec2 ul li {float: left;  margin: 0 20px 60px 0; width:280px; text-align: center;}
.main .sec2 ul li:nth-child(2n+2){margin-right: 0;}
.main .sec2 ul li .img_box {width: 280px; height: 266px; overflow: hidden; position: relative;}
.main .sec2 ul li .img_box:before {visibility: hidden; opacity: 0; position: absolute; top: 0; left: 0; right: 0; bottom: 0; width: 100%; height: 100%; background: rgba(31, 119, 209, 0.5); transition: all 0.5s ease-in-out; content: ''; display: block;}
.main .sec2 ul li .img_box img {width: 100%; height: 100%;}
.main .sec2 ul li .text_box {margin-top: 10px;box-sizing: border-box;padding: 0 50px;}
.main .sec2 ul li .text_box p {color: #666;}
.main .sec2 ul li .text_box .price {color: #333; padding-top: 10px; display: inline-block; position: relative; margin-top: 10px; font-weight: 500;}
.main .sec2 ul li .text_box .price:after {width: 20px; height: 1px; background: #333; display: block; content: ''; position: absolute; top: 0; left: 50%; transform: translateX(-50%);}

/*hover*/
.main .sec2 ul li:hover .price:after {width: 50px;background:rgba(31, 119, 209, 0.5); transition: all 0.5s ease-in-out; }
.main .sec2 ul li:hover .img_box:before {opacity: 1; visibility: visible; }



.main .sec3 {clear: both;background: #35373f;padding: 30px 0 100px;}
.main .sec3 .board{color: #fff;}
.main .sec3 .board:nth-child(2){margin: 40px 0;}
.main .sec3 .board .tit_box {padding: 10px 0;border-bottom: 1px solid #fff;overflow: hidden;margin-bottom:20px;}
.main .sec3 .board .tit_box > h3 {float: left;font-size: 24px;font-weight: bold;}
.main .sec3 .board .tit_box > button {float: right;border: none;background: transparent;font-size: 18px;margin-top: 7px;}
.main .sec3 .board .tit_box > button > span {color:#f91e43; }
.main .sec3 .board td {height: 60px;cursor: pointer;}
.main .sec3 .board td.tit p {white-space: nowrap;text-overflow: ellipsis;overflow: hidden;width: 385px;color: #fff;font-size: 22px;}
.main .sec3 .board:nth-child(2) td.tit p {width: 450px;}
.main .sec3 .board td.date , .main .sec3 .board td.case {font-size: 20px;color: rgba(255, 255, 255, 0.5);}
.main .sec3 .board td.date {width: 110px;}
.main .sec3 .board td.case span {border: 1px solid rgba(255, 255, 255, 0.5); padding: 2px 5px; box-sizing: border-box; float: right;}
.main .sec3 .board td.case span.color {color: #148eff; border: #148eff solid 1px; }

.main .sec3 .banner_area {clear: both;}
.main .sec3 .banner_area li{margin: 5px 0 0;}
.main .sec3 .banner_area li:last-child{margin-right: 0;}
.main .sec3 .banner_area li .img_box {position: relative; width: 580px; height: 160px;}
.main .sec3 .banner_area li .img_box img {width: 100%; height: 100%;}
.main .sec3 .banner_area li .text_box {position: absolute; top: 30px; left: 35px; color: #fff;}
.main .sec3 .banner_area li:nth-child(2) .text_box {color: #333;}
.main .sec3 .banner_area li .text_box h4 {font-family: 'Montserrat', sans-serif;font-size: 30px;margin-bottom: 5px;font-weight: 700;}

/*버튼공통*/
.btn_box {text-align: center; padding: 60px 0;  clear: both;}
.btn_box button{ width:230px; height: 60px; text-align: center; font-size: 20px; cursor: pointer; margin-right: 10px; box-sizing: border-box;}
.btn_box button:last-child {margin-right: 0;}
button.btn_blue {background: #1c84f8; color: #fff; }
button.btn_wh {background: #fff; color:#333; }
button.btn_bk {background: #333; color: #fff;}

/*첨부파일*/


.file_box {position: relative; float: left; }
.file_box:after {display: block; clear: both; *zoom: 1; content: '';}
.file_box label {float: left;display: block;width: 100%;height: 50px;line-height: 50px;font-weight: 500;color: #666;text-align: center;cursor: pointer;font-size: 18px;background: url(/srm/m/image/common/ic_plus.png)no-repeat 38% 50% #eee; border : 1px solid #ddd;}
.file_box input[type="file"] {display: none; position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip: rect(0,0,0,0); border: 0;}
.file_box .upload_name {display: block; float: left; overflow: hidden; width: 380px; height: 40px;  text-overflow: ellipsis; white-space: nowrap; word-break: break-all; margin: 0 0 0 10px; background: #fff; color: #999; border: none;}
.file_box span {font-size: 18px; color: #999; }





/* list paging */
.list_paging {margin: 40px 0 0 0;  text-align: center;}
.list_paging > a {display: inline-block;width: 60px;height: 60px;background-repeat: no-repeat;background-position: center center;vertical-align: top;text-indent: -9999px;}
.list_paging > a.paging_prev {background-image: url(/srm/m/image/sub/arrow_prev.png);}
.list_paging > a.paging_next {background-image: url(/srm/m/image/sub/arrow_next.png);}
.list_paging ul {display: inline-block;margin: 0 0px;vertical-align: top;}
.list_paging ul:after {display: block; clear: both; *zoom: 1; content: '';}
.list_paging ul li {float: left;margin: 0 10px;}
.list_paging ul li a {display: block;width: 60px;height: 60px;line-height: 60px;color: #666;text-align: center;font-size: 24px;}
.list_paging ul li.active a {background-color: #1c84f8;  color: #fff;}



/*테이블공통*/
.table {width: 100%;  background: #fff; margin: 15px 0; border-top: 2px solid #333;}
.table thead th {font-weight: 400; color: #333;}
.table tr {height:80px; border-bottom: 1px solid #ddd;}
.table tbody td {color: #999;}
.table tbody td input, .table tbody td select, .table tbody td textarea {border: 1px solid #ddd; box-sizing: border-box; padding: 0 10px; vertical-align: top; }



/*체크박스*/
.chk_box {float: left;}
.chk_box input[type="checkbox"] {display: none;}
.chk_box input[type="checkbox"] + label {display: block;cursor: pointer;}
.chk_box input[type="checkbox"] + label:after {display: block; clear: both; *zoom: 1; content: '';}
.chk_box input[type="checkbox"] + label span {display: block;float: left;width: 24px;height: 24px;background: url(/srm/m/image/sub/checkbox_off.png) no-repeat 0 40%; padding: 17px 20px;}
.chk_box input[type="checkbox"]:checked + label span {background: url(/srm/m/image/sub/checkbox_on.png) no-repeat 0 40%;}




/*서브페이지 타이틀 공통*/
#sub_contents {padding: 150px 0 100px; min-height: calc(100vh - 552px);}
.sub_tit {position: fixed;text-align: center; height: 90px;border-bottom: 2px solid #ddd;background: #f6f6f6;top: 91px;width: 640px;box-sizing: border-box;z-index: 15; margin: 0 auto; left: 0; right: 0;}
.sub_tit .btn_back {text-indent: -9999px;position: absolute;left: 30px;top: 50%;transform: translateY(-50%);background: url(/srm/m/image/common/ic_back.png)no-repeat 0 0;width: 31px;height: 21px;}
.sub_tit h2{font-size: 28px;color: #333;line-height: 90px; font-weight: 500;}
.search_box {background: #eee;width: 100%; box-sizing: border-box;padding: 20px 0;margin: 0 0 40px;}
.search_box > div {position: relative;width: 100%;margin: 0 auto;padding: 0px 20px;overflow: hidden;box-sizing: border-box;}
.search_box select {width: 130px;border-radius: 70px;background: url(/srm/m/image/sub/arrow_down.png) no-repeat 90% 50% #fff;height: 54px;margin-right: 10px;box-sizing: border-box;border: none;font-size: 20px;padding: 0 20px;color: #333;}
.search_box select option {padding: 5px;}
.search_box input {width: calc(100% - 150px); height: 54px;padding: 0px 60px 0px 20px;border-radius: 70px;background: #fff;box-sizing: border-box;border: none;position: relative; color: #666}
.search_box .btn_search {background:url(/srm/m/image/sub/icon_search.png)no-repeat;width: 20px;height: 20px;content: '';display: block;position: absolute;top: 80px;right: 40px;text-indent: -9999px;border: none;cursor: pointer;} 



/*공지사항*/
 p.cont {font-size: 20px; }
 p.cont span {font-size: 22px; margin-right: 3px; color: #1c84f8;}
.info_board { color: #666; margin: 15px 0;} 
.info_board thead {border-bottom: 1px solid #333;}
.info_board tbody td{text-align: center; cursor: pointer;}

.info_board tbody tr:first-child td {color: #333; font-weight: 500;}
.info_board tbody tr:first-child td.num {color: #999; font-weight: 300;}
.info_board tbody td.tit {text-align: left;}
.info_board tbody td.tit p.over { width: 300px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.info_board tbody td.num {color: #999; font-weight: 300;}

 .table_type01 .table tr td.ask_tit p.over { width: 400px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.info .btn_box {padding: 60px 0 0 }


/*공지사항 상세*/
.info_view {}
.info_view .tit_box {width: 100%;background: transparent;border-top: 2px solid #333;border-bottom: 1px solid #ddd;box-sizing: border-box;padding: 20px 10px; background: #fff;}
.info_view .tit_box:after {content: ''; clear: both; display: block; }
.info_view .tit_box p {font-size: 28px;color: #333;  width: 76%; line-height: 1.8; padding-bottom: 10px;}

.info_view .tit_box span {float: left;color: #999;position: relative;}
.info_view .tit_box span.bar {float: right;}
.info_view .content_box {width: 100%; min-height: 410px; position: relative; }
.info_view .content_box  img {max-width: 100%;}
.info_view .content_box .contents {padding: 30px 0 140px; box-sizing: border-box;}
.info_view .content_box .contents p {font-size: 24px; font-weight: 300; color: #333; margin-bottom: 20px;}
.info_view .content_box .file_box {width: 100%;background: #eee;padding: 15px 30px;box-sizing: border-box;position:absolute;bottom: 0;left: 0;margin: 0 0 20px;border-bottom: 1px solid #ddd;}
.info_view .content_box .file_box p{ float: left; position: relative; padding-right: 40px; font-size: 22px;}
.info_view .content_box .file_box p:after {width: 1px;background: #999;height: 20px;content: '';display: block;position: absolute;top: 9px;right: 18px;}
.info_view .content_box .file_box span {color: #999; margin-right: 30px;}
.info_view .content_box .file_box span:last-child {margin-right: 0;}

.info_view .page_box  {width: 100%;overflow: hidden;margin: 40px 0 0;}
.info_view .page_box ul {background: #fff;height: 60px;line-height: 60px;width: 100%;border-top: 1px solid #ddd;border-bottom: 1px solid #ddd;}
.info_view .page_box ul:first-child {border-bottom: none;}
.info_view .page_box ul li{float: left;padding: 0 50px;position: relative;color: #333;}
.info_view .page_box ul li:first-child:after {display: block; width: 1px; height: 20px; background: #ddd;content: ''; position: absolute; top: 22px; left: 145px;}
.info_view .page_box ul li a {color: #999; font-size:  18px;}




/*product category */
.pd0 #sub_contents {padding-top: 90px;}
.pdz #sub_contents {padding-top: 0px;}
.index #sub_contents {padding: 0;}
.product .sub_tit , .search .sub_tit {top: 0;}
.product_view .sub_tit {top: 90px;}
.product .pop_filter {}
.product .pop_filter .pop_wrap {height: calc(100vh - 90px); background: #f6f6f6;}
.product .pop_filter .sub_tit  .btn_close {color: #fff; text-indent: -9999px; background: url(/srm/m/image/common/ic_close.png) no-repeat center; width: 20px; height: 20px; position: absolute; top: 30px; right: 30px; border: none; cursor: pointer; z-index: 100;}





/* 필터 popup */
/*
#filter_wrap {width: 100%;position: relative;top: 90px;}

#filter_wrap .nav:after {clear: both; display: block; content: '';}
#filter_wrap .nav > li > a {display:block;height: 80px;padding-left:10px;color:#333;font-size:18px;line-height: 80px;padding-left:25px;font-weight: 500;background: url(/srm/m/image/sub/ic_filter_plus.png) no-repeat 95% 60%;border-bottom: 1px solid #ddd;} 
#filter_wrap .nav > li.open > a {background: url(/srm/m/image/sub/ic_filter_minus.png) no-repeat 95% 60%;}
#filter_wrap .nav > li > a span {font-size: 24px;}
#filter_wrap .lnb {color:#fff;}
#filter_wrap .nav ul	{padding:10px 25px;}
#filter_wrap .nav ul:after {clear: both; display: block; content: '';}
#filter_wrap .nav ul ul	{ padding-top:5px}
#filter_wrap .nav ul ul:after {clear: both; display: block; content: '';}
#filter_wrap .nav li li {line-height: 38px;padding: 1px 0;width: 50%;float: left;}
#filter_wrap .nav li li a{color: #666;display: inline-block;line-height: 24px;font-weight: 300;padding: 10px 0;}
#filter_wrap .nav li.open ul li.active > a {color:#055882; font-weight:600;}
#filter_wrap .chk_box input[type="checkbox"] + label span {padding: 0; margin: 0 10px 0 0}

*/


#filter_wrap {width: 100%; position: relative; overflow-y: scroll; height: calc(100% - 90px); top: 90px;}

#filter_wrap .nav:after {clear: both; display: block; content: '';}
#filter_wrap .nav > li > a {display:block;height: 80px;padding-left:10px;color:#333;font-size:18px;line-height: 80px;padding-left:25px;font-weight: 500;background: url(/m/images/sub/ic_filter_plus.png) no-repeat 95% 60%;border-bottom: 1px solid #ddd;} 
#filter_wrap .nav > li.open > a {background: url(/m/images/sub/ic_filter_minus.png) no-repeat 95% 60%;}
#filter_wrap .nav > li > a span {font-size: 24px;}
#filter_wrap .lnb {color:#fff;}
#filter_wrap .nav ul	{padding:10px 25px;}
#filter_wrap .nav ul:after {clear: both; display: block; content: '';}
#filter_wrap .nav ul ul	{ padding-top:5px}
#filter_wrap .nav ul ul:after {clear: both; display: block; content: '';}
#filter_wrap .nav ul .chk_box {float: none;}
#filter_wrap .nav li li {line-height: 38px;padding: 1px 0;}
#filter_wrap .nav li li a{color: #666;display: block;line-height: 24px;font-weight: 300;padding: 10px 0;}
#filter_wrap .nav li li .ft_chk {width: 295px; float: left; margin:10px 0}
#filter_wrap .nav li.open ul li.active > a {color:#055882; font-weight:600;}
#filter_wrap .chk_box input[type="checkbox"] + label span {padding: 0; margin: 0 10px 0 0}



/*제품 목록 슬라이드*/

.product_catecory {height: 80px; border-bottom: 1px solid #ddd; top: 90px; position: fixed; left: 0; right: 0; background: #f6f6f6; z-index: 10;}
.product_catecory_inner {padding: 0 30px; width: 640px; }
.product_catecory_inner:after {clear: both; display: block; content: '';}
.product_catecory_inner li {font-size: 24px; line-height: 80px; float: left; text-align: center; padding: 0 30px ;font-weight: 300;}

.product_search {border-bottom: 1px solid #ddd; height: 80px; line-height: 80px; margin: 0 0 40px;}
.product_search:after {clear: both; display: block; content: '';}
.product_search span {color: #333; font-size: 22px; float: left;}
.product_search .right {float: right; }
.product_search .right > select {width: 130px; padding: 0 20px 0 0; border: none;background: url(/srm/m/image/sub/arrow_down.png) no-repeat 98% 50% transparent;font-weight: 300;}
.product_search .right > .btn_filter {color: #333;font-weight: 300;font-size: 20px;background: url(/srm/m/image/common/ic_fillter.png)no-repeat 0 62%;padding: 0 0px 0 22px;}
.product_catecory_inner .slick-list {overflow: visible;}



.pro_list li {margin-bottom: 20px; padding: 20px 25px 20px 20px; background: #fff;  width: 100%; min-height: 360px; box-sizing: border-box;}
.pro_list li:last-child {margin-bottom: 0;}
.pro_list li .a_box {padding: 30px 0 20px;clear: both;}
.pro_list li .a_box:after {display: block; clear: both; content: '';}
/*체크박스*/
.pro_list li .a_box a {width: calc((100% - 10px)/2); height: 50px; line-height: 50px; box-sizing: border-box; padding: 0 0 0 20px; display: inline-block; text-align: center;border-radius: 5px; font-size: 20px; float: left;}

/*.pro_list li .a_box a:nth-of-type(1){background: url(/srm/m/image/sub/icon_option.png) no-repeat 31% 50%; border: 1px solid #1c2032; }*/
.pro_list li .a_box a:nth-of-type(1){background: url(/srm/m/image/sub/icon_estimate.png)no-repeat 31% 50% #000; color: #fff; }
.pro_list li .a_box a:nth-of-type(2){background: url(/srm/m/image/sub/ic_cart2.png)no-repeat 30% 50%#1c84f8; color: #fff;  margin-left: 10px}

.pro_list li .p_contents {}
.pro_list li .p_contents:after {content: ''; clear: both; display: block;}

.pro_list li .img_box {float: left; width: 210px; height: 210px; overflow: hidden; border: 1px solid #ddd; position: relative; }
.pro_list li .img_box img {width: 100%; height: 100%;}


.pro_list li .img_box .chk_box {position: absolute; top: 10px; left: 10px;}

.pro_list li .img_box  .chk_box input[type="checkbox"] + label span {padding: 0;}

.pro_list li .cont_box {float: right; width: calc(100% - 250px);}
.pro_list li .cont_box .pro_tit{font-size: 28px; color: #333; font-weight: normal; width: 100%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; line-height: 1.6;}
.pro_list li .cont_box span {color: #666; }
.pro_list li .cont_box p {color: #999; font-weight: 300; line-height: 28px; padding: 5px 0 0; overflow: hidden; text-overflow: ellipsis;display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; word-wrap:break-word; }
.pro_list li .cont_box p img {display: none;}
.pro_list li .cont_box .price {font-size: 26px; color: #333; font-weight: 500; display: block; margin-top: 10px;}

.btn_more {width: 100%; height: 70px; line-height: 70px; text-align: center; background: #1c2032; margin-top: 60px; color: #fff;}





/*기타문의 작성*/

.table_type02 tr td {padding: 15px 10px 15px 0px; vertical-align: top; }
.table_type02 tr td p {}
.table_type02 tr input{ height: 50px; width: 100%; color: #666;}
.table_type02 tr select {height: 50px; vertical-align: top; background: url(/srm/m/image/sub/arrow_down.png) no-repeat 92% 50% #fff; width:100%;}
.ask .table_type02 tr textarea {width: 100%; min-height: 200px;}
.table_type02 th {text-align: left; padding: 0 0 0 15px; font-weight: 400; color: #333; vertical-align: top; line-height: 80px;}
.table_type02 th span {color: #f03162;}
.ask_btn_box {padding: 60px 0 0;}
.table_type02 tr.phone input {width: calc(100% - 150px);}
.table_type02 tr.phone select {width: 135px; float: left; margin-right: 10px; }


/*팝업*/
.pop_wrap {width: 100%;  margin: 0 auto; position: absolute; left: 0; top: 50%; right: 0; overflow: hidden; transform: translateY(-50%);  background: #fff;  box-sizing: border-box; max-width: 640px;}
.popup {  position: fixed; top: 0; right: 0; left: 0; bottom: 0; width: 100% ;height: 100%; background: rgba(0,0,0,0.8); z-index: 100000; display: none;}
.pop_wrap .tit {width: 100%;padding: 20px 30px;background-color: #fff;box-sizing: border-box;text-overflow: ellipsis;width: 90%;overflow: hidden;white-space: nowrap;/* position: relative; */}
.pop_wrap .tit h3 {font-size: 26px;display: inline-block;line-height: 50px;font-weight: 500;color: #333;}
.pop_wrap .tit .btn_close {color: #fff; text-indent: -9999px; background: url(/srm/m/image/common/ic_close.png) no-repeat center; width: 20px; height: 20px; position: absolute; top: 30px; right: 30px; border: none; cursor: pointer;}




/*IT 자료실*/
.video {padding-bottom: 215px;}
.video .search_box > div {width: 100%}
.video .search_box select {width: calc((100% - 30px)/2);}
.video .search_box { }
.video .search_box .btn_search {top: 90px;}
/*.video .search_box .w140 {width: 140px; background-position: 105px 27px;}*/
.video .search_box input {width: 100%; margin-top: 20px;}
.video .video_area {overflow: hidden;}
.video .video_area ul{overflow: hidden;}
.video .video_area ul li{ float: left; width: 280px;  margin-right:20px; padding: 20px 0; color: #333;overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.video .video_area ul li a {font-size: 22px;}
.video .video_area ul li:nth-child(2n) {margin-right: 0;}
.video .video_area ul li .thumb_img {width: 280px; height: 200px; overflow: hidden; margin: 0 0 10px; position: relative;}
.video .video_area ul li .thumb_img:after {width: 22px; height: 28px; background: url(/srm/m/image/sub/icon_play.png)no-repeat; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); content: ''; transition: all 0.3s; opacity: 0; cursor: pointer;}
.video .video_area ul li:hover .thumb_img:after{opacity: 1;}
.video .video_area ul li .thumb_img img {max-width: 100%;}
.video .down_borad td{ cursor: auto;}

.video .info_board tbody tr:first-child td {color: #999; font-weight: 400;}
.video .info_board tbody tr:first-child td.num {font-weight: 300;}
.info #it_01 .info_board tbody td a{ padding: 0 0 0 30px; background: url(/srm/m/image/sub/icon_download.png)no-repeat 0 0; font-weight: 400; color: #666; }
.pop_wrap .v_box {width: 580px;  overflow: hidden; margin: 0 auto; box-sizing: border-box; padding: 0 0 20px;}
.pop_wrap .v_box iframe {max-width: 100%; vertical-align: top; height: 450px;}



/*시리얼 관리*/

.search_box2 {width: 100%; background: #eee; padding: 40px 30px 30px; box-sizing: border-box;}
.search_box2:after {display: block; clear: both; content: '';}
.search_box2 .tab_btn {margin-bottom: 10px; overflow: hidden}
.search_box2 .tab_btn button {box-sizing: border-box; border: 1px solid #ddd; background: #f6f6f6; color: #999; width: 25%; float: left; height: 60px;}
.search_box2 .tab_btn button.on {background: #1c2032;color: #fff;}
.search_box2 .date_box {float: left;position: relative;}
.search_box2 .date_box:nth-child(2) {float: right;margin: 0 0 0 auto;}
.search_box2 .date_box:nth-child(2):before {display: inline-block;width: 20px;height: 1px;content: '';margin: 0 10px 5px 0;background: #999;}
.search_box2 input {width: 270px; height: 60px; background: #f6f6f6; }
.search_box2 input.date {margin: 0 0 0 auto;}
.ui-datepicker-trigger {position: absolute;top: 50%;right: 20px;transform: translateY(-50%);}
.search_box2 input.date .ui-datepicker-trigger {float: right;}


.serial .search_box { clear: both; background: none; padding: 40px 0; margin: 0; position: relative;}
.serial .search_box input {width: 100%; height: 60px;}

.serial .search_box .btn_search {top: 50%;transform: translateY(-50%); right: 20px;}


#ui-datepicker-div {width: 260px;}





/* left_menu */
#slide_tab { width: 100%; clear: both;}
#slide_tab .lnb {margin-bottom: 30px; color: #666;}
#slide_tab .lnb:last-child  {margin-bottom: 0;}
#slide_tab .nav {border: 1px solid #ddd;}
#slide_tab .nav > li > a {display:block;  color:#333;font-size:20px;line-height:60px; background:url(/srm/m/image/common/arrow_down.png) no-repeat 97% 75% #fff;border-bottom: 1px solid #ddd;} 
#slide_tab .nav > li > a > .pro_name {border-top: 1px solid #ddd; padding-left: 20px; font-size: 24px;}
#slide_tab .nav > li.open > a {background: url(/srm/m/image/common/arrow_up.png) no-repeat 97% 75% #fff;}
#slide_tab .nav > li > a span.code {color: #999}
#slide_tab .nav > li > a span:before {width: 1px; height: 10px; background: #ddd; display: inline-block; content: ''; margin: 0 20px; }
#slide_tab .nav > li > a span:first-child:before {display: none;}
#slide_tab .nav ul	{padding:10px 20px 40px;background:#fff;}
#slide_tab .nav ul:after {clear: both; display: block; content: '';}
#slide_tab .nav ul ul	{ padding-top:5px}
#slide_tab .nav ul ul:after {clear: both; display: block; content: '';}
#slide_tab .nav li li {padding: 1px 0; background: #fff; }
#slide_tab .nav li li a	{color:#999;font-size:16px;display: inline-block; }
#slide_tab .nav li.open ul li.active > a {color:#055882; font-weight:600;}

#slide_tab .chk_box input[type="checkbox"] + label span  {padding: 0; margin: 18px 20px 0px;}




#slide_tab  .nav .ss_menu dl {margin-bottom: 20px; clear: both;overflow: hidden;}
#slide_tab  .nav .ss_menu dl:last-child {margin-bottom: 0;} 
#slide_tab  .nav .ss_menu dt {font-size: 24px; color: #333; float: left; line-height: 50px;}
#slide_tab  .nav .ss_menu dd {color: #999; float: right; font-size: 22px;}
#slide_tab  .nav .ss_menu dd input {width: 200px;height: 60px;line-height: 60px;border: 1px solid #ddd;display: inline-block;text-align: center;font-size: 22px;}
#slide_tab  .nav .ss_menu dd input::placeholder {font-size: 24px;}
#slide_tab  .nav .ss_menu dl.tit dt{ float: none;}
#slide_tab  .nav .ss_menu dl.tit dd {width: 100%; float: none; border: none;}


#slide_tab  .nav .ss_menu li .btn_blue {width: 100px; height: 60px; float: right; margin-top:20px; font-size: 22px;}



/*주문상세*/
.order_section {padding-bottom: 60px;}
.order_section:last-child {padding-bottom: 0;}
.section_tit{font-size: 24px; font-weight: 500; clear: both; margin-bottom: 10px;}
.order_section .cart_div {border-bottom: 1px solid #ddd; padding: 20px 10px; background: #fff;}
.order_section .cart_div:first-child {border-top: 2px solid #333;}
.order_section .cart_div:after {content: ''; display: block; clear: both;}
.order_section .cart_div .img_box{ width: 160px;height: 160px; overflow: hidden; border: 1px solid #ddd; float: left; }
.order_section .cart_div .img_box img{ width: 100%; height: 100%;}
.order_section .cart_div .txt_box {margin: 0 0 0 auto; width: calc(100% - 195px); padding: 20px 0;}
.order_section .cart_div .txt_box .pro_name {font-size: 24px; text-overflow: ellipsis; overflow: hidden; width: 90%; white-space: nowrap; }
.order_section .cart_div .txt_box .pro_code {color: #999; display: block; padding-bottom: 30px;}
.order_section .cart_div .txt_box strong{font-size: 22px;  font-weight: 500;}
.order_section .cart_div .txt_box span {font-size: 22px; color: #999;}
.order_section .cart_div .txt_box span:before {display: inline-block; margin: 0 20px; content: ''; background: #ddd; height: 16px; width: 1px;}

.m_table {width: 100%;  background: #fff; border-top: 2px solid #333;}
.m_table tbody tr {font-size: 22px; line-height: 30px; }
.m_table tbody tr:first-child th, .m_table tbody tr:first-child td {padding: 20px 10px 10px;}
.m_table tbody th{ color: #999;text-align: left; width: 200px; padding: 0 0 10px 10px;}
.m_table tbody td{text-align: right; padding: 0 10px 10px 10px;}

.m_table tbody tr.full td {text-align: left;}
.m_table tbody tr.full th  {padding: 20px 10px 5px;}

.order_section .cart_div .bg_none  {background: none;}
.order_section .bg_wh {background: #fff;}
.order_section .cart_div .m_table {border-top: none; background: none;}
.order_section .total { padding: 20px; background: #fff;}
.order_section .total strong {font-size: 26px; font-weight: 500;}
.order_section .total strong.price  {float: right; font-size: 28px;  }
.order_section .total strong.price span  {font-size: 22px; }

.btn_order_box {margin-bottom: 20px; overflow: hidden; }
.btn_order_box button{width: calc(100%/3); height: 60px; float: left;}
.btn_order_box button:nth-child(2) {border-right: none; border-left: none;}
.btn_navy {color: #fff; background: #1c2032; width: 100%; height: 60px;}
.btn_f6 {background: #f6f6f6; border: 1px solid #ddd; color: #333;}

.btn_order_box2 button {width: calc(100%/2); }

.total_t {float: left; line-height:80px;font-size: 22px; font-weight: 700;}
.btn_gray {background: #ebebeb; color: #333;}
.btn_small {float: right; margin-bottom: 20px;}
.btn_small button {width: 100px; height: 60px; margin-right: 10px; font-size: 22px;}
.btn_small button.btn_wd {width: 160px;}
.btn_small button:last-child {margin-right: 0;}


.user .btn_small {float: left;}





.order_list #slide_tab .nav > li > a {background: url(/srm/m/image/sub/arrow_right.png) no-repeat 97% 20px #fff;}
.order_list #slide_tab .nav > li > a > .box {padding:0 20px;}
.order_list #slide_tab .nav > li > a > .pro_name {position: relative;padding: 15px;}
.order_list #slide_tab .nav > li > a > .pro_name .custom {position: absolute;top: 50%;right: 20px;font-size: 24px;color: #666;transform: translateY(-50%); font-weight: 500;}
.order_list #slide_tab .nav > li > a > .pro_name .custom:before {display: none;}
.order_list #slide_tab .nav > li > a > .pro_name .l_box p {font-size: 22px ;}
.order_list #slide_tab .nav > li > a > .pro_name .l_box p:first-child {width: 70%; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}
.order_list #slide_tab .nav > li > a > .pro_name .l_box p.color9 {color: #999;}
.order_list #slide_tab .nav > li > a > .pro_name .l_box .price {font-size: 24px; font-weight: 500;}
.order_list #slide_tab .nav > li > a > .pro_name .l_box .price span {font-weight: 400;}
.order_list #slide_tab .nav > li > a > span.num {padding: 20px 0px 0 30px;}
.order_list #slide_tab .nav > li > a > .pro_name .custom2 {color: #1c84f8}





.pdtop {margin-top: 10px;}
.pdtop:after {display: block; clear: both; content: '';}
.prov_cont {}
.prov_cont ul {display: table; border-collapse: collapse; width: 100%}
.prov_cont ul li{}
.prov_cont ul li:nth-child(4){margin-top: 30px;}
.prov_cont ul li p {color: #666;}
.prov_cont ul li h3 {font-size: 30px; color: #333; margin-top: 20px;}
.prov_cont ul li.line {border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; padding: 20px 0; margin: 20px 0;}
.prov_cont ul li p.tit {font-size: 24px; color: #333; margin-bottom: 20px; display: block;}
.prov_cont ul li p.tit span{font-size: 20px; color: #999; margin-top: 10px; display: block;}
.prov_cont ul li p.tit span.inven {display: inline;}
.prov_cont ul li strong {float: right; font-size: 30px; color: #333;}
.prov_cont ul li strong input {width: 100px; height: 40px;  vertical-align: top; border: 1px solid #ddd; font-size: 22px; color: #999; padding: 0 10px; text-align: center; box-sizing: border-box; background: none; border-right: none; border-left: none;} 
.prov_cont ul li .vol_btns {font-size: 0;}
.prov_cont ul li.btn_list {clear: both; margin-top: 50px;}
.prov_cont ul li.btn_list button {width: calc((100% - 20px)/3); height: 60px; text-align: center; margin-right: 10px; font-size: 22px; float: left;}
.prov_cont ul li.btn_list button:last-child {margin-right: 0;}


.pv_tab_area {padding: 100px 0 0;}
.pv_tab_area .sub_con_tab{border-top: 1px solid #ddd;width: 100%;}
.pv_tab_area .sub_con_tab li {width: 25%;border-radius: 0;height: 80px;line-height: 80px;position: relative; font-size: 24px; text-align: center;float: left;}
.pv_tab_area .sub_con_tab li:first-child:after  {display: none;}
.pv_tab_area .sub_con_tab li:nth-child(2) {margin: 0;}
.pv_tab_area .sub_con_tab li.active {border-bottom: none;box-sizing: border-box;background: #eee;}


.pv_tab_area .sub_con_tab li.active a {color: #1c84f8; }
.pv_tab_area .tab_contents {clear: both;}
.pv_table {border-top: 1px solid #333;}
.pv_table tbody th{background: #eee; width: 200px; color: #333}
.pv_table tbody td {text-align: center; color: #999; padding: 0 10px;}

.pv_tab_area .dateil_area {position: relative; width: 100%; min-height: 500px;
background: #eee; padding: 20px;box-sizing: border-box;}
.pv_tab_area .dateil_area p {color: #999; }
.pv_tab_area .dateil_area img {width: 100%;}
.pv_tab_area .video_area {width: 100%; height: 100%;}
.pv_tab_area .video_area img {width: 100%;}
.pv_tab_area .tab_table {}
.pv_tab_area .tab_table tr {height: 75px; border-top: 1px solid #ddd; }
.pv_tab_area .tab_table tr:last-child {border-bottom: 1px solid #ddd;}
.pv_tab_area .tab_table tbody th {width: 500px; text-align: left}
.pv_tab_area .tab_table tbody th a {padding: 0 0 0 60px;  background: url(/srm/m/image/sub/icon_manual.png)no-repeat 20px 50%; text-align: left; color: #1c2032; display: block; font-weight: 400; }
.pv_tab_area .tab_table tbody th a p {color: #999;}
.pv_tab_area .tab_table tbody td {width: 130px; }
.pv_tab_area .tab_table tbody td  a{ padding: 0 0 0 50px; background: url(/srm/m/image/sub/icon_download.png)no-repeat 0 0; font-weight: 500; color: #666;}

.table tr.add th {line-height: 1.6; padding-top: 10px}



/*제품상세*/


.prov_slide { width: 100%; overflow: hidden; padding-bottom: 30px; }
.prov_slide .slider-for img {box-sizing: border-box; width: 100%; vertical-align: top; z-index: 5!important;}
.prov_slide .slider-for .slick-list  .slick-track img{height: 435px;}
.prov_slide .slider-nav { width: 100%; margin-top: 10px;}
.prov_slide .slider-nav:after {clear: both; content: ''; display: block;}
.prov_slide .slider-nav .img_box {position: relative; box-sizing: border-box; cursor: pointer; float: left; }
.prov_slide .slider-nav .img_box img {width: 100%; height: 100%; vertical-align: top;
}
.prov_slide .slider-nav .slick-slide {width: 108px; height: 108px; margin: 0 5px; border: 1px solid #ddd;  box-sizing: border-box;}
.prov_slide .slider-nav .slick-current {border : 1px solid #333;}





/*견적요청*/
.order_view .info_view .tit_box p.cate {margin: 0 ;font-size: 20px; }
.info_view .tit_box p.cate { font-size: 18px; color: #666; margin: 25px 0 10px;}




/*문의하기*/
.ask {padding-bottom: 100px;}
.ask .btn_box {padding: 0;}
.ask .ask_btn_box {padding: 60px 0 0 }
.ask .info_view .tit_box {position: relative; margin-top: 20px;}
.ask .info_view p.cate{ font-size: 16px; color: #666; margin: 25px 0 10px;}
.ask .info_view .tit_box ul li {  float: left; color: #999}

.ask .info_view .tit_box ul li:after {top: 3px;}
.ask .info_view .content_box .contents p {color: #333; font-weight: 400;}
.ask .info_view .tit_box span.right {float: right; padding-right: 0; margin: 0;}
.ing_box {width: 110px; height: 40px; background: #1c84f8; color: #fff; text-align: center; font-size: 20px;position: absolute; top: 26px; right: 10px; line-height: 40px; font-weight: 400;}

.ask .table_type02 tr td { vertical-align: middle; }
.ask .info_view .tit_box ul li:before {content: ''; display: inline-block; width: 1px; height: 15px; margin: 0 20px; background:#ddd}
.ask .info_view .tit_box ul li:first-child:before {display: none;}
.ask .info_view .tit_box .tit_bottom {clear: both;}
.ask .info_view .tit_box .tit_bottom:after {clear: both; content: ''; display: block;}



/*라디오 체크박스*/

.chk_box input[type="radio"] {display: none;}
.chk_box input[type="radio"] + label {display: block; cursor: pointer; margin: 0 10px 0 0;}
.chk_box input[type="radio"] + label:after {display: block; clear: both; *zoom: 1; content: '';}
.chk_box input[type="radio"] + label p {float: left; line-height: 26px; color: #666;}
.chk_box input[type="radio"] + label span {display: block; float: left; width: 26px; height: 26px; margin: 0 10px 0 0; background: url(/srm/m/image/sub/radio_off.png) no-repeat 0 0;}
.chk_box input[type="radio"]:checked + label span {background: url(/srm/m/image/sub/radio_on.png) no-repeat 0 0;}









/*장바구니*/
.cart .btn_box {padding: 0;}
.cart .btn_box button {width: 260px; }
 .cart_price_box2 {border:3px solid #1c84f8 ; position:relative; height:130px; margin: 60px 0; box-sizing: border-box; background: #fff;}
 .cart_price_box2 .price {position:absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);width: 100%;box-sizing: border-box;padding: 0 20px;}
 .cart_price_box2 .price p {color:#333;display:inline-block;text-align:center;padding: 0 3%;font-weight: 500;font-size: 26px;}
.cart_price_box2 .price p span {display:block;font-size: 20px;}



.table_type03 {width:100%;}
.table_type03 thead tr th { color:#666; padding: 0 10px;  }


.table_type03 thead tr th span {font-size:16px; color:#666; margin-left:5px;}
.table_type03 tbody tr td {padding:15px; text-align:center;}
.table_type03 tbody tr td .cart_div {float: left;}
.table_type03 tbody tr td .cart_div .img_box {width: 100px; height: 100px; overflow: hidden;float: left; border: 1px solid #ddd;}
.table_type03 tbody tr td .cart_div .img_box img {max-width: 100%;}
.table_type03 tbody tr td .cart_div .txt_box {float: left; margin:  22px 20px 0}
.table_type03 tbody tr td .cart_div .txt_box .pro_code {color: #666; margin-bottom: 10px;}
.table_type03 tbody tr td .cart_div .txt_box .pro_name {font-size: 18px; color: #333; font-weight: 500;margin-top: 5px;}
.table_type03 tbody tr td.price {color: #333;}


.table_type03 tr input[type="checkbox"]{}
.table_type03 tr input[type="checkbox"] label {font-size:14px; color:#666; margin-left:15px;}
.table_type03 tr input[type="checkbox"] + label span {
    display:inline-block;
    width:16px;
    height:16px;
    vertical-align:middle;
    background:url(/srm/m/image/sub/checkbox_off.png) center no-repeat;
    cursor:pointer;
	margin-right:10px;
    padding: 10px;
}
.table_type03 tr input[type="checkbox"]:checked + label span {background:url(/srm/m/image/sub/checkbox_on.png) center no-repeat ;}


.estimate_btn {text-align:left; padding:20px 0;}
.estimate_btn button.btn_bk {width: 120px; height: 40px; font-size: 18px; margin-top: 20px;}




.progress_box {float: right; margin-bottom: 40px;}
.progress_box ul{width: 220px; position: relative; z-index: 1;}
.progress_box ul:after {clear: both;content: ''; display: block;}
.progress_box ul:before {position: absolute; width: 100%; height: 3px; background:#ddd; content: ''; top: 20px; left: 0; display: block; z-index: -1;}
.progress_box ul li{width: 40px; height: 40px; border-radius: 100%; float: left; background: #f6f6f6; border:3px solid #ddd; color: #ddd; font-size: 24px; line-height: 33px; box-sizing: border-box; text-align: center;}
.progress_box ul li:nth-child(2) {margin: 0 50px;}
.progress_box ul li.on {background:#1c84f8; color: #fff; border:3px solid #1c84f8;;}



.cart .order_section .cart_div .txt_box strong {display: block; }

.vol_btns {margin: 20px 0;float: left;}
.vol_btns input {width: 60px;height: 40px;text-align: center;background: #fff; color: #666; vertical-align: top}
.vol_btns a {width: 40px; height: 40px; vertical-align: top;}
.e_btns { float: right;padding: 21px 0 0;}


.e_btns .modify_btn {width: 90px;height: 40px;font-size:20px;color:#fff;text-align:center;background:#333;border:1px solid #34405b;margin-right: 10px;float: left;}
.e_btns .del_btn {width: 90px;height: 40px;font-size:20px;color:#666;text-align:center;background:#fff;float: left;border:1px solid #34405b;box-sizing: border-box;}

.cart  .order_section .img_box {position: relative;}
.cart  .order_section .img_box .chk_box {position: absolute; top: 10px; left: 10px;}
.cart  .order_section .img_box  .chk_box input[type="checkbox"] + label span {padding: 0;}

.cart .order_section .cart_div .txt_box {padding: 0;}
.cart .order_section {padding-bottom: 0;}





/* 주문하기*/
.order .table tr {border: none;}
.order .table_type02 thead tr th{font-size: 24px; font-weight: bold; color: #333; border-bottom: 1px solid #ddd;}
.order .table_type03 tbody tr td .cart_div .img_box {border: none;}

.order .table tr {padding: 0 10px;}
.order .table_type02 tr td {padding: 15px 20px 15px 0; line-height: 50px; vertical-align: top;}

.order #order_left {float: left;}
.order .table_type02 input.wd250 {width: 250px;}
.order .table_type02 tr td p {margin-top: 0;}
.order .radio_box {float: none; }

.order .radio {margin-bottom: 10px;}
.order .radio:last-child {margin-bottom: 0px;}
.order .btn_delivery {position: absolute; right: 0; width: 120px; height: 40px; text-align: center; top: 0; font-size: 20px;}


.order .fl_left { position: relative; }

.order .fl_left h4{float: left; margin-right: 20px;}
.order .fl_left input[type="checkbox"] + label span {display: block; float: left; width: 20px; height: 20px;  background: url(/srm/m/image/sub/order_check_off.png) no-repeat 0 40%; padding: 10px 5px;}
.order .fl_left .chk_box  {float: none;}
.order .fl_left .chk_box input[type="checkbox"]:checked + label span {background: url(/srm/m/image/sub/order_check_on.png) no-repeat 0 40%;}
.order .fl_left .chk_box p {padding: 8px 0 ; font-size: 20px; color: #666; line-height: 16px;}
.order .table_type02 input.wd360 {width: 200px;}
.order .table_type02 tr.add input {margin-bottom: 10px;}
.order .table_type02 tr.add input:last-child {margin-bottom: 0;}
.order .table_type02 tr.add .zip_code {height: 50px; width: 150px; float: right; font-size: 20px; }

.order .table_type02 .pay_bank select {width: 100%;}
.order .table_type02 .document button {width: 100%;height: 50px;font-size: 20px;display: block;}
.order .table_type02 .document td {line-height: 30px;}
.order .table_type02 .chk .chk_box p{color: #666; padding: 8px 0; font-size: 20px; line-height: 24px;}
.order .table_type02 .inner_table {}
.order .table_type02 .inner_table th {width: 140px;padding: 0;color: #666;font-size: 18px; line-height: 50px}
.order .table_type02 .inner_table tr {height: 40px}
.order .table_type02 .inner_table td {padding: 10px 0;}
.order .table_type02 .inner_table td input{ width: 100%; height: 40px;}
.order .table_type02 .inner_table .mail td select {width: 190px; height: 40px; margin-top: 10px;}

.save_tax input[type="checkbox"] + label span {padding: 10px;}
.save_tax input[type="checkbox"]:checked + label span {padding: 10px}





/*주문하기 팝업 */
.order .popup .pop_wrap {width: 640px; padding: 0 0;}
.order .popup .pop_wrap .tit {background: #1c84f8; color: #333; padding: 0 20px 0; width: 100%;}
.order .popup .pop_wrap .tit h3 {color: #fff; font-size: 24px; line-height: 60px;}
.order .popup .pop_wrap .tit .btn_close{background: url(/srm/m/image/sub/icon_close_wh.png)no-repeat center; top: 20px;}
.order .pop_wrap .pop_contents {padding: 0 20px 40px;}
.order .pop_wrap .pop_contents .radio_table {width: 100%;}
.order .pop_wrap .pop_contents .radio_table tr {border-bottom: 1px solid #ddd; height: 60px;}
.order .pop_wrap .pop_contents .radio_table thead th{font-size: 20px; color: #333;  text-align: center; font-weight: 500;}
.order .pop_wrap .pop_contents .radio_table tbody tr:last-child {border-bottom: 1px solid #333;}
.order .pop_wrap .pop_contents .radio_table tbody tr td{text-align: center; color: #666; font-size: 16px;}
.order .pop_wrap .pop_contents .radio_table tbody tr td.add_name {text-align: left;}
.order .pop_wrap .pop_contents .radio_table .btn_modify {width: 50px; height: 40px; text-align: center; border: 1px solid #eee;}
.order .popup .pop_wrap .pop_contents .btn_box {padding: 0; margin-top: 40px;}
.order .popup .pop_wrap .pop_contents .btn_box .btn_wh {border: 1px solid #333;}
.order .pop_wrap .pop_contents .modify_table {width: 100%;}
.order .pop_contents .modify_table tr {border-bottom: 1px solid #ddd; padding: 5px 0;}
.order .pop_contents  .chk_box input[type="checkbox"] + label span {padding: 0; }
.order .pop_contents .modify_table tbody tr:last-child {border-bottom: 1px solid #333;}
.order .pop_contents .modify_table tbody tr th {font-size: 20px; color: #333;width: 220px;vertical-align: top; padding: 20px 0;}
.order .pop_contents .modify_table tbody tr.add td input.wd360 {width: 143px;float: left;}
.order .pop_contents .modify_table tbody tr.add input:nth-of-type(2) {margin: 10px 0;}
.order .pop_contents .modify_table tbody tr.add .zip_code {width: 210px; text-align: center; height: 40px; float: right;}
.order .pop_wrap .pop_contents .modify_table tbody tr input {width: 100%; height: 40px; border: 1px solid #ddd; box-sizing: border-box; padding: 0 10px;}
.order .pop_wrap .pop_contents .modify_table tbody tr td{text-align: center; color: #666; font-size: 14px; padding: 10px 0;}
.order .pop_wrap .pop_contents .modify_table tbody tr td .chk_box p{float: left;  line-height: 1;margin: 0 0 0 10px;}
.order .pop_wrap .pop_contents .modify_table tbody tr th span{color: #f03162}
.order .pop_wrap .pop_contents .modify_table tbody tr td.add_name {text-align: left;}
.order .pop_wrap .pop_contents .modify_table .btn_modify {width: 50px; height: 40px; text-align: center; border: 1px solid #eee;}
.order  .pop_wrap .pop_contents .btn_box {padding: 0; margin-top: 40px;}
.order  .pop_wrap .pop_contents .btn_box .btn_wh {border: 1px solid #333;}
.pop_modify2 .pop_wrap {height: 700px;}
.modify_table tr.phone select {width: 100px;}



/*주문완료*/
.order_finish .order_top {width: 100%; padding: 30px 20px 20px; clear: both;box-sizing: border-box; background: #fff; border-top:2px solid #333;}
.order_finish .order_top img {display: block; margin: 0 auto ; text-align: center;}
.order_finish .order_top  p {font-size: 20px; color: #333;text-align: center; margin-top: 30px;}
.order_finish .order_top  p strong {font-size: 26px; color: #1c84f8;}
.order_finish .order_top  p span {color: #1c84f8;}
.order_middle {margin-top: 60px;}
.order_finish .order_middle .table tr {height: 70px;}
.order_finish .order_middle .table_type02 tr td {padding: 17px 0 0; line-height: 24px;}
.order_finish .order_btn {padding-top: 50px; margin: 0 auto; text-align: center;}
.order_finish .order_btn button {width: 260px; height: 60px; text-align: center; font-size: 18px; margin-right: 10px;}
.order_finish .order_btn button:last-child {margin-right: 0;}








/*검색*/
.search {background: #f6f6f6}
.product_search p { font-size:22px ;color: #666; line-height: 70px;}
.search .sub_tit {position: relative; }
.search .sub_tit > div {padding: 23px 0 0 70px; margin: 0 auto 0 0;}
.search .sub_tit > div input {background: none; border: none; font-size: 26px; float: left;}
.search .sub_tit > div input::placeholder {color: #333}
/*.search .sub_tit  h2 {text-align: left;padding-left: 92px;font-size: 26px;font-weight: 400;}*/
.search .sub_tit .btn_search02 {position: absolute; right: 30px; top: 30px;background:url(/srm/m/image/common/ic_search.png) no-repeat 0 0;text-indent: -9999px; padding: 0;width: 30px;height: 31px; }

.product_search2  {margin: 0;}





/*회원정보관리*/
.user .pv_tab_area .sub_con_tab li  {width: 50%; box-sizing: border-box;} 
.user .pv_tab_area .sub_con_tab li:nth-child(4) {border: none; border-top: 1px solid #ddd;}
.user .pv_tab_area .sub_con_tab li:nth-child(3) {border: none; border-right: 1px solid #ddd;}
.user .pv_tab_area .sub_con_tab li:nth-child(2) {border-top: none; border-left: none; border-right: none; }
.user .pv_tab_area .sub_con_tab li:nth-child(1) {border: none; border-right: 1px solid #ddd; border-bottom: 1px solid #ddd;}
.user .pv_tab_area {padding: 0;}
.user .chk_box {float: none; padding: 0;}
.user .chk_box p {line-height: 45px;}
.user .file_box p { clear: both; font-size: 18px; }
.user tbody tr td input {width: 340px;}
.user .table_type02 tr.phone select {width: 100px;}
.user .table_type02 tr.phone input {width: calc(100% - 110px);}
.user .file_box .upload_name {width: 360px;}

.user .file_box label {width: 370px;}
.user tbody tr.add input:nth-of-type(1) {width: 151px; margin-right: 10px;}
.user tbody tr.add button.zip_code { width: 175px; height: 50px; font-size: 20px; vertical-align: top;}
.user tbody tr.add input:nth-of-type(2) {margin: 10px 0;}
.user .table_type02 tr td {line-height: 50px; }
.user .table_type02 tr:last-child td {padding-bottom: 10px;}
.user .table_type02 tr td input::placeholder {color: #999; }
.user .btn_box {padding: 60px 0 0;}
.user .tax_table tbody tr td{text-align: center;}
.user .tax_table tbody tr td span.repre {color: #1c84f8;}
.user .tax_table tbody tr td.btn_area button {width: 80px; margin-right: 10px; height: 40px; font-size: 16px;}
.user .tax_table tbody tr td.btn_area button:nth-child(2) {margin-right: 0;}
.user .tax_table tbody tr td.btn_area .btn_del {border: 1px solid #999; color: #999;}
.user .cont {display: inline-block;}
.user .cont span {color: #1c84f8; font-weight:bold}

.user .chk_box input[type="checkbox"] + label span {padding: 17px 5px;}
.user .chk_box input[type="checkbox"]:checked + label span {padding: 17px 5px;}

/*세금계산서발행정보*/
.user .table_type02 tbody tr th{width: 220px;}

/*배송지관리*/
.user_add .table_type02 tr.mail input {width: 251px;}

/*조직관리*/
.user #user_04 .table tr td {text-align: center;}
.user #user_04  .btn_box {padding: 0 0 30px;}
.user #user_04 .table_type01 .save_btn .left button.btn_wh {width: 80px; border: 1px solid #333; height: 40px; font-size: 16px;}
.user .table_type02 tr.id input {width: 360px;margin-right: 10px;}
.user .table_type02 tr.id button.id_btn { width: 170px; height: 50px; font-size: 16px; vertical-align: top;}
.user #user_01 .table_type02 tbody tr th {width: 400px;}


.user  .a_option {float: none; margin-bottom: 40px;}
.user  .a_option select {width: 250px;background: url(/srm/m/image/sub/arrow_down.png) no-repeat 92% 50% transparent;height: 60px;padding: 0 20px;}
.user #user_04 .chk_box {float: left;}
.user #slide_tab .nav > li > a {background: #fff;}

.user #slide_tab .nav > li > a > .pro_name {padding: 20px; position: relative}
.user #slide_tab .nav > li > a span.num {padding:0 0 0 30px;}
.user #slide_tab .nav > li > a .edit_box {float: right; width:100px; position: absolute; top: 10px;right: 20px;}
.user #slide_tab .nav > li > a .edit_box button {width: 100px; height: 40px; }
.user #slide_tab .nav > li > a .edit_box button.btn_gray {margin-bottom: 10px;}
.user #slide_tab .nav > li > a .edit_box button {width: 100px; }
.user #slide_tab .nav > li > a .l_box  {width: 430px;}
.user #slide_tab .nav > li > a .l_box p span {color: #1c84f8}

.user  .pv_tab_area .sub_con_tab {border: 1px solid #ddd ;overflow: hidden; margin-bottom: 40px;}

.btn_right{ float: right; padding-bottom: 10px;}
.btn_right button {width: 140px; height: 40px; text-align: center; font-size: 18px; margin: -10px 0 0;}

.user #user_04 #slide_tab .nav > li > a > .pro_name {border-top: none;}
.user .middle_box { padding:20px 0; overflow: hidden;}




#slide_tab .nav > li > a > .top {padding: 0 20px}




/* 로그인 */
.login_wrap {height: 100vh;}
.login_wrap .logo_box {text-align: center;}
.login_wrap .logo_box img {width: 180px;}

.login_wrap:after {display: block; clear: both; *zoom: 1; content: '';}
.login_wrap .login_box{margin: 0 auto;box-sizing: border-box;width: 590px;height: auto;padding: 20px 30px 0;}
.login_wrap .tit_box {text-align: center; margin-bottom: 50px;}
.login_wrap .tit_box h3 {font-size: 42px; font-weight: 500; color: #333;}
.login_wrap .tit_box p {margin: 5px 0 0 0; font-size: 20px;}
.login_wrap .tit_box p em {font-size: 18px;}

.login_wrap .login_box .tit_box p {color: rgba(102,102,102,0.5);}
.login_wrap .login_box form input {width: 100%; height: 60px; border: 1px solid #eee; box-sizing: border-box;  padding: 0 10px; color: #999; font-size: 22px; margin-top: 10px;}
.login_wrap .login_box form input:first-child{margin: 0;}
.login_wrap .login_box form input::placeholder {color: #999;}
.login_wrap .login_box form  p {font-size: 20px; color: #f03162; margin-top: 10px;}

.login_wrap .btn_blue {width: 100%; height: 54px; background: #1456a3; font-size: 24px; color: #fff; margin-top: 100px;}
.login_box .find_links {text-align: center; overflow: hidden; width: 240px;margin: 0 auto; padding: 20px 0 0;}
.login_box .find_links li {float: left;width: 120px;}
.login_box .find_links li a { position: relative;}
.login_box .find_links li:nth-child(1) a:after {content: '';display: block;height: 14px;width: 1px;background: #ddd;position: absolute;left: 102px;top: 9px;margin: 0 20p;}




/*반품 */

.return textarea {width: 100%; background: transparent; min-height: 300px;margin-top: 20px; color: #666;}




.order_list .a_option  {float: right; margin: 20px 0 0;}
.order_list .a_option select {width: 150px; height: 40px; background: url(/srm/m/image/sub/arrow_down.png) no-repeat 120px 17px transparent; border :1px solid  #000; color: #666; padding: 0 20px; font-size: 16px;}



.data {background-color: #fff; box-sizing: border-box; padding: 20px 30px; min-height: 500px;}
.data p {color: #333; line-height: 1.6}
.data p + p {padding: 30px 0 0;}
.data p span {display: inline-block; width: 80px;  margin: 0 20px 0 0;}
.data p em {padding: 4px 0 0 20px; font-style: normal; display: block;} 
.data p em.tin {padding: 0 0 0 30px;}


/*20200923 주문하기 -결제테이블*/

.table_pay {padding-bottom: 0; }
.table_pay .table {margin-bottom: 0;}
.table_pay2 {border-top: none; margin: 0;}
