@charset "utf-8";


/* =========================================
	관리자페이지용 CSS
	2009/6/28 작성:이덕권
==========================================*/

* {font-size: 10pt;font-family: "돋움";}
a:link		{ color:#330000; text-decoration:none } 
a:visited	{ color:#330000; text-decoration:none } 
a:hover		{ color:#330000; text-decoration:none } 
a:active	{ color:#330000; text-decoration:none } 

