.pro_detail {float:left;}

.mr10 {margin-right:20px;}
.mr5 {margin-right:5px;}


.ib {display:inline-block !important;}

.w50 {width:50% !important;}
.w30 {width:30% !important;}
.w10 {width:10% !important;}
.w20 {width:20% !important;}

.h150 {height:150px !important;}
.h300 {height:500px !important;}
.h34 {height:34px !important;}

.mt50 {margin-bottom:50px !important;}
.mtb10 {margin:10px 0 !important;}
/*.m10 {margin:10px !important;}*/
.m20 {margin:20px !important;}
.m_button {padding: 15px 14px 15px !important;}

.pro_view {float:left; margin-right:5px;}
/*.cke_reset {height:400px !important;}*/
.bank_num {float:left;  width:20%;}
.bank_num2 {float:left;  width:10%;}
.li_height {line-height:30px; float:left;}

th {background-color: #eee;}
input {vertical-align:middle;}

.alert-info {background-color: #96979b ; color: #fff; border-color:#4c4f53;}

.p_none {padding:0 5px !important;}

.aling_c {text-align:center !important;}

.line-h th, .line-h td {line-height:32px !important;}
.margin_t {margin-top:3px !important;}


/** 검색 테이블 **/
.search_t td {background:#fff;}

.list_page { margin: 30px auto 0; text-align: center; zoom: 1; margin-bottom:50px; }
.list_page .first_btn { display: inline-block; width: 25px; height: 24px; text-indent: -9999px; vertical-align: bottom; background: url(/admin/img/arrow_l.png) no-repeat left top; }
.list_page .first2_btn { display: inline-block; width: 24px; height: 24px; text-indent: -9999px; vertical-align: bottom; background: url(/admin/img/arrow_l.png) no-repeat -25px top; }
.list_page ul { display: inline-block; overflow: hidden; padding: 0 7px; vertical-align: bottom;}
.list_page li { float: left; margin: 0 5px;}
.list_page li:hover a, .list_page li a.on { color: #fff; background: #444;}
.list_page li a { display: block; width: 24px; height: 24px; font-size: 12px; color: #444; text-align: center; line-height: 25px; }
.list_page .last2_btn { display: inline-block; width: 25px; height: 24px; text-indent: -9999px; vertical-align: bottom; background: url(/admin/img/arrow_r.png) no-repeat left top; }
.list_page .last_btn { display: inline-block; width: 24px; height: 24px; text-indent: -9999px; vertical-align: bottom; background: url(/admin/img/arrow_r.png) no-repeat -25px top; }
.list_page li   { list-style:none;}
.list_page ul   { margin:0;  }


header .more_btn {float: right; line-height: 32px; padding: 0 10px 0 0;}



/* 회원정보 수정 탭 */
.modify_tab {display: block; margin: 0 0 20px 0; padding: 0; border-bottom: 1px solid #ddd;}
.modify_tab:after {display: block; clear: both; *zoom: 1; content: '';}
.modify_tab li {float: left; border: 1px solid #ddd; list-style: none;}
.modify_tab li a {line-height: 40px; padding: 0 10px; font-size: 13px; color: #666; text-align: center;}
.modify_tab li.active {border: 1px solid #45474b; background-color: #45474b;}
.modify_tab li.active a {color: #fff;}
.tab_contents {display: none;}

.top_btns {margin: 0 0 10px 0; text-align: right;}

.table .info_modify {cursor: pointer;}
.table select {height: 38px;}

.popup {display: none; position: fixed; top: 0; left: 0; right: 0; bottom: 0; width: 100%; height: 100%; background-color: rgba(0,0,0,0.7); z-index: 1000;}
.popup .popup_wrap {position: absolute; top: 10%; left: 0; right: 0; margin: 0 auto; box-sizing: border-box; width: 95%; max-width: 640px; padding: 0 0 10px 0; background-color: #fff; border-radius: 10px;}
.popup .popup_wrap .pop_tit {padding: 20px 20px 10px;}
.popup .popup_wrap .pop_tit strong {font-size: 14px; color: #333;}
.popup .popup_wrap .pop_tit .btn_pop_close {float: right;}
.popup .popup_wrap .pop_con {padding: 0 20px;}
.popup .popup_wrap .pop_btns {text-align: center;}


@media (min-width: 768px){
	.container {
    width: 50% !important;
	}

@media (min-width: 1200px){
	.container {
    width: 30% !important;
	}
}

}


.bot_btns {margin: 0 0 0 6px;}
.btn.btn-ribbon>i {line-height: 10px; vertical-align:top;}
/*.icon-addon .form-control, .icon-addon.addon-md .form-control {padding: 0 15px;}*/
.smart-form .btn {vertical-align: top;}
.p_info_txt {display: inline-block; font-size: 12px; color: #888;}
.cont_txt {float: left; padding-top: 40px;}
.cont_txt2 {margin-top: 10px;}
.widget-body.no-padding {margin: 0;}
.smart-form .select select {appearance:auto; -webkit-appearance:auto; -moz-appearance: auto; }

.ip_sereal {width: 220px!important;}
.col-new {width: 19%!important;}

.od_cart_table {width: 100%; margin: 0 0 50px;}
.od_cart_table tr {border-bottom: 1px solid #ddd;}
.od_cart_table th {height: 40px;text-align: center;}
.od_cart_table td {padding: 10px; text-align: center;}
.od_cart_table td.subject {text-align: left;}
.od_cart_table td.option_ {text-align: left;}
.od_cart_table td.option_ .ot_div +.ot_div {margin-top: 5px;}
.od_cart_table td.option_ .ot_div span{display: inline-block; width: 120px; }
.od_cart_table .img_box{width: 160px; height: 160px; margin:0 auto; border: 1px solid #ddd;}

.od_cart_table img {width: 100%; height:100%;}
