.pro_detail {float:left;}

.mr10 {margin-right:20px;}
.mr5 {margin-right:5px;}


.ib {display:inline-block !important;}

.w50 {width:50% !important;}
.w30 {width:30% !important;}
.w10 {width:10% !important;}
.w20 {width:20% !important;}

.h150 {height:150px !important;}
.h300 {height:500px !important;}
.h34 {height:34px !important;}

.mt50 {margin-bottom:50px !important;}
.mtb10 {margin:10px 0 !important;}
.m10 {margin:10px !important;}
.m20 {margin:20px !important;}
.m_button {padding: 15px 14px 15px !important;}

.pro_view {float:left; margin-right:5px;}
/*.cke_reset {height:400px !important;}*/
.bank_num {float:left;  width:20%;}
.bank_num2 {float:left;  width:10%;}
.li_height {line-height:30px; float:left;}

th {background-color: #eee;}
input {vertical-align:middle;}

.alert-info {background-color: #96979b ; color: #fff; border-color:#4c4f53;}

.p_none {padding:0 5px !important;}

.aling_c {text-align:center !important;}

.line-h th, .line-h td {line-height:32px !important;}
.margin_t {margin-top:3px !important;}


/** 검색 테이블 **/
.search_t td {background:#fff;}

.list_page { margin: 30px auto 0; text-align: center; zoom: 1; margin-bottom:50px; }
.list_page .first_btn { display: inline-block; width: 25px; height: 24px; text-indent: -9999px; vertical-align: bottom; background: url(/admin/img/arrow_l.png) no-repeat left top; }
.list_page .first2_btn { display: inline-block; width: 24px; height: 24px; text-indent: -9999px; vertical-align: bottom; background: url(/admin/img/arrow_l.png) no-repeat -25px top; }
.list_page ul { display: inline-block; overflow: hidden; padding: 0 7px; vertical-align: bottom;}
.list_page li { float: left; margin: 0 5px;}
.list_page li:hover a, .list_page li a.on { color: #fff; background: #444;}
.list_page li a { display: block; width: 24px; height: 24px; font-size: 12px; color: #444; text-align: center; line-height: 25px; }
.list_page .last2_btn { display: inline-block; width: 25px; height: 24px; text-indent: -9999px; vertical-align: bottom; background: url(/admin/img/arrow_r.png) no-repeat left top; }
.list_page .last_btn { display: inline-block; width: 24px; height: 24px; text-indent: -9999px; vertical-align: bottom; background: url(/admin/img/arrow_r.png) no-repeat -25px top; }
.list_page li   { list-style:none;}
.list_page ul   { margin:0;  }


@media (min-width: 768px){
	.container {
    width: 50% !important;
	}

@media (min-width: 1200px){
	.container {
    width: 30% !important;
	}
}

}