@charset "utf-8";

@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);


/* base */
*			{ margin:0; padding:0; }
html,
body		{ width:100%; height:100%;}
header,
footer,
aside,
section,
nav,
article,
figure,
figcaption	{ display:block}
img			{ max-width:100%; height:auto}
video,
audio,
object,
iframe		{ width:100%; height:auto}
body,
table,
input,
textarea,
select,
button		{ font-family:'Nanum Gothic', sans-serif, 돋움, Dotum, 굴림, Gulim, Tahoma, Geneva, sans-serif; font-size:12px; color:#666}
form,
input		{ box-sizing:border-box}
fieldset	{ border:none;}
legend,
caption		{ display:none;}
hr			{ visibility:hidden; overflow:hidden; position:absolute; width:0; height:0; font-size:0; line-height:0;}
ul,
li			{ list-style:none}
a			{ text-decoration:none}
em			{ font-style:normal}
a:link,
a:hover {color:#42bded ; text-decoration:none;}
a:visited,
a:active, a:focus{text-decoration:none; color:#3094c7}
.skip		{ position:absolute; left:-3000px; width:1px; height:1px; color:#fff}
textarea,
input[type="text"],
input[type="number"],
input[type="password"],
input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="email"],
input[type="srch"],
input[type="tel"]		{ -webkit-appearance:none; font-family:'Nanum Gothic', sans-serif; box-sizing:border-box; -webkit-border-radius:0;}
input[type="checkbox"],
input[type="radio"]		{ position:relative; top:-1px; vertical-align:middle; padding:5px }
textarea { padding:10px; }
select { height:28px; line-height:28px; border: 1px solid #ddd; font-size:14px; }
input[type="text"] { height:28px; line-height:28px; border: 1px solid #ddd; font-size:14px; }
input[type="button"], input[type="submit"] { cursor:pointer; }

/* btn */
.btnB	{ border-right:1px solid #2778a1; border-bottom:1px solid #2778a1; color:#fff !important; background:#3094c7}
.btnW	{ border-top:1px solid #e1e1e1; border-right:1px solid #b6b6b6; border-bottom:1px solid #b6b6b6; border-left:1px solid #e1e1e1; color:#666 !important; background:#f5f5f5 linear-gradient(to bottom, #fff, #f5f5f5)}
.btnG	{ display:inline-block; border-radius:2px; color:#fff !important; background:#696969}
.btnDB	{ display:inline-block; border-radius:2px; color:#fff !important; background:#4d8baa}
.btn_grey {
    color: #e9e9e9;
    border: solid 1px #555;
    background: #6e6e6e;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#888888', endColorstr='#575757');
    display: inline-block;
    vertical-align: baseline;
    margin: 0 2px;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    padding: .5em 2em .55em;
    text-shadow: 0px 1px 1px rgba(0,0,0,0.3);
    border-radius: .5em;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
	font-weight:600;
}



/* paging */
/*.paging		{ margin-top:30px; text-align:center}
.paging a	{ display:inline-block; width:22px; height:22px; margin:0 4px; border:1px solid #b4b4b4; color:#666; line-height:23px; vertical-align:top}
.paging a.imgPage	{ border:0; margin:0; width:auto; height:24px;}
.paging a.active	{ color:#fff; border:1px solid #3094c7; background:#3094c7}*/
.list_page { margin: 30px auto 0; text-align: center; zoom: 1; }
.list_page .first_btn { display: inline-block; width: 25px; height: 24px; text-indent: -9999px; vertical-align: bottom; background: url(/main/image/common/arrow_l.png) no-repeat left top; }
.list_page .first2_btn { display: inline-block; width: 24px; height: 24px; text-indent: -9999px; vertical-align: bottom; background: url(/main/image/common/arrow_l.png) no-repeat -25px top; }
.list_page ul { display: inline-block; overflow: hidden; padding: 0 7px; vertical-align: bottom;}
.list_page li { float: left; margin: 0 5px;}
.list_page li:hover a, .list_page li a.on { color: #fff; background: #444;}
.list_page li a { display: block; width: 24px; height: 24px; font-size: 12px; color: #444; text-align: center; line-height: 25px; }
.list_page .last2_btn { display: inline-block; width: 25px; height: 24px; text-indent: -9999px; vertical-align: bottom; background: url(/main/image/common/arrow_r.png) no-repeat left top; }
.list_page .last_btn { display: inline-block; width: 24px; height: 24px; text-indent: -9999px; vertical-align: bottom; background: url(/main/image/common/arrow_r.png) no-repeat -25px top; }



/* layout */
#container		{ position:relative; width:100%; min-width:1180px; height:100%; }
#header			{ position:relative; width:100%; height:78px; zoom:}
#header:after	{ content:""; clear:both; display:block}
#body			{ position:relative; width:100%; box-sizing:border-box; zoom:1}
#body:after		{ content:""; clear:both; display:block}
#footer			{ position:relative; bottom:0; width:100%; height:62px; text-align:center; border-top:1px solid #ccc; background:#e7e7e7; z-index:5;}



/* login */
#login			{ position:relative; width:830px; margin:auto; padding-top:335px; zoom:1}
#login:after	{ content:""; clear:both; display:block}
#login h1		{ position:relative; display:inline-block; padding:0 40px 72px 0; border-right:1px solid #fff; color:#aaa; font-size:36px; text-align:right; vertical-align:top}
#login h1:after	{ content:""; clear:both; display:inline-block; position:absolute; top:0; right:0; width:1px; height:100%; background:#d5d5d5}
#login h1 span	{ display:block; color:#3094c7; font-size:72px;}
#login .loginForm	{ display:inline-block; padding-left:40px;  }
#login .loginForm input	{ width:456px; height:50px; margin-bottom:9px; padding-left:20px; border:1px solid #ddd; color:#666; font-size:16px; line-height:50px;}
#login .loginForm a		{ display:block; width:456px; height:58px; margin-top:19px; color:#fff; font-size:18px; text-align:center; line-height:58px; background:#3094c7}
#login .loginForm p		{ margin:20px 0 0 0; color:#989898; font-size:12px; font-weight:bold; line-height:18px;}


/* header */
.menu {margin-left:250px;}
.area {position:relative; height:40px; background:#303742;z-index:4;}

.search				{position:absolute; bottom:5px; right:530px; width:250px; height:28px; border:1px solid #3b8ab3; background:#fff}
.search input		{ width:194px; height:26px; margin:0 10px; border:0; line-height:26px; vertical-align:top;  }
.search a img {position:absolute; bottom:0; right:0;}

.topMenu			{float:right; margin-right:30px;}
.topMenu li			{float:left; padding:7px 0;  color:#333; font-size:12px; font-weight:bold; line-height:26px;}
.topMenu li span	{ margin-right:5px; color:#3094c7; font-size:13px;}
.topMenu li a		{ display:block; height:26px; margin-left:4px; padding:0 10px; border-radius:2px; box-sizing:border-box; font-size:12px; font-weight:bold; line-height:26px; }
.topMenu li a.logout	{ color:#333 !important;}
.topMenu li a.logout img	{ margin-right:5px; vertical-align:top}

.logo {float:left; width:250px; height:103px; text-align:center; background:#42bded;}
#header h1.mainfont a {width:250px; height:103px; display:block; font-size:20px;  color:#fff; line-height:110px; }




/* body */
/* .leftWrap		{ position:absolute; top:20px; left:20px; width:198px; height:100%; border:1px solid #d1d3d8; border-bottom:0; }*/

.leftWrap	{position:absolute; float:left; width:250px; height:100%; margin-top:25px; background:#303742; z-index:3}
.leftWrap h2	{ height:64px; font-size:18px; text-align:center; line-height:64px;}
.leftWrap .nav>li>a	{ display:block; height:40px; padding-left:10px; border-top:1px solid #303742; color:#fff; font-size:14px; font-weight:bold; line-height:40px; background:#4a4e5a; padding-left:25px;}
/* .leftWrap .nav>li:first-child>a	{ color:#fff; background:#3094c7 url('../img/bgLeftH3_over.png') no-repeat 181px 50%} */
.leftWrap .lnb {color:#fff;}


.leftWrap .nav>li>a:hover,
.leftWrap .nav>li.open>a	{ color:#fff; background:#3094c7 url('../img/bgLeftH3_over.png') no-repeat 181px 50%}
.leftWrap .nav ul	{ padding:10px; background:#f5f6f7}
.leftWrap .nav ul ul	{ padding-top:5px}
.leftWrap .nav li li {margin:10px 0;}
.leftWrap .nav li li a	{ color:#888; font-size:13px; line-height:160%;}
.leftWrap .nav li li a:hover,
.leftWrap .nav li li a.over	{ color:#6a96ac}
.leftWrap .nav a .caret { float:right; width:0; height:0; margin-top:8px; margin-left:2px; display:inline-block; vertical-align:top; border-top:4px solid #000; border-right:4px solid transparent; border-left:4px solid transparent; content:"";}
.leftWrap .nav li.open > a > .caret { border-top: none; border-bottom: 4px solid #000; border-right: 4px solid transparent; border-left: 4px solid transparent;}
.leftWrap .nav li.open ul li.active > a {color:#055882; font-weight:600;}

.rightWrap		{ position:relative; min-width:900px; min-height:1000px; /* padding:0 0 100px 260px; */      padding:20px 20px 100px 270px;}
.rightWrap h2	{ margin:25px 0 20px 0; padding-left:30px; color:#231f20; font-size:24px; background:url('../img/bgRightH2.png') no-repeat 0 1px}

/* 2016-11-04 추가 JS */
.contents .center_table td { text-align:center; }
.contents .left_table td { padding-left:20px !important; text-align:left; }
.contents .tableList th table th, .contents .tableList td table td { border-right:none; border-bottom:none; font-size:14px; }
.contents .sitemap_table td { text-align:center; }
.contents .sitemap_table td:nth-child(2) { text-align:left; padding-left:10px; }
.contents .image_table th { text-align:left; padding-left:20px; } 
.contents .image_table td { padding-left:20px; padding-right:20px; text-align:left; }
.contents .rollover_table td { text-align:left; padding-left:10px; }
.contents .rollover_table td:last-child { padding-left:0; text-align:center; }
.contents .inqury_table td { text-align:center; }
.contents .inqury_table td:nth-child(2), .contents .inqury_table td:nth-child(3), .contents .inqury_table td:nth-child(4) { text-align:left; padding-left:10px; }
.contents .inqury_table td:nth-child(4) { text-overflow:ellipsis; white-space:nowrap; word-wrap:normal; overflow:hidden; }
/*.contents .inqury_table .thum img { width:40px; }
.contents .inqury_table .ico .lock { width:10px; }
.contents .inqury_table .ico .file { width:12px; }
.contents .inqury_table .re { width:23px; }*/
/*.contents .product_table td { padding:6px 0; line-height:18px !important; font-size:14px; }
.contents .product_table td input { padding-bottom:4px !important; }
.contents .product_table td input:last-child { padding-bottom:0; }*/
.contents .product_table td.con, .contents .product_table td.num { line-height:20px !important; padding:5px; }
.contents .product_table td.btn { line-height:34px }
.contents .product_table td.cate { padding-left:5px;}
.update_btn { padding:0 10px; height:28px; color:#fff; background:#696969; border:none; }

.history_modify_table { font-size:14px; }
.history_modify_table th { background:#F5F5F5; font-size:16px; height:42px; }
.history_modify_table td textarea { margin: 10px; width: 97%;height:100%; border:1px solid #e8e8e8; }


/* //2016-11-04 추가 JS */

.contents .tableList	{ width:100%; border-top:1px solid #ccc; border-left:1px solid #ccc; /*text-align:center*/}
.contents .tableList th, .contents .tableList td { border-right:1px solid #ccc; border-bottom:1px solid #ccc; font-size:14px; line-height: 20px; padding-top:10px; padding-bottom:10px; text-align:center;}
.contents .tableList th	{ font-size:16px; font-weight:600; background:#f5f4f4}
.contents .tableList td select, .contents .tableList td input[type="text"] { height:28px; line-height:28px; border: 1px solid #ddd; }
.contents .tableList td select { padding:0 6px; }
.contents .tableList td input[type="text"] { padding-left:10px; }
.contents .tableList td .btnG	{ height:22px; padding:0 9px; box-sizing:border-box; font-size:12px; line-height:22px; }
/*.contents .tableList td img { width:100%; }*/

.contents .tableView	{ width:100%; border-top:1px solid #ccc; }
.contents .tableView th,
.contents .tableView td	{ border-right:1px solid #ccc; border-bottom:1px solid #ccc; font-size:14px; padding-top:10px; padding-bottom:10px; }
.contents .tableView thead th		{ border-left:1px solid #ccc; background:#f5f4f4}
.contents .tableView tbody th		{  font-size:16px; font-weight:600; background:#f5f4f4}
.contents .tableView tbody th:first-child	{ border-left:1px solid #ccc; }
.contents .tableView td	{ line-height:20px;}
.contents .tableView td.tableText	{ min-height:100px; padding:30px 25px; border-right:0; line-height:160%; vertical-align:top}

.contents .tableEtc			{ width:100%; margin-top:60px; border-top:1px solid #6c6c6c; text-align:left;}
.contents .tableEtc th,
.contents .tableEtc td		{ /*height:42px; line-height:42px; padding-left:20px;*/ padding: 10px 20px; line-height: 20px;  border-bottom:1px solid #ccc; font-size:14px; }
.contents .tableEtc th		{ border-right:1px solid #ccc; font-weight:normal; text-align:left; background:#f5f4f4}
.contents .tableEtc td a	{ color:#666; font-weight:bold}

.contents .tableWrite		{ width:100%; border-top:1px solid #ccc; border-left:1px solid #ccc; text-align:left;}
.contents .tableWrite th,
.contents .tableWrite td	{ /*height:42px; line-height:42px; padding-left:20px;*/ line-height: 20px; border-right:1px solid #ccc; border-bottom:1px solid #ccc; font-size:14px; }
.contents .tableWrite th	{  padding-top:10px; padding-bottom:10px; font-size:16px; text-align:center; background:#f5f4f4}
.contents .tableWrite td	{padding: 10px 20px;}
.contents .tableWrite input.input01, .contents .tableWrite input[type="text"]		{ height:28px; padding-left:10px; border:1px solid #ddd; line-height:28px; vertical-align:middle;}
.contents .tableWrite textarea		{ border:1px solid #ddd; }
.contents .tableWrite select.input01	{  height:28px; padding-left:10px; border:1px solid #ddd; font-size:14px; line-height:28px;}
.contents .tableWrite label	{ margin-right:30px; }

.contents .btnWrap		{ margin-top:10px; text-align:right; }
.contents .btnWrap li	{ display:inline-block;}
.contents .btnWrap li a	{ width:54px; height:30px; line-height:30px; font-weight:bold; text-align:center}



/* footer */
.copyright	{height:62px; border-top:1px solid #fff; color:#696969; font-size:11px; line-height:62px;  }



/*검색 테이블 css 추가 정영기*/
.tableSearch		{ width:100%; text-align:left;}
.tableSearch th,
.tableSearch td	{ height:42px; line-height:42px;  font-size:14px; }
.tableSearch td>a{color:black;}
.tableSearch th	{  font-weight:normal; text-align:left; background:#f5f4f4}
.tableSearch input.input01		{  height:28px; padding-left:10px; border:1px solid #ddd; line-height:28px;}
.tableSearch select	{ width: 20%; height:28px; padding-left:10px; border:1px solid #ddd; font-size:14px; line-height:28px;}
.btnS { width:54px; height:28px; color:#fff; line-height:28px; font-weight:bold; text-align:center; border: none; cursor: pointer;}

/*텍스트에어리어 위에 마진 탑 추가 안지혜*/
.input02	{ border:1px solid #ddd; margin-top:14px;}



/**  상단 바로가기 메뉴  **/
.area_bottom {position:relative; padding:0 50px; border-bottom:1px solid #c9c9c9; background:#e8e8e8; z-index:3;}
.topQuick{display:table; width:100%; background:#fff; line-height:1;}
.topQuick li{display:table-cell; line-height:1; width:12%;}
.topQuick li a {display:block; height:61px; color:#333; font-size:16px; font-weight:bold; text-align:center; border-right:1px solid #c9c9c9; line-height:61px; text-decoration:none;}
.topQuick li a:hover{color: #93dbff;}
.topQuick li a.active {height:61px; border-bottom:3px solid #42bded; color:#42bded;}
.topQuick li:first-child a {border-left:1px solid #c9c9c9;}



/**  하단 설명 박스  **/

.tip_box{width: 100%;  margin: 30px 0;  border: 1px solid #bbd7e3;  background: #eaf3f8 url(../img/ico_tip.gif) no-repeat 15px 15px;  border-radius: 5px;}
.tip_box p{font-size: 13px; color: #1f4d84; padding: 15px 10px 13px 45px; line-height: 20px;}

/**********************************     공통적용         ******************************/


/** 타이틀 **/

.title{border-bottom:1px solid #ccc; padding:10px 0px; margin-bottom:10px;font-size:18px; font-weight:600;  color: #555;}
.title2{font-size:15px;font-weight:bold;display:inline-block;padding-top:10px;margin:10px 10px;; color:#555;}
.title3{font-size:17px;font-weight:bold;display:inline-block;padding-top:10px;margin:10px 10px;; color:#555;}

/** 텍스트 정렬 **/

.tcenter{text-align:center;}
.tleft{text-align:left;}
.tright{text-align:right;}


/** 위치 정렬 **/

.fleft{float:left;}
.fright{float:right;}



/** 여백 **/
.pl0 { padding-left:0;}
.pb20{padding-bottom:20px;}
.pt20{padding-top:20px;}
.pl20{padding-left:20px}
.pr10{padding-right:10px;}
.pr20{padding-right:20px;}

.pl15{padding-left:15px}

.p580{padding-left:58px}


.pt10pb10{padding:10px 0;}
.pl10pb10{padding:0 10px;}

.mb4{margin-bottom:4px;}
.mb10{margin-bottom:10px;}
.mb40{margin-bottom:40px;}
.mb5{margin-bottom:5px;}
.mt10{margin-top:10px;}

.ml10{margin-left:10px;}
.ml4{margin-left: 4px;}
.mr10{margin-right:10px;}

.mt10mb10{margin:10px 0;}
.ml10mb10{margin:0 10px;}
.mt10mb10d{margin:10px 0;display:inline-block;}


.mt2mb2{margin:2px 0;}
.mauto {margin:0 auto;}

/* 클리어 */
.cboth{clear:both;}






/** width % 정영기 추가*/
.w4{width: 4%;}
.w5{width: 5%;}
.w8{width: 8%;}
.w10{width: 10%;}
.w15{width: 15%;}
.w20{width:20%;}

.w25{width:25%;}
.w30{width:30%;}
.w35{width:35%;}
.w40{width: 40%;}
.w45{width: 45%;}
.w50{width:50%;}
.w60{width: 60%;}
.w70{width: 70%;}
.w80{width: 80%;}
.w90{width: 90%;}
.w100{width: 100%;}

/** width % 20161007 안지혜 추가*/
.w55{width:55%;}
.w65{width: 65%;}
.w67{width: 67%;}
.w75{width: 75%;}
.w85{width: 85%;}
.w95{width: 95%;}

/** Textarea 높이 **/
.h30px{height:30px;}
.h100px{height:100px;}
.h150px{height:150px;}
.h200px{height:200px;}
.h250px{height:250px;}
.h300px{height:300px !important;}
.h350px{height:350px;}
.h400px{height:400px;}


/** 라운드 버튼 사이즈 3종 **/

.btn_rm, .btn_rl, .btn_rs{color:#fff !important; text-align:center; border:0; border-radius: 2px !important;}


.btn_rs{padding:2px 8px; font-size:12px; line-height:22px;}
.btn_rm{padding:4px 10px; font-size:14px; line-height:30px;}
.btn_rl{padding:6px 12px; font-size:18px; line-height:50px;}



/** 사각 버튼 사이즈 3종 **/

.btn_m, .btn_l, .btn_s{color:#fff !important; text-align:center; border:0;}

.btn_s{padding:2px 8px; font-size:12px; line-height:22px;}
.btn_m{padding:4px 10px; font-size:14px; line-height:30px;}
.btn_l{padding:6px 12px; font-size:18px; line-height:50px;}



/** 버튼 컬러 **/

.c_yellow{background:#ffcc00;}
.c_orange{background:#ff6600;}
.c_blue{background:#4d8baa;}
.c_green{background:#56bc2e;}
.c_gray{background:#a7a7a7;}
.c_gray01{background:#696969;}
.c_gray02{background:#444;}
.c_black{background:#000;}
.c_red{background:#e61c38;}


.input01{ height:28px; padding-left:10px; border:1px solid #ddd; line-height:28px;}


/*글자 색*/

.t_red{color:red;}
.t_blue{color:#4d8baa;}

/*글자 두께*/

.w_weight{font-weight:bold;}

/**/
.display{display:inline-block;}
.displayn {display:none;}


.lh20 { line-height:20px; }

/*font-size*/
.font13{font-size:13px;}

/*font-size 20161007 안지혜*/
.font15{font-size:15px;}
.font20{font-size:20px;}

/*overflow 20161007 안지혜*/
.overflow{overflow:hidden;}

.border {border:1px solid #ddd;}
